<div id="miniHowItWork">
    <h1>Comment participer ?</h1>
    <div class="miniHIWitem">
        <img src="{{ asset('bundles/politizrfront/images/grp_miniNote.png') }}" alt="">
        <h2>
            <b>Notez</b>
            Un petit coup de pouce pour encourager les articles qui vous paraissent pertinents!
        </h2>
    </div>
    <div class="miniHIWitem">
        <img src="{{ asset('bundles/politizrfront/images/grp_miniComment.png') }}" alt="">
        <h2>
            <b>Commentez</b>
            Exprimez-vous en laissant un commentaire sur une publication pour enrichir une discussion.
        </h2>
    </div>
    <div class="miniHIWitem">
        <img src="{{ asset('bundles/politizrfront/images/grp_miniPost.png') }}" alt="">
        <h2>
            <b>Publiez vos questions ou avis</b>
            Et poursuivez la discussion avec les animateurs.
        </h2>
    </div>
</div>