<div id="miniHowItWork">
    <h1>Comment participer ?</h1>
    <div class="miniHIWitem">
        <img src="{{ asset('bundles/politizrfront/images/grp_miniNote.png') }}">
        <h2>
            <b>Inscrivez-vous</b>
            Maecenas faucibus mollis interdum. 
        </h2>
    </div>
    <div class="miniHIWitem">
        <img src="{{ asset('bundles/politizrfront/images/grp_miniComment.png') }}">
        <h2>
            <b>Commentez</b>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus 
        </h2>
    </div>
    <div class="miniHIWitem">
        <img src="{{ asset('bundles/politizrfront/images/grp_miniPost.png') }}">
        <h2>
            <b>Posez vos questions</b>
            Et poursuivez la discussion avec les élus qui vous auront répondus. 
        </h2>
    </div>
</div>