<div id="miniHowItWork">
    <h1>Comment participer ?</h1>
    <div class="miniHIWitem">
        <img src="{{ asset('bundles/politizrfront/images/grp_miniNote.png') }}">
        <h2>
            <b>Notez</b>
            Un petit coup de pouce pour encourager les propositions qui vous paraissent pertinentes!
        </h2>
    </div>
    <div class="miniHIWitem">
        <img src="{{ asset('bundles/politizrfront/images/grp_miniComment.png') }}">
        <h2>
            <b>Commentez</b>
            Exprimez-vous en laissant un commentaire sur une publication pour enrichir le débat.
        </h2>
    </div>
    <div class="miniHIWitem">
        <img src="{{ asset('bundles/politizrfront/images/grp_miniPost.png') }}">
        <h2>
            <b>Posez vos questions</b>
            Et poursuivez la discussion avec les élus qui vous auront répondu. 
        </h2>
    </div>
</div>