<div id="publicPostGetAccount">
    <div id="publicPostGetAccountGradient"></div>
    <div id="publicPostGetAccountContent">
        <div id="publicPostGetAccountHeader">
            <i class="icon-info"></i>
            <h1>Vous devez vous <a href="{{ path('Login') }}">identifier</a> pour lire la suite</h1>
            <h1>Pas encore inscrit-e? <a href="{{ path('InscriptionChoice') }}">Créer un compte</a></h1>
        </div>
        {#
        <div id="publicPostGetAccountLeftCol">
            <div class="footerXcolumns footer2columns">Déjà inscrit-e? <a href="{{ path('Login') }}">Identifiez-vous</a></div>
        </div>
        
        <div id="publicPostGetAccountRightCol">
            <b>Pas encore inscrit-e ? Créez votre compte Politizr gratuitement en quelques clics!</b>
            <div class="publicPostGetAccountArgu">
                {% include 'PolitizrFrontBundle:Public:_cardAdvantagesCitizen.html.twig' %}
            </div>
            <div class="publicPostGetAccountArgu">
                {% include 'PolitizrFrontBundle:Public:_cardAdvantagesElected.html.twig' %}
            </div>
        </div>
        #}
    </div>
        
</div>