{# beta #}
<div id="modal">
    <div id="modalContent" class="modalCreateAccount" style="display: block;">
        <div class="modalClose" action="closeModal"><i class="icon-cross"></i></div>
        <div class="modalText">
            <div class="modalInstruction">Vous devez vous inscrire<br>
            pour accéder aux commentaires.</div>
            <a href="{{ path('InscriptionChoice') }}" class="modalLinkCreateAccount">Créer un compte</a>
            <span>100 %<br>gratuit</span>
            <span class="modalGoToLogin">Vous disposez déjà d’un compte ?<br><a href="{{ path('Login') }}">Identifiez-vous</a></span>
        </div>
    </div>

    <div id="modalBg"></div>
</div>