<div class="helperSliderHolder cycle-slideshow" data-cycle-slides="> .helperSliderItem"  data-cycle-timeout="0" data-cycle-pager="> .helperNav">
    <div class="helperSliderItem">                              
        <span>1/ Cliquez dans la zone de texte et saississez un nouveau texte ou modifiez votre texte.</span>
        <img src="{{ asset('bundles/politizrfront/images/helper/helperEditText01.jpg') }}" alt="helperEditText01" width="320" height="115">
    </div>
    <div class="helperSliderItem">
        <span>2/ Sélectionnez votre texte pour faire apparaître les options de mise en forme.</span>
        <img src="{{ asset('bundles/politizrfront/images/helper/helperEditText02.jpg') }}" alt="helperEditText02" width="320" height="115">
    </div>
    <div class="helperSliderItem">
        <span>3/ Sauvegardez vos modifications avant de poursuivre votre navigation.</span>
        <img src="{{ asset('bundles/politizrfront/images/helper/helperEditText03.jpg') }}" alt="helperEditText03" width="320" height="115">
    </div>
    <div class="helperNav"></div>
</div>
