{# beta #}
<div id="modal">
    <div id="modalContent" class="modalCitizen">
        <div class="modalClose" action="closeModal"><i class="icon-cross"></i></div>
        <div class="modalText">
            Bienvenue sur <b>POLITIZR</b>, un <b>réseau social d'échanges constructifs</b> entre les citoyens, les élus et les collectivités.
            <br/><br/>
            Le menu principal est en haut et vous permet d'accéder notamment à l'ensemble des <b>publications</b> et des <b>élus inscrits</b>, mais vous permet aussi de consulter vos <b>notifications</b> et de rejoindre <b>les groupes relatifs à vos collectivités</b>. Bonne visite!
        </div>
    </div>
    <div id="modalBg" action="closeModal"></div>
</div>