{# beta #}
<div id="modal">
    <div id="modalContent" class="modalCitizen">
        <div class="modalClose" action="closeModal"><i class="icon-cross"></i></div>
        <div class="modalText">
            {{ content.description | raw }}
            <span class="modalCancel" action="closeModal">fermer</span>
        </div>
    </div>
    <div id="modalBg" action="closeModal"></div>
</div>