{# beta #}
<div id="modal">
    {% if isGrantedE() %}
        <!-- modal for representatives -->
        <div id="modalContent" class="modalRepresentatives">
            <div class="modalClose" action="closeModal"><i class="icon-cross"></i></div>
            <div class="modalText">
                <b>Vous voulez relayer vos actions?</b><br><br>
                Utilisez Politizr comme <b>outil de blogging</b> pour valoriser vos actions auprès de vos <b>concitoyens</b>!<br><br>
                <a href="{{ path('DebateDraftNew') }}" class="newSubject"><i class="icon-plane"></i><span>Je m'exprime</span></a>
                <span class="modalCancel" action="closeModal">fermer</span>
            </div>
        </div>
        <!-- end modal for representatives -->
    {% else %}
        <!-- modal for citizen -->
        <div id="modalContent" class="modalCitizen">
            <div class="modalClose" action="closeModal"><i class="icon-cross"></i></div>
            <div class="modalText">
                <b>Envie de devenir acteur de votre territoire?</b><br><br>
                Utilisez Politizr pour parler de problématiques locales et notre équipe contactera vos élus pour les inviter à vous répondre!<br><br>
                <a href="{{ path('DebateDraftNew') }}" class="newSubject"><i class="icon-plane"></i><span>Je m'exprime</span></a>
                <span class="modalCancel" action="closeModal">fermer</span>
            </div>
        </div>
        <!-- end modal for citizen -->
    {% endif %}

    <div id="modalBg" action="closeModal"></div>
</div>