{# beta #}
<div id="modal">
    {% if isGrantedE() %}
        <!-- modal for representatives -->
        <div id="modalContent" class="modalRepresentatives">
            <div class="modalClose" action="closeModal"><i class="icon-cross"></i></div>
            <div class="modalText">
                <b>Parlez-nous de votre territoire!</b><br><br>
                Consultez les <a href="{{ path('ListingSearchPublications') }}">publications</a> associées à votre territoire et <b>rédigez des réponses pour répondre à vos administré-e-s et/ou aux autres élu-e-s</b>.<br/><br/>
                Vous voulez expliquer votre action ou votre vision du territoire?...
                <a href="{{ path('DebateDraftNew'~profileSuffix()) }}" class="newSubject"><i class="icon-plane"></i><span>Rédigez un nouveau sujet</span></a>
                <span class="modalCancel" action="closeModal">fermer</span>
            </div>
        </div>
        <!-- end modal for representatives -->
    {% else %}
        <!-- modal for citizen -->
        <div id="modalContent" class="modalCitizen">
            <div class="modalClose" action="closeModal"><i class="icon-cross"></i></div>
            <div class="modalText">
                <b>Devenez acteur de votre territoire !</b><br><br>
                Pour soutenir des publications et inciter vos élu-e-s à y répondre, <b>notez les et ajoutez les à votre fil d'actualité!</b><br><br>
                Vous avez une opinion, une question ou une proposition pour votre ville, département, région?...
                <a href="{{ path('DebateDraftNew'~profileSuffix()) }}" class="newSubject"><i class="icon-plane"></i><span>Rédigez un nouveau sujet</span></a>
                <span class="modalCancel" action="closeModal">fermer</span>
            </div>
        </div>
        <!-- end modal for citizen -->
    {% endif %}

    <div id="modalBg" action="closeModal"></div>
</div>