{# beta #}
<div id="modal">
    {% if isGrantedE() %}
        <!-- modal for representatives -->
        <div id="modalContent" class="modalRepresentatives">
            <div class="modalClose" action="closeModal"><i class="icon-cross"></i></div>
            <div class="modalText">
                <b>Vous utilisez un blog pour relayer vos actions?</b><br><br>
                Utilisez Politizr en complément et nous nous occuperons de la <b>promotion de vos publications</b> pour vous rendre <b>visible sur votre territoire</b>!
                <a href="{{ path('DebateDraftNew'~profileSuffix()) }}" class="newSubject"><i class="icon-plane"></i><span>Rédigez un nouveau sujet</span></a>
                <span class="modalCancel" action="closeModal">fermer</span>
            </div>
        </div>
        <!-- end modal for representatives -->
    {% else %}
        <!-- modal for citizen -->
        <div id="modalContent" class="modalCitizen">
            <div class="modalClose" action="closeModal"><i class="icon-cross"></i></div>
            <div class="modalText">
                <b>Vous êtes un citoyen-ne engagé-e?</b><br><br>
                Utilisez Politizr pour parler de problématiques locales et nous nous occuperons de la <b>promotion de vos publications</b> pour vous rendre <b>visible sur votre territoire</b>!
                Pour soutenir les publications existantes, <b>notez les et ajoutez les à votre fil d'actualité!</b><br><br>
                <a href="{{ path('DebateDraftNew'~profileSuffix()) }}" class="newSubject"><i class="icon-plane"></i><span>Rédigez un nouveau sujet</span></a>
                <span class="modalCancel" action="closeModal">fermer</span>
            </div>
        </div>
        <!-- end modal for citizen -->
    {% endif %}

    <div id="modalBg" action="closeModal"></div>
</div>