{# beta #}
<div id="modal">
    {% if isGrantedE() %}
        <!-- modal for representatives -->
        <div id="modalContent" class="modalRepresentatives">
            <div class="modalClose" action="closeModal"><i class="icon-cross"></i></div>
            <div class="modalText">
                <b>Parlez-nous de votre territoire !</b><br>
                Bravo et merci à tous les utilisateurs qui expriment leurs opinions sur Politizr, le site est de plus en plus riche, et ce n'est qu'un début!<br>
                Pour co-construire les projets de demain, nous cherchons à proposer plus de sujets "locaux" et nous lançons un appel à notre communauté: <b>écrivez un sujet sur votre ville, département ou région!</b>
                <a href="{{ path('DebateDraftNew'~profileSuffix()) }}" class="newSubject"><i class="icon-plane"></i><span>rédiger un nouveau sujet</span></a>
                <span class="modalCancel" action="closeModal">fermer</span>
            </div>
        </div>
        <!-- end modal for representatives -->
    {% else %}
        <!-- modal for citizen -->
        <div id="modalContent" class="modalCitizen">
            <div class="modalClose" action="closeModal"><i class="icon-cross"></i></div>
            <div class="modalText">
                <b>Devenez acteur de votre territoire !</b><br>
                Bravo et merci à tous les utilisateurs qui expriment leurs opinions sur Politizr, le site est de plus en plus riche, et ce n'est qu'un début!<br>
                Pour co-construire les projets de demain, nous cherchons à proposer plus de sujets "locaux" et nous lançons un appel à notre communauté: <b>écrivez un sujet sur votre ville, département ou région!</b>
                <a href="{{ path('DebateDraftNew'~profileSuffix()) }}" class="newSubject"><i class="icon-plane"></i><span>rédiger un nouveau sujet</span></a>
                <span class="modalCancel" action="closeModal">fermer</span>
            </div>
        </div>
        <!-- end modal for citizen -->
    {% endif %}

    <div id="modalBg"></div>
</div>