<p>
    Cette liste est composée des partis politiques possédant au moins 30 élus au niveau national ou européen, ainsi que des 3 familles "génériques" utilisés pour les élections: Sans étiquette, Divers Gauche et Divers Droite.
</p>