<div class="helper helperTextEditor">
    <div class="helperHolder">
        <div class="helperTitle" action="toogleHelperBubble">Comment utiliser l’éditeur de texte<i class="icon-question"></i></div>
        <div class="bubblesHelper withLoaderInside" style="display: none;">     
            <div class="bubbTop">
                Éditeur de texte
            </div>
            <div class="bubbBottom">
                Surlignez le texte que vous souhaitez mettre en forme afin d’afficher les options possibles (gras, italique, insertion de lien, ...). Ajoutez des images ou des vidéos en cliquant sur l'icône "+" au début d'une nouvelle ligne.
            </div>
            <div class="bubbArrow"><i class="icon-arrow-down"></i></div>
        </div>      
    </div>
</div>