{# beta #}
<div class="helper helperEditTag">
    <div class="helperHolder">
        <div class="helperTitle" action="toogleHelperBubble">Comment ajouter un tag<i class="icon-question"></i></div>
        <div class="bubblesHelper withLoaderInside" style="display: none;">     
            {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
            <div class="bubbTop">
            </div>
            <div class="bubbBottom">
                • • •
            </div>
            <div class="bubbArrow"><i class="icon-arrow-down"></i></div>
        </div>      
    </div>
</div>