{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    Comment ça marche ? - {{ parent() }}
{% endblock title %}

{% block bodyClass %} class="demo"{% endblock %}

{% block header %}
    {% include 'PolitizrFrontBundle:Navigation\\Header:_headerHelper.html.twig' %}
    <div id="headerTrigger"></div>
{% endblock header %}

{% block main %}
    <div id="main">
        <center>
            <div class="demoItem demoSubject">
                <h1>Exprimez-vous sur nos consultations</h1>
                Accédez aux consultations en cours depuis le menu dédié et rédigez un nouveau sujet pour exprimer vos opinions ou poser vos questions.
            </div>
            <div class="demoSeparator demoLeftLine"></div>
            <div class="demoItem demoAnswer">
                <h1>Répondez aux sujets ouverts</h1>
                Répondez aux autres utilisateurs en publiant une réponse sur les sujets déjà publiés, pour faire valoir votre point de vue sur le sujet abordé!<i>&nbsp;&nbsp;Note: certaines consultations limitent les réponses aux seuls animateurs.</i>
            </div>
            <div class="demoSeparator demoLeftLine"></div>
            <div class="demoItem demoComment">
                <h1>Commentez les publications</h1>
                Une phrase vous choque ou vous avez une remarque à faire sur une publication? Rédigez un commentaire général ou sur un paragraphe en particulier!
            </div>
            {% if global.mode != "oneshot" %}
                <div class="demoSeparator demoLeftLine"></div>
                <div class="demoItem demoFeed">
                    <h1>Un fil d'actualité sur-mesure</h1>
                    Depuis le logo en haut à gauche, retrouvez un fil construit à partir de votre activité sur la plateforme: n'hésitez pas à publier, commenter, noter et suivre des profils pour l'enrichir!
                </div>
                <div class="demoSeparator demoRightLine"></div>
            {% else %}
                <div class="demoSeparator demoLeftLine"></div>
            {% endif %}
            <div class="demoItem demoStats">
                <h1>Réputation & Badges</h1>
                Vos actions et celles des autres membres de la communauté font évoluer votre réputation et vous permettent de gagner des badges: soyez constructif, curieux et positif!
            </div>
            <div class="demoNext">
                <a href="{{ path('Homepage'~profileSuffix()) }}">Accueil</a>
            </div>
        </center>
    </div>
{% endblock main %}
