{# beta #}
<div class="card myactivity">
    {% include 'PolitizrFrontBundle:User:_summary.html.twig' with { 'user': user, 'withSocialLinks': false, 'withMandates': false } only %}
    <div class="coloredBg">
        <div class="activity cardFollowing">
            {% if way == 'up' %}
                Les nouveautés sur ce sujet de discussion sont disponibles dans votre fil d’actualité.
            {% else %}
                Vous avez retiré ce sujet de discussion de votre fil d’actualité.
            {% endif %}
        </div>
        <h5>{% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'subject': timelineRow } only %}</h5>
        
        <div class="miniPost">
            {% if followDebate %}
                {% include 'PolitizrFrontBundle:User:_summary.html.twig' with { 'user': followDebate.user, 'withMandates': false } only %}
                {% include 'PolitizrFrontBundle:Document:_cardContent.html.twig' with { 'document': followDebate, 'withImg': true, 'mini': true, 'summary': false } only %}
                <h5>{% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'subject': followDebate } only %}</h5>
            {% else %}
                Ce débat a été supprimé.
            {% endif %}
        </div>
    </div>
</div>
