{% if app.user %}
    {% if app.user.id != object.id %}
        {% if follower %}
            <div class="stopFollowing" action="followUser" uuid="{{ object.uuid }}" way="unfollow">
                <div class="actionText">Supprimer&nbsp;de&nbsp;mon&nbsp;fil&nbsp;d'actualité</div>
                <i class="icon-remove"></i>
            </div>
        {% else %}
            <div class="startFollowing" action="followUser" uuid="{{ object.uuid }}" way="follow">
                <div class="actionText">&nbsp;Ajouter&nbsp;à&nbsp;mon&nbsp;fil&nbsp;d'actualité</div>
                <i class="icon-add"></i>
            </div>
        {% endif %}
    {% endif %}
{% else %}
    {#<a href="{{ path('Inscription') }}">Inscription</a>#}
    <a href="https://www.politizr.com/inscription" target="blank">inscription</a>
{% endif %}
