{# beta #}
{% if app.user %}
    {% if follower %}
        <div class="stopFollowing" action="followTag" uuid="{{ object.uuid }}" way="unfollow">
            <div class="actionText">Ne plus suivre</div>
            <i class="icon-remove"></i>
        </div>
    {% else %}
        <div class="startFollowing" action="followTag" uuid="{{ object.uuid }}" way="follow">
            <div class="actionText">Suivre cette thématique</div>
            <i class="icon-add"></i>
        </div>
    {% endif %}
{% else %}
    <div class="startFollowing">
        <div class="actionText"><a href="{{ path('InscriptionChoice') }}">Suivre cette thématique</a></div>
        <i class="icon-add"></i>
    </div>
{% endif %}
