<div class="{% if follower %}actionUnfollow{% else %}actionFollow{% endif %} withLoaderInside">
    {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
    {% include 'PolitizrFrontBundle:Follow:_subscribeUserLink.html.twig' %}
</div>
