{% if app.user %}
    {% if app.user.id != object.id %}
        {% if follower %}
            <a action="followUser" uuid="{{ object.uuid }}" way="unfollow">
                <i class="iconCross"></i>
                Se désabonner
            </a>
        {% else %}
            <a action="followUser" uuid="{{ object.uuid }}" way="follow">
                <i class="iconCheckInSquare"></i>
                S'abonner
            </a>
        {% endif %}
    {% endif %}
{% else %}
    <a href="{{ path('Inscription') }}">S'abonner</a>
{% endif %}