<div id="displayReactionsZone">
    {% if reactions | length > 0 %}
        <b>{{ reactions | length }} réactions ont été rédigés pour ce débat.</b>
    {% else %}
        <b>Aucune réaction pour ce débat.</b>
    {% endif %}
    <hr>
    {% for reaction in reactions %}
        {% include 'PolitizrAdminBundle:Fragment\\Reaction:_reaction.html.twig' with { 'reaction': reaction } %}
    {% endfor %}
</div>