<div id="displayReactionsZone">
    <a href="{{ path('Politizr_AdminBundle_PDReaction_list') }}filter?id={{ reaction.id }}&published=1">
        {% if reactions | length > 0 %}
            <b>{{ reactions | length }} réaction(s)</b>
        {% else %}
            <b>Aucune réaction</b>
        {% endif %}
    </a>
    {#
    <hr>
    {% for reaction in reactions %}
        {% include 'PolitizrAdminBundle:Fragment\\Reaction:_reaction.html.twig' with { 'reaction': reaction } %}
    {% endfor %}
    #}
</div>