<div id="footer">
    <!--
    <div id="footerLinks">
        <a href="#">À propos</a>
        <a href="#">Conditions</a>
        <a href="#">Assistance</a>
    </div>
    -->
    <div id="footerSocial">
        <a href="https://www.facebook.com/Politizr"><i class="iconSocialFb"></i></a>
        <a href="https://twitter.com/Politizr"><i class="iconSocialTw"></i></a>
        <a href="https://plus.google.com/+Politizr/"><i class="iconSocialGg"></i></a>
    </div>
    <!--
    <div id="footerMentions">
        Paiement bancaire 100% sécurisé<img src="{# asset('bundles/politizrfront/images/f_secure.png') #}"><br>
        <span>© Politizr 2015.</span>
    </div>
    
    <div id="footerFbShare">
        <div class="fb-like" data-href="https://www.facebook.com/Politizr" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
    </div>
    -->
</div>
