<div id="footer">
    <div id="goUp" action="goUp">
        <i class="icon-arrow-up"></i>Retour en haut de page
    </div>
    <div id="footerLinks">
        <a href="{{ path('Help') }}">Aide</a>
        <a href="#">Conditions générales</a>
        <a href="#">Contacts</a>
        <a href="#">À propos</a>
    </div>
</div>