{# @todo > paramétrage en base via code HTML #}
<div id="publicFooter">
    <div class="center">
        <div id="publicFooterLeft">
            <div class="footerColumn">
                <div class="footerColumnTitle">Pour en savoir plus</div>
                <a href="#">Qui sommes-nous ?</a>
            </div>
            
            <div class="footerColumn">
                <div class="footerColumnTitle">Pour nous contacter</div>
                <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                <div id="publicPolitizrPhone">
                    <img src="{{ asset('bundles/politizrfront/images/f-phone.svg') }}">{{ contact.phone }}
                </div>
            </div>
        </div>
        
        <div class="footerColumn">
            <div id="socialLinks">Propulsé par <a href="https://www.politizr.com" target="_blank">POLITIZR</a></div>
        </div>
    </div>
</div>