{# beta #}
<div id="footer">
    <div id="goUp" action="goUp">
        <i class="icon-arrow-up"></i>Retour en haut de page
    </div>
    <div id="footerLinks">
        <a href="http://www.politizr.help" target="_blank">Aide</a>
        {% if app.user %}
            <a action="openCgu">Mentions légales</a>
            {% if document is defined %}
                {{ document | linkCharte }}
            {% else %}
                <a action="openCharte">Charte</a>
            {% endif %}
        {% endif %}
    </div>
</div>