{# beta #}
<div id="footer">
    <div id="goUp" action="goUp">
        <i class="icon-arrow-up"></i>Retour en haut de page
    </div>
    <div id="footerLinks">
        <a action="openCgu" href="#">Mentions légales</a>
        {% if document is defined %}
            {{ document | linkCharte }}
        {% else %}
            <a action="openCharte" href="#">Charte</a>
        {% endif %}
        <a action="openPolicies" href="#">Confidentialité</a>
        <a action="openCookies" href="#">Cookies</a>
    </div>
</div>