{# beta #}
<div id="footer">
    <div id="goUp" action="goUp">
        <i class="icon-arrow-up"></i>Retour en haut de page
    </div>
    <div id="footerLinks">
        <a href="http://www.politizr.help" target="_blank">Aide</a>
        {% if app.user %}
            <a action="openCgu">CGU</a>
            <a action="openCharte">Charte</a>
        {% endif %}
        {#
        <a href="{{ path('WhoWeAre') }}">Qui sommes-nous?</a>
        <a href="{{ path('About') }}">À propos</a>
        <a href="#">Contacts</a>
        #}
    </div>
</div>