{# beta #}
<div id="footer">
    <div id="goUp" action="goUp">
        <i class="icon-arrow-up"></i>Retour en haut de page
    </div>
    <div id="footerLinks">
        <a action="openCgu">Mentions légales</a>
        {% if document is defined %}
            {{ document | linkCharte }}
        {% else %}
            <a action="openCharte">Charte</a>
        {% endif %}
        <a action="openPolicies">Confidentialité</a>
        <a action="openCookies">Cookies</a>
    </div>
</div>