<div class="container">
    {% if step > 1 and step < 4 %}
        <div class="row">
            <div class="col-sm-12">
                <p class="bg-info">Inscription <b>élu</b>.</p>
            </div>
        </div>
        <hr>
    {% endif %}
    <div class="row text-center">
        <div class="col-sm-3">
            <div class="label label-success">1 - Identification</div>
        </div>
        <div class="col-sm-3">
            <div class="label label-success">2 - Choix de la formule</div>
        </div>
        <div class="col-sm-3">
            <div class="label label-success">3 - Paiement</div>
        </div>
        <div class="col-sm-3">
            <div class="label label-success">4 - Validation par nos services</div>
        </div>
    </div>
    <hr>    
    <div class="progress">
        {% set progressbar = 25 %}
        {% if step == 2 %}
            {% set progressbar = 50 %}
        {% elseif step == 3 %}
            {% set progressbar = 75 %}
        {% elseif step == 4 %}
            {% set progressbar = 100 %}
        {% endif %}

        <div class="progress-bar" role="progressbar" aria-valuenow="{{ progressbar }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progressbar }}%;">
            {{ progressbar }}%
        </div>
    </div>
</div>
