{% extends 'PolitizrFrontBundle::layout.html.twig' %}

{% block inscriptionSteps %}
	{% include 'PolitizrFrontBundle:Security:electedSteps.html.twig' with { 'step': 3 } only %}
{% endblock %}

{% block main %}
	<div id="main" class="container">
		<h1>Mode de paiement</h1>
		<p class="bg-info">Choisissez le mode de paiement.</p>
		<div id="boxInscriptionElectedStep3">
	        {% for payment in payments %}
                <div class="paymentChoice">
                    <input type="radio" name="radioChoice"><label>{{ payment.title }}</label>
                    <div class="paymentDetail">
                        {{ payment.description | raw }}
                        <br/>
                        <a class="paymentProcess btn btn-success" pOPaymentTypeId="{{ payment.id }}">procéder au paiement</a>
                    </div>
                </div>
	        {% endfor %}
		</div>
		<hr>
	</div>
{% endblock main %}


{% block javascriptFooter %}
	{{ parent() }}
    {% include 'PolitizrFrontBundle:JS:inscriptionElectedStep3.js.twig' %}
{% endblock javascriptFooter %}
