{% extends 'PolitizrFrontBundle::layout.html.twig' %}

{% block main %}
	<div id="main">
		<h1>Inscription - Etape 2 / 3</h1>
		<p>Merci de votre inscription!</p>
		<p>Notre équipe va maintenant procéder à la vérification du document fourni attestant de votre mandat électif.</p>
		<p>Dès que cette étape sera validée, vous recevrez un email pour finaliser votre inscription</p>
		<a href="{{ path('Logout') }}">Accueil</a>
	</div>
{% endblock main %}
