{# beta #}
{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block content %}
    <div id="content">
        Vous avez été désinscrit des notifications de {{ client.name }}...
        <br/><br/>
    </div>
{% endblock content %}
{% block sidebarContent %}
        <i class="icon-info"></i><b>Un problème?</b>&nbsp;<a href="mailto:{{ support.email }}">Contactez-nous!</a>
{% endblock %}
