{% extends 'PolitizrFrontBundle::layoutError.html.twig' %}

{% block content %}
    <div id="unplugged">
        <div class="center">
            <div class="unplugText">
                <img src="{{ asset('bundles/politizrfront/images/cone.svg') }}" alt="404" width="140">
                <h1>Erreur 403</h1>
                <p>Accès interdit</p>
                <p>Merci de votre compréhension.</p>
            </div>
            <a class="history" href="{{ path('Homepage') }}"><i class="icon-arrow-left"></i>Retour à la page d'accueil du site</a>
        </div>
    </div>
{% endblock content %}
