{% extends 'PolitizrFrontBundle::layoutError.html.twig' %}

{% block content %}
    <div id="unplugged">
        <div class="center">
            <div class="unplugText">
                <img src="{{ asset('bundles/politizrfront/images/cone.svg') }}" alt="404" width="140">
                <h1>Site en cours de maintenance</h1>
                <p>Serveur en travaux, merci de repasser plus tard...</p>
            </div>
        </div>
    </div>
{% endblock content %}
