<div class="bubblesTag withLoaderInside"> 
    {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
    <div class="bubbTop">
        Suivi par 234 personnes
        <div class="miniActions">
            <?php include('includes/actionFollowTag.php') ?>
        </div>
    </div>
    <div class="bubbBottom">
        1342 publications abordent cette thématique
    </div>
    <div class="bubbArrow"><i class="icon-arrow-down"></i></div>
</div>