{# beta #}
<div class="bubbTop">
    {{ tag | nbUsers }}
    <div class="miniActions">
        {% include 'PolitizrFrontBundle:Follow:_actionFollow.html.twig' with { 'subject': tag } only %}
    </div>
</div>
<div class="bubbBottom">
    {{ tag | nbDocuments }}
</div>
