{# beta #}
<div class="tag">
    <a action="filterByTag" class="active">Tous</a>
</div>
{% for uuid, title in tags %}
    <div class="tag">
        <a action="filterByTag" uuid="{{ uuid }}">{{ title }}</a>
    </div>
{% endfor %}
