{# beta #}
<div class="sidebarFollowedTags">
    <h5>Thématiques suivies</h5>
    <div class="tagList withLoaderInside" id="followedTags" uuid="{{ uuid }}">
    </div>
    <a href="{{ path('ListingTagAlphabetical') }}" class="linkListTags">Toutes les thématiques</a>
</div>