<div class="sidebarTopTags">
    <form id="tagFilter">
        <input type="hidden" name="tagFilterDate[]" value="{{ constant('Politizr\\Constant\\ListingConstants::FILTER_KEYWORD_ALL_DATE') }}" />
    </form>
    <h5>Thématiques populaires</h5>
    <div class="tagList withLoaderInside">
    </div>
</div>
