{% extends 'PolitizrFrontBundle::layoutConnected.html.twig' %}

{% block main %}
    <div id="main">
        <h1>Mes centres d'intérêts</h1>
        <p class="bg-info">Ajoutez un maximum de tags que vous désirez suivre.</p>
        <p class="text-muted">Tags géographiques</p>
        {{ userFollowTagsEdit(pUser, constant('\\Politizr\\Constant\\TagConstants::TAG_TYPE_GEO'), 2, false) }}
        <hr>
        <p class="text-muted">Tags thématiques</p>
        {{ userFollowTagsEdit(pUser, constant('\\Politizr\\Constant\\TagConstants::TAG_TYPE_THEME'), 3, true) }}
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {# Tags #}
    {% include 'PolitizrFrontBundle:JS\\Tag:editTags.js.twig' with { 'nbZones': 3 } %}
{% endblock javascriptFooter %}
