@import "../_global/colors";

#fixedActions {
	z-index: 12000;
	position: fixed;
	bottom: 20px;
	width: 180px;
	background: #fff;
	padding: 2px 0 5px 0;
	text-transform: uppercase;
	text-align: center;
    font-family: 'nerissemibold';
}

#fixedActions a, #fixedActions .actionFollow, #fixedActions .actionUnfollow, #fixedActions .actionCosign {
	width: 100%;
	float: left;
	margin-top: 3px;
	padding: 13px 0;
	cursor: pointer;
	font-size: 12px;
    font-family: 'nerissemibold';
}

#fixedActions a i, #fixedActions .actionFollow i, #fixedActions .actionUnfollow i, #fixedActions .actionCosign i {
	padding-right: 6px;
	font-size: 11px;
	top:-1px;
	position: relative;
}

.actionFollow, .actionCosign {
	background-color: $highlight;
	color: #fff;
}

.actionUnfollow {
	background-color: $anotherGrey;
	color: #fff;
}

.actionGotoDebate {
	color: $darkGrey;
	background-color: $semilightGrey;
}

.actionFollow:hover, .actionCosign:hover, .actionUnfollow:hover, .actionGotoDebate:hover {
	background-color: $darkGrey;	
	color: #fff;
}

.actionReact {
	background-color: $darkGrey;	
	color: #fff;
	margin-bottom: 15px;
}

#fixedActions a.actionReact i {font-size: 13px;}
#fixedActions .actionCosign i {font-size: 14px;}
#fixedActions a.actionReact:hover {background-color: $highlight;}