@import "../_global/colors";

#footerLeft {
	float: left;
	width: 60%;
	font-size: 12px;
	font-family: 'Merriweather Italic';
	padding-top: 4px;
}

#footerLeft a {
	color: $semiGrey;
	display: inline-block;
	margin-right: 20px;
}

#footerLeft a:hover {
	color:$darkGrey;
}

#footerRight {
	float: right;
	width: 30%;
	text-align: right;
	-moz-opacity: 0.50;
	opacity: 0.50;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	filter:alpha(opacity=50);
}