@import "../_global/colors";

.headerLogo {
	float: left;
	width: 200px;
	margin-top: 22px;
}

.headerLogo a {	
	color: $semiGrey;
	float: right;
	margin: 0 20px 0 0;
}
.headerLogo i.icon-pltzr-logo {	font-size: 24px;}
.headerLogo i.icon-pltzr-logo:hover {	color: $darkGrey}

#headerCenter {
	float: left;
	width: 618px;
	margin: 18px 0 0 0;
	padding: 12px 40px 0 40px;
	border-left: solid 1px $semiGrey;
	border-right: solid 1px $semiGrey;
	height: 30px;
	font-family: nerissemibold;
	font-size: 10px;
	text-transform: uppercase;
	color: $semiGrey;
}

#linkRanking, #linkNotifications, #linkSuggestions {
	margin-right: 40px;
	display: inline-block;
	position: relative;
	padding-left: 10px;
	cursor: pointer;
}

#linkRanking {
	padding-left: 16px;
}

#headerCenter i {
	font-size: 7px;
	position: absolute;
	top: 0;
	left: 0;
}

#headerCenter i.icon-ranking {
	font-size: 14px;
	top:-1px;
}

.notifYes {	color: $highlight;}
#linkRanking:hover, #linkSuggestions:hover {	color: $darkGrey;}

#headerRight {
	float: left;
	width: 60px;
	height: 60px;
	position: relative;
}

#linkMenuPreferences {
	float: left;
	margin: 30px 0 0 20px;
	position: relative;
	cursor: pointer;
	color: $semiGrey;
}

#linkMenuPreferences:hover {	color: $darkGrey;}

#linkMenuPreferences i {	position: absolute;}

#linkMenuPreferences i.icon-gear {
	font-size: 10px;
	padding-right: 3px;
	left: 0;
	top: 0;
}

#linkMenuPreferences i.icon-arrow-down, #linkMenuPreferences i.icon-arrow-up {	
	font-size: 6px;
	left: 14px;
	top: 1px;
}

#hideMenuPreferences {
	color: $darkGrey;
}