{% extends 'PolitizrFrontBundle:Fragment\\Reaction:Detail.html.twig' %}

{% block detailImage %}
{% endblock detailImage %}

{# Bloc en-tête d'un débat dans le fil du débat #}
{% block detailLink %}
	{# Lien détail #}
	<div class="row text-center">
		<div class="col-sm-12">
			<a class="btn btn-primary" href="{{ path('ReactionDetail', { 'slug': reaction.slug }) }}">Détail</a>
		</div>
	</div>		
{% endblock detailLink %}

{% block detailDescription %}
{% endblock detailDescription %}

{% block detailGlobalComments %}		
{% endblock detailGlobalComments %}
