<div class="timelineItem">
    <div class="timelineItemHeader">
        {% include 'PolitizrFrontBundle:Navigation\\DateTime:_timeAt.html.twig' with { 'dateTimeAt': debate.publishedAt } only %}
    </div>

    {% spaceless %}
        <div class="timelineItemHolder">
            <div class="timelineItemContent">
                <div class="timelineItemObject">
                    <i class="iconNotifNo"></i>
                    {% if authorIsMe %}
                        Vous avez rédigé un débat:&nbsp;
                    {% else %}
                        {% include 'PolitizrFrontBundle:User:_authorName.html.twig' with { 'user': debate.user, 'isFollowed': authorIsFollowed } only %}
                        {% include 'PolitizrFrontBundle:User:_authorOrganization.html.twig' with { 'user': debate.user } only %} a rédigé un <span{% if debateIsFollowed %} class="followedDebate"{% endif %}>débat</span>:&nbsp;
                    {% endif %}
                </div>
            </div>

            {% include 'PolitizrFrontBundle:Document:_summary.html.twig' with { 'document': debate, 'withSubscribe': false } only %}
        </div>
    {% endspaceless %}
</div>
