<div class="timelineItem">
    <div class="timelineItemHeader">
        {% include 'PolitizrFrontBundle:Navigation\\DateTime:_timeAt.html.twig' with { 'dateTimeAt': reaction.publishedAt } only %}
    </div>

    {% spaceless %}
        <div class="timelineItemHolder">
            <div class="timelineItemContent">
                <div class="timelineItemContext">
                    {{ reaction | itemContextReaction(debateContext) }}
                </div>
                <div class="timelineItemObject">
                    <i class="iconNotifNo"></i>
                    {% if authorIsMe %}
                        Vous avez rédigé une réaction:&nbsp;
                    {% else %}
                        {% include 'PolitizrFrontBundle:User:_authorName.html.twig' with { 'user': reaction.user, 'isFollowed': authorIsFollowed } only %}
                        {% include 'PolitizrFrontBundle:User:_authorOrganization.html.twig' with { 'user': reaction.user } only %} a rédigé une réaction:&nbsp;
                    {% endif %}
                </div>
            </div>

            {% include 'PolitizrFrontBundle:Document:_summary.html.twig' with { 'document': reaction, 'withSubscribe': false } only %}
        </div>

    {% endspaceless %}
</div>
