/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/sessions/*
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar

/src/Politizr/FrontBundle/Resources/public/css/styleUser.css

/web/app.php
/web/uploads/
/web/assetic/js/compiled
/web/assetic/css/compiled
/web/js
