<div class="contextImage">
    {{ comment.user | photo('user_40') }}
</div>
<div class="contextTitle">
    {% include 'PolitizrFrontBundle:User:_authorMini.html.twig' with { 'user': comment.user } only %}
</div>
<div class="contextDescription">
    <p>{{ comment.description }}</p>
</div>