<h1>Demande de modification</h1>
<div class="formIntro">
    Ces informations ne peuvent normalement pas être modifiées, merci de justifier votre demande.
</div>
<div class="abuseContext">
    {{ context | purify }}
</div>
<form id="formAskForUpdate">
    {{ form_errors(formAskForUpdate) }}
    {{ form_widget(formAskForUpdate.message, { 'attr': {'placeholder': 'Modifications demandées (obligatoire)'}}) }}
    {{ form_rest(formAskForUpdate) }}
    <div class="actionsButtons withLoaderInside">
        <div class="ajaxLoader" style="display: none;">
            <div class="ajaxLoaderSpinner"></div><div class="ajaxLoaderBg"></div><div class="ajaxLoaderBlockClick"></div>
        </div>
        <input type="button" action="createAskForUpdate" value="&#xe82b; Valider">
        <div class="cancel" action="cancelModal">Annuler</div>
    </div>
</form>
