<form class="formReport" id="formAbuseReporting">
    <div class="formBg">
        {{ form_errors(formAbuse) }}
        {{ form_widget(formAbuse.message, { 'attr': {'placeholder': 'Que signalez-vous?'}}) }}
        {{ form_rest(formAbuse) }}
    </div>
    <div class="actionsBox withLoaderInside">
        {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
        <span class="formCancel" action="closeAbuseReporting">Annuler</span>
        <input type="button" action="createAbuseReporting" value="Valider">
    </div>
</form>
