{# beta #}
<div id="modal">
    <div id="modalLegal" style="display: block;">
        <div class="modalClose" action="closeModal">Fermer<i class="icon-cross"></i></div>
        <div class="textLegal">
            <h1>{{ legal.title }}</h1>
            {{ legal.description | purify }}
        </div>
    </div>
    <div id="modalBg" action="closeModal"></div>
</div>