{# beta #}
<div class="sidebarAskForModification askForUpdateBox">
    <div class="askForModificationButton" action="askForUpdate" uuid="{{ subject.uuid }}" type="{{ subject.type }}">
        <i class="icon-publish"></i>
        <span>Demande de modification</span>
    </div>
    <div class="sidebarAskForModificationForm askForUpdateForm withLoaderInside" style="display: none">  
        {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
        <div class="sidebarNote">
            Cette publication ayant désormais des interactions, elle ne peut plus normalement être modifiée: merci de justifier votre demande.
        </div>
        <div class="formAskForUpdateContent">
        </div>
    </div>
</div>
