<div class="text-center">
	<a class="fa fa-close" action="close-comments">&nbsp;Fermer</a>
</div>
<hr>
{% include 'PolitizrFrontBundle:Fragment\\Comment:Form.html.twig' with { 'formComment': formComment } %}
<hr>
<div class="comment-just-created"></div>
{% for comment in comments %}
	{% include 'PolitizrFrontBundle:Fragment\\Comment:ListDocumentRow.html.twig' with { 'comment': comment } %}
	<hr>
{% endfor %}
<div class="text-center">
	<a class="fa fa-close" action="close-comments">&nbsp;Fermer</a>
</div>
