<script>
    // **************************** //
    //      Initialisation editeur
    // **************************** //
    var summaryEditor = new MediumEditor('.summary-editable', {
        // buttonLabels: 'fontawesome',
        anchorButtonClass: 'mdm-btn',
    });
    var descriptionEditor = new MediumEditor('.description-editable', {
        // buttonLabels: 'fontawesome'
        anchorButtonClass: 'mdm-btn',
    });
    var moreInfoEditor = new MediumEditor('.moreInfo-editable', {
        // buttonLabels: 'fontawesome'
        anchorButtonClass: 'mdm-btn',
    });


    // **************************** //
    //      Initialisation
    // **************************** //
    $(document).ready(function () {
        // Initialisation form ajax upload
        $("#form-debate-photo").ajaxForm(options);
    });

    // **************************** //
    //      LISTENERS
    // **************************** //
    // Clic bouton upload photo local
    $("body").on("click", "#file-select", function() {
        console.log('click file select');
        $("#file-name").trigger('click');
        return false;
    });

    // Upload simple
    $("body").on("change", "#file-name", function() {
        console.log('change file name');
        $('#form-debate-photo').submit();
    });


    // **************************** //
    //      VARIABLES
    // **************************** //
    // Options Jquery Form JS > upload ajax
    var options = {
        // iframe: true,
        beforeSend: function() 
        {
            $('#ajax-loader').show();
        },
        success: function() 
        {
            $('#ajax-loader').hide();
        },
        complete: function(data) 
        {
            data = data.responseText;
            console.log('data.responseText = ' + data);

            // Gestion retour iframe IE
            data = data.replace('<PRE>', '');
            data = data.replace('</PRE>', '');
            data = data.replace('<pre>', '');
            data = data.replace('</pre>', '');
            console.log('data replace = ' + data);
            data = $.parseJSON( data );
            console.log('data parse JSON = ' + data);

            if (!data['success']) {
                $('.alert-danger-msg').html(data['error']);
                $('.alert.alert-danger').show();
            } else {
                $('#current-photo').html('<img class="img-rounded" src="/uploads/documents/'+data['filename']+'" />')
            }
        },
        error: function(data)
        {
            $('#ajax-loader').hide();
            $('.alert-danger-msg').html('Erreur inconnue: merci de recharger la page.');
            $('.alert.alert-danger').show();
        }
    }; 


    // **************************** //
    //      POST
    // **************************** //

    // Update debate
    $('body').on('submit', '#form-debate-update', function(e){
        console.log('*** click submit');

        e.preventDefault();

        var summary = summaryEditor.serialize();
        var description = descriptionEditor.serialize();
        var moreInfo = moreInfoEditor.serialize();

        console.log(summary['element-0']['value']);
        console.log(description['element-0']['value']);
        console.log(moreInfo['element-0']['value']);

        $('#debate_summary').val(summary['element-0']['value']);
        $('#debate_description').val(description['element-0']['value']);
        $('#debate_more_info').val(moreInfo['element-0']['value']);
     
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url : "{{ path('DebateUpdate') }}",
            data: $("#form-debate-update").serialize(),
            dataType: 'json',
            {% include 'PolitizrFrontBundle:JS:ajaxError.js.twig' %}
            success: function(data) {
                $('#ajax-loader').hide();
                if (data['error']) {
                    $('.alert-danger-msg').html(data['error']);
                    $('.alert.alert-danger').show();
                } else {
                    $('.alert-success-msg').html('Objet bien enregistré!');
                    $('.alert.alert-success').show();
                }
            }
        });

        return false;
    });

    // Retour liste
    $('body').on('click', "a[action='debate-list']", function(e){
        console.log('*** click list');

        bootbox.confirm('Pensez à enregistrer votre travail avant de revenir à la liste. Voulez-vous revenir à la liste?', function(result) {
            if (result) {
                window.location = "{{ path('MyDraftsC') }}";
            }
        });
    });

    // Prévisualisation > enregistrement puis redirection
    $('body').on('click', "a[action='debate-preview']", function(e){
        console.log('*** click preview');

        bootbox.confirm('Pensez à enregistrer votre travail avant de prévisualiser votre débat. Voulez-vous prévisualiser votre débat?', function(result) {
            if (result) {
                window.location = "{{ path('DebateDraftPreview', { 'id': debate.id, 'slug': 'slug' }) }}";
            }
        });
    });



    // Suppression photo
    $('body').on('click', '#file-delete', function(e){
        console.log('*** click file delete');

        e.preventDefault();

        $.ajax({
            type: 'POST',
            dataType: 'json',
            url : "{{ path('DebatePhotoDelete') }}",
            data: $("#form-debate-photo").serialize(),
            dataType: 'json',
            {% include 'PolitizrFrontBundle:JS:ajaxError.js.twig' %}
            success: function(data) {
                $('#ajax-loader').hide();
                if (data['error']) {
                    $('.alert-danger-msg').html(data['error']);
                    $('.alert.alert-danger').show();
                } else {
                    $('#current-photo').html('<p>Aucune photo téléchargée</p>');
                }
            }
        });
    });


</script>
