{% extends 'PolitizrFrontBundle::layoutC.html.twig' %}


{% block main %}
	<div id="main" class="container">
		<div id="debates">
			<h3>Derniers débats publiés</h3>
			<div>
				{% for debate in debates %}
					{% include 'PolitizrFrontBundle:Fragment:DocumentMiniBlock.html.twig' with { 'document': debate, 'objectType': constant('Politizr\\Model\\PDocument::TYPE_DEBATE'), 'withAuthor': true, 'withMoreInfos': true } %}
					<div class="border-row">&nbsp;</div>
				{% endfor %}
			</div>
		</div>
		<div id="users">
			<h3>Derniers élus inscrits</h3>
			<div>
				{% for user in users %}
					{% include 'PolitizrFrontBundle:Fragment:UserBlock.html.twig' with { 'pUser': user, 'full': false } %}
					<div class="border-row">&nbsp;</div>
				{% endfor %}
			</div>
		</div>
		<div id="comments">
			<h3>Derniers commentaires publiés</h3>
			<div>
				{% for comment in comments %}
					{% include 'PolitizrFrontBundle:Fragment:Comment.html.twig' with { 'comment': comment, 'docLink': true } %}
					<hr>
				{% endfor %}
			</div>
		</div>	
	</div>
{% endblock main %}


{% block javascriptFooter %}
	{{ parent() }}
    
    {% include 'PolitizrFrontBundle:JS:follow.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:followers.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:notation.js.twig' %}
{% endblock javascriptFooter %}
