{% extends 'PolitizrFrontBundle::layoutC.html.twig' %}

{% block main %}
	<div id="main" class="container">
		<h3>Mon compte</h3>
		<p>
			Vous disposez actuellement d'un compte citoyen.
		</p>
		<p>
			Vous exercez ou avez exercé un mandat d'élu? Migrez vers le <a href="{{ path('MigrationElected') }}">compte débatteur</a>.
		</p>
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
    {% include 'PolitizrFrontBundle:JS:myAccountC.js.twig' %}
{% endblock javascriptFooter %}
