{% extends 'PolitizrFrontBundle::layoutC.html.twig' %}

{% block main %}
	<div id="main" class="container">
		<h3>Mon compte</h3>
		<p>
			Vous disposez actuellement d'un compte citoyen.
		</p>
		<p>
			{% if app.user.validated %}
				Votre identité a été validé par nos services.
			{% else %}
				Votre identité n'a pas été validé par nos services.
			{% endif %}
		</p>
		{% if app.user.qualified and app.user.PUStatusId == constant('Politizr\\Model\\PUStatus::VALIDATION_PROCESS') %}
			<p class="bg-info">
				Votre profil est en cours de validation par nos services: merci de patienter avant de pouvoir accéder à votre compte débatteur!
			</p>
		{% else %}
			<p>
				Vous exercez ou avez exercé un mandat d'élu? Migrez vers le <a href="{{ path('MigrationElected') }}">compte débatteur</a>.
			</p>
		{% endif %}
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
{% endblock javascriptFooter %}
