{% extends 'PolitizrFrontBundle::layoutC.html.twig' %}

{% block main %}
	<div id="main" class="container">
		<h3>Mes débats</h3>
        {% for debate in debates %}
			{% include 'PolitizrFrontBundle:Fragment\\Debate:ListRowUser.html.twig' with { 'debate': debate } %}
			<hr>
		{% else %}
			<div class="no-results">
				<a class="btn btn-primary" href="{{ path('MyDraftsC') }}">Vous n'avez aucun débat en ligne pour le moment</a>
			</div>
		{% endfor %}
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
{% endblock javascriptFooter %}
