{% extends 'PolitizrFrontBundle::layoutC.html.twig' %}

{% block main %}
	<div id="main" class="container">
		<h3>Mes brouillons</h3>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
				        <tr>
				            <th>Bandeau</th>
				            <th>Titre</th>
				            <th>Résumé</th>
				            <th>Date de création</th>
				            <th>&nbsp;</th>
				        </tr>
			      	</thead>				
			        {% for draft in drafts %}
						{% include 'PolitizrFrontBundle:Fragment:DebateDraftRowBlock.html.twig' with { 'document': draft } %}
					{% else %}
						<tr>
							<td colspan="5">
								Aucun brouillon rédigé pour le moment
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
			<a class="btn btn-primary" href="{{ path('MyDraftsNewC') }}">Nouveau</a>
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
    {% include 'PolitizrFrontBundle:JS:myDraftsC.js.twig' %}
{% endblock javascriptFooter %}
