{% extends 'PolitizrFrontBundle::layoutC.html.twig' %}

{% block main %}
    <div id="main" class="container">
        <h1>Mes brouillons de débats</h1>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Bandeau</th>
                            <th>Titre</th>
                            <th>Résumé</th>
                            <th>Date de création</th>
                            <th>&nbsp;</th>
                        </tr>
                      </thead>                
                    {% for draft in drafts %}
                        {% include 'PolitizrFrontBundle:Fragment\\Debate:DraftTableRow.html.twig' with { 'document': draft } %}
                    {% else %}
                        <tr>
                            <td colspan="5">
                                Aucun brouillon rédigé pour le moment
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <a class="btn btn-primary" href="{{ path('DebateDraftNew') }}">Nouveau</a>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}
{% endblock javascriptFooter %}
