{% extends 'PolitizrFrontBundle::layoutC.html.twig' %}

{% block main %}
    <div id="main">
        <h3>Mes notifications</h3>
        <h4>Par email</h4>

        <table class="table table-hover">
            {% for notification in notifications %}
                <tr>
                    <td>
                        <span>{{ notification.title }}</span>
                    </td>
                    <td>
                        {% if notification.id in emailNotifIds %}
                            <span class="fa fa-check-square-o" subject-id="{{ notification.id }}" action="email-unsubscribe"></span>
                        {% else %}
                            <span class="fa fa-square-o" subject-id="{{ notification.id }}" action="email-subscribe"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {% include 'PolitizrFrontBundle:JS:notifSubscribe.js.twig' %}
{% endblock javascriptFooter %}
