{% extends 'PolitizrFrontBundle::layoutC.html.twig' %}

{% block main %}
	<div id="main" class="container">
		<h3>Mes brouillons</h3>
        {% for draft in drafts %}
			{% include 'PolitizrFrontBundle:Fragment:DocumentDraftMiniBlock.html.twig' with { 'document': draft, 'objectType': constant('Politizr\\Model\\PDocument::TYPE_DEBATE') } %}
		{% else %}
			<div class="no-results">
				<a class="btn btn-primary" href="{{ path('MyDraftsC') }}">Vous n'avez rédigé aucun brouillon de débat pour le moment</a>
			</div>
		{% endfor %}
		<h3>Mes débats publiés</h3>
        {% for debate in debates %}
			{% include 'PolitizrFrontBundle:Fragment:DocumentMiniBlock.html.twig' with { 'document': debate, 'objectType': constant('Politizr\\Model\\PDocument::TYPE_DEBATE'), 'withAuthor': false, 'withMoreInfos': true } %}
		{% else %}
			<div class="no-results">
				<a class="btn btn-primary" href="{{ path('MyDraftsC') }}">Vous n'avez débat en ligne pour le moment</a>
			</div>
		{% endfor %}
		<h3>Mes commentaires</h3>
        {% for comment in comments %}
			{% include 'PolitizrFrontBundle:Fragment:Comment.html.twig' with { 'comment': comment, 'docLink': true } %}
		{% else %}
			<div class="no-results">
				<a class="btn btn-primary" href="{{ path('TimelineC') }}">Vous n'avez rédigé aucun commentaire pour le moment</a>
			</div>
		{% endfor %}
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
{% endblock javascriptFooter %}
