{% extends 'PolitizrFrontBundle::layoutC.html.twig' %}

{% block main %}
    <div id="main" class="container">
        <h1>Ma situation géographique</h1>
        <p class="bg-info">Choisissez des tags reflétant votre situation géographique.</p>
        <p class="text-muted">Tags géographiques</p>
        {{ userTaggedTagsEdit(pUser, constant('\\Politizr\\Model\\PTTagType::TYPE_GEO'), 1, false) }}
        <h1>Mes centres d'intérêts</h1>
        <p class="bg-info">Ajoutez un maximum de tags que vous désirez suivre.</p>
        <p class="text-muted">Tags géographiques</p>
        {{ userFollowTagsEdit(pUser, constant('\\Politizr\\Model\\PTTagType::TYPE_GEO'), 2, false) }}
        <hr>
        <p class="text-muted">Tags thématiques</p>
        {{ userFollowTagsEdit(pUser, constant('\\Politizr\\Model\\PTTagType::TYPE_THEME'), 3, true) }}
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {# Tags #}
    {% include 'PolitizrFrontBundle:JS:editTags.js.twig' with { 'nbZones': 3 } %}
{% endblock javascriptFooter %}
