{% extends 'PolitizrFrontBundle::layoutC.html.twig' %}


{% block main %}
	<div id="main" class="container">
		<h3>Suggestions de débats</h3>
		<h4 class="bg-info">Liste de débat possédant au moins un des tags géographiques suivis</h4>
		<div class="user-tags">
			<div class="row text-center">
				{{ userFollowTags(app.user, constant('\\Politizr\\Model\\PTTagType::TYPE_GEO')) }}
			</div>
		</div>
		<hr>
		{% for debate in debatesGeo %}
			{# include 'PolitizrFrontBundle:Fragment:DocumentMiniBlock.html.twig' with { 'document': debate, 'objectType': 'PDDebate', 'withAuthor': true } #}
			{% include 'PolitizrFrontBundle:Fragment:DebateBlock.html.twig' with { 'debate': debate, 'full': false, 'withMoreInfos': true } %}
		{% else %}
			Aucun débat ne correspond à vos préférences tag géo<br/>
			{# TODO lien ajouter des tags #}
			> Ajouter des tags géo
		{% endfor %}
		<h4 class="bg-info">Liste de débat possédant au moins un des tags thème suivis</h4>
		<div class="user-tags">
			<div class="row text-center">
				{{ userFollowTags(app.user, constant('\\Politizr\\Model\\PTTagType::TYPE_THEME')) }}
			</div>
		</div>
		<hr>
		{% for debate in debatesTheme %}
			{# include 'PolitizrFrontBundle:Fragment:DocumentMiniBlock.html.twig' with { 'document': debate, 'objectType': 'PDDebate', 'withAuthor': true } #}
			{% include 'PolitizrFrontBundle:Fragment:DebateBlock.html.twig' with { 'debate': debate, 'full': false, 'withMoreInfos': true } %}
		{% else %}
			Aucun débat ne correspond à vos préférences tag theme<br/>
			{# TODO lien ajouter des tags #}
			> Ajouter des tags theme
		{% endfor %}
		<h3>Suggestions de personnalités</h3>
		<h4 class="bg-info">Liste d'élus possédant au moins un des tags géographiques suivis</h4>
		<div class="user-tags">
			<div class="row text-center">
				{{ userFollowTags(app.user, constant('\\Politizr\\Model\\PTTagType::TYPE_GEO')) }}
			</div>
		</div>
		<hr>
		{% for user in usersGeo %}
			{% include 'PolitizrFrontBundle:Fragment:UserBlock.html.twig' with { 'pUser': user, 'full': false } %}
		{% else %}
			Aucun élu ne correspond à vos préférences tag géo<br/>
			{# TODO lien ajouter des tags #}
			> Ajouter des tags géo
		{% endfor %}
	</div>
{% endblock main %}


{% block javascriptFooter %}
	{{ parent() }}
    {% include 'PolitizrFrontBundle:JS:suggestionsC.js.twig' %}
    
    {% include 'PolitizrFrontBundle:JS:follow.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:followers.js.twig' %}
{% endblock javascriptFooter %}
