{% extends 'PolitizrFrontBundle::layoutC.html.twig' %}

{% block main %}
	<div id="main" class="container">
		<h3>Timeline</h3>
        {% for document in documents %}
			{% include 'PolitizrFrontBundle:Fragment:DocumentMiniBlock.html.twig' with { 'document': document.childObject, 'objectType': document.type, 'withAuthor': true, 'withMoreInfos': false } %}
			<div class="border-row">&nbsp;</div>
		{% else %}
			<div class="no-results">
				<a class="btn btn-primary" href="{{ path('SuggestionsC') }}">Suivez plus de débat ou d'utilisateurs!</a>
			</div>
		{% endfor %}
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
    
    {% include 'PolitizrFrontBundle:JS:follow.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:followers.js.twig' %}
{% endblock javascriptFooter %}
