{% extends 'PolitizrFrontBundle::layoutC.html.twig' %}

{% block main %}
    <div id="main">
        <div id="paginatedList" url="{{path('TimelinePaginated')}}">
            <form id="list-filter" class="text-center">
            </form>
            <hr>
            <div id="list-content">
            </div>
        </div>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}
    
    {% include 'PolitizrFrontBundle:JS:timeline.js.twig' %}
{% endblock javascriptFooter %}
