{% extends "AdmingeneratorGeneratorBundle::base_admin.html.twig" %}

{% block navbar %}
    {% embed 'AdmingeneratorGeneratorBundle::base_admin_navbar.html.twig' %}
        {% block brand_text %}
            Politizr
        {% endblock brand_text %}
        {% block menu %}
        {% endblock %}
        {% block profile %}
        {% endblock profile %}
    {% endembed %}
{% endblock navbar %}

{% block footer %}
    <div id="footer" class="text-center">
        <hr/>
        <h2 class="label label-default">&copy; Politizr 2014</h2>
    </div> 
{% endblock %}