<form id="defaultOrderFilters" style="display: none">
    <input name="defaultOrder" type="hidden" value="{{ defaultOrderFilters[0]['value'] }}" />
    <select name="defaultFilters" multiple>
        <option value="{{ defaultOrderFilters[1]['value'] }}" selected/>
        <option value="{{ defaultOrderFilters[2]['value'] }}" selected/>
    </select>
</form>
