{% for document in documents %}
    {% include 'PolitizrFrontBundle:Document:_card.html.twig' with { 'document': document } %}
{% endfor %}
<div id="listingScrollNav">
    {% if moreResults %}
        <a id="moreResults" action="listingNext" class="waypoint" offset="{{ offset }}" uuid="{{ uuid }}" key="{{ jsFunctionKey }}">suite</a>
    {% endif %}
</div>
