<div class="listCriteriaFormSubLevel">
    <input type="radio" class="filter" name="filtersDate[]" value="allDate" id="allDate" {% if defaultFiltersByDate == 'allDate' %}checked{% endif %}/>
    <label for="allDate"><i class="iconNotifYes"></i>tous</label>
    <input type="radio" class="filter" name="filtersDate[]" value="lastDay" id="lastDay" {% if defaultFiltersByDate == 'lastDay' %}checked{% endif %}/>
    <label for="lastDay"><i class="iconNotifYes"></i>créés ces dernières 24h</label>
    <input type="radio" class="filter" name="filtersDate[]" value="lastWeek" id="lastWeek" {% if defaultFiltersByDate == 'lastWeek' %}checked{% endif %}/>
    <label for="lastWeek"><i class="iconNotifYes"></i>créés ces 7 derniers jours</label>
    <input type="radio" class="filter" name="filtersDate[]" value="lastMonth" id="lastMonth" {% if defaultFiltersByDate == 'lastMonth' %}checked{% endif %}/>
    <label for="lastMonth"><i class="iconNotifYes"></i>créés ces 30 derniers jours</label>
</div>
<div class="listCriteriaFormSubLevel">
    <input type="radio" class="filter" name="filtersUserType[]" value="allUsers" id="allUsers" {% if defaultFiltersByUser == 'allUsers' %}checked{% endif %}/>
    <label for="allUsers"><i class="iconNotifYes"></i>tous les profils</label>
    <input type="radio" class="filter" name="filtersUserType[]" value="qualified" id="qualified" {% if defaultFiltersByUser == 'qualified' %}checked{% endif %}/>
    <label for="qualified"><i class="iconNotifYes"></i>élus uniquement</label>
    <input type="radio" class="filter" name="filtersUserType[]" value="citizen" id="citizen" {% if defaultFiltersByUser == 'citizen' %}checked{% endif %}/>
    <label for="citizen"><i class="iconNotifYes"></i>citoyens uniquement</label>
</div>
