<div class="listCriteriaFormSubLevel">
    <input type="radio" class="filter" name="filtersDate[]" value="allDate" id="allDate" checked/>
    <label for="allDate"><i class="iconNotifYes"></i>tous</label>
    <input type="radio" class="filter" name="filtersDate[]" value="lastDay" id="lastDay"/>
    <label for="lastDay"><i class="iconNotifYes"></i>aujourd'hui</label>
    <input type="radio" class="filter" name="filtersDate[]" value="lastWeek" id="lastWeek"/>
    <label for="lastWeek"><i class="iconNotifYes"></i>la semaine dernière</label>
    <input type="radio" class="filter" name="filtersDate[]" value="lastMonth" id="lastMonth"/>
    <label for="lastMonth"><i class="iconNotifYes"></i>le mois dernier</label>
</div>
<div class="listCriteriaFormSubLevel">
    <input type="radio" class="filter" name="filtersUserType[]" value="allUsers" id="allUsers" checked/>
    <label for="allUsers"><i class="iconNotifYes"></i>tous les profils</label>
    <input type="radio" class="filter" name="filtersUserType[]" value="qualified" id="qualified"/>
    <label for="qualified"><i class="iconNotifYes"></i>élus uniquement</label>
    <input type="radio" class="filter" name="filtersUserType[]" value="citizen" id="citizen"/>
    <label for="citizen"><i class="iconNotifYes"></i>citoyens uniquement</label>
</div>
