<input type="radio" class="filter" name="filtersDate[]" value="allDate" id="allDate" checked/>
<label for="allDate"><i class="iconCheck"></i>tous</label>
<input type="radio" class="filter" name="filtersDate[]" value="lastDay" id="lastDay"/>
<label for="lastDay"><i class="iconCheck"></i>aujourd'hui</label>
<input type="radio" class="filter" name="filtersDate[]" value="lastWeek" id="lastWeek"/>
<label for="lastWeek"><i class="iconCheck"></i>la semaine dernière</label>
<input type="radio" class="filter" name="filtersDate[]" value="lastMonth" id="lastMonth"/>
<label for="lastMonth"><i class="iconCheck"></i>le mois dernier</label>
<hr>
<!-- radios: tous / élus / citoyens pour éviter les listes vides -->
<input type="radio" class="filter" name="filtersUserType[]" value="allUsers" id="allUsers" checked/>
<label for="allUsers"><i class="iconCheck"></i>tous les profils</label>
<input type="radio" class="filter" name="filtersUserType[]" value="qualified" id="qualified"/>
<label for="qualified"><i class="iconCheck"></i>élus uniquement</label>
<input type="radio" class="filter" name="filtersUserType[]" value="citizen" id="citizen"/>
<label for="citizen"><i class="iconCheck"></i>citoyens uniquement</label>
