<input type="radio" class="order" name="order" value="bestNote" id="bestNote" checked/>
<label for="bestNote"><i class="iconCheck"></i>meilleures notes</label>
<input type="radio" class="order" name="order" value="mostFollowed" id="mostFollowed"/>
<label for="mostFollowed"><i class="iconCheck"></i>plus suivis</label>
<input type="radio" class="order" name="order" value="last" id="last"/>
<label for="last"><i class="iconCheck"></i>plus récents</label>
