<input type="radio" class="order" name="order" value="bestNote" id="bestNote" checked/>
<label for="bestNote"><i class="iconNotifYes"></i>meilleures notes</label>
<input type="radio" class="order" name="order" value="mostViews" id="mostViews"/>
<label for="mostViews"><i class="iconNotifYes"></i>plus vus</label>
<input type="radio" class="order" name="order" value="last" id="last"/>
<label for="last"><i class="iconNotifYes"></i>plus récents</label>
<input type="radio" class="order" name="order" value="mostReactions" id="mostReactions"/>
<label for="mostReactions"><i class="iconNotifYes"></i>plus de réactions</label>
<input type="radio" class="order" name="order" value="mostComments" id="mostComments"/>
<label for="mostComments"><i class="iconNotifYes"></i>plus de commentaires</label>