<input type="radio" class="order" name="order" value="{{ constant('Politizr\\Constant\\ListingConstants::ORDER_BY_KEYWORD_LAST') }}" id="last" {% if defaultOrder == 'last' %}checked{% endif %}/>
<label for="last"><i class="iconNotifYes"></i>plus récents</label>
<input type="radio" class="order" name="order" value="{{ constant('Politizr\\Constant\\ListingConstants::ORDER_BY_KEYWORD_MOST_FOLLOWED') }}" id="mostFollowed" {% if defaultOrder == 'mostFollowed' %}checked{% endif %}/>
<label for="mostFollowed"><i class="iconNotifYes"></i>plus suivis</label>
<input type="radio" class="order" name="order" value="{{ constant('Politizr\\Constant\\ListingConstants::ORDER_BY_KEYWORD_MOST_ACTIVE') }}" id="mostActive" {% if defaultOrder == 'mostActive' %}checked{% endif %}/>
<label for="mostActive"><i class="iconNotifYes"></i>plus actifs</label>
