<h1>Classement</h1>
<!-- @todo html / css structure + renommage -->
<div id="paginatedList" url="{{ path('RankingDebateList') }}" withFilters="true">
    <div class="listCriteria">
        <!-- listCriteriaTabs > listCriteriaTop -->
        <div class="listCriteriaTabs">
            <form id="listType">
                <input type="radio" class="type" name="type" id="debateType" value="debate" url="{{ path('RankingDebateList') }}" checked/>
                <label for="debateType">publications</label>
                <input type="radio" class="type" name="type" id="userType" value="user" url="{{ path('RankingUserList') }}" />
                <label for="userType">profils</label>
            </form>
        </div>
    </div>
    <!-- id listContent > à supprimer -->
    <!-- loader inside > à supprimer -->
    <div id="listContent" class="modalList withSidebar">
        <!-- est-il possible d'avoir un div au même niveau que listCriteriaTabs pour listCriteriaSideBar? -->
        <!-- + un div en dessous pour les résultats -->
        <div class="listTab postTab withSidebar">
            <div class="listCriteria criteriaSidebar">
                <form id="listOrder">
                </form>

                <form id="listFilter">
                </form>
            </div>
            <div id="resultContent"></div>
        </div>
    </div>

</div>
