<div id="scroll-nav" class="row">
    <div class="col-sm-12 text-center">
        {% if results | length == 10 %}
            <a class="btn btn-primary" action="paginate-next" offset="{{ offset }}">suite</a>
        {% else %}
            <p class="bg-info">Il n'y a plus de résultats</p>
        {% endif %}
    </div>
</div>
