<div id="searchByTag">
    <form class="searchForm">
        <input id="searchInput" class="selectedTag" autofocus="autofocus" type="text" placeholder="Saisissez un tag">
        <input type="hidden" class="selectedTagID" />

        <div class="searchTagList">
        </div>

        <button action="searchByTags">&#xe80c; <span>Lancez votre recherche</span></button>
    </form>
</div>
{% spaceless %}
<div id="paginatedList" class="listContainer" withFilters="true">
    <div class="listCriteria listCriteriaTabs">
        <form id="listType">
            <input type="radio" class="type" name="type" id="debateType" value="debate" url="{% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrPath.html.twig' with {
        'xhrRoute': 'ROUTE_MODAL_SEARCH_DEBATE_BY_TAGS',
        'xhrService': 'modal',
        'xhrMethod': 'searchDebateList',
        'xhrType': 'RETURN_HTML',
    } only %}" checked/>
            <label for="debateType">publications</label>
            <input type="radio" class="type" name="type" id="userType" value="user" url="{% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrPath.html.twig' with {
        'xhrRoute': 'ROUTE_MODAL_SEARCH_USER_BY_TAGS',
        'xhrService': 'modal',
        'xhrMethod': 'searchUserList',
        'xhrType': 'RETURN_HTML',
    } only %}" />
            <label for="userType">profils</label>
        </form>
    </div>
    <div class="listCriteria criteriaSidebar">
        <form id="listOrder"></form>
        <form id="listFilter"></form>
    </div>    
    <div id="listContent" class="modalList withSidebar"></div>
</div>
{% endspaceless %}
