{% spaceless %}
    <div class="modalSidebar">
        <h1>Mes abonnements</h1>
        <div class="listCriteria listCriteriaTabs">
            <form id="listType">
                <input type="radio" class="type" name="type" id="debateType" value="debate" url="{% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrPath.html.twig' with {
                        'xhrRoute': 'ROUTE_MODAL_FOLLOWED_DEBATE_LIST',
                        'xhrService': 'modal',
                        'xhrMethod': 'followedDebateList',
                        'xhrType': 'RETURN_HTML',
                    } only %}" {% if defaultType == constant('Politizr\\Constant\\ObjectTypeConstants::CONTEXT_DEBATE')%}checked{% endif %}/>
                <label for="debateType">débats</label>
                <input type="radio" class="type" name="type" id="userType" value="user" url="{% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrPath.html.twig' with {
                        'xhrRoute': 'ROUTE_MODAL_FOLLOWED_USER_LIST',
                        'xhrService': 'modal',
                        'xhrMethod': 'followedUserList',
                        'xhrType': 'RETURN_HTML',
                    } only %}" {% if defaultType == constant('Politizr\\Constant\\ObjectTypeConstants::CONTEXT_USER')%}checked{% endif %}/>
                <label for="userType">profils</label>
            </form>
            {% include 'PolitizrFrontBundle:PaginatedList:_defaultOrderFilters.html.twig' with { 'defaultOrderFilters': defaultOrderFilters } only %}
        </div>
        <div class="listCriteria criteriaSidebar">
            <form id="listOrder"></form>
            <form id="listFilter"></form>
        </div> 
    </div>
    <div id="paginatedList" class="listContainer" withFilters="true">
        <div id="listContent" class="modalList withSidebar"></div>
    </div>
{% endspaceless %}
