<h1>Suggestions de débats</h1>
<div id="paginatedList" url="{{ path('DailyDebateList') }}">
    <div class="listCriteria">
        <div id="testList">chargement de la liste</div>
        {# @todo refonte js #}
        <div class="modalFiltersTabs">
            <form id="listOrder">
                <input type="radio" name="order" value="last" />dernier
                <input type="radio" name="order" value="bestNote" />mieux notés
                <input type="radio" name="order" value="mostFollowed" />plus suivis
            </form>
        </div>

        <div class="modalChoices">
            <form id="listFilter">
                <input type="checkbox" class="filter" name="filters[]" value="suggestion"/>&nbsp;suggérés
                <input type="checkbox" class="filter" name="filters[]" value="newest"/>&nbsp;les plus récents
                <input type="checkbox" class="filter" name="filters[]" value="qualified" />&nbsp;élus uniquement
            </form>
        </div>
    </div>
    <div id="listContent"></div>
</div>