<h1>Suggestions</h1>
{% spaceless %}
<div id="paginatedList" class="listContainer" url="{% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrPath.html.twig' with {
        'xhrRoute': 'ROUTE_MODAL_SUGGESTION_DEBATE_LIST',
        'xhrService': 'modal',
        'xhrMethod': 'suggestionDebateList',
        'xhrType': 'RETURN_HTML',
    } only %}"
    withFilters="false">
    <div class="listCriteria listCriteriaTabs">
        <form id="listType">
            <input type="radio" class="type" name="type" id="debateType" value="debate" url="{% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrPath.html.twig' with {
        'xhrRoute': 'ROUTE_MODAL_SUGGESTION_DEBATE_LIST',
        'xhrService': 'modal',
        'xhrMethod': 'suggestionDebateList',
        'xhrType': 'RETURN_HTML',
    } only %}" checked/>
            <label for="debateType">publications</label>
            <input type="radio" class="type" name="type" id="userType" value="user" url="{% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrPath.html.twig' with {
        'xhrRoute': 'ROUTE_MODAL_SUGGESTION_USER_LIST',
        'xhrService': 'modal',
        'xhrMethod': 'suggestionUserList',
        'xhrType': 'RETURN_HTML',
    } only %}" />
            <label for="userType">profils</label>
        </form>
    </div>
    <div id="listContent" class="modalList"></div>
</div>
{% endspaceless %}