{% spaceless %}
    <div class="modalSidebar">
        <h1>Suggestions</h1>
        <div class="listCriteria listCriteriaTabs">
            <form id="listType">
                <input type="radio" class="type" name="type" id="debateType" value="debate" url="{% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrPath.html.twig' with {
                        'xhrRoute': 'ROUTE_MODAL_SUGGESTION_DEBATE_LIST',
                        'xhrService': 'modal',
                        'xhrMethod': 'suggestionDebateList',
                        'xhrType': 'RETURN_HTML',
                    } only %}" checked/>
                <label for="debateType">débats</label>

                <input type="radio" class="type" name="type" id="reactionType" value="reaction" url="{% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrPath.html.twig' with {
                        'xhrRoute': 'ROUTE_MODAL_SUGGESTION_REACTION_LIST',
                        'xhrService': 'modal',
                        'xhrMethod': 'suggestionReactionList',
                        'xhrType': 'RETURN_HTML',
                    } only %}"/>
                <label for="reactionType">réactions</label>
                
                <input type="radio" class="type" name="type" id="userType" value="user" url="{% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrPath.html.twig' with {
                        'xhrRoute': 'ROUTE_MODAL_SUGGESTION_USER_LIST',
                        'xhrService': 'modal',
                        'xhrMethod': 'suggestionUserList',
                        'xhrType': 'RETURN_HTML',
                    } only %}" />
                <label for="userType">profils</label>
            </form>
        </div>
        <div class="listCriteria criteriaSidebar">
            <form id="listOrder"></form>
            <form id="listFilter"></form>
        </div> 
    </div>
    <div id="paginatedList" class="listContainer" withFilters="false">
        <div id="listContent" class="modalList withSidebar"></div>
    </div>
{% endspaceless %}
