{% spaceless %}
    <div class="modalSidebar">
        <h1>{{ subject.title }}</h1>
        <div class="listCriteria listCriteriaTabs">
            <form id="listType">
                <input type="radio" class="type" name="type" id="debateType" value="debate" url="{% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrPath.html.twig' with {
                        'xhrRoute': 'ROUTE_MODAL_TAG_DEBATE_LIST',
                        'xhrService': 'modal',
                        'xhrMethod': 'tagDebateList',
                        'xhrType': 'RETURN_HTML',
                    } only %}" checked {% if type == 'debate'%}checked{% endif %}/>
                <label for="debateType">débats</label>

                <input type="radio" class="type" name="type" id="reactionType" value="reaction" url="{% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrPath.html.twig' with {
                        'xhrRoute': 'ROUTE_MODAL_TAG_REACTION_LIST',
                        'xhrService': 'modal',
                        'xhrMethod': 'tagReactionList',
                        'xhrType': 'RETURN_HTML',
                    } only %}" {% if type == 'reaction'%}checked{% endif %}/>
                <label for="reactionType">reactions</label>
                
                <input type="radio" class="type" name="type" id="userType" value="user" url="{% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrPath.html.twig' with {
                        'xhrRoute': 'ROUTE_MODAL_TAG_USER_LIST',
                        'xhrService': 'modal',
                        'xhrMethod': 'tagUserList',
                        'xhrType': 'RETURN_HTML',
                    } only %}" {% if type == 'user'%}checked{% endif %}/>
                <label for="userType">profils</label>
            </form>
        </div>
        <div class="listCriteria criteriaSidebar">
            <form id="listOrder"></form>
            <form id="listFilter"></form>
        </div> 
    </div>
    <div id="paginatedList" class="listContainer" withFilters="true" data-uuid="{{ subject.uuid }}">
        <div id="listContent" class="modalList withSidebar">
    </div>
{% endspaceless %}
