<div class="listTab profileTab">
    {% for user in users %}
        {% include 'PolitizrFrontBundle:User:_listRow.html.twig' with { 'user': user } only %}
    {% endfor %}
</div>
{% include 'PolitizrFrontBundle:PaginatedList:_scrollNav.html.twig' with { 'moreResults': moreResults, 'offset': offset } %}
