<div class="listTab profileTab">
    {% for user in users %}
        {% if user and user.slug %}
            {% include 'PolitizrFrontBundle:User:_listRow.html.twig' with { 'user': user } %}
        {% endif %}
    {% endfor %}
</div>
{% include 'PolitizrFrontBundle:PaginatedList:_scrollNav.html.twig' with { 'moreResults': moreResults, 'offset': offset, 'action': paginateNextAction } %}
