<div class="listTab profileTab">
    {% for user in users %}
        {# @warning /!\ test user to hack suggestion query which return 1 empty element #}
        {% if user and user.slug %}
            {% include 'PolitizrFrontBundle:User:_listRow.html.twig' with { 'user': user } %}
        {% endif %}
    {% endfor %}
</div>
{% include 'PolitizrFrontBundle:PaginatedList:_scrollNav.html.twig' with { 'moreResults': moreResults, 'offset': offset, 'action': paginateNextAction } %}
