{# beta #}
{% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
{% extends layout %}

{% block content %}
    <!--
    <div id="searchBarBox">
        <input id="searchInput" placeholder="Sujets, réponses, utilisateurs...">
    </div>

    <div id="algoliaSearchResults">
        <div id="hits"></div>
        <div id="pagination"></div>
    </div>
    -->

  <main>
      <div id="hits"></div>
      <div id="pagination"></div>
  </main>

{% endblock content %}
