parameters:
    database_driver: mysql
    database_host: localhost
    database_name: 123
    database_user: 123
    database_password: 123
    database_charset: UTF8
    database_dsn: '%database_driver%:host=%database_host%;dbname=%database_name%;charset=%database_charset%'
    mailer_auth_mode:  login
    mailer_port:       25
    mailer_transport:  mail
    mailer_host:       localhost
    mailer_user:       123
    mailer_password:   123
    mailer_encryption: ssl
    locale: fr
    secret: 123

    # Email contact
    contact_email: contact@politizr.com
    support_email: support@politizr.com

    # Hosts
    host.admin: politizr.beta.admin
    host.public: politizr.beta

    # Default request context
    router.request_context.host: politizr.beta
    router.request_context.scheme: http

    # OAuth parameters
    # Facebook
    # https://developers.facebook.com/docs/facebook-login/permissions
    facebook_client_id: 123
    facebook_client_secret: 123
    facebook_scope: public_profile,email
    facebook_page_id: 123
    facebook_graph_version: v2.8
    facebook_access_token: 123456789

    #Twitter
    twitter_api_key: 123
    twitter_api_secret: 123

    # Google
    google_client_id: 123
    google_client_secret: 123
    google_scope: email profile

    # ID Check
    idcheck_wsdl_url: http://www.wsdl.com
    idcheck_login: 123
    idcheck_password: 123

    # Public content: public | private | we | 30
    private_mode: public

    public_user_ids: [ 3, 315 ]
    