parameters:
    database_driver: mysql
    database_host: localhost
    database_name: 123
    database_user: 123
    database_password: 123
    database_charset: UTF8
    database_dsn: '%database_driver%:host=%database_host%;dbname=%database_name%;charset=%database_charset%'

    mailer_auth_mode:  login
    mailer_port:       25
    mailer_transport:  mail
    mailer_host:       localhost
    mailer_user:       123
    mailer_password:   123
    mailer_encryption: ssl

    locale: fr
    secret: 123

    # Hosts
    host.admin: politizr.beta.admin
    host.public: politizr.beta

    # Default request context
    router.request_context.host: politizr.beta
    router.request_context.scheme: http

    # Config parameters
    session_name: session_name
    feed_title: 'Nouvelles publications'
    feed_description: 'Nouvelles publications'
    feed_author: 'Auteur'
    http_cache_base_url: www.monsite.com
    cookie_name: REMEMBERME

    # Algolia
    algolia_search: false
    algolia_app_id: APPID
    algolia_admin_api_key: API_KEY
    algolia_search_api_key: API_KEY
    algolia_index_name: POLITIZR

    # OAuth parameters
    openid_connexion: false
    
    # Facebook
    # https://developers.facebook.com/docs/facebook-login/permissions
    facebook_admin_ids: '123'
    facebook_client_id: 123
    facebook_client_secret: 123
    facebook_scope: public_profile,email
    facebook_page_id: 123
    facebook_graph_version: v2.8
    facebook_access_token: 123456789
    facebook_pixelcode_id: false

    #Twitter
    twitter_api_key: 123
    twitter_api_secret: 123

    # Google
    google_client_id: 123
    google_client_secret: 123
    google_scope: email profile

    google_tagmanager_id: GTM-123

    google_ga_view_id: 123

    # ID Check
    idcheck_wsdl_url: http://www.wsdl.com
    idcheck_login: 123
    idcheck_password: 123

    # Public content: public | private | we | 30
    private_mode: public

    public_user_ids: [ 3, 315 ]
    
    # HTML Purifier customized service
    exercise_html_purifier.config.class: Politizr\FrontBundle\Lib\HtmlPurifierConfig

    # client
    # Contact Support
    contact_email: contact@politizr.com
    contact_phone: 123
    support_email: support@politizr.com
    sender_email: ne-pas-repondre@domain.com

    client_name: Bien Dit

    # META
    meta_title: Mon projet
    meta_description: Une description succinte et précise de mon projet
    meta_og_image: share_facebook.jpg
    meta_og_site_name: Mon projet
    meta_og_title: Mon projet
    meta_og_description: Une description succinte et précise de mon projet
    meta_og_url: http://politzr.monprojet
    meta_tw_site: null
    meta_tw_title: Mon Projet
    meta_tw_description: Une description succinte et précise de mon projet

    # Localization
    geo_active: false

    # Utilisateurs
    mandate_active: false

    # Mode standard ou "consultation unique"
    global_mode: standard # standard | oneshot

    # Inscription public ou connexion uniquement
    global_access : public # public | private

    # Niveau d'expression
    expression_from_scratch: false # true | false
    
    # Menu
    top_menu_cms: true # true | false
    top_menu_publications: true # true | false
    top_menu_community: true # true | false

    # Libellé du menu "Nos consultations"
    group_label: "Nos consultations"

    # Useful to force cache browser reload
    assets_version: 1.0.0 