<div class="docList">
    <h5>Documents à télécharger</h5>
    {% for document in documents %}
        <a href="{{ asset('uploads/'~document.name) }}"><i class="icon-goto"></i>{{ document.title }}</a><br/>
    {% endfor %}
</div>
