<tr style="background-color: #FFFFFF; width: 100%; padding-bottom: 20px;">
    <td style="padding: 0 40px 0 40px; line-height: 140%;" valign="top">
        {% spaceless %}
        {% if followers|length > 1 %}
            {% for follower in followers %}
                <a href="{{ follower['authorUrl'] }}">{{ follower['author'] }}</a>
                {% if loop.revindex == 2 %}
                    et
                {% elseif not loop.last %}
                    ,
                {% endif %}
            {% endfor %}
            suivent désormais votre activité.
        {% else %}
            <a href="{{ followers[0]['authorUrl'] }}">{{ followers[0]['author'] }}</a> suit désormais votre activité.
        {% endif %}
        {% endspaceless %}
    </td>
</tr>