<tr style="background-color: #FFFFFF; width: 100%;">
    <td colspan="2" style="float:left; width: calc(100% - 80px); padding: 40px 0; margin: 0 40px; line-height: 180%;">
        {% spaceless %}
        {% if followers|length > 1 %}
            {% for follower in followers %}
                <a href="{{ follower['authorUrl'] }}" style="color: #2D2D2D">{{ follower['author'] }}</a>
                {% if loop.revindex == 2 %}
                    et
                {% elseif not loop.last %}
                    ,
                {% endif %}
            {% endfor %}
            suivent désormais votre activité.
        {% else %}
            <a href="{{ followers[0]['authorUrl'] }}" style="color: #2D2D2D">{{ followers[0]['author'] }}</a> suit désormais votre activité.
        {% endif %}
        {% endspaceless %}
    </td>
</tr>