<tr style="background-color: #FFFFFF; width: 100%;">
    <td colspan="2" style="padding: 0 40px 15px 40px;  line-height: 180%;">
        <b>Au sujet de votre publication:</b> <a href="{{ url }}" style="font-family: Georgia, Times, serif; font-size: 13px; text-decoration: none; color: #2D2D2D"><span style="color: #2D2D2D">"{{ title }}"</span></a>.
    </td>
</tr>
