<tr style="background-color: #FFFFFF; width: 100%;">
    <td colspan="2" style="padding: 18px 0 40px 40px;">
        <a href="{{ url }}" style="text-decoration: none; color: #e56c40; padding-left: 16px; background-image: url({{ absolute_url(asset('bundles/politizrfront/imagesMail/iconGoTo.jpg')) }}); background-repeat: no-repeat; background-position: left center;"><span style="color: #e56c40"><b>Afficher</b></span></a>
    </td>
</tr>
