<td width="40" style="padding: 0 20px 40px 40px;" valign="top">
    <a href="{{ authorUrl }}" target="_blank" class="avatar40" style="width: 40px; height: 40px; margin-top: 3px; display: block; overflow: hidden; background-size: cover; background-position: center center; {{ author | photo(email = true) }}"></a>
</td>
