<tr style="background-color: #FFFFFF; width: 100%; padding-bottom: 20px;">
    {% include 'PolitizrFrontBundle:Notification\\MessageEmail:_emailAuthorPhoto.html.twig' with {'author': author, 'authorUrl': authorUrl } only %}
    <td style="padding: 0 40px 0 40px; line-height: 140%;" valign="top">
        <b>{% include 'PolitizrFrontBundle:Notification\\MessageEmail:_emailAuthorName.html.twig' with {'author': author, 'authorUrl': authorUrl } only %} a envoyé une notification:</b>
        <br>
        {{ notification.description | raw }}
    </td>
</tr>
{% include 'PolitizrFrontBundle:Notification\\MessageEmail:_emailNotificationFooter.html.twig' with {'url': url} only %}
