<tr style="background-color: #FFFFFF; width: 100%; padding-bottom: 20px;">
    <td width="40" style="padding: 0 20px 40px 40px;" valign="top">
        <img src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/politizrfront/images/default_avatar.jpg') }}" />
    </td>
    <td style="padding: 0 40px 0 40px; line-height: 140%;" valign="top">
        <b><span style="color: #2D2D2D">L'administrateur</span> a envoyé une notification:</b>
        <br>
        {{ notification.description | raw }}
    </td>
</tr>
{% include 'PolitizrFrontBundle:Notification\\MessageEmail:_emailNotificationFooter.html.twig' with {'url': url} only %}
