{% include 'PolitizrFrontBundle:Notification\\MessageEmail:_emailNotificationHeader.html.twig' with {'document': document} only %}
{% include 'PolitizrFrontBundle:Notification\\MessageEmail:_emailSubject.html.twig' with {'url': documentUrl, 'title': document.title } only %}
<tr style="background-color: #FFFFFF; width: 100%; padding-bottom: 20px;">
    {% include 'PolitizrFrontBundle:Notification\\MessageEmail:_emailAuthorPhoto.html.twig' with {'author': author, 'authorUrl': authorUrl } only %}
    <td style="padding: 0 40px 0 40px; line-height: 140%;" valign="top">
        <b>{% include 'PolitizrFrontBundle:Notification\\MessageEmail:_emailAuthorName.html.twig' with {'author': author, 'authorUrl': authorUrl } only %} a fait le commentaire suivant:</b>
        <br>
        {% include 'PolitizrFrontBundle:Notification\\MessageEmail:_emailContent.html.twig' with {'url': url, 'description': title} only %}
    </td>
</tr>
{% include 'PolitizrFrontBundle:Notification\\MessageEmail:_emailNotificationFooter.html.twig' with {'url': url} only %}
