{% extends_admingenerated "PolitizrAdminBundle:PCircleList:row.html.twig" %}

{% block list_td_column_logo_file_name %}
    {% if PCircle.logoFileName %}
        <img src="{{ asset('/uploads/circles/'~PCircle.logoFileName) | imagine_filter('admin_banner_thumb') }}" alt="{{ PCircle.title }}">
    {% endif %}
{% endblock list_td_column_logo_file_name %}

{% block object_action_moveup %}
    {% spaceless %}
        {% if not PCircle.isFirst() %}
            <a class="btn btn-default btn-xs" href="{{ path("Politizr_AdminBundle_PCircle_object", { 'pk': PCircle.Id, action: 'moveUp' }) }}" 
                data-original-title="{% trans from "Admin" %}+Bas{% endtrans %}" rel="tooltip">
                <i class="fa fa-fw fa-arrow-down"></i>
            </a>
        {% endif %}
    {% endspaceless %}
{% endblock object_action_moveup %}

{% block object_action_movedown %}
    {% spaceless %}
        {% if not PCircle.isLast() %}
            <a class="btn btn-default btn-xs" href="{{ path("Politizr_AdminBundle_PCircle_object", { 'pk': PCircle.Id, action: 'moveDown' }) }}" 
                data-original-title="{% trans from "Admin" %}+Haut{% endtrans %}" rel="tooltip">
                <i class="fa fa-fw fa-arrow-up"></i>
            </a>
        {% endif %}
    {% endspaceless %}
{% endblock object_action_movedown %}