{# beta #}
<div class="card">
    {{ circleCardHeader(comment = comment) }}
    {% include 'PolitizrFrontBundle:User:_summary.html.twig' with { 'user': comment.user, 'withSocialLinks': false, 'withMandates': false } only %}
    <div class="commentInCard">
        {{ comment | linkParentDocument }}
    </div>
    <div class="actionsBox">
        <div class="notation withLoaderInside">
            {% include 'PolitizrFrontBundle:Reputation:_noteAction.html.twig' with { 'subject': comment } only %}
        </div>
    </div>
    <div class="coloredBg">
        <h5>{% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'subject': comment } only %}</h5>
        {{ comment | itemContextComment }}
    </div>
</div>
