{# beta #}
<div class="paragraphCommentsHolder paragraphHolder" uuid="{{ document.uuid }}" type="{{ document.type }}" noParagraph="{{ paragraphNo }}">
    <div class="paragraphComments">
        <div class="commentsCounter{% if document.countComments(true, paragraphNo) %} withComment{% endif %}" action="comments">
            <span>{{ document | nbComments(paragraphNo) | purify }}</span>
            <i class="icon-comment-full"></i>
        </div>
        <div class="bubblesComments withLoaderInside" style="display: none;">
            {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
            <div class="commentsContent"></div>
        </div>
    </div>
</div>
