<span id="commentMode" mode="{% if app.user %}connected{% else %}public{% endif %}" />
{% if paragraphContext == 'paragraph' %}
    <div class="commentsCounter{% if document.countComments(true, paragraphNo) %} withComment{% endif %}{% if active %} activeComment{% endif %}" action="{% if app.user %}comments{% else %}createAccountToComment{% endif %}">
        <span>{{ document | nbComments(paragraphNo) | purify }}</span>
        <i class="icon-comment-full"></i>
    </div>
{% else %}
    <span action="{% if app.user %}globalComments{% else %}createAccountToComment{% endif %}">
        <i class="icon-comment"></i>
        {{ document | nbComments(0, label = true) | purify }}
    </span>
{% endif %}