{% if paragraphContext == 'paragraph' %}
    <div class="commentsCounter{% if document.countComments(true, paragraphNo) %} withComment{% endif %}{% if active %} activeComment{% endif %}" action="comments">
        <span>{{ document | nbComments(paragraphNo) | purify }}</span>
        <i class="icon-comment-full"></i>
    </div>
{% else %}
    <span action="globalComments">
        <i class="icon-comment"></i>
        {{ document | nbComments(0, label = true) | purify }}
    </span>
{% endif %}