<div class="commentsCounter" action="comments" subjectId="{{ document.id }}" type="{{ document.type }}" noParagraph="{{ paragraphNo }}">
    {{ document | nbComments(paragraphNo) }}<i class="iconComment"></i>
</div>
