{# beta #}
<div class="comment">
    {% include 'PolitizrFrontBundle:User:_summary.html.twig' with { 'user': comment.user, 'withSocialLinks': false, 'withMandates': false } only %}
    <div class="commentText">
        {{ comment.description | purify | converturls }}
    </div>
    <div class="coloredBg">
        <div class="actionsBox">
            <div class="notation withLoaderInside">
                {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
                {% include 'PolitizrFrontBundle:Reputation:_noteAction.html.twig' with { 'subject': comment } only %}
            </div>
        </div>
        <h5>
            <span>{% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'subject': comment } only %}</span>
            {% include 'PolitizrFrontBundle:Monitoring:_classicAbuse.html.twig' with { 'subject': comment } only %}
        </h5>
    </div>
</div>
