<div class="commentsItem commentsPostAuthor">
    <div class="signalAbuse" action="modalOpen">
        <i class="iconAlert"></i>
    </div>
    <div class="avatar40">
        {{ comment.user | photo('user_40') }}
    </div>
    <div class="commentsContent withLoaderInside">
        {% include 'PolitizrFrontBundle:Comment:_comment.html.twig' with { 'comment': comment } only %}
    </div>
</div>