{# beta #}
{% if paragraphContext == 'global' %}
    {% if app.user %}
        {{ app.user | isAuthorizedToNewComment(formComment, document.uuid) }}
    {% endif %}
{% else %}
    <div class="bubbCommArrow"><i class="icon-arrow-left"></i></div>
    <div class="bubbCommTop">
        <div class="bubblesCommentsHeader">
            <span action="closeComments">Masquer<i class="icon-cross"></i></span>
        </div>
        {% if app.user %}
            {{ app.user | isAuthorizedToNewComment(formComment, document.uuid) }}
        {% endif %}
    </div>
{% endif %}

{% for comment in comments %}
    {% include 'PolitizrFrontBundle:Comment:_detail.html.twig' with { 'comment': comment } %}
{% else %}
    <div class="noComment">Aucun commentaire pour le moment.</div>
{% endfor %}
