<div class="commentsItem {% if comment.user.id == app.user.id %}commentsPostAuthor{% elseif comment.user.qualified %}commentsOfficial{% else %}commentsUser{% endif %}">
    {% include 'PolitizrFrontBundle:Monitoring:_abuseLink.html.twig' with { 'uuid': comment.uuid, 'type': comment.type } only %}

    <div class="avatar40">
        {{ comment.user | photo('user_40') }}
    </div>
    <div class="commentsContent withLoaderInside">
        {% include 'PolitizrFrontBundle:Comment:_comment.html.twig' with { 'comment': comment } only %}
    </div>
</div>