<div class="commentsClose" action="closeComments">fermer<i class="iconCross"></i></div>

<div class="commentsEditNew">
    <div class="avatar40">
        {{ app.user | photo('user_40') }}
    </div>
    {{ app.user | isAuthorizedToNewComment(formComment, document.uuid) }}
</div>

<div class="commentsList withLoaderInside">
    <div class="ajaxLoader" style="display: none;">
        <div class="ajaxLoaderSpinner"></div><div class="ajaxLoaderBg"></div><div class="ajaxLoaderBlockClick"></div>
    </div>
    {% for comment in comments %}
        {% include 'PolitizrFrontBundle:Comment:_listRow.html.twig' with { 'comment': comment } %}
    {% endfor %}
</div>

<div class="commentsClose" action="closeComments">fermer<i class="iconCross"></i></div>