
.iconAdd:before { content: '\e800'; } /* '' */
.iconAlert:before { content: '\e801'; } /* '' */
.iconArrowDown:before { content: '\e802'; } /* '' */
.iconArrowLeft:before { content: '\e803'; } /* '' */
.iconTimeline:before { content: '\e804'; } /* '' */
.iconTime:before { content: '\e805'; } /* '' */
.iconSwitchRight:before { content: '\e806'; } /* '' */
.iconSwitchLeft:before { content: '\e807'; } /* '' */
.iconStat:before { content: '\e808'; } /* '' */
.iconSocialTw:before { content: '\e809'; } /* '' */
.iconSocialGg:before { content: '\e80a'; } /* '' */
.iconSocialFb:before { content: '\e80b'; } /* '' */
.iconSearch:before { content: '\e80c'; } /* '' */
.iconRemove:before { content: '\e80d'; } /* '' */
.iconReaction:before { content: '\e80e'; } /* '' */
.iconRanking:before { content: '\e80f'; } /* '' */
.iconQuote:before { content: '\e810'; } /* '' */
.iconQuestion:before { content: '\e811'; } /* '' */
.iconPublish:before { content: '\e812'; } /* '' */
.iconPrefs:before { content: '\e813'; } /* '' */
.iconPltzrP:before { content: '\e814'; } /* '' */
.iconPltzrLogo:before { content: '\e815'; } /* '' */
.iconPltzrLogoAlt:before { content: '\e816'; } /* '' */
.iconNow:before { content: '\e817'; } /* '' */
.iconNotePlus:before { content: '\e818'; } /* '' */
.iconNoteMinus:before { content: '\e819'; } /* '' */
.iconNoteLightPlus:before { content: '\e81a'; } /* '' */
.iconNoteLightMinus:before { content: '\e81b'; } /* '' */
.iconMove:before { content: '\e81c'; } /* '' */
.iconLink:before { content: '\e81d'; } /* '' */
.iconInfo:before { content: '\e81e'; } /* '' */
.iconGoTo:before { content: '\e81f'; } /* '' */
.iconGear:before { content: '\e820'; } /* '' */
.iconEdit:before { content: '\e821'; } /* '' */
.iconDuplicate:before { content: '\e822'; } /* '' */
.iconDuo:before { content: '\e823'; } /* '' */
.iconDraft:before { content: '\e824'; } /* '' */
.iconCup:before { content: '\e825'; } /* '' */
.iconCross:before { content: '\e826'; } /* '' */
.iconCrossInSquare:before { content: '\e827'; } /* '' */
.iconCopyright:before { content: '\e828'; } /* '' */
.iconComment:before { content: '\e829'; } /* '' */
.iconCheck:before { content: '\e82a'; } /* '' */
.iconCheckInSquare:before { content: '\e82b'; } /* '' */
.iconCheckInCircle:before { content: '\e82c'; } /* '' */
.iconCamera:before { content: '\e82d'; } /* '' */
.iconCalendar:before { content: '\e82e'; } /* '' */
.iconBookmark:before { content: '\e82f'; } /* '' */
.iconArrowUp:before { content: '\e830'; } /* '' */
.iconArrowRight:before { content: '\e831'; } /* '' */
.iconSpin5:before { content: '\e832'; } /* '' */
.iconNotifYes:before { content: '\e833'; } /* '' */
.iconNotifNo:before { content: '\e834'; } /* '' */
.iconMenu:before { content: '\e835'; } /* '' */