<form id="listType">
    <input type="radio" class="mapFilter" name="mapFilterDate[]" value="{{ constant('Politizr\\Constant\\ListingConstants::FILTER_KEYWORD_ALL_DATE') }}" id="mapAllDate" {% if filters == null or 'allDate' in filters%}checked{% endif %}/>
    <label for="mapAllDate">tous</label>
    <input type="radio" class="mapFilter" name="mapFilterDate[]" value="{{ constant('Politizr\\Constant\\ListingConstants::FILTER_KEYWORD_LAST_MONTH') }}" id="mapLastMonth" {% if 'lastMonth' in filters%}checked{% endif %}/>
    <label for="mapLastMonth">depuis 1 mois</label>
    <input type="radio" class="mapFilter" name="mapFilterDate[]" value="{{ constant('Politizr\\Constant\\ListingConstants::FILTER_KEYWORD_LAST_WEEK') }}" id="mapLastWeek" {% if 'lastWeek' in filters %}checked{% endif %}/>
    <label for="mapLastWeek">depuis 1 semaine</label>
</form>
