<form id="listType">
    <input type="radio" class="tagFilter" name="tagFilterDate[]" value="allDate" id="tagAllDate" {% if filters == null or 'allDate' in filters%}checked{% endif %}/>
    <label for="tagAllDate">tous</label>
    <input type="radio" class="tagFilter" name="tagFilterDate[]" value="lastMonth" id="tagLastMonth" {% if 'lastMonth' in filters%}checked{% endif %}/>
    <label for="tagLastMonth">depuis 1 mois</label>
    <input type="radio" class="tagFilter" name="tagFilterDate[]" value="lastWeek" id="tagLastWeek" {% if 'lastWeek' in filters %}checked{% endif %}/>
    <label for="tagLastWeek">depuis 1 semaine</label>
</form>