<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['circonscription10'] }}"><img src="{{ asset('bundles/politizrfront/images/maps/fdeCirco10.png') }}" alt="Circo10"/></a>
