<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['circonscription7'] }}"><img src="{{ asset('bundles/politizrfront/images/maps/fdeCirco7.png') }}" alt="Circo7"/></a>
