<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['circonscription5'] }}"><img src="{{ asset('bundles/politizrfront/images/maps/fdeCirco5.png') }}" alt="Circo5"/></a>
