<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['circonscription8'] }}"><img src="{{ asset('bundles/politizrfront/images/maps/fdeCirco8.png') }}"/></a>
