<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['circonscription6'] }}"><img src="{{ asset('bundles/politizrfront/images/maps/fdeCirco6.png') }}" alt="Circo6"/></a>
