{% set organizations = user.currentOrganizations %}
{% for organization in organizations %}
    <div class="organization" action="modalOrganization" model="PQOrganization" slug="{{ organization.slug }}">{{ organization.initials }}</div>
{% endfor %}