{% if user %}
    <a href="{{ path('UserDetail'~profileSuffix(), { 'slug': user.slug }) }}" class="{% if isFollowed is defined and isFollowed %}followedMember{% endif %}">
        {{ user }}
    </a>
{% else %}
    utilisateur supprimé
{% endif %}
