{# @todo twig helper + branchement modal #}
{% set organizations = user.currentOrganizations %}
{% for organization in organizations %}
    <!-- @todo html/css: parti > organization -->
    <div class="organization" action="openPartiSheet">{{ organization.initials }}</div>
    {#
    <a href="{{ path('Organization', { 'slug': organization.slug }) }}">
        <img src="{{ asset('uploads/organizations/'~organization.fileName) | imagine_filter('organization_mini') }}" alt="{{ organization.initials }}">
    </a>
    #}
{% endfor %}
