{# beta #}
<div class="profileName">
    <div class="profileNameHolder">
        {% if user %}
            <a href="#" action="bubbleProfile" uuid="{{ user.uuid }}">{{ user }}</a>
            {% include 'PolitizrFrontBundle:User:_bubbleUser.html.twig' with { 'user': user } only %}
        {% else %}
            <i>utilisateur supprimé</i>
        {% endif %}
    </div>
    {% include 'PolitizrFrontBundle:User:_authorOrganization.html.twig' with { 'user': user } only %}
</div>
