{% if user and user.isQualified %}
    {% set organizations = user.currentOrganizations %}
    {% for organization in organizations %}
        <div class="organization" action="modalOrganization" model="PQOrganization" uuid="{{ organization.uuid }}">{{ organization.initials }}</div>
    {% endfor %}
{% endif %}
