{# beta #}
{% if user.biography | length > 0 or (app.user and app.user.id != user.id) or (app.user is null) %}
    <div class="profileBio">
        {% include 'PolitizrFrontBundle:User:_certification.html.twig' with { 'user': user } only %}
        {{ user.biography | purify }}
    </div>
{% elseif app.user and app.user.id == user.id %}
    <div class="profileBio defaultBio">
        {% include 'PolitizrFrontBundle:User:_certification.html.twig' with { 'user': user } only %}
        Prenez 5 minutes pour <a href="{{ path('EditProfile'~profileSuffix())}}">modifier et compléter votre profil</a>. Merci!
    </div>
{% endif %}