{# beta #}
<div class="miniProfile">
    {% if user %}
        <div class="avatar40">{{ user | photo('user_40') }}</div>
        <div class="profilenInfo">
            <div class="profileName">
                <a href="{{ path('UserDetail', { 'slug': user.slug }) }}" class="{% if isFollowed is defined and isFollowed %}followedMember{% endif %}">
                    {{ user }}
                </a>
                {% include 'PolitizrFrontBundle:User:_authorOrganization.html.twig' with { 'user': user } only %}
            </div>
            <div class="profileBio">
                {% include 'PolitizrFrontBundle:User:_certification.html.twig' with { 'user': user } only %}
                {{ user.biography | truncate(60, true) | purify }}
            </div>
        </div>
    {% else %}
        <div class="deletedAccount">utilisateur supprimé</div>
    {% endif %}
</div>