<div class="bubblesProfile withLoaderInside" style="display: none">
    {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
    <div class="bubbleContent">
        Une bien belle bubble vide
    </div>
</div>
