{# beta #}
<div class="bubblesProfile withLoaderInside" style="display: none">
    {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
    <div class="bubbleContent"></div>
    <div class="bubbArrow"><i class="icon-arrow-down"></i></div>
</div>
