{# beta #}
<div class="bubbTop">
    {% include 'PolitizrFrontBundle:User:_bubbleMiniProfile.html.twig' %}
    <div class="profileStats">
        {{ user | nbFollowers }} • {{ user | nbSubscribers }}<br>
        {{ user | nbPublications }}
    </div>  

    <div class="miniActions">
        {% include 'PolitizrFrontBundle:Follow:_actionFollow.html.twig' with { 'subject': user } only %}
    </div>
</div>
<div class="bubbBottom">
    {% include 'PolitizrFrontBundle:Reputation:_badgesCounter.html.twig' %}
</div>
