<div class="bubbTop">
    {% include 'PolitizrFrontBundle:User:_bubbleMiniProfile.html.twig' %}
    <div class="profileStats">
        34 abonnés • 2.1K abonnements<br>
        132 publications
    </div>  

    <div class="miniActions">
        includes/actionFollow
    </div>
</div>
<div class="bubbBottom">
    <span class="badgesCounter">
        <span class="badgesCounterGold">2</span>
        <span class="badgesCounterSilver">5</span>
        <!-- <span class="badgesCounterBronze">9</span> -->
    </span>
</div>
<div class="bubbArrow"><i class="icon-arrow-down"></i></div>
