{# beta #}
<div class="card">
    <div class="miniProfile">
        {% include 'PolitizrFrontBundle:User:_summary.html.twig' with { 'user': user, 'withSocialLinks': false, 'withMandates': false } only %}
    </div>
    <div class="coloredBg">
        <div class="activity">Bienvenue dans notre communauté!</div>
        <h5>{% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'subject': user } only %}</h5>
        <div class="cardInfo">
            Pour bien démarrer, nous vous invitons à compléter votre <a href="{{ path('EditProfile'~profileSuffix()) }}">profil</a> pour gagner de la visibilité sur notre plateforme.<br/><br/>
            Au plaisir de vous lire,<br>
            — L’équipe {{ client.name }}
        </div>
    </div>
</div>
