{# beta #}
<div class="cardProfile card">
    {% include 'PolitizrFrontBundle:User:_summary.html.twig' with { 'user': user, 'withSocialLinks': true, 'withMandates': true } only %}
    <div class="coloredBg">
        <div class="profileStats">
            {{ user | nbFollowers }} • {{ user | nbSubscribers }} • {{ user | nbPublications }}
        </div>
        {% include 'PolitizrFrontBundle:Reputation:_badgesCounter.html.twig' %}
        {% include 'PolitizrFrontBundle:Follow:_actionFollow.html.twig' with { 'subject': user } only %}
    </div>
</div>
