{# beta #}
<div class="profileCard">
    {% include 'PolitizrFrontBundle:User:_summaryAuthor.html.twig' with { 'user': user } only %}
    {% if user.isQualified %}
        <div class="profileMandats">
            {% include 'PolitizrFrontBundle:User:_mandates.html.twig' with { 'user': user, 'mandates': user.mandates } only %}
        </div>
    {% endif %}
    <div class="profileActions">
        <div class="profileStats">
            {{ user | nbFollowers }} • {{ user | nbSubscribers }}<br>
            {{ user | nbPublications }}
        </div>
        <div class="miniActions">
            <div class="actionFollow withLoaderInside">
                {% include 'PolitizrFrontBundle:Follow:_subscribeAction.html.twig' with { 'subject': user } only %}
            </div>
        </div>
    </div>
    {% include 'PolitizrFrontBundle:Reputation:_badgesCounter.html.twig' %}
</div>
