<div class="profileInList">
    <div class="avatar40">
        {{ user | photo('user_40') }}
    </div>
    <div class="profileSummary">
        <div class="profileName">
            {% include 'PolitizrFrontBundle:User:_authorName.html.twig' with { user: user } only %}
            {% include 'PolitizrFrontBundle:User:_authorOrganization.html.twig' with { user: user } only %}
        </div>
        <div class="profileSubtitle">{{ user.subtitle | purify }}</div>
    </div>      
</div>
{% if miniProfile %}
    <a href="{{ path('UserDetail'~profileSuffix(), { 'slug': user.slug }) }}" class="modalItemShow">
        <i class="iconGoTo"></i>Afficher
    </a>
    <div class="subscribe{% if app.user.id == user.id %} noSelfSubscribe{% endif %}">
        {{ user | linkSubscribeUser }}
    </div>
{% endif %}
