<div class="modalItem listProfile">
    <div class="listProfileOfficial">
        <div class="avatar40">
            {{ user | photo('user_40') }}
        </div>
        <div class="listProfileRight">
            <div class="authorName">
                {% include 'PolitizrFrontBundle:User:_authorName.html.twig' with { 'user': user } only %}
            </div>
            <div class="authorInAFewWords">
                {% include 'PolitizrFrontBundle:User:_authorMandate.html.twig' with { user: user } only %}
            </div>
        </div>
    </div>
    <div class="subscribe listProfileFollow">
        {{ user | linkSubscribeUser }}
    </div>
</div>