<div class="modalItem listProfile">
    <div id="profileHeader">
        {% include 'PolitizrFrontBundle:User:_header.html.twig' with { 'user': user } only %}
    </div>
    <div class="subscribe{% if app.user.id == user.id %} noSelfSubscribe{% endif %}">
        {{ user | linkSubscribeUser }}
    </div>
    <a href="{{ path('UserDetail', { 'slug': user.slug }) }}" class="modalItemShow">
        <i class="iconGoTo"></i>Afficher
    </a>
</div>