<div class="modalItem listProfileOneCol">
    <div class="listProfileOfficial">
        <div class="avatar40">
            {{ user | photo('user_40') }}
        </div>
        <div class="listProfileRight">
            <div class="authorName">
                {% include 'PolitizrFrontBundle:User:_authorName.html.twig' with { 'user': user } only %}
            </div>
            <div class="authorInAFewWords">
                {% include 'PolitizrFrontBundle:User:_authorMandate.html.twig' with { user: user } only %}
            </div>
        </div>
    </div>
    <div class="listProfileFollow">
        {% include 'PolitizrFrontBundle:Navigation:_ajaxLocalLoader.html.twig' %}
        <div class="subscribe">
            {{ user | linkSubscribeUser }}
        </div>
    </div>
</div>