<div class="modalItem listProfile">
    <div class="{% if user.isQualified %}listProfileOfficial{% else %}listProfileDefault{% endif %}">
        <div class="avatar40">
            {{ user | photo('user_40') }}
        </div>
        <div class="listProfileRight">
            <div class="authorName">
                {% include 'PolitizrFrontBundle:User:_authorName.html.twig' with { 'user': user } only %}
                {% include 'PolitizrFrontBundle:User:_authorOrganization.html.twig' with { user: user } only %}
            </div>
            <div class="authorSubtitle">
                {{ user.subtitle | raw }}
            </div>
        </div>
    </div>
    <a href="{{ path('UserDetail', { 'slug': user.slug }) }}" class="modalItemShow">
        <i class="iconGoTo"></i>Afficher
    </a>
    <div class="subscribe">
        {{ user | linkSubscribeUser }}
    </div>
</div>