{# beta #}
<div class="sidebarProfileEdition"> 
    <div class="sidebarProfileAction">
        <div class="actionSave withLoaderInside saved">
            {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
            <a action="userProfileUpdate"><i class="icon-draft"></i>Enregistrer</a>
        </div>
        <div class="secondaryActions">
            <a href="{{ path('UserDetail', {'slug': app.user.slug}) }}">Voir mon profil</a>
        </div>
    </div>
    
    <div class="sidebarEditTag">
        <h5>Thématiques suivies</h5>
        <div class="notice">
            <i class="icon-info"></i>Associez au moins <b>une thématique géographique (Monde, Europe, France, une région ou un département)</b>  à votre profil pour nous permettre de vous suggérer des contenus pertinents.
        </div>
        {{ userTagsEdit(user, null, 1, true) }}
    </div>
</div>
