{# beta #}
<div class="sidebarProfile">
    {% include 'PolitizrFrontBundle:User:_card.html.twig' with { 'user': user, 'withSocialLinks': true } only %}
    {% if app.user and app.user.id != user.id %}
        <div class="sidebarAction">
            <div class="sidebarFollow">
                {% include 'PolitizrFrontBundle:Follow:_actionFollow.html.twig' with { 'subject': user } only %}
            </div>
        </div>
    {% endif %}

    {% if app.user and app.user.id == user.id %}
        <div class="sidebarAction">
            <div class="sidebarEditProfile">
                <a href="{{ path('EditProfile'~profileSuffix())}}"><i class="icon-edit"></i>Modifier mon profil</a>
            </div>
        </div>
    {% endif %}

    <div class="sidebarBadges withLoaderInside">
        {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
        {% if (app.user and app.user.id == user.id) or (not user.qualified) %}
            <h5 id="reputationScore">-</h5>
        {% else %}
            <h5>Badges</h5>
        {% endif %}
        <div id="userBadges" uuid="{{ user.uuid }}" class="badgesList"></div>
    </div>

    <div class="sidebarUserFollowers withLoaderInside">
        {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
        <h5>Abonnés</h5>
        <div id="userFollowers" uuid="{{ user.uuid }}"></div>
    </div>
    <div class="sidebarUserSubscribers withLoaderInside">
        {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
        <h5>Abonnements</h5>
        <div id="userSubscribers" uuid="{{ user.uuid }}"></div>
    </div>
    {% include 'PolitizrFrontBundle:Tag:_sidebarFollowedTags.html.twig' with {'uuid': user.uuid} only %}
</div>
