{# beta #}
<div class="sidebarAccountEdition"> 
    {% if not isGrantedE() %}
        Utilisez un pseudonyme pour anonymiser vos données sur notre plateforme.
        <br/><br/>
    {% endif %}
    Consultez nos <a action="openCgu">Conditions Générales d'Utilisation</a> pour plus d'informations sur le traitement de vos données personnelles ou envoyez un mail au <a href="mailto: {{ support.email }}">support</a>.
</div>
