{# beta #}
{% if total > 0 %}
    <div class="subscribersList">
        {% for user in users %}
            <div class="subscribersListItem">
                {% include 'PolitizrFrontBundle:User:_summaryMini.html.twig' with { 'user': user } only %}
            </div>
        {% endfor %}
    </div>
    {% if total > constant('Politizr\\Constant\\ListingConstants::LISTING_LAST_USER_SUBSCRIBERS') %}
        <div class="linkListSubscribers">
            {# <a action="listingContentUserSubscribers" uuid="{{ user.uuid }}"> #}
            <a href="{{ path('ListingUserSubscribers', {'slug': user.slug}) }}">Voir toute la liste</a>
        </div>
    {% endif %}
{% else %}
    <h5>Cet auteur ne suit personne.</h5>
{% endif %}
