{% for notif in notifs %}
    <div class="notifItem {% if notif.checked %}viewedNotif{% endif %} withLoaderInside">
        <div class="ajaxLoader" style="display: none;">
            <div class="ajaxLoaderSpinner"></div>
            <div class="ajaxLoaderBg"></div>
            <div class="ajaxLoaderBlockClick"></div>
        </div>
        {{ notif | linkedNotification }}
    </div>
{% else %}
    <div class="notifItem withLoaderInside">
        <div class="notifItemContent">Aucune notification</div>
    </div>
{% endfor %}
