{% for notif in notifs %}
    <div class="notifItem withLoaderInside">
        <div class="ajaxLoader" style="display: none;"><i class="iconSpin5 animateSpin"></i><div class="ajaxLoaderBg"></div></div>
        <div class="notifItemHeader"><i class="iconDuo"></i>{{ notif.createdAt | localizeddate('medium', 'short', app.request.locale, "Europe/Paris", "EEEE d MMMM à HH'h'mm" ) | capitalize }}<i class="iconCross"></i></div>
        <div class="notifItemContent">
            <span {% if not notif.checked %}class="notifHighlight"{% endif %} subject-id="{{ notif.id }}">
                {{ notif | linkedNotification }}
            </span>
            <span>
                <i {% if not notif.checked %}action="notificationCheck" title="Marquer comme lu"{% else %}title="Lu"{% endif %}></i>
            </span>
        </div>
    </div>
{% else %}
    <tr>
        <td colspan="2">
            <p class="bg-info">Vous n'avez aucune notification.</p>
        </td>
    </tr>
{% endfor %}
