<div class="notifItemHeader">
    <i class="{% include 'PolitizrFrontBundle:Notification:_notificationIcon.html.twig' %}"></i>
    {{ notification.createdAt | localizeddate('medium', 'short', app.request.locale, "Europe/Paris", "EEEE d MMMM à HH'h'mm" ) | capitalize }}
    {% if not notification.checked %}
        <i action="notificationCheck" class="iconCheck" uuid="{{ notification.uuid }}"></i>
    {% endif %}
</div>
<div class="notifItemContent">
    <span {% if not notification.checked %}class="notifHighlight"{% endif %} uuid="{{ notification.uuid }}">
        {% include 'PolitizrFrontBundle:Notification:_notificationMessage.html.twig' with { 'type': constant('Politizr\\Constant\\NotificationConstants::TYPE_SCREEN')} %}
    </span>
</div>
