<div class="notifItemHeader">
    <i class="{% include 'PolitizrFrontBundle:Notification:_notificationIcon.html.twig' %}"></i>
    {{ notification.createdAt | localizeddate('medium', 'short', app.request.locale, "Europe/Paris", "EEEE d MMMM à HH'h'mm" ) | capitalize }}
    {% if not notification.checked %}
        <i action="notificationCheck" class="iconCross" subjectId="{{ notification.id }}"></i>
    {% endif %}
</div>
<div class="notifItemContent">
    <span {% if not notification.checked %}class="notifHighlight"{% endif %} subjectId="{{ notification.id }}">
        {% include 'PolitizrFrontBundle:Notification:_notificationMessage.html.twig' %}
    </span>
</div>
