<div id="notifications" class="withLoaderInside" style="display: none;">
    <div class="ajaxLoader" style="display: none;"><i class="icon-spin5 animate-spin"></i><div class="ajaxLoaderBg"></div></div>
    <div class="pad40">
        <div id="notifHeader">
            <div class="notifMarkAllAsRead" action="notification-check-all"><i class="icon-check"></i>tout marquer comme vu</div>
            <div class="notifClose">fermer<i class="icon-arrow-up"></i></div>
        </div>
        
        <div id="notif-list"></div>

        <div id="notifFooter">
            <div class="notifMarkAllAsRead" action="notification-check-all"><i class="icon-check"></i>tout marquer comme vu</div>
            <div class="notifClose">fermer<i class="icon-arrow-up"></i></div>
        </div>
    </div>
</div>
