<div id="gmaps-widget">
	<div class="gmwclearfix">
		<div class="gmwinput gmwinput-positioned">
	    	<label>Adresse : </label><input id="gmwaddresspicker_map" />
	    	<br/><br/>
		</div>
		<div class="gmwmap-wrapper">
			<div id="gmwmap"></div>
			<div id="gmwlegend"><a id="resize_gmaps">Recadrage de la carte</a><br/>Pour choisir des coordonnées GPS, saisissez une adresse et/ou positionnez le curseur à l'adresse choisie. En cas de mise à jour manuelle des informations GPS, vous pouvez <a id="update_position">cliquez ici pour mettre à jour</a> le curseur de la carte pour vérification.</div>
		</div>
	</p>
</div>