<div class="share">
    <span>Partager sur</span>
    <a action="share-gg" url="{{ uri }}" class="shareGG" href=""><i class="icon-social-gg"></i></a>
    <a action="share-fb" url="{{ uri }}" class="shareFB" href=""><i class="icon-social-fb"></i></a>
    <a action="share-tw" url="{{ uri }}" tweetText="#Politizr..." class="shareTW" href=""><i class="icon-social-tw"></i></a>
</div>