{# beta #}
<div class="share">
    <span>Partager sur</span>
    <a action="shareFB" url="{{ uri }}" class="shareFB"><i class="icon-social-fb"></i>Facebook</a>
    <a action="shareTW" url="{{ tinyUri }}" tweetText="{{ tweet }}" class="shareTW"><i class="icon-social-tw"></i>Twitter</a>
    <a class="shareWA" href="https://wa.me/?text={{ uri }}"><i class="icon-social-wa"></i>WhatsApp</a>
</div>
