{# beta #}
<div class="share">
    <span>Partager sur</span>
    <a action="shareFB" url="{{ uri }}" class="shareFB"><i class="icon-social-fb"></i></a>
    <a action="shareTW" url="{{ tinyUri }}" tweetText="{{ tweet }}" class="shareTW"><i class="icon-social-tw"></i></a>
    <a action="shareGG" url="{{ uri }}" class="shareGG"><i class="icon-social-gg"></i></a>
</div>