@import "../_global/colors";

.headerLogo {
	float: left;
	width: 200px;
	margin-top: 22px;
}

.headerLogo a {	
	color: $semiGrey;
	float: right;
	margin: 0 20px 0 0;
}
.headerLogo i.iconPltzrLogo {	font-size: 24px;}
.headerLogo i.iconPltzrLogo:hover {	color: $darkGrey}

#headerCenter {
	float: left;
	width: 618px;
	margin: 18px 0 0 0;
	padding: 12px 40px 0 40px;
	border-left: solid 1px $semiGrey;
	border-right: solid 1px $semiGrey;
	height: 30px;
	font-family: nerissemibold;
	font-size: 10px;
	text-transform: uppercase;
	color: $semiGrey;
}

#linkRanking, #linkNotifications, #linkSuggestions, #linkSubscriptions {
	margin-right: 18px;
	display: inline-block;
	position: relative;	cursor: pointer;
}
#linkRanking { padding-left: 15px;}
#linkSuggestions { padding-left: 8px;}

#headerCenter i {
	font-size: 7px;
	position: absolute;
	top: 0;
	left: -2px;
}

#headerCenter i.iconRanking {
	font-size: 13px;
	top:-1px;
}

#linkNotifications {color: $highlight; position: relative;}
#linkRanking:hover, #linkNotifications:hover, #linkSuggestions:hover, #linkSubscriptions:hover {	color: $darkGrey;}

#linkSubscriptions {padding-left: 10px; margin-right: 0;}
#notifCounter {
	position: absolute;
	right: -7px;
	top: -6px;
	background-color: $highlight;
	font-family: 'nerisblack';
	color: #fff;
	line-height: 100%;
	padding: 2px 4px;
	font-size: 9px;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;	
}
#linkNotifications:hover #notifCounter { background-color: $darkGrey; }

#headerCenter #logged {
	float: right;
	width: 210px;
	text-align: right;
	text-transform: none;
	color: $darkGrey;
	position: relative;
	padding-right: 20px;
}

#logged a {	color:$semiGrey;}
#logged a:hover  {	color: $darkGrey;}

#logged #fameCounter {
	background-color: $semiGrey;
	font-family: 'nerisblack';
	color: #fff;
	line-height: 100% !important;
	margin-left: 4px;
	padding: 1px 2px;
	font-size: 9px;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;		
}
#logged #fameCounter:hover { background-color: $darkGrey; cursor: pointer; color: #fff !important;}

#headerCenter .avatar15 {
	position: absolute;
	right: 0;
	top: -1px;
}

#headerRight {
	float: left;
	width: 60px;
	height: 60px;
	position: relative;
}

#linkMenuPreferences {
	float: left;
	margin: 30px 0 0 20px;
	position: relative;
	cursor: pointer;
	color: $semiGrey;
}

#linkMenuPreferences:hover {	color: $darkGrey;}

#linkMenuPreferences i {	position: absolute;}

#linkMenuPreferences i.iconGear {
	font-size: 10px;
	padding-right: 3px;
	left: 0;
	top: 0;
}

#linkMenuPreferences i.iconArrowDown, #linkMenuPreferences i.iconArrowUp {	
	font-size: 6px;
	left: 14px;
	top: 1px;
}

#hideMenuPreferences {
	color: $darkGrey;
}