@import "../_global/colors";

// overlays

body.noscroll {
	overflow: hidden;
}

.modal {
	position: fixed;
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 20000;
	width: 100%;
	height: 100%;
}

.modal .wrapper {
	position: static;
	float: left;
	width: 100%;
	height: 100%;
	overflow: scroll;
}

.modalBg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #fff;
}

.modalHeader {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	color: $semiGrey;
}

.modalHeader .headerLogo {	width: auto; }
.modalHeader .headerLogo a { float: left;margin: 0;}

.modalClose {
	float: right;
	margin-top: 24px;
	text-transform: uppercase;
	font-family: nerissemibold;
    font-weight: 200;
	font-size: 10px;
	position: relative;
	padding-right: 10px;
	cursor: pointer;
}

.modalClose i {
	position: absolute;
	right: -2px;
	font-size: 7px;
}

.modalClose:hover {color: $darkGrey;}

.modal h1 {
	text-align: center;
	line-height: 100%;
	padding: 0;
	margin: 60px 0 0 0;
	font-family: nerislight;
	font-size: 40px;
	font-weight: normal;
}

.modal h1 {
	width: 100%;
	float: left;
	clear: both;
}

.modal .followers h1 { margin-bottom: 60px;}
.modal .myfollowers h1 { margin-top: 0; margin-bottom: 60px;}
.modal .reputation h1 { margin-bottom: 40px;}


// no results

.noResults {
	float: left;
	width: 100%;
	clear: both;
	font-family: nerislight;
	font-size: 14px;
	text-align: center;
	margin-top: 40px;
}

.noResultsSuggestionSentence {
	font-size: 10px;
	color: $highlight;
	text-transform: uppercase;
    font-family: 'nerissemibold';
    float: left;
    width: 100%;
    clear: both;
    text-align: center;
    margin: 20px 0 -20px 0;
}

// actions box error, succes, alert

#infoBoxHolder {
	position: fixed; 
	top: 0; 
	left: 0;
	z-index: 20500;
}

.boxSuccess, .boxError, .boxAlert {
	top: 20px;
	left: 20px;
	padding: 20px;
	margin-bottom: 20px;
	width: 240px;
	color: #fff;
	font-family: nerissemibold;
	line-height: 160%;
	position: relative;
	-moz-box-shadow: 0px 0px 20px 0px #656565;
	-webkit-box-shadow: 0px 0px 20px 0px #656565;
	-o-box-shadow: 0px 0px 20px 0px #656565;
	box-shadow: 0px 0px 20px 0px #656565;
}

.boxSuccess a, .boxError a, .boxAlert a { text-decoration: underline; color: inherit;}

.boxSuccess {background-color: $success;}
.boxError {background-color: $error;}
.boxAlert {background-color: $alert;}

.notifBoxText {	width: 220px;}

.boxSuccess i, .boxError i, .boxAlert i {
	position: absolute;
	right: 20px;
	top: 17px;
	font-size: 8px;
	-moz-opacity: 0.60;
	opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	filter:alpha(opacity=60);
	cursor: pointer;
}

.boxSuccess i:hover, .boxError i:hover, .boxAlert i:hover {
	-moz-opacity: 1;
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	filter:alpha(opacity=100);
}

// copyright

#copyrightBox {
	position: absolute;
	padding: 20px;
	width: 280px;
	background: $darkGrey;
	color: #fff;
	font-size: 12px;
	font-family: 'Merriweather Italic';
    font-style: italic;
	right: -20px;
	top:25px;	
	-moz-box-shadow: 0px 0px 20px 0px #000000;
	-webkit-box-shadow: 0px 0px 20px 0px #000000;
	-o-box-shadow: 0px 0px 20px 0px #000000;
	box-shadow: 0px 0px 20px 0px #000000;
}

#copyrightBox i {
	position: absolute;
	right: 18px;
	top: -10px;
	color: $darkGrey;
	font-size: 12px;
}

#copyrightBox a {color: $highlight;}
#copyrightBox a:hover {color: #fff;}

// organization sheet

#organizationSheetLogo {
	width: 100%;
	text-align: center;
	float: left;
	padding-top: 40px;
	margin-bottom: -40px;
}

#organizationSheetLogo img {
	height: 80px;
	width: auto;
}

.organizationSheetInitials {
	float: left;
	width: 100%;
	clear: both;
	text-align: center;
	margin: 10px 0 40px 0;
}

.organizationSheetInitials .organization {background-color: $darkGrey;}

.wikiSample {
	width: 620px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	overflow: hidden;
	height: 12em;
	position: relative;
	font-size: 15px;
	line-height: 200%;
}

.wikiSampleMask {
	width: 620px;
	height: 8em;
	position: absolute;
	bottom: 0;
	text-align: center;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.wikiLink {
	float: left;
	width: 100%;
	text-align: center;
    margin: 40px 0 30px 0;	
}

.wikiLink a {	
	display: inline-block;
	font-size: 10px;
	text-transform: uppercase;
    font-family: 'nerisblack';
    color: $darkGrey;
}

.wikiLink a:hover {color: $highlight;}
.organizationSheet .listCriteria.criteriaSidebar, .organizationSheet #listContent {padding-top: 60px;}

// reputation et badges

#reputationPoints, #modalReputationChart, #modalBadges {
	width: 700px;
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

#reputationPoints {
	font-size: 40px;
	text-align: center;	
    font-family: 'nerisblack';
    margin-bottom: 60px;
    line-height: 100%;
}

#modalBadges { margin-bottom: 80px;}

.modalBadgeItem {
	width: calc(700px - 80px);
	padding: 40px;
	clear: both;
	background: $lightGrey;
	margin-bottom: 30px;
}
.modalBadgeItem:last-child {margin-bottom: 0;}

.modalBadgeItem h3 {
    font-family: 'nerissemibold';
	font-weight: normal;
	font-size: 10px;
	text-transform: uppercase;
	margin: 0 0 20px 0;
	padding: 0 0 5px 0;
	border-bottom: solid 1px $semiDarkGrey;
}

.badgeDescription {
	float: left;
	width: 100%;
	clear: both;
	font-style: italic;
	font-family: 'Merriweather Italic';	
	margin-bottom: 8px;
}

.badgeProgressBar {
	width: 100%;
	clear: both;
	height: 20px;
	background-color: $semilightGrey;
	margin-bottom: 30px;
}
.badgeProgressBar:last-child {margin-bottom: 0;}

.badgeAcquired {
	float: left;
    font-family: 'nerissemibold';
	font-weight: normal;
	font-size: 10px;
	line-height: 100%;
	text-transform: uppercase;
	color: #fff;
	background-color: $highlight;
	padding: 5px;
	border-right: solid 1px $semilightGrey;
}

.badgeAcquired.badgeStepOne, .badgeAcquired.badgeStepTwo {width: calc(33.3% - 11px); }
.badgeAcquired.badgeStepThree {width: calc(33.2% - 10px); border-color: $highlight; }
.badgeAcquired.badgeOneStep {width: calc(100% - 10px);  border: none;}


// reputation

#modalReputationChart {
	margin-bottom: 80px;
}
#modalReputationChart .modalChartLegend {
	width: calc(100% - 80px);
	padding: 0 40px;
}
#modalReputationChart .chartNavPrev {	left: 45px;}
#modalReputationChart .chartNavNext {	right: 30px;}

.chartReputationLine {
	width: calc(100% - 80px);
	padding: 0 40px;
	position: relative;
}

canvas#reputationLine {
	height: 300px;
	height: 620px;
	font-size: 8px;
}

// my followers

#modalMyFollowersChart {
	width: 700px;
	clear: both;
	margin: 0 auto 60px auto;
	padding-top: 60px;
}

#statsHeader {
	width: 100%;
	display: inline-block;
}

// my followers counters

#statsCounters {
	float: left;
	width: 165px;
	padding: 20px 40px 20px 0;
	border-right: solid 1px $semiGrey;
	text-align: center;
	font-family: 'nerisblack';	
}

#followersCounter { font-size: 40px; }

#followersCounter span {
	clear: both;
   	display: inline-block;
   	width: 100%;
	font-size: 12px;
    font-family: 'nerislight';
    margin: 15px 0 30px 0;
}

#visitsCounter {
	width: 100%;
	position: relative
}

#visitsCounterPrev, #visitsCounterNext {
	position: absolute;
	top:0;
	height: 44px;
	font-size: 6px;
	z-index: 4000;
	cursor: pointer;
	width: 49%;
}
#visitsCounterPrev i, #visitsCounterNext i { position: absolute; top: 15px;}
#visitsCounterPrev, #visitsCounterPrev i {left: 0;}
#visitsCounterNext, #visitsCounterNext i {right: 0;}
#visitsCounterPrev:hover, #visitsCounterNext:hover {color: $highlight;}

.visitsCounterItem {
	font-size: 20px;
	width: 100%;
}

.visitsCounterItem span {
	clear: both;
   	display: inline-block;
   	width: 100%;
	font-size: 12px;
    font-family: 'nerislight';
    margin: 5px 0 0 0;
}

// my followers gender

.noStats {
	float: left;
	font-size: 12px;
    font-family: 'nerislight';
    padding: 70px 0 0 40px;
}

#visitsGender {
	width: 90px;
	padding: 13px 40px;
	float: left; 
	font-size: 10px;
    font-family: 'nerissemibold';
    text-transform: uppercase;
    text-align: center;
    line-height: 100%;
}

#visitsGender span:first-child {color: #94b1b4;}
#visitsGender span:last-child {color: #b99abf;}

canvas#myFollowersGender {
	width: 90px;
	height: 90px;
	margin: 5px 0;
}

// my followers age

#visitsAge {
	width: calc(100% - 376px);
	float: right;}

canvas#myFollowersAge {
	width: 100%;
	height: 135px;	
}

// my followers line

#modalMyFollowersChart .modalChartLegend {
	width: 100%;
	padding: 0;
}
#modalMyFollowersChart .chartNavPrev {	left: 0;}
#modalMyFollowersChart .chartNavNext {	right: 0;}

#modalMyFollowersChart h2 {
	text-align: center;
	font-family: 'nerisblack';
	font-weight: normal;
	font-size: 10px;
	margin: 0 0 40px 0;
	text-transform: uppercase;
}

#myFollowersStats {
	width: 620px;
	padding: 40px 40px 35px 40px;
	margin-top: 60px;
	background: $lightGrey;
	clear: both;
	margin-left: auto;
	margin-right: auto;
}	

.chartMyFollowersLine {
	width: 100%;
	position: relative;
}

canvas#myFollowersLine {
	height: 300px;
	height: 620px;
}

#modalMyFollowersChart .chartDotHighlight:last-child { color: #cb8f7a;}

// charts generics

.chartNavPrev, .chartNavNext {
	position: absolute;
	bottom: 10px;
	cursor: pointer;
	color: $anotherGrey;
	font-size: 6px;
}
.chartNavPrev:hover, .chartNavNext:hover {
	color: $darkGrey;
}
 
.modalChartLegend {
    font-family: 'nerissemibold';
	font-size: 10px;
	color: $darkGrey;
	margin-bottom: 20px;
	float: left;
}

.chartTitle {float: left;}
.chartDotHighlight {
	float: left;
	color: $highlight;
	margin-left: 20px;
}
.chartDotHighlight i { font-size: 6px; margin-right: 2px;}