<div id="op" class="editBannerClassicItem miniHeader">
    <div class="center">
        <div class="imgEditBanner">
            <img src="{{ asset('bundles/politizrfront/images/classicEditBanner.jpg') }}" alt="Politizr, exprimez-vous!">
        </div>
        <div class="txtEditBanner">
            <p>Exprimez-vous !</p>
            <p>
                Vous souhaitez dénoncer des abus ou simplement partager vos opinions politiques?<br/>
                Un sujet vous tient particulièrement a cœur?<br/>
                Vous voulez encourager une initiative?<br/>
                Vous avez des questions à poser à vos élus locaux?<br/>
            </p>
            <p>Lancez-vous, vous êtes à la bonne place!</p>
        </div>
    </div>
    <div class="bgLeftEditBanner"></div>
    <div class="bgRightEditBanner"></div>
</div>