<div id="editionHeader" class="{% if app.user.qualified %}representativeEdit{% else %}citizenEdit{% endif %}">
    <div class="center">
        <div class="editionHeaderText">
            {% if app.user.qualified %}
                <p>
                    Vous souhaitez partager votre action avec vos concitoyens?<br/>
                    Vous voulez encourager une initiative?<br/>
                    Vous vous posez une question sur un dossier technique?<br/>
                </p>
                <p class="noteEditionHeader"><i class="icon-info"></i>Rédigez votre brouillon ici et spécifiez son zonage géographique au moment de sa publication pour toucher vos concitoyens et d'autres élus!</p>
            {% else %}
                <p>
                    Vous souhaitez partager vos opinions?<br/>
                    Un sujet vous tient particulièrement à coeur?<br/>
                    Vous voulez encourager une initiative?<br/>
                    Vous avez des questions à poser à vos élus locaux?<br/>
                </p>
                <p class="noteEditionHeader"><i class="icon-info"></i>Rédigez votre brouillon ici et spécifiez son zonage géographique au moment de sa publication pour toucher vos concitoyens et vos élus!</p>
            {% endif %}
        </div>
    </div>
    <div class="bgLeftEditionHeader"></div>
    <div class="bgRightEditionHeader"></div>
</div>
