{% if boost == constant('Politizr\\Constant\\DocumentConstants::WB_OK') %}
    Merci pour votre intérêt: nous nous occupons de l'opération dès réception de votre paiement.
{% else %}
    C'est noté, merci!
{% endif %}
<br/>
<a action="closeBox">Fermer</a>