<div class="bookmarkBox center withLoaderInside">
    {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
    {% include 'PolitizrFrontBundle:Document:_bookmarkBoxDocument.html.twig' %}
</div>
