{% if boost == constant('Politizr\\Constant\\DocumentConstants::WB_OK') %}
    Merci pour votre intérêt: nous vous enverrons prochainement un email détaillant notre offre!
{% else %}
    C'est noté, merci!
{% endif %}
<br/>
<a action="closeBox">Fermer</a>