<div id="copyrightHolder">
    <i class="iconCopyright" action="showCopyright"></i>
    <div id="copyrightBox" style="display: none;" action="showCopyright">
        <i class="iconArrowUp"></i>
        {{ copyright }}
    </div>
</div>