<div class="noticeBox">
    {% if not app.user %}
        <span>
            <a href="{{ path('InscriptionChoice') }}">Inscrivez-vous</a> pour participer au débat.
        </span> 
    {% elseif qualified %}
        <span class="withActionAnswer">
            <b>En tant qu'{{ app.user | typeGender | lower }}, vous pouvez publier une réponse à cette publication.</b><br> 
            Cette fonctionnalité est exclusivement réservée aux élu-e-s et au citoyen-ne auteur du sujet si sa réputation est d'au moins {{ constant('Politizr\\Constant\\ReputationConstants::ACTION_REACTION_WRITE') }} points.
        </span>
        {% include 'PolitizrFrontBundle:Reaction:_actionNew.html.twig' with { 'document': document } only %}
    {% elseif owner %}
        <span class="withActionAnswer">             
            En tant qu'auteur du sujet original, vous pouvez publier une réponse à cette publication.
        </span>
        {% include 'PolitizrFrontBundle:Reaction:_actionNew.html.twig' with { 'document': document } only %}
    {% else %}
            Seuls les élu-e-s et l'auteur du sujet peuvent publier une réponse à cette publication, mais vous pouvez vous exprimer en publiant votre commentaire sur ce sujet.
    {% endif %}
</div>
