{# beta #}
<div class="similarSubjects">
    <h5>Sujets similaires</h5>

    {% for document in documents %}
        {% include 'PolitizrFrontBundle:Document:_cardContent.html.twig' with { 'document': document, 'withImg': false, 'mini': false, 'summary': true } only %}
    {% else %}
        {% include 'PolitizrFrontBundle:PaginatedList:_noResult.html.twig' only %}
    {% endfor %}
</div>