{% spaceless %}    
    {% for localization in localizations %}
        <a href="{{ path('ListingSearchPublications', { 'slug': localization.slug }) }}">{{ localization }}&nbsp;</a>
    {% endfor %}
{% endspaceless %}