{% for document in documents %}
    {% if document.type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_DEBATE') %}
        {% include 'PolitizrFrontBundle:Debate:_myDebate.html.twig' with { 'debate': document } %}
    {% elseif document.type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_REACTION') %}
        {% include 'PolitizrFrontBundle:Reaction:_myReaction.html.twig' with { 'reaction': document } %}
    {% endif %}
{% endfor %}

<div id="timelineScrollNav">
    {% if moreResults %}
        <div id="moreResults" class="waypoint" action="listingPaginatedNext" offset="{{ offset }}"></div>
        {#<a id="moreResults" action="listingPaginatedNext" offset="{{ offset }}">suite</a>#}
    {% endif %}
</div>