{% for document in documents %}
    {% if document.type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_DEBATE') %}
        {% include 'PolitizrFrontBundle:Debate:_draft.html.twig' with { 'debate': document } %}
    {% elseif document.type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_REACTION') %}
        {% include 'PolitizrFrontBundle:Reaction:_draft.html.twig' with { 'reaction': document } %}
    {% endif %}
{% endfor %}

<div id="timelineScrollNav">
    {% if moreResults %}
        <a id="moreResults" class="waypoint" action="listingPaginatedNext" offset="{{ offset }}">suite</a>
    {% endif %}
</div>