{# beta #}
<div class="sidebarTopPosts">
    <form id="tagFilter">
        <input type="hidden" name="documentFilterDate[]" value="{{ constant('Politizr\\Constant\\ListingConstants::FILTER_KEYWORD_LAST_MONTH') }}" />
    </form>
    <h5>Top<a href="{{ path('ListingByRecommend') }}" class="linkListTags">Classement complet</a></h5>
    <div class="documentList withLoaderInside">
    </div>
</div>