{# beta #}
<div class="statTime"><i class="icon-time"></i>{{ document | readingTime }}</div>
<div class="statViews"><i class="icon-graph"></i>{{ document | nbViews }}</div>
<div class="statComments"><i class="icon-comment"></i>{{ document | nbComments }}</div>
<div class="statLoc">{{ document | localizations }}</div>