<div id="topic" class="bannerItem miniHeader">
    <div class="center">
        <div class="txtTopic">
            <div class="txtTopic">
                <i class="icon-grp"></i>{{ owner.title }}
                {% if (circle.PCircleTypeId == constant('Politizr\\Constant\\CircleConstants::CIRCLE_TYPE_STANDARD')) %}
                    <span>Rédigez ici vos opinions ou questions sur le sujet de <b>{% if nbTopics > 1 %}"{{ topic.title }}"{% else %}"{{ circle.title }}"{% endif %}</b>.</span>
                {% elseif (circle.PCircleTypeId == constant('Politizr\\Constant\\CircleConstants::CIRCLE_TYPE_BUDGETPART')) %}
                    <span>Rédigez ici vos propositions pour le budget participatif{% if nbTopics > 1 %} sur le sujet <b>"{{ topic.title }}"</b>{% endif %}.</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="bgLeftTopic"></div>
    <div class="bgRightTopic"></div>
</div>
