<div id="topic" class="bannerItem miniHeader topic-{{ topic.uuid }}">
    <div class="center">
        <div class="txtTopic">
            Rédigez ici vos opinions ou questions sur le sujet de <b>"{{ topic.title }}"</b>.
        </div>
    </div>
    <div class="bgLeftTopic"></div>
    <div class="bgRightTopic"></div>
</div>