<div id="topic" class="bannerItem miniHeader">
    <div class="center">
        <div class="txtTopic">
            <div class="txtTopic">
                <i class="icon-grp"></i>{{ owner.title }}
                <span>Rédigez ici vos opinions ou questions sur le sujet de <b>"{{ topic.title }}"</b>.</span>
            </div>
        </div>
    </div>
    <div class="bgLeftTopic"></div>
    <div class="bgRightTopic"></div>
</div>
