{% extends is_granted('ROLE_CITIZEN') ? 'PolitizrFrontBundle::layoutC.html.twig':'PolitizrFrontBundle::layout.html.twig' %}

{% block connexionBox %}
	{% if not is_granted('ROLE_CITIZEN') %}
	    {{ render(controller('PolitizrFrontBundle:Security:login')) }}
	{% endif %}
{% endblock %}

{% block main %}
	{% include 'PolitizrFrontBundle:Fragment:OverlayZen.html.twig' %}
	{% include 'PolitizrFrontBundle:Fragment:DebateBlock.html.twig' with { 'debate': debate } %}
	<div class="debateReactionsFeed">
		{% for reaction in debate.reactions %}
			{% include 'PolitizrFrontBundle:Fragment:ReactionFeed.html.twig' with { 'linkDebate': false, 'pDocument': reaction, 'reactionTo': reaction.reactionTo, 'globalComments': reaction.globalComments } only %}
		{% else %}
			<div id="noResult">
				Aucune réaction pour le moment
			</div>
		{% endfor %}
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
    {% include 'PolitizrFrontBundle:JS:debateDetail.js.twig' %}
    
    {% include 'PolitizrFrontBundle:JS:overlayZen.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:debateBlock.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:follow.js.twig' %}

    {% include 'PolitizrFrontBundle:JS:login.js.twig' %}
{% endblock javascriptFooter %}
