{% set layout = 'PolitizrFrontBundle::layout.html.twig' %}
{% if (is_granted('ROLE_ELECTED')) %}
	{% set layout = 'PolitizrFrontBundle::layoutE.html.twig' %}
{% elseif (is_granted('ROLE_CITIZEN')) %}
	{% set layout = 'PolitizrFrontBundle::layoutC.html.twig' %} 
{% endif %}
{% extends layout %}

{% block connexionBox %}
	{% if not is_granted('ROLE_PROFILE_COMPLETED') %}
	    {{ render(controller('PolitizrFrontBundle:Security:login')) }}
	{% endif %}
{% endblock %}

{% block main %}
	<div id="main" class="container">
		{% include 'PolitizrFrontBundle:Fragment:DebateBlock.html.twig' with { 'debate': debate, 'full': true } %}
		{% if is_granted('ROLE_ELECTED') %}
			{# TODO / message indiquant si des réactions courantes sont déjà en cours de réaction pour ce débat par le user courant #}
			<div class="row text-center">
				<a class="btn btn-danger" href="{{ path('ReactionDraftNew', { 'debateId': debate.id, 'parentId': null }) }}">Réagir</a>
			</div>
			<hr>
		{% endif %}
		<div class="row text-center">
			<a class="btn btn-primary" href="{{ path('DebateFeed', { 'id': debate.id, 'slug': debate.slug }) }}">Fil du débat</a>
		</div>
		<hr>		
		<div class="debate-comments">
			{% for comment in debate.document.comments %}
				{% include 'PolitizrFrontBundle:Fragment:Comment.html.twig' with { 'comment': comment, 'docLink': false } %}
				<hr>
			{% else %}
				<div class="no-result">
					Aucun commentaire pour le moment
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
    
    {% include 'PolitizrFrontBundle:JS:follow.js.twig' %}
	{% include 'PolitizrFrontBundle:JS:followers.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:notation.js.twig' %}

    {% include 'PolitizrFrontBundle:JS:login.js.twig' %}
{% endblock javascriptFooter %}
