{% set layout = 'PolitizrFrontBundle::layout.html.twig' %}
{% if (isGrantedE()) %}
	{% set layout = 'PolitizrFrontBundle::layoutE.html.twig' %}
{% elseif (isGrantedC()) %}
	{% set layout = 'PolitizrFrontBundle::layoutC.html.twig' %} 
{% endif %}
{% extends layout %}

{% block main %}
	<div id="main" class="container">
		{% include 'PolitizrFrontBundle:Fragment\\Debate:DetailDraft.html.twig' with { 'debate': debate, 'paragraphs': paragraphs } %}
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
    {% include 'PolitizrFrontBundle:JS:debatePublishDelete.js.twig' %}
{% endblock javascriptFooter %}
