{% set layout = 'PolitizrFrontBundle::layout.html.twig' %}
{% if (is_granted('ROLE_ELECTED')) %}
	{% set layout = 'PolitizrFrontBundle::layoutE.html.twig' %}
{% elseif (is_granted('ROLE_CITIZEN')) %}
	{% set layout = 'PolitizrFrontBundle::layoutC.html.twig' %} 
{% endif %}
{% extends layout %}

{% block main %}
	<div id="main" class="container">
		{% include 'PolitizrFrontBundle:Fragment:DebateDraftBlock.html.twig' with { 'debate': debate } %}
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
    {% include 'PolitizrFrontBundle:JS:debatePublishDelete.js.twig' %}
    
    {% include 'PolitizrFrontBundle:JS:follow.js.twig' %}
	{% include 'PolitizrFrontBundle:JS:followers.js.twig' %}
{% endblock javascriptFooter %}
