{% extends 'PolitizrFrontBundle::layoutConnected.html.twig' %}

{% block main %}
    <div id="publicationsList">
        <h1>Brouillons</h1>

        {% if nbDrafts == 0 %}
            <div id="noPublications">Vous n'avez rédigé aucun brouillon.</div>
        {% else %}
            <div id="listContent">
            </div>
        {% endif %}
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}
    
    {% if nbDrafts > 0 %}
        {% include 'PolitizrFrontBundle:JS\\Document:myContributions.js.twig' with { 'xhrRoute': 'ROUTE_DOCUMENT_DRAFTS', 'xhrMethod': 'draftsPaginated' } %}
    {% endif %}
{% endblock javascriptFooter %}
