{% extends 'PolitizrFrontBundle::layoutE.html.twig' %}

{% block main %}
	<div id="main" class="container">
		{% include 'PolitizrFrontBundle:Fragment\\Reaction:DetailDraft.html.twig' with { 'reaction': reaction, 'paragraphs': paragraphs } %}
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
    {% include 'PolitizrFrontBundle:JS:reactionPublishDelete.js.twig' %}
{% endblock javascriptFooter %}
