{% set layout = 'PolitizrFrontBundle::layout.html.twig' %}
{% if (isGrantedE()) %}
    {% set layout = 'PolitizrFrontBundle::layoutE.html.twig' %}
{% elseif (isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutC.html.twig' %} 
{% endif %}
{% extends layout %}

{% block connexionBox %}
    {% if not is_granted('ROLE_PROFILE_COMPLETED') %}
        {{ render(controller('PolitizrFrontBundle:Security:login')) }}
    {% endif %}
{% endblock %}

{% block main %}
    <div id="main">
        {% include 'PolitizrFrontBundle:Fragment\\User:Detail.html.twig' with { 'user': user } only %}
        <div class="border-row">&nbsp;</div>
        <div id="author-debates-block">
            <h1>Liste des débats rédigés</h1>
            {% for debate in debates %}
                {% include 'PolitizrFrontBundle:Fragment\\Debate:ListRowUser.html.twig' with { 'debate': debate } %}
            {% else %}
                <div class="no-result">
                    Aucun débat pour le moment
                </div>
            {% endfor %}
        </div>
        {% if user.qualified %}
            <div id="author-reactions-block">
                <h1>Liste des réactions rédigées</h1>
                {% for reaction in reactions %}
                    {% include 'PolitizrFrontBundle:Fragment\\Reaction:ListRowUser.html.twig' with { 'reaction': reaction } %}
                {% else %}
                    <div class="no-result">
                        Aucune réaction pour le moment
                    </div>
                {% endfor %}
            </div>
        {% endif %}
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}
    {% include 'PolitizrFrontBundle:JS:followUser.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:followers.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:notation.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:login.js.twig' %}

    <script>
        $('#header').css('background-image', 'url({{ user | photoBack("user_bio_back") }})');
    </script>
{% endblock javascriptFooter %}
