{# beta #}
<h5>Catégorie</h5>
<form id="categoryFilter">
    <input type="radio" class="categoryFilter" name="categoryFilter[]" value="{{ constant('Politizr\\Constant\\ObjectTypeConstants::CONTEXT_PUBLICATION') }}" id="categoryFilterLast" checked/>
    <label for="categoryFilterLast"><i class="icon-check"></i>Publications</label>
    <input type="radio" class="categoryFilter" name="categoryFilter[]" value="{{ constant('Politizr\\Constant\\ObjectTypeConstants::CONTEXT_USER') }}" id="categoryFilterBestNote"/>
    <label for="categoryFilterBestNote"><i class="icon-check"></i>Utilisateurs</label>
</form>
