{% for type in badgeTypes %}
	<tr>
	    <td colspan="2">{{ type.title }}</td>
	</tr>
	{% for badge in type.badges %}
		<tr>
			<td>
				<span class="label {{ badgeMetalTwBootClass(badge.PRBadgeMetalId) }}">{{ badge.title }}</span>
			</td>
			<td>
				{% if badge.id in badgeIds %}
					<!-- <span class="glyphicon glyphicon-ok"></span> -->
					<span class="fa fa-check-square-o"></span>
				{% else %}
					<!-- <span class="glyphicon glyphicon-remove"></span> -->
					<span class="fa fa-square-o"></span>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
{% endfor %}