{% for type in badgeTypes %}
	<tr>
	    <td colspan="2">{{ type.title }}</td>
	</tr>
	{% for badge in type.badges %}
		<tr>
			<td>
				<span class="label {{ badgeMetalTwBootClass(badge.PRBadgeMetalId) }}">{{ badge.title }}</span>
			</td>
			<td>
				{% if badge.id in badgeIds %}
					<i class="glyphicon glyphicon-ok"></i>
				{% else %}
					<i class="glyphicon glyphicon-remove"></i>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
{% endfor %}