<tr>
	<td>{{ document.title }}</td>
	<td>{{ document.summary | striptags | slice(0, 150) | raw }}</td>
	<td>{{ document.createdAt | date('d/m/Y H:i') }}</td>
	<td>
		<a class="btn btn-primary" href="{{ path('MyDraftsEditC', { 'id': document.id }) }}">Editer</a>
	</td>
</tr>