{% if (tagTypeId == constant('\\Politizr\\Model\\PTTagType::TYPE_GEO')) %}
	{% set twbLabel = "success" %}
	{% set tagLabel = "géo" %}
{% elseif (tagTypeId == constant('\\Politizr\\Model\\PTTagType::TYPE_THEME'))%}
	{% set twbLabel = "primary" %}
	{% set tagLabel = "thème" %}
{% else %}
	{% set twbLabel = "default" %}
	{% set tagLabel = "" %}
{% endif %}

{% for tag in tags %}
	<span class="tag label label-{{ twbLabel }}">{{ tag.title }}</span>
{% else %}
	<span class="label label-default">Aucun tag {{ tagLabel }}</span>
{% endfor %}
