{% if (ptTagTypeId == constant('\\Politizr\\Model\\PTTagType::TYPE_GEO')) %}
	{% set twbLabel = "success" %}
{% elseif (ptTagTypeId == constant('\\Politizr\\Model\\PTTagType::TYPE_THEME'))%}
	{% set twbLabel = "primary" %}
{% else %}
	{% set twbLabel = "default" %}
{% endif %}

{% for pTag in pTags %}
	<span class="label label-{{ twbLabel }}">{{ pTag.title }}</span>
{% endfor %}
