{% if (tagTypeId == constant('\\Politizr\\Model\\PTTagType::TYPE_GEO')) %}
	{% set twbLabel = "success" %}
{% elseif (tagTypeId == constant('\\Politizr\\Model\\PTTagType::TYPE_THEME'))%}
	{% set twbLabel = "primary" %}
{% else %}
	{% set twbLabel = "default" %}
{% endif %}

{% for tag in tags %}
	<span class="tag label label-{{ twbLabel }}">{{ tag.title }}</span>
{% endfor %}
