@import "../_global/colors";

///// notation /////

.notation {
	position: absolute;
	bottom: -15px;
	left: 20px;
	color: #fff;
	height: 30px;
	z-index: 1;
}

.like, .dislike {
	position: relative;
	top: 0; left: 0;
	height: 30px;
	-webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;
	float: left;
	background-color: $lightBlue;
	font-size: $s13px;
    font-family: 'nerisblack';
}

.like { padding: 6px 15px 0 38px; }
.dislike { padding: 6px 38px 0 15px; margin-left: 10px; }

.likeButton, .dislikeButton {
	position: absolute;
	height: 30px;
	width: 30px;
	-webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;
	background-color: $blue;
	color: #fff;
	top: 0;
	cursor: pointer;
}
.likeButton {	left: 0; }
.dislikeButton {	right: 0; }
.likeButton:hover, .dislikeButton:hover {background-color: $orange;}

.likeButton i {
	position: absolute;
	top:5px;
	left: 7px;
}

.dislikeButton i {
	position: absolute;
	top:6px;
	left: 6px;
}

.myvote { background-color: $lightOrange;}
.myvote .likeButton, .myvote .dislikeButton { background-color: $orange; cursor: default; }

.novote {cursor: default; background-color: $grey30;}
.novote .likeButton, .novote .dislikeButton { background-color: $grey; cursor: default; }
.novote .likeButton:hover, .novote .dislikeButton:hover {background-color: $grey;}


//mini actions

.miniActions {
	position: absolute;
	right: 20px;
	bottom: -20px;
	height: 40px;
	text-align: right;
	line-height: 100%;
	z-index: 50;
}

// editer in miniaction

.actionEdit {
	float: right;
	position: relative;
	bottom: -5px;
}

.actionEdit a {
	float: right;
	padding: 8px 14px;
	min-height: 30px;
	-webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px;
	border: none;
	color: #fff;
	background-color: $orange;
	text-transform: capitalize;
	font-size: $s12px;
}
.actionEdit a:hover {background-color: $darkGrey;}

// answer
.miniActions .actionAnswer { 
	display: inline-block; 
	position: relative; 
	width: 40px; 
	height: 40px;
}

.miniActions .actionAnswer a {
	position: absolute;
	padding: 0;
	min-width: 40px;
	height: 40px;
	right: 0;
	top: 0;
	-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;
	border: none;
	color: #fff;
	background-color: $orange;
	text-transform: capitalize;
}
.miniActions .actionAnswer a i {
	position: absolute;
	font-size: $s16px;
	right: 9px;
	top:11px;
}

// follow
.miniActions .actionFollow { 
	display: inline-block;
	position: relative; 
	width: 40px; 
	height: 40px;
	margin-left: 10px; 
}

.actionFollow {
	display: inline-block;
}

.miniActions .startFollowing, .miniActions .stopFollowing {
	position: absolute;
	right: 0;
	top: 0;
	min-width: 40px;
	height: 40px;
	-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;
	cursor: pointer;
	color: #fff;
}

.startFollowing, .stopFollowing {
	display: inline-block;
	height: 40px;
	-webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;
	cursor: pointer;
	color: #fff;
	position: relative;
}
.startFollowing:hover, .stopFollowing:hover { background-color: $orange;}

.miniProfile .profileName .startFollowing .actionText a, .miniActions .startFollowing .actionText a { //public > bubble profile ajouter a mon fil d'actu
	font-family: 'nerislight' !important;
	color: #fff;
	position: relative;
	z-index: 1000;
	font-size: $s12px;
}

.startFollowing, .miniActions .startFollowing { background-color: $purple; }
.stopFollowing, .miniActions .stopFollowing { background-color: $grey; }
.miniActions .startFollowing i, .miniActions .stopFollowing i {
	position: absolute;
	font-size: $s14px;
	right: 10px;
	top:12px;	
}

.startFollowing i, .stopFollowing i {
	position: absolute;
	font-size: $s14px;
	left: 10px;
	top:11px;	
}

.miniActions .actionText {
	padding: 10px 35px 0 17px;
	font-size: $s14px;
	display: none;
	line-height: 130%;
}

.actionText {
	padding: 10px 17px 0 35px;
	font-size: $s14px;
	line-height: 130%;
	white-space:  nowrap;
}
.actionText a {color: #fff !important; }

.miniActions .actionAnswer:hover .actionText, .miniActions .startFollowing:hover .actionText, .miniActions .stopFollowing:hover .actionText { display: inline-block;}

.actionFollow.withLoaderInside .ajaxLoader {	overflow: hidden; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; }
.actionFollow.withLoaderInside .ajaxLoaderBg { background-color: rgba($darkGrey, 0.5); }


// smaller text info in bubbles
.bubblesTag .miniActions .actionText, .bubblesProfile .miniActions .actionText {
	padding: 12px 35px 0 15px;
	font-size: $s12px;
}