$darkGrey: #2D2D2D;
$grey:#80808C;
$grey10:#f3f3f4;
$grey30:#C0C0C0;
$semiGrey:#9F9F9F;
$bgcolor:#DEDEDE;

$orange: #60455a;
//$orange: #E6142D; //special sciences po
$lightOrange:#a7cabc;
$softOrange:#faedeb;

$blue:#3F9C98;
$lightBlue:#80BAB7;
$purple:#904380;
$green:#398E24;
$darkGreen:#668000;

$gold:#E7AE11;
$silver:#9E9E9E; 
$bronze:#BA866B; 

$success: #03b169; // green
$error: #ed4c42; // red
$alert: #079db5; // blue

$fbColor: #3c5998;
$twColor: #49aad7;
$ggColor: #dc5144;
$waColor: #4ECC5E;

//group CD09
$greenCD09: #508d70; 
$bgCD09: #f1f0f1;

//group Hospi
$bgHospi: #f4fafc; 
$hospiBlue: #00a3e4;
$hospiGreen: #67b254;
$hospiOrange: #e95a33; 





