// grey
$lightGrey: #f0f0f0;
$semilightGrey: #dfdfdf;
$semiGrey: #b3b4b7;
$anotherGrey: #a9a9a9;
$grey: #b8b9bc;
$formGrey: #e4e4e4;
$semiDarkGrey: #9d9d9d;

// black
$darkGrey: #2d2d2d;

// orange
$highlight: #e56c40;
$AltHighlight: #f2cfc3;
$lightHighlight: #fbe9e3;
$anotherLightHighlight: #f9f0e5;
$darkHighlight: #d44a16;
$highlightOverlay: #bd461a;

$success: #03b169; // green
$error: #ed4c42; // red
$alert: #079db5; // blue
$lightAlert: #9bd8e1;

// home
$homeGrey:#515151;