@font-face {
	font-family: 'Merriweather Heavy';
	src: url('../fonts/Merriweather-Black.woff') format('woff');
	font-style: normal;
	font-weight: bold;
}


@font-face {
	font-family: 'Merriweather Light';
	src: url('../fonts/Merriweather-Light.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}


@font-face {
	font-family: 'Merriweather';
	src: url('../fonts/Merriweather-Regular.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}


@font-face {
	font-family: 'Merriweather Bold';
	src: url('../fonts/Merriweather-Bold.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}


@font-face {
	font-family: 'Merriweather Bold Italic';
	src: url('../fonts/Merriweather-BoldItalic.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}


@font-face {
	font-family: 'Merriweather Heavy Italic';
	src: url('../fonts/Merriweather-HeavyItalic.woff') format('woff');
	font-style: italic;
	font-weight: bold;
}


@font-face {
	font-family: 'Merriweather Italic';
	src: url('../fonts/Merriweather-Italic.woff') format('woff');
	font-style: italic;
	font-weight: normal;
}


@font-face {
	font-family: 'Merriweather Light Italic';
	src: url('../fonts/Merriweather-LightItalic.woff') format('woff');
	font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: 'nerisblack';
    src: url('../fonts/Neris-Black-webfont.eot');
    src: url('../fonts/Neris-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Neris-Black-webfont.woff') format('woff'),
         url('../fonts/Neris-Black-webfont.ttf') format('truetype'),
         url('../fonts/Neris-Black-webfont.svg#nerisblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nerisblack_italic';
    src: url('../fonts/Neris-BlackItalic-webfont.eot');
    src: url('../fonts/Neris-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Neris-BlackItalic-webfont.woff') format('woff'),
         url('../fonts/Neris-BlackItalic-webfont.ttf') format('truetype'),
         url('../fonts/Neris-BlackItalic-webfont.svg#nerisblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nerisbold_italic';
    src: url('../fonts/Neris-BoldItalic-webfont.eot');
    src: url('../fonts/Neris-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Neris-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/Neris-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/Neris-BoldItalic-webfont.svg#nerisbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nerislight';
    src: url('../fonts/Neris-Light-webfont.eot');
    src: url('../fonts/Neris-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Neris-Light-webfont.woff') format('woff'),
         url('../fonts/Neris-Light-webfont.ttf') format('truetype'),
         url('../fonts/Neris-Light-webfont.svg#nerislight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nerislight_italic';
    src: url('../fonts/Neris-LightItalic-webfont.eot');
    src: url('../fonts/Neris-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Neris-LightItalic-webfont.woff') format('woff'),
         url('../fonts/Neris-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/Neris-LightItalic-webfont.svg#nerislight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nerissemibold';
    src: url('../fonts/Neris-SemiBold-webfont.eot');
    src: url('../fonts/Neris-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Neris-SemiBold-webfont.woff') format('woff'),
         url('../fonts/Neris-SemiBold-webfont.ttf') format('truetype'),
         url('../fonts/Neris-SemiBold-webfont.svg#nerissemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nerissemibold_italic';
    src: url('../fonts/Neris-SemiBoldItalic-webfont.eot');
    src: url('../fonts/Neris-SemiBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Neris-SemiBoldItalic-webfont.woff') format('woff'),
         url('../fonts/Neris-SemiBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/Neris-SemiBoldItalic-webfont.svg#nerissemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'neristhin';
    src: url('../fonts/Neris-Thin-webfont.eot');
    src: url('../fonts/Neris-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Neris-Thin-webfont.woff') format('woff'),
         url('../fonts/Neris-Thin-webfont.ttf') format('truetype'),
         url('../fonts/Neris-Thin-webfont.svg#neristhin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'neristhin_italic';
    src: url('../fonts/Neris-ThinItalic-webfont.eot');
    src: url('../fonts/Neris-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Neris-ThinItalic-webfont.woff') format('woff'),
         url('../fonts/Neris-ThinItalic-webfont.ttf') format('truetype'),
         url('../fonts/Neris-ThinItalic-webfont.svg#neristhin_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

