@import "../_global/colors";

input {	
	padding: 0; 
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance: none;
    -webkit-border-radius:0; 
    -moz-border-radius:0;
    border-radius:0; 
}

input[type=submit], input[type=button] {cursor: pointer; font-family: 'fontello', 'nerissemibold'; border: none;}
textarea {margin: 0;}
textarea:focus, input:focus{    outline: 0;}
.actionsButtons {
	float: left; 
	clear: both; 
	position: relative;
}

.formIntro {
	text-align: center;
	display: inline-block;
	width: 100%;
	margin-top: 20px;
	color: $anotherGrey;
	font-size: 12px;
	font-family: 'Merriweather Italic';
	line-height: 160%;
}

//comments form 
.comments form {
	float: right;
	width: calc(100% - 60px);
}

.comments form textarea {
	padding: 0;
	width: 100%;
	border: none;
	font-size: 13px;
	font-family: 'Merriweather';
    overflow: hidden;
    height: 1em;
    margin-bottom: 5px;
    resize: none;
}

.comments input[type=submit], .comments input[type=button] {
	background-color: transparent;
	color: $highlight;
	font-size: 13px;
	height: auto;
	width: auto;
	display: inline-block;
}

.comments .cancel {
	display: inline-block;
	font-family: 'nerissemibold';
	color: $highlight;
	cursor: pointer;
	margin-left: 20px;
}

.comments input[type=submit]:hover, .comments input[type=button]:hover, .comments .cancel:hover {	color: $darkGrey;}

//search form

.search form.searchForm {
	width: 440px;
	display: inline-block;
	margin: 60px 0 60px 260px;
	clear: both;
}

.search form.searchForm input {
	padding: 0;
	font-family: nerislight;
	font-size: 40px;
	font-weight: normal;
	border: none;
	width: 90%;
	display: inline-block;
	background-color: transparent;
}

.search form.searchForm input[type=submit] {
	font-size: 28px;
	text-align: right;
	width: 10%;
	color: $semiGrey;
	font-family: 'fontello';
}

.search .listProfile {	width: 620px;}
.search .listProfile .listProfileRight { width: 570px;}


// form abus

.formAbuse {
	text-align: center !important;
}

.formAbuse .listProfile, .formAbuse form {	width: 480px;}

.formAbuse form {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
}

.formAbuse .listProfile {
	margin-top: 60px;
	color: $highlight;
	float: none;
}

.formAbuse .listProfile .listProfileRight {	width: 430px; float: right;}
.formAbuse .listProfile a { color: $highlight;}
.formAbuse .listProfile .organization {	background-color: $highlight;}


.formAbuse .listProfileRight .authorName span {
	font-family: 'Merriweather Italic';
	font-size: 12px;
}

.formAbuse .formAbusePostResume {
	font-size: 13px;
	font-family: 'Merriweather';
	line-height: 160%;
}

.formAbuse .modalItem {	margin-bottom: 40px;}

.formAbuse form textarea {
	padding: 20px;
	width: 438px;
	height: 98px;
	border: solid 1px $formGrey;
	font-family: 'Merriweather Italic';
	font-size: 13px;
}

.formAbuse .actionsButtons {
	margin: 60px 0;
}

.formAbuse form input[type=submit] {
	background-color: $highlight;
	color: #fff;
	text-transform: uppercase;
	border: none;
	float: left;
	clear: both;
	width: 180px;
	height: 40px;	
	font-size: 13px;
	text-align: center;
}

.formAbuse .cancel {
	position: absolute;
	bottom: 0;
	left: 200px;
	font-family: 'nerissemibold';
	color: $highlight;
	cursor: pointer;
}

.formAbuse form input[type=submit]:hover {	background-color: $darkGrey;}