@import "colors";

#ajaxGlobalLoader {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: transparent;
	z-index: 21000;
}

.ajaxLoader {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 21000;
	text-align: center;
}

.ajaxLoaderBg {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: transparent;
	z-index: 21000;
}

.ajaxLoader i, #ajaxGlobalLoader i, .fixedActions .withLoaderInside .ajaxLoader i {
	position: absolute;
	left: calc(50% - 8px);
	top: calc(50% - 8px);
	width: 22px;
	height: 16px;
	font-size: 16px;
	line-height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'fontello';
}

.loadMore {
	float: left;
	width: 100%;
	clear: both;
	position: relative;
	height: 30px;
}

.modalList .loadMore {	margin-bottom: 60px; }


// spin color
.ajaxLoader i, #notifications .ajaxLoader i, .modal .ajaxLoader i {	color: $highlight;}
#giveNote .ajaxLoader i {color: #fff;}

// spin box bg color
.ajaxLoader, .modal .ajaxLoader {	
	background-color: #fff;
	-moz-opacity: 0.80;
	opacity: 0.80;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	filter:alpha(opacity=80);
}

#notifications .ajaxLoader {	background-color: $lightHighlight;}
#notifications .notifItem .ajaxLoader {
	background-color: $lightHighlight;
	-moz-opacity: 0.80;
	opacity: 0.80;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	filter:alpha(opacity=80);
}

#giveNote .ajaxLoader {	background-color: $darkGrey;}

// ajust icon because of box padding
#notifications .notifItem .ajaxLoader i { top: calc(50% - 18px);}


// in actions buttons (i.e. form abus + add new comment)
.actionsButtons .ajaxLoader {
	background-color: $highlight;
	-moz-opacity: 1;
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	filter:alpha(opacity=100);
}

.actionsButtons .ajaxLoader i {color: #fff;}

// in fixed actions
.fixedActions .withLoaderInside .ajaxLoader {background-color: $highlight;}

// in form new comments
.comments .actionsButtons .ajaxLoader {
	width: 14px;
	background-color: #fff;
}

.comments .actionsButtons .ajaxLoader i {
	font-size: 12px;
	width: 12px; 
	height: 12px;
	left: calc(50% - 8px);
	top: calc(50% - 6px);
	color: $highlight;
}

.commentsOfficial .ajaxLoader {	background-color: $lightGrey;}
.commentsUser .ajaxLoader {	background-color: #fff;}
.commentsPostAuthor .ajaxLoader {	background-color: $anotherLightHighlight;}
.comments .ajaxLoader i { color: $darkGrey;}
