@import "../_global/colors";

#notifications {
	background-color: $lightHighlight;
	margin-bottom: 60px;
	float: left;
	width: 700px;
	position: fixed;
	top:60px;
	z-index: 9000;
	max-height: calc(100% - 60px);
	overflow-y: auto;
}

#notifications .pad40 {
	float: left;
	width: calc(100% - 80px);
}

#notifHeader, #notifFooter {
	text-transform: uppercase;
	font-size: 10px;
	font-family: 'nerissemibold';
	color: $darkHighlight;
	float: left;
	width: 100%;	
	clear: both;
}

#notifHeader {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: solid 1px $anotherGrey;
}

.notifMarkAllAsRead, .notifClearAll, .notifClose {
	float: left;
	cursor: pointer;
	position: relative;
}

.notifMarkAllAsRead {margin-right: 40px;}
.notifMarkAllAsRead:hover, .notifClearAll:hover, .notifClose:hover {color: $darkGrey;}

.notifMarkAllAsRead i, .notifClearAll i, .notifClose i {
	position: absolute;
	left: 0;
}

.notifMarkAllAsRead i {font-size: 9px;}
.notifClearAll i {font-size: 8px;}
.notifClose i {font-size: 6px;}

.notifMarkAllAsRead, .notifClearAll {	padding-left: 13px;	}

.notifClose {	float: right; 	padding: 0 10px 0 0;}

.notifClose i {
	top: 1px;
	right: 0;
	left: auto;
}

.notifItem {
	padding: 0 0 20px 0;
	margin: 0 0 20px 0;
	border-bottom: solid 1px $anotherGrey;
	display: inline-block;
	width: 100%;
	clear: both;
	line-height: 160%;
}

.notifItem.viewedNotif, .notifItem.viewedNotif a, .notifItem.viewedNotif i.iconCheck {	color: $semiDarkGrey;}
.notifItem.viewedNotif i.iconCheck {cursor: default;}

.notifItemHeader {
	font-family: 'Merriweather Italic';
    font-style: italic;
	font-size: 12px;
	padding-left: 20px;
	position: relative;
}

.notifItemHeader i {
	position: absolute;
	left: -2px;
	font-size: 11px;
}

.notifItemHeader i.iconCheck {
	right: 0;
	left: auto;
	font-size: 8px;
	color: $darkGrey;
	cursor: pointer;
}

.notifItemContent {
	font-size: 13px;
	padding-left: 20px;
	font-family: 'nerissemibold';
}

.notifItemContent a {
	color: $darkHighlight;
	font-family: 'nerisblack';
}
.notifItemContent a:hover {color: $darkGrey;}
.notifItemContent .organization:hover {background-color: $darkHighlight; cursor: pointer;}

.notifSpeciale {color: $darkHighlight;}

span.notifHighlight {
	clear: both;
	display: inline-block;
}


.notifItem span.clearUnder {	width: 100%;}

.notifItemFooter {
	padding: 10px 0 0 20px;
	font-family: nerissemibold;
	font-size: 13px;
	line-height: 100%;
}

.notifItemFooter a {
	color: $darkHighlight;
	position: relative;
	padding-left: 17px;
	margin-right: 40px;
}

.notifItemFooter a i {
	position: absolute;
	left: 0;
	font-size: 12px;
}

.notifItemFooter a:hover {color: $darkGrey;}
.notifItemFooter a i.iconComment {top: 3px;}
