@import "colors";

a {text-decoration: none;}
p {padding: 0; margin: 0;}
img {border:none;}
.withLoaderInside {position: relative;}
.pad40 {padding: 40px;}

a.parti {
	font-family: nerisblack;
	font-size: 9px;
	color: #fff !important;
	background-color: $anotherGrey;
	text-transform: uppercase;
	display: inline-block;
	margin: -3px 1px 0 0;
	padding: 1px 4px 1px 4px;
	line-height: 100%;
} 

a.followedMember::after {
	content: "*";
}

.avatar40 {
	width: 40px;
	height: 40px;
	display: inline-block;
}

.avatar60 {
	width: 60px;
	height: 60px;
	display: inline-block;
}

body {
	margin: 0;
	padding: 0;
	color: $darkGrey;
    font-family: 'Merriweather';
    font-size: 13px;
    line-height: 100%;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

#header {
	position: fixed;
	top: 0;
	width: 960px;
	height: 60px;
	left: 50%;
	margin-left: -480px;
	background-color: #fff;
	z-index: 10000;
}

#social {
	position: absolute;
	top: 60px;
	right: 0;
	width: 60px;
	min-height: 380px;
	background-color: #fff;
}

#content {
	width: 700px;
	float: right;
	padding-top: 60px;
	padding-right: 60px;
	position: relative;
}

#illustration_l, #illustration_r {
	background-color: $lightGrey;
	height: 360px;
	position: fixed;
	top: 60px;
	width: calc(50% - 480px);
	z-index: -1;
}

#illustration_l {	left: 0;}
#illustration_r {	right: 0;}

.illustrationShadow {
	width: 100%;
	height: 360px;
	position: absolute;
	-moz-opacity: 0.80;
	opacity: 0.80;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	filter:alpha(opacity=80);
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top,  #000000 0%, #2a2a2a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#2a2a2a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #000000 0%,#2a2a2a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #000000 0%,#2a2a2a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #000000 0%,#2a2a2a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #000000 0%,#2a2a2a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#2a2a2a',GradientType=0 ); /* IE6-9 */
}

#footer {
	padding: 60px 0 24px 0;
	float: left;
	width: 100%;
	clear: both;
}

#goUpHolder {
	position: fixed;
	width: 40px;
	height: 40px;
	margin-left: 920px;
	bottom: 25px;
	z-index: 19000;
}

#goUp {
	position: absolute;
	right: 0;
	width: 40px;
	padding: 13px 0;
	background-color: $semilightGrey;
	color: $anotherGrey;
	text-align: center;
	font-size: 10px;
	cursor: pointer;
}

#goUp:hover {color: $darkGrey;}