@import "colors";

//////presets

body.css1000 .wrapper {	width: 100%;	position: relative;}

body.css1000 #header {
	width: 100%;
	margin-left: auto;
	left: auto;
}

body.css1000 #content {	padding-top: 60px;	width: calc(100% - 260px);}
body.css1000 #illustration_l, body.css1000 #illustration_r {display: none;}
body.css1000 #footer {	width: calc(100% - 260px);}
body.css1000 #goUpHolder, body.css1000 .copyrightHolder { display: none;}

body.css1000 h1 {
	width: calc(100% - 40px); 
	padding: 0 20px;	
}

//////loader
 
//////modal

body.css1000 .modalHeader {	width: 100%;}
body.css1000 .modalList {	width: 100%;}

body.css1000 .modalHeader .headerLogo a { margin-left: 25px;}
body.css1000 .modalClose {margin-right: 30px;}

body.css1000 .postSummary, body.css1000 .illustrationShadow {	height: 440px;}
body.css1000 .postSummary .pad40 {	height: 360px;}

body.css1000 .listProfileRight {	width: calc(100% - 50px);}

body.css1000 .wikiSample {	width: calc(100% - 60px); padding: 0 30px;}
body.css1000 .wikiSampleMask {	width: calc(100% - 60px); padding: 0 30px;}

//////list with filters in sidebar

body.css1000 .modalList.withSidebar {	width: calc(100% - 60px); padding: 60px 30px;}


body.css1000 .listCriteria.criteriaSidebar {
	width: calc(30% - 40px);
	padding: 0;
	margin: 40px 0 0 0;
}

body.css1000 .modalList.withSidebar .modalItem.listProfile,
body.css1000 .modalList.withSidebar .listTab .modalItem.listProfile {	
	width: calc(70% - 40px); 
	margin-right: 20px;
}

body.css1000 .modalList.withSidebar .modalItem.listPost {	width: 70%; }

// special ranking

body.css1000 #modalBoxContent.ranking {
	width: calc(100% - 30px);
	padding: 0 0 0 30px;
}


//////form

body.css1000 .search form.searchForm {
	width: 60%;
	padding: 0 20%;
	margin: 40px 0 20px 0;
	float: left;
}

//////header

body.css1000 #headerCenter {	width: calc(100% - 342px);}
body.css1000 #logged {display: none;}

//////menu

//////post

body.css1000 .postSummary {width: 100%;}
body.css1000 .postSummary .illustrationShadow {	width: 100%;}
body.css1000 .postSummaryFooter {	width: calc(100% - 80px);}

body.css1000 .paragraph {	width: calc(100% - 160px);	}
body.css1000 .reactionsToPostItemIllustration {	width: 100%;}

body.css1000 .comments { width: 100%;}

//////profile

//////footer

body.css1000 #footerLeft {
	float: left;
	width: calc(100% - 20px);
	padding-left: 20px;
}

body.css1000 #footerRight {
	float: left;
	width: calc(100% - 20px);
	padding-left: 20px;
	text-align: left;
	clear: both;
	margin-top: 10px;
}

//////actions

body.css1000 #fixedActions {
	width: 160px;
	left: 20px;
}

//////notifications

////// debate timeline

body.css1000 .timelineDay { width: 100%;}
body.css1000 .timelineDay h4 { width: calc(100% - 68px);	}
body.css1000 .timelineItemIllustration {	width: 100%;}

body.css1000 .timelineItemContentFooter .reactionsCounter, 
body.css1000 .timelineItemContentFooter .commentsCounter,
body.css1000 .timelineItemContentFooter .readingTime {
	clear: both;
	float: left;
}

body.css1000 .timelineItemContentFooter .reactionsCounter, 
body.css1000 .timelineItemContentFooter .commentsCounter {
	margin-bottom: 5px;
}

body.css1000 .timelineMarkAllAsRead, body.css1000 .timelineGoToToday {	clear: both; float: left; margin: 0;}
body.css1000 .timelineGoToToday {margin-top: 10px;}

body.css1000 #timelineHeader {	height: auto;}
body.css1000 .timelineMarkAllAsRead, body.css1000 .timelineGoToToday {margin-left: 40px;}
body.css1000 #timelineHeaderRight {
	position: absolute;
	right: 40px;
}
body.css1000 .showProfileManager, body.css1000 .showDebateManager {clear: both; float: right; margin: 0;}
body.css1000 .showDebateManager {margin-top: 10px;}