@import "colors";

//////presets

body.css760 .pad40 {	padding: 20px;}
body.css760 #content {	padding-top: 0;	width: calc(100% - 40px); padding-right: 0;}
body.css760 #footer {	padding-top: 30px;	width: calc(100% - 40px); padding-right: 0;}

body.css760 .wrapper {	
	width: 100%;	
	position: relative; 	
	-webkit-text-size-adjust: 100%;
}

body.css760 #header {
	width: 100%;
	margin-left: auto;
	left: auto;
}

body.css760 #illustration_l, body.css960 #illustration_r {display: none;}
body.css760 #goUpHolder, body.css960 .copyrightHolder { display: none;}

body.css760 h1 {
	width: calc(100% - 40px); 
	padding: 0 20px;	
}

//////loader
 
////// modal

body.css760 .modalHeader {	width: 100%;}
body.css760 .modalHeader .headerLogo {background-color: #fff;}
body.css760 .modalHeader .headerLogo a { margin : 10px 0 0 12px; background-color: #fff;}
body.css760 .modalClose {margin : 25px 20px 0 0;}

body.css760 .modalList {	width: 100%; float: left; margin: 40px 0; padding: 0;}
body.css760 .modal h1 { margin: 40px 0 0 0;}
body.css760 .modalList .postSummaryTitle {	font-size: 30px;}

body.css760 .modalChoices { margin-top: 30px; }
body.css760 .listCriteriaTabs input, body.css760 .modalChoices input {display: none;}
body.css760 .listCriteriaTabs span, body.css760 .modalChoices span {	margin: 0 15px 10px 15px;}


body.css760 .listPost {	
	width: calc(100% - 40px);
	padding: 0 20px;
	margin-bottom: 50px;
}
body.css760 .postSummary, body.css960 .illustrationShadow {	height: 440px;}
body.css760 .postSummary .pad40 {	height: 360px;}
body.css760 .listProfileRight {	width: calc(100% - 50px);}
body.css760 .modalItem.listProfile {margin-bottom: 50px;}
body.css760 .modalItem.listProfileOneCol {margin-bottom: 50px;}

body.css760 .listPostFollow {margin-left: 20px;}

body.css760 .modalLeftCol, body.css760 .modalRightCol {
	width: calc(100% - 80px);
	position: fixed;
	background-color: $darkGrey;
	top: calc(100% - 50px);
	padding: 20px 40px 20px 40px;
	z-index: 22000;
	-moz-box-shadow: 0 5px 20px #000000;
	-webkit-box-shadow: 0 5px 20px #000000;
	-o-box-shadow: 0 5px 20px #000000;
	box-shadow: 0 5px 20px #000000;
}

body.css760 .modalLeftCol.activeMobileModal, body.css760 .modalRightCol.activeMobileModal {
	position: static;
	margin-top: 20px;
	background-color: transparent;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

body.css760 .modalLeftCol.activeMobileModal {
	width: calc(100% - 80px);
	padding: 0 40px;
}

body.css760 .modalRightCol.activeMobileModal {
	width: 100%;
	padding: 0;
}

body.css760 .modalLeftCol::before, body.css760 .modalRightCol::before {
	font-family: 'fontello';
	content: "\e810";
	float: left;
	width: 100%;
	text-align: center;
	font-size: 18px;
	padding-bottom: 20px;
	color: $highlight;
}

body.css760 .modalLeftCol::before {	content: "\e823";}
body.css760 .modalRightCol::before { content: "\e810";}

body.css760 .modalLeftCol.activeMobileModal::before, body.css760 .modalRightCol.activeMobileModal::before {	display: none;}
body.css760 .modalRightCol .listDebate {width: 100%; padding: 0}

body.css760 .wikiSample {	width: calc(100% - 40px); padding: 0 20px;}
body.css760 .wikiSampleMask {	width: calc(100% - 40px); padding: 0 20px;}


// actions box error, succes, alert

body.css760 #infoBoxHolder {
	right: 0;
	left: auto;
}

body.css760 .boxSuccess, body.css760 .boxError, body.css760 .boxAlert {
	width: 190px;
	right: 20px;
	left:  auto;
}

body.css760 .notifBoxText {	
	width: 160px;
	-webkit-text-size-adjust: 100%;
}

//////notifications

body.css760 .notifMarkAllAsRead {	margin-right: 0;}
body.css760 .notifClearAll { clear: both; margin-top: 5px;}
body.css760 .notifClose {
	position: absolute;
	right: 20px;
}

body.css760 #notifications .pad40 {
	float: left;
	width: calc(100% - 40px);
}

//////form

//form abuse
body.css760 .formAbuse.modal h1,
body.css760 .formIntro,
body.css760 .formAbuse form { 
	width: calc(100% - 40px); 
	padding: 0 20px;	
}
 
body.css760 .formAbuse .listProfileOneCol .listProfileRight { width: calc(100% - 50px);}

body.css760 .formAbuse form textarea {width: calc(100% - 40px);}

body.css760 .formAbuse .listProfileOneCol {
	width: calc(100% - 40px);
	margin: 50px 20px 50px 20px;
}


//search form

body.css760 .search form {
	width: 60%;
	padding: 0 20%;
	margin: 40px 0 20px 0;
	float: left;
}

body.css760 .search form input {
	font-size: 26px;
	width: 88%;
}

body.css760 .search form input[type=submit] {
	font-size: 26px;
	width: 12%;
}

body.css760 .listProfileOneCol {
	width: calc(100% - 80px);
	margin: 0 40px 50px 40px;
}

body.css760 .listProfileRight {	width: calc(100% - 50px);}

//////header
//////menu

body.css760 #header.menuMobileHolder {
	position: fixed;
	left: 0;
	top:0;
	bottom: 0;
	width: 40px;
	height: 100%;
	background-color: #fff;
}

body.css760 .headerLogo {
	width: 40px;
	height: 46px;
	text-align: center; 
	margin: 0;
	padding: 0;
	background-color: $darkGrey;
}

body.css760 .headerLogo a {	
	margin: 0;
	padding: 0;
	width: 40px;
	background-color: $darkGrey;
	position: relative;
	text-align: center;
}

body.css760 .headerLogo a i {
	display: inline-block;
	margin-top: 10px;
}

body.css760 .headerLogo a, body.css760 .headerLogo a i:hover {color: $semiGrey;}

body.css760 #menuMobileTriggerMenu, body.css760 #menuMobileTriggerActions {
	display: block;
	position: fixed;
	left: 0;
	width: 40px;
	cursor: pointer;
}

body.css760 #menuMobileTriggerMenu {
	top: 45px;
	background-color: $highlight;
	color: #fff;
	height: 46px;
	position: relative;
	text-align: center;
}

body.css760 #menuMobileTriggerMenu i {
	display: inline-block;
	font-size: 24px;
	position: absolute;
	left: 3px;
	top: 10px;
}

body.css760 #menuMobileTriggerActions {
	bottom: 0;
	background-color: $darkGrey;
	color: #fff;
	text-align: center;
	height: 46px;
}

body.css760 #menuMobileTriggerActions i {
	margin-top: 15px;
	display: inline-block;
	font-size: 14px;
}

body.css760 #headerCenter {	
	width: 140px;
	position: absolute;
	left: 40px;
	top: 0;
	padding: 30px 30px;
	margin: 0;
	border: none;
	z-index: 2;
	height: auto;
	border-bottom: solid 1px $semiGrey;
}

body.css760 #headerCenter #linkRanking, 
body.css760 #headerCenter #linkNotifications, 
body.css760 #headerCenter #linkSuggestions {
	float: left;
	clear: both;
	margin-right: 0;
}

body.css760 #headerCenter #linkRanking, 
body.css760 #headerCenter #linkNotifications, 
body.css760 #headerCenter #linkSuggestions {
	margin: 0;
	padding: 5px 0 5px 15px;
}

body.css760 #headerCenter #linkRanking i, 
body.css760 #headerCenter #linkNotifications i, 
body.css760 #headerCenter #linkSuggestions i { top: 5px;}

body.css760 #headerCenter #linkRanking i {left: -6px;}

body.css760 #headerCenter #linkNotifications i, 
body.css760 #headerCenter #linkSuggestions i {	left: 0px;}

body.css760 #headerCenter #linkRanking:hover, 
body.css760 #headerCenter #linkNotifications:hover, 
body.css760 #headerCenter #linkSuggestions:hover { color: #fff;}

body.css760 #headerCenter #linkNotifications.notifYes:hover, 
body.css760 #headerCenter #linkSuggestions.notifYes:hover { color: $highlight; }

body.css760 #logged {display: none;}

body.css760 #menu {
	width: 200px;
	position: fixed;
	left: 40px;
	height: 100%;
	top: 0;
	padding: 125px 0px 0px 0px;
	z-index: 1;
	-moz-box-shadow: 20px 0px 20px -25px #000000;
	-webkit-box-shadow: 20px 0px 20px -25px #000000;
	-o-box-shadow: 20px 0px 20px -25px #000000;
	box-shadow: 20px 0px 20px -25px #000000;
	background-color: $darkGrey;
}

body.css760 #menu .pad40 {	padding: 30px;}
body.css760 #menu a {color: $semiGrey;}
body.css760 #menu a.linkMyPolitizr {color: $highlight;}
body.css760 #menu a.miniLink:hover, 
body.css760 #menu .openSearch:hover, 
body.css760 #menu a.linkMyPolitizr:hover {color: #fff;}

body.css760 #headerCenter, body.css760 #menu {	display: none;}

body.css760 #social {
	position: absolute;
	left: 0;
	bottom: 70px;
	min-height: intrinsic;
	top: auto;
	width: 40px;
}

body.css760 #social .pad40 {
	bottom: 0;
	position: absolute;
	padding: 0 7px;
}

body.css760 #social a {	margin-bottom: 10px;}
body.css760 #social .signalAbuse {	margin-top: 15px;}

body.css760 #headerRight {
	position: fixed;
	left: 0;
	top: 92px;
	width: 40px;
	height: 40px;
}

body.css760 #openMenuPreferences {
	width: 40px;
	height: 40px;
	float: left;
}

body.css760 #openMenuPreferences:hover {color: $semiGrey;}

body.css760 #linkMenuPreferences {
	margin: 0;
	position: relative;
}

body.css760 #linkMenuPreferences .iconGear {	
	font-size: 14px;
	position: absolute;
	top: 15px;
	left: 10px;
	margin: 0;
	padding: 0;
}

body.css760 #linkMenuPreferences .iconArrowDown, 
body.css760 #linkMenuPreferences .iconArrowUp  {display: none;}

body.css760 #menuPreferences {
	width: 200px;
	margin: 0;
	left: 40px;
	top:0;
	height: 100%;
	position: fixed;
	-moz-box-shadow: 20px 0px 20px -25px #000000;
	-webkit-box-shadow: 20px 0px 20px -25px #000000;
	-o-box-shadow: 20px 0px 20px -25px #000000;
	box-shadow: 20px 0px 20px -25px #000000;
	text-align: left;
}

body.css760 #menuPreferences .pad40 {	padding: 30px;}

body.css760 #menuPreferences h2 {	padding: 0 0 0 20px;}
body.css760 #menuPreferences h2 i {	left: -2px; }

body.css760 #menuPreferences a.disconnect {
	padding: 0 0 0 15px;
	margin: 40px 0 0 0;
	float: left;
	clear: both;
	width: auto;
}

body.css760 a.disconnect i {	left: -2px;}

body.css760 #fixedActions {	
	display: none; 
	left: 40px;
	bottom: 0;
	width: calc(100% - 40px);
	padding: 0;
	z-index: 9000;
	-moz-box-shadow: -10px 5px 20px #000000;
	-webkit-box-shadow: -10px 5px 20px #000000;
	-o-box-shadow: -10px 5px 20px #000000;
	box-shadow: -10px 5px 20px #000000;
}

body.css760  #fixedActions a, 
body.css760  #fixedActions .actionFollow, 
body.css760  #fixedActions .actionUnfollow, 
body.css760  #fixedActions .actionCosign {
	width: 50%;
	margin: 0;
	padding: 17px 0;
	cursor: pointer;
	font-size: 11px;
}

body.css760  #fixedActions a.actionReact, body.css760  #fixedActions .actionCosign  {	width: 100%;}


//////post

body.css760 #postText {		padding: 20px 0;}

body.css760 .postSummary { 		height: 480px; width: 100%;}

body.css760 .postSummary .pad40 { 
	height: 440px;
	width: calc(100% - 40px);
}

body.css760 .postSummary .illustrationShadow {	height: 480px; width: 100%;}
body.css760 .postSummaryFooter { width: calc(100% - 60px); bottom: 20px;}
body.css760 .postSummaryGotoParent {	font-size: 11px;}

body.css760 #postAuthorHolder {
	position: relative;
	z-index: auto;
	padding: 20px;
	float: left;
	clear: both;
	width: calc(100% - 40px);
	background-color: $semilightGrey;
}

body.css760 #postAuthor, body.css760 #postInfos {	
	position: static;
	width: 100%;
	text-align: left;
	float: left;
	clear: both;
}

body.css760 #postAuthor .avatar60 { float: left;}

body.css760 #postAuthor .authorName {
	float: right;
	width: calc(100% - 70px);	
	clear: none;
	margin: 0;
}

body.css760 #postAuthor .authorInAFewWords {
	float: right;
	width: calc(100% - 70px);
	clear: none;
}

body.css760 #postInfos { padding-top: 20px;}

body.css760 .paragraph {	
	padding: 10px 20px 10px 40px;
	width: calc(100% - 60px);	
	-webkit-text-size-adjust: 80%;
}

body.css760 .paragraph h2 {
	border-left-width: 3px;
	padding: 0 0 0 10px;
}

body.css760 #reactionsToPost {
	padding: 40px 40px 20px 40px;
	width: calc(100% - 80px);
}

body.css760 .reactionsToPostItemIllustration { 	height: 160px;	width: 100%;}

body.css760 .postSummaryActivity .reactionsCounter, body.css760 .postSummaryActivity .commentsCounter, body.css760 .postSummaryActivity .readingTime {
	clear: both;
	float: left;
	margin-right: 0;
}

body.css760 .postSummaryActivity .reactionsCounter, body.css760 .postSummaryActivity .commentsCounter { margin-bottom: 8px;}

body.css760 .reactionsToPostItemContent { 
	border-left-width: 3px;
	-webkit-text-size-adjust: 70%; 
	width: calc(100% - 17px);
	padding-left: 10px;
}

body.css760 .reactionsToPostItemContent .avatar40 {display: none;}

body.css760 .reactionsToPostItemContent .reactionsToPostItemPostTitle {
	width: 100%;
	-webkit-text-size-adjust: 90%; 
	font-size: 13px;
	line-height: 180%;
}

body.css760 .reactionsToPostItemFooter {
	width: 100%;
	padding-left: 0;
}

body.css760 .paragraph .commentsCounter {
    padding: 0 12px 0 0;
    top: 14px;
    width: 20px;
   	font-size: 9px;
    -webkit-text-size-adjust: 100%;
}

body.css760 .paragraph .commentsCounter i {	font-size: 9px;}

body.css760 .comments {
	width: 100%;
	padding: 20px 20px 50px 40px;
	margin: 20px -20px 0 0;
	float: right;
    -webkit-text-size-adjust: 90%;
}

body.css760 .comments .avatar40 {display: none;}

body.css760 .commentsEditNew {
	padding: 20px 0;
	width: 100%;
}

body.css760 .comments form {	width: 100%;}

body.css760 .commentsContent {
	padding: 0;
	width: 100%;
}

body.css760 .commentsItem {	
	padding: 15px; 
	width: calc(100% - 30px);
}

body.css760 .commentsItem .signalAbuse {
	left: -25px;
	margin-top: 10px;
}

body.css760 .commentLevel2 {	width: calc(100% - 55px);}

body.css760 .commentsSlideFormNew.commentLevel2 {
	padding-left: 20px;
	margin-left: 38px;
	float: left;
	width: auto;
}

body.css760 .commentsEditNew {	padding: 10px 20px 20px 0;}

body.css760 .commentsEditNew.commentLevel2 {
	padding: 10px 0 20px 0;
	width: calc(100% - 40px);
}

//////footer

body.css760 #footerLeft {
	float: left;
	width: calc(100% - 20px);
	padding-left: 20px;
}

body.css760 #footerRight {
	float: left;
	width: calc(100% - 20px);
	padding-left: 20px;
	text-align: left;
	clear: both;
	margin-top: 10px;
}

////// debate timeline

body.css760 #timelineHeader {padding: 20px;}

body.css760 .timelineDayContainer {
	width: calc(100% - 40px);
	margin: 0 20px;
}

body.css760 .timelineDay { 
	top:0 !important; 
	padding:16px 20px 0 0;	
	width: calc(100% + 20px);
	margin-left: -20px;
}
body.css760 .timelineDay h4 { 
	width: calc(100% - 48px);
	margin: 0;
	padding: 0 20px 15px 48px;
}

body.css760 .timelineDay i {	left: 15px;}
body.css760 .timelineItemObject i {	left: 20px;}

body.css760 .timelineItemIllustration {	width: 100%;}

body.css760 .timelineItemContent.timelineItemOfficial, body.css760 .timelineItemContent.timelineItemAuthor {
	padding: 10px 40px;
	margin: 10px 0 10px -40px;
}

body.css760 .timelineItemHighlight { -webkit-text-size-adjust: 80%;	}


.timelineItemContentFooter {
	width: calc(100% + 20px);
	margin-left: -20px;
}

body.css760 .timelineItemContentFooter .reactionsCounter, 
body.css760 .timelineItemContentFooter .commentsCounter,
body.css760 .timelineItemContentFooter .readingTime {
	clear: both;
	float: left;
}

body.css760 .timelineItemContentFooter .reactionsCounter, 
body.css760 .timelineItemContentFooter .commentsCounter {
	margin-bottom: 5px;
}

body.css760 .timelineItemFooter a { margin-left: 0; }
