<div class="boostBox withLoaderInside">
    <div class="center">
        Vous êtes dans l'environnement de démo de BIEN DIT<br/>
        <i>Note: l'ensemble des données est réinitialisé toutes les nuits</i>
    </div>
</div>
