<div id="header">
    <div class="center">
        <div id="headerLeft">
            {% include 'PolitizrFrontBundle:Navigation\\Header:_logo.html.twig' %}
        </div>
        <div id="processTitle" class="processTitleCreateAccount">
            Connexion
        </div>
        <div id="headerRight">
            <a href="{{ path('Homepage') }}">Retour au site</a>
        </div>  
    </div>
</div>
