{# beta #}
<div class="center">
    <div id="headerLeft">
        {% include 'PolitizrFrontBundle:Navigation\\Header:_logo.html.twig' %}
        <div id="headerMenu">
            {{ topLeftMenu() }}
        </div>
    </div>
    <div id="headerRight">
        {{ topGroupMenu() }}
        <a class="headerCreateAccountLink" href="{{ path('Inscription') }}">INSCRIPTION</a>
        <a class="headerLoginLink" href="{{ path('Login') }}">IDENTIFICATION</a>
    </div>
</div>
