<div id="header">
    <div class="center">
        <div id="headerLeft">
            {% block topLeftMenu %}
                {% include 'PolitizrFrontBundle:Navigation\\Header:_logo.html.twig' %}
                <div id="headerMenu">
                    {{ topLeftMenu() }}
                </div>
            {% endblock topLeftMenu %}
        </div>
        <div id="headerRight">
            {{ topGroupMenu() }}
            {% if group_visibility == 'public' %}
                <a class="headerCreateAccountLink" href="{{ path('Inscription') }}">INSCRIPTION</a>
            {% endif %}
            <a class="headerLoginLink" href="{{ path('Login') }}">IDENTIFICATION</a>
        </div>
    </div>
</div>
<div id="headerTrigger"></div>
