<div id="header">
    <div class="center">
        <div id="headerLeft">
            {% include 'PolitizrFrontBundle:Navigation\\Header:_logo.html.twig' %}
        </div>
        <div id="processTitle" class="processTitleDemo">
            Valider votre identité
        </div>
    </div>
</div>
