<div id="header">
    <div class="center">
        <div id="headerLeft">
            {% include 'PolitizrFrontBundle:Navigation\\Header:_logo.html.twig' %}
        </div>
        <div id="processTitle" class="processTitleDemo">
            Comment ça marche ?
        </div>
        <div id="headerRight">
            <a href="{{ path('Homepage'~profileSuffix()) }}">Aller à l'accueil</a>
        </div>  
    </div>
</div>
