<div id="header">
    <div class="center">
        <div id="headerLeft">
            <div id="logo"><a href="{{ path('Homepage'~profileSuffix()) }}"><i class="icon-pltzr-logo"></i><span>politizr<span class="betaMarker">beta</span></span></a></div>
        </div>
        <div id="processTitle" class="processTitleDemo">
            Valider votre identité
        </div>
    </div>
</div>
