{% block newSubject %}
    <a href="{{ path('DebateDraftNew') }}" class="newSubject">
        <i class="icon-plane"></i><span>je m'exprime</span>
    </a>
    <div class="headerSeparator"></div>
{% endblock %}