<div class="grpFooterLinks">
    <a action="openCgu">Mentions légales</a> • <a action="openPolicies">Politique de confidentialité</a> • <a href="#" action="openCookies">Réglage des cookies</a> • <a action="openCharte" uuid="{{ circle.uuid }}">Charte d’utilisation</a> • <a href="mailto: {{ contact.email }}">Contact</a>{% if global.mode == "oneshot" %} • Propulsé par <a href="https://bien-dit.com" target="_blank">BIEN DIT</a>{% endif %}
</div>
