<div id="topic" class="bannerItem miniHeader">
    <div class="center">
        <div class="txtTopic">
            <div class="txtTopic">
                <i class="icon-grp"></i>{{ circle.PCOwner }}&nbsp;>&nbsp;{{ circle.title }}
                <span>Les contributions pour ce groupe sont désormais closes: merci pour votre participation!</span>
            </div>
        </div>
    </div>
    <div class="bgLeftTopic"></div>
    <div class="bgRightTopic"></div>
</div>
