{# beta #}
<div class="sidebarAccountEdition"> 
    Pour toute question ou demande concernant les groupes, envoyez un mail au support <a href="mailto: support@politizr.com">support@politizr.com</a>
</div>
