{# Surcharge des template par défaut de SF #}
{% block checkbox_widget %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    <label for="{{ value }}">&nbsp;</label>
{% endblock checkbox_widget %}
