<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="67.68px" height="53.219px" viewBox="0 0 67.68 53.219" enable-background="new 0 0 67.68 53.219" xml:space="preserve">
<g>
    <a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['guadeloupe'] }}">
    	<path fill="#80818B" d="M49.287,21.976l-3.65-3.16l-5.266-3.019l-5.688-1.053l-1.614-2.738V7.372l-2.036-3.581L27.873,0
    		L23.73,5.828l0.491,3.089l2.598,1.615l1.054,2.598l-2.527,2.106l-3.23,1.053l-0.562,3.511l-3.511,0.632l-2.176-4.143l-5.758-3.159
    		l-5.195-0.492l-2.036,4.634v4.704l2.527,6.249v7.863l2.668,4.143l2.528,5.756l2.106-0.49l8.846-5.758V30.26l-2.036-1.475v-5.827
    		c0.913-0.491,1.755-0.982,2.598-1.544l2.738,3.651l4.002,1.053l11.023-3.651l5.266,0.491L49.287,21.976z"/>
    	<path fill="#80818B" d="M55.464,17.272l2.668,0.491l4.564-1.475l2.105-1.053l-2.598-1.545L55.464,17.272z"/>
    	<path fill="#80818B" d="M49.708,47.041l-3.09-3.791l-3.65-2.036l-5.266,5.827l1.613,4.563l2.529,0.492l2.666,1.123l4.143-3.65
    		L49.708,47.041z"/>
    </a>
</g>
</svg>
