<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="67.68px" height="53.219px" viewBox="0 0 67.68 53.219" enable-background="new 0 0 67.68 53.219" xml:space="preserve">
<g>
	<a action="map" uuid="{{ mapTagUuids['guyane'] }}">
        <path fill="#80818B" d="M55.055,22.021l-2.621-3.993h-2.266l-1.668-0.894L37.058,6.705l-7.389-0.477L27.046,4.56L22.28,2.772
		l-7.093,10.012v7.867l1.788,4.827l4.41,6.139L19.12,36.86v5.244l-2.92,4.887l-3.575,1.252l6.495,2.205l3.16-1.371l12.991,0.477
		l5.84-2.145l0.418-3.159l9.594-15.793l3.396-3.396L55.055,22.021z"/>
    </a>
</g>
</svg>
