<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="67.68px" height="53.219px" viewBox="0 0 67.68 53.219" enable-background="new 0 0 67.68 53.219" xml:space="preserve">
<g>
	<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['mayotte'] }}">
        <path fill="#80818B" d="M26.714,4.493l-2.457,4.143l-2.036,1.686l-0.843,1.193l-0.422,3.721l-0.421,0.843l2.457,0.843l2.527,1.193
		h2.879l0.843,4.563v5.827l2.036,3.651l2.598,2.948l0.843,4.564l-2.529,1.193l-3.791-2.879v-2.457l-5.757-0.912l1.615,1.685
		l1.614,3.37h2.527l-0.351,1.966l-2.528,2.177h3.722v2.809h2.036l0.912,1.685l3.3,0.421l0.352-2.527h3.018l1.967,2.106V46.62
		l-1.193-2.037l-1.686-2.105l1.264-2.457l2.037-2.037v-2.457l2.105-0.912l1.193-2.037l-3.299-4.072l-0.842-2.527l2.596-2.879
		l4.143-3.65v-3.37l-6.318-3.721l-2.879-0.422l-1.684,1.686l-4.074-1.686l-0.912-3.3l-2.879-3.721L26.714,4.493z"/>
    </a>
</g>
</svg>
