@import "_global/colors";
@import "_restive/timeline760";
@import "_restive/post760";
@import "_restive/form760";
@import "_restive/modal760";
@import "_restive/actions760";

//////presets
body.css760 {overflow-x: hidden;}

body.css760 .wrapper {	
	float: left;
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	-webkit-text-size-adjust: 100%;
}

// home header
body.css760 .headerLogo {width: auto;}
body.css760 .headerLogo a {	margin: 0 0 0 -5px;}
body.css760 #headerRight a:last-child {margin-right: 0;}

// home claim
body.css760 .homeText h1, body.css760 #homeOfficial .homeText h1 {font-size: 18px; }

body.css760 #homeClaim .homeText {
	padding: 0 10px;
	width: calc(100% - 20px);
	bottom: 60px;
}
body.css760 #homeClaim .homeText a {padding: 14px;}
body.css760 #homeClaim .homeText h1 {line-height: 120%;}

// home pseudo search form
body.css760 #homeSearch .openSearch {width: 96%; margin: 0 2% 0 2%;}
body.css760 #homeSearch .pseudoInput {
	width: calc(75% - 10px);
	font-size: 10px;
	padding: 12px 0 8px 10px;
}
	
body.css760 #homeSearch .pseudoSubmit {
	width: 25%;	
	font-size: 10px;
	padding: 12px 0 8px 0;
}

// home slide follow
body.css760 #homeFollow {overflow: hidden; height: auto;}

body.css760 #homeFollow .homeText {
	width: 86%; 
	margin: 40px 7% 0 7%; 
	text-align: center;
	float: left;
	clear: both;
	height: auto;
}

body.css760 #homeFollow .homeTextImgHolder {
	position: relative;
	clear: both;
	top: 0;
	right: auto;
	width: 115%;
	height: 220px;
	float: left;
	margin: 0;	
	background-size: contain;
	background-position: center bottom;
}

// home slide contribute
body.css760 #homeContribute {overflow: hidden; height: auto;}

body.css760 #homeContribute .homeText {
	width: 86%; 
	margin: 40px 7% 0 7%; 
	text-align: center;
	float: left;
	clear: both;
	height: auto;
}

body.css760 #homeContribute .homeTextImgHolder {
	position: relative;
	clear: both;
	top: auto;
	left: -200px;
	width: calc(130% + 170px);
	height: 250px;
	float: left;
	margin: 0;	
	background-size: contain;
	background-position: center bottom;
}
body.css760 #homeContribute .homeTextImgHolderBg {display: none}

//home slide timeline
body.css760 #homeMyPolitizr {overflow: hidden; height: auto;}

body.css760 #homeMyPolitizr .homeText {
	width: 86%; 
	margin: 250px 7% 40px 7%; 
	text-align: center;
	float: left;
	clear: both;
	height: auto;
	position: relative;
	z-index: 1;
}

body.css760 #homeMyPolitizr .homeTextImgHolder {
	top: 0;
	right: auto;
	width: 120%;
	height: 280px;
	float: left;
	margin: 0;	
	background-size: contain;
	background-position: center top;
}

// home stats 
body.css760 #homeStats {overflow: hidden; height: auto;}

body.css760 #homeStats .wrapper {
	height: auto;
	background-image: none;
}

body.css760 #homeStats .homeText {
	width: 86%; 
	margin: 40px 7% 0 7%; 
	text-align: center;
	float: left;
	clear: both;
	height: 300px;
	position: relative;
	z-index: 1;
	background-image: url(../images/f_stats.jpg);	
	background-repeat: no-repeat;
	background-position: center bottom;	
	background-size: auto;
}

@media only screen and (max-device-width: 480px) {
	body.css760 #homeStats .homeText {
		background-size: 100%;
	}	
}

// home price
body.css760 #homePlans {overflow: hidden; height: auto; padding: 60px 0 60px 0;}

body.css760 #homePlans .wrapper {	
	width: 84%;
	margin-left: 8%;
	margin-right: 8%;
}

body.css760 #homePlans .pltzrHeader {
	border-left: none;
	border-right: none;
	width: 100%;
}
body.css760 #homePlans .pltzrHeader i {font-size: 30px; height: 40px;}

body.css760 #homePlans #plans { width: 100%;}

body.css760 #plans h1 {margin: 0;}

body.css760 #homePlans #plans .userPlan, body.css760 #homePlans #plans .officialPlan {
	width: calc(100% - 80px);
	float: left;
	background: $lightGrey;
	margin: 0;
	padding: 40px;
}

body.css760 #homePlans #plans .userPlan { margin: 0 0 40px 0;	}

body.css760 #homePlans #plans ul {float: left; width: 100%;}
body.css760 #homePlans #plans ul li { width: calc(100% - 30px); }

body.css760 #homePlans #plans .userPlan h3 { margin-top: 27px;}

body.css760 #homePlans #plans ul li:last-child {padding-bottom: 0;}

//home are you ready
body.css760 #homeOfficial, body.css760 #homeOfficial .wrapper {	height: 540px;}

body.css760 #homeOfficial {
	margin-left:-500px;
	width: calc(100% + 500px);	
}

body.css760 #homeOfficial .homeText {
	bottom: 60px;
	width: calc(100% - 500px); 
	margin-left:500px;
}

body.css760 #homeOfficial .homeText a {padding: 14px;}

// home debates extrats
body.css760 #homeLive {overflow: hidden; height: auto; padding: 60px 0 40px 0;}

body.css760 #homeLive .wrapper {	
	width: 84%;
	margin-left: 8%;
	margin-right: 8%;
}

body.css760 #homeLive .pltzrHeader { width: 100%;}
body.css760 #homeLive .pltzrHeader i {font-size: 30px; height: 40px;}

body.css760 #homeLive .liveItem {width: 100%;}
body.css760 #homeLive .liveItem h2 {font-size: 22px;}

body.css760 #homeLive .liveItemLeft, body.css760 #homeLive .liveItemRight {
	text-align: left;
	float: left;
	width: 100%;
	clear: both;
	margin: 20px 0;
}

body.css760 #homeLive .liveItem .listProfileRight, body.css760 #homeLive .liveItem .listProfileLeft {
	float: right;
	width:calc(100% - 80px);	
}

#homeLive .liveItemLeft .avatar60 {	float: left;}

body.css760 #homeLive .liveItem .authorInAFewWords {
	overflow: visible;
	max-height:  none;
	height: auto;
}