@import "_global/colors";
@import "_restive/modal1000";
@import "_restive/actions1000";
@import "_restive/post1000";
@import "_restive/timeline1000";
@import "_restive/profile1000";
@import "_restive/form1000";

//////presets
body.css1000 .wrapper {	width: 96%; }

////// edit
// no "new debate" or "draft" link in menu
body.css1000 #menu .pad40 a {display: none;}
body.css1000 #menu .pad40 a.linkMyPolitizr, body.css1000 #menu .pad40 a.miniLink {display: block;}

// no help
body.css760 i.iconQuestion {display: none;}

//home light bg color slide
body.css1000 #homeFollow, body.css1000 #homeMyPolitizr { height: auto; }

body.css1000 .homeText h1 { font-size: 19px;}
body.css1000 .homeText p { font-size: 12px;}

body.css1000 #homeFollow .homeText, body.css1000 #homeMyPolitizr .homeText {
	width: 36%;
	position: relative;
	z-index: 1;
	height:auto;	
}

body.css1000 #homeFollow .homeText  {margin: 10% 0;}
body.css1000 #homeMyPolitizr .homeText  {	margin: 14% 0;}

body.css1000 #homeFollow .homeTextImgHolder, body.css1000 #homeMyPolitizr .homeTextImgHolder {
	width: 92%;
	background-size: 96%;	
	background-position: right center;
	right: -200px;
	z-index: 0;
}

//home contribure slide
body.css1000 #homeContribute .homeText {
	width: 29%;
	margin-top: 30px;
	padding-right: 1%;
}

body.css1000 #homeContribute .homeTextImgHolder {
	left: -20px;
	width: calc(90% + 460px);
	background-position: left -390px bottom -40px;
	background-size: contain;
}

body.css1000 #homeContribute .homeTextImgHolderBg {display: none;}

//home stats slide
body.css1000 #homeStats .wrapper { background-position: left bottom; }

body.css1000 #homeStats .homeText {
	width: calc(100% - 440px);
	margin: 60px 20px 0 0;
}

