@import "_global/colors";
@import "_restive/timeline760";
@import "_restive/post760";
@import "_restive/profile760";
@import "_restive/form760";
@import "_restive/modal760";
@import "_restive/actions760";
@import "_restive/drafts-published760";

//////presets
body.css760 { overflow-x: hidden;}

body.css760 .pad40 {	padding: 20px;}
body.css760 #content {	padding-top: 0;	width: calc(100% - 40px); padding-right: 0;}
body.css760 #footer {	padding-top: 30px;	width: calc(100% - 40px); padding-right: 0;}

body.css760 .wrapper {	
	width: 100%;	
	position: relative; 	
	-webkit-text-size-adjust: 100%;
}

body.css760 #header {
	width: 100%;
	margin-left: auto;
	left: auto;
}

body.css760 #illustration_l{display: none;}
body.css760 #goUpHolder { display: none;}

body.css760 h1 {
	width: calc(100% - 40px); 
	padding: 0 20px;	
}

////// edit
// no "new debate" or "draft" link in menu
body.css760 #menu .pad40 a {display: none;}
body.css760 #menu .pad40 a.linkMyPolitizr, body.css760 #menu .pad40 a.miniLink {display: block;}

// no help
body.css760 i.iconQuestion {display: none;}

//////notifications
body.css760 .notifMarkAllAsRead {	margin-right: 0;}
body.css760 .notifClearAll { clear: both; margin-top: 5px;}
body.css760 .notifClose {
	position: absolute;
	right: 20px;
}

body.css760 #notifications .pad40 {
	float: left;
	width: calc(100% - 40px);
}

//////header
//////menu

body.css760 #header.menuMobileHolder {
	position: fixed;
	left: 0;
	top:0;
	bottom: 0;
	width: 40px;
	height: 100%;
	background-color: #fff;
}

body.css760 .headerLogo {
	width: 40px;
	height: 46px;
	text-align: center; 
	margin: 0;
	padding: 0;
	background-color: $darkGrey;
}

body.css760 .headerLogo a {	
	margin: 0;
	padding: 0;
	width: 40px;
	background-color: $darkGrey;
	position: relative;
	text-align: center;
}

body.css760 .headerLogo a i {
	display: inline-block;
	margin-top: 10px;
}

body.css760 .headerLogo a, body.css760 .headerLogo a i:hover {color: $semiGrey;}

body.css760 #menuMobileTriggerMenu, body.css760 #menuMobileTriggerActions {
	display: block;
	position: fixed;
	left: 0;
	width: 40px;
	cursor: pointer;
}

body.css760 #menuMobileTriggerMenu {
	top: 45px;
	background-color: $highlight;
	color: #fff;
	height: 46px;
	position: relative;
	text-align: center;
}

body.css760 #menuMobileTriggerMenu i {
	display: inline-block;
	font-size: 24px;
	position: absolute;
	left: 3px;
	top: 10px;
}

body.css760 #menuMobileTriggerActions {
	bottom: 0;
	background-color: $darkGrey;
	color: #fff;
	text-align: center;
	height: 46px;
}

body.css760 #menuMobileTriggerActions i {
	margin-top: 15px;
	display: inline-block;
	font-size: 14px;
}

body.css760 #headerCenter {	
	width: 140px;
	position: absolute;
	left: 40px;
	top: 0;
	padding: 30px 30px;
	margin: 0;
	border: none;
	z-index: 2;
	height: auto;
	border-bottom: solid 1px $semiGrey;
}

body.css760 #headerCenter #linkRanking, 
body.css760 #headerCenter #linkNotifications, 
body.css760 #headerCenter #linkSuggestions {
	float: left;
	clear: both;
	margin-right: 0;
}

body.css760 #headerCenter #linkRanking, 
body.css760 #headerCenter #linkNotifications, 
body.css760 #headerCenter #linkSuggestions {
	margin: 0;
	padding: 5px 0 5px 15px;
}

body.css760 #headerCenter #linkRanking i, 
body.css760 #headerCenter #linkNotifications i, 
body.css760 #headerCenter #linkSuggestions i { top: 5px;}

body.css760 #headerCenter #linkRanking i {left: -6px;}

body.css760 #headerCenter #linkNotifications i, 
body.css760 #headerCenter #linkSuggestions i {	left: 0px;}

body.css760 #headerCenter #linkRanking:hover, 
body.css760 #headerCenter #linkNotifications:hover, 
body.css760 #headerCenter #linkSuggestions:hover { color: #fff;}

body.css760 #headerCenter #linkNotifications.notifYes:hover, 
body.css760 #headerCenter #linkSuggestions.notifYes:hover { color: $highlight; }

body.css760 #logged {display: none;}

body.css760 #menu {
	width: 200px;
	position: fixed;
	left: 40px;
	height: 100%;
	top: 0;
	padding: 125px 0px 0px 0px;
	z-index: 1;
	-moz-box-shadow: 20px 0px 20px -25px #000000;
	-webkit-box-shadow: 20px 0px 20px -25px #000000;
	-o-box-shadow: 20px 0px 20px -25px #000000;
	box-shadow: 20px 0px 20px -25px #000000;
	background-color: $darkGrey;
}

body.css760 #menu .pad40 {	padding: 30px;}
body.css760 #menu a {color: $semiGrey;}
body.css760 #menu a.linkMyPolitizr {color: $highlight;}
body.css760 #menu a.miniLink:hover,
body.css760 #menu .openSearch:hover, 
body.css760 #menu a.linkMyPolitizr:hover {color: #fff;}

body.css760 #headerCenter, body.css760 #menu {	display: none;}

body.css760 #social {
	position: absolute;
	left: 0;
	bottom: 70px;
	min-height: intrinsic;
	top: auto;
	width: 40px;
}

body.css760 #social .pad40 {
	bottom: 0;
	position: absolute;
	padding: 0 7px;
}

body.css760 #social a {	margin-bottom: 10px;}
body.css760 #social .signalAbuse {	margin-top: 15px;}

body.css760 #headerRight {
	position: fixed;
	left: 0;
	top: 92px;
	width: 40px;
	height: 40px;
}

body.css760 #openMenuPreferences {
	width: 40px;
	height: 40px;
	float: left;
}

body.css760 #openMenuPreferences:hover {color: $semiGrey;}

body.css760 #linkMenuPreferences {
	margin: 0;
	position: relative;
}

body.css760 #linkMenuPreferences .iconGear {	
	font-size: 14px;
	position: absolute;
	top: 15px;
	left: 10px;
	margin: 0;
	padding: 0;
}

body.css760 #linkMenuPreferences .iconArrowDown, 
body.css760 #linkMenuPreferences .iconArrowUp  {display: none;}

body.css760 #menuPreferences {
	width: 200px;
	margin: 0;
	left: 40px;
	top:0;
	height: 100%;
	position: fixed;
	-moz-box-shadow: 20px 0px 20px -25px #000000;
	-webkit-box-shadow: 20px 0px 20px -25px #000000;
	-o-box-shadow: 20px 0px 20px -25px #000000;
	box-shadow: 20px 0px 20px -25px #000000;
	text-align: left;
}

body.css760 #menuPreferences .pad40 {	padding: 30px;}

body.css760 #menuPreferences h2 {	padding: 0 0 0 20px;}
body.css760 #menuPreferences h2 i {	left: -2px; }

body.css760 #menuPreferences a.disconnect {
	padding: 0 0 0 15px;
	margin: 40px 0 0 0;
	float: left;
	clear: both;
	width: auto;
}

body.css760 a.disconnect i {	left: -2px;}

//////user footer
body.css760 #footerLeft {
	float: left;
	width: calc(100% - 20px);
	padding-left: 20px;
}

body.css760 #footerRight {
	float: left;
	width: calc(100% - 20px);
	padding-left: 20px;
	text-align: left;
	clear: both;
	margin-top: 10px;
}


/// drafts list
body.css760 .publicationsListItemTitle {
	font-size: 34px;
}

body.css760 .publicationsListItemDuplicate, body.css760 .publicationsListItemDelete {
	float: left;
	clear: both;
	margin: 10px 0 0 0;
}

body.css760 .publicationsListItemActions a {
	float: left;
	clear: both;
	margin: 0;	
}
