#bannerPromo.bannerPress {
    background: #e1e1e1;
    background-image: url("../images/f-press.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 526px;
}
