{% extends_admingenerated "PolitizrAdminBundle:PDReactionNew:form.html.twig" %}

{# Bloc tags #}
{% block form_row_title %}
    <div id="help">
        <b>Attention! L'enregistrement d'une réaction déclenche sa mise en ligne et l'envoi des notifications.</b><br/>
        Process: "titre" et "description" à BIEN remplir tout de suite, "image" et "tags" (à maj) sur l'écran d'édition.
    </div>
    {{ parent() }}
{% endblock %}
