<a action="notificationCheck" href="{{ authorUrl }}">
    {% include 'PolitizrFrontBundle:User:_authorName.html.twig' with { 'user': author } only %}
    {% include 'PolitizrFrontBundle:User:_authorOrganization.html.twig' with { 'user': author } only %}
</a> a commenté "{{ title | slice(0, 50) }}..." sur <a action="notificationCheck" href="{{ url }}">"{{ commentDoc }}"</a>.
