Vous suivez <a action="notificationCheck" href="{{ authorUrl }}">
    {% include 'PolitizrFrontBundle:User:_authorName.html.twig' with { 'user': author } only %}
    {% include 'PolitizrFrontBundle:User:_authorOrganization.html.twig' with { 'user': author } only %}
</a>
qui a publié
<a action="notificationCheck" href="{{ url }}">
    "{{ title }}"
</a>.
