{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
	{% if error %}
	    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
	{% endif %}

	<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Login" />
	    <input type="password" id="password" name="_password" required="required" placeholder="Mot de passe" />
	    <!--<input type="checkbox" id="remember_me" name="_remember_me" value="on" />-->

	    <hr>
	    <button class="btn btn-block btn-success" type="submit">Connexion</button>
	</form>
{% endblock fos_user_content %}
