<div class="publicationsListItem withLoaderInside">
    <div class="ajaxLoader" style="display: none;">
        <i class="iconSpin5 animateSpin"></i>
        <div class="ajaxLoaderBg"></div>
    </div>
    <div class="publicationsListItemHeader">
        <span>réaction</span>dernière mise à jour {% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAtTiny.html.twig' with { 'dateTimeAt': reaction.updatedAt } only %}
    </div>
    <div class="publicationsListItemTitle">
        <a href="{{ path('ReactionDraftEdit'~profileSuffix, { 'id': reaction.id }) }}">
            {{ reaction.title }}
        </a>
    </div>

    <div class="publicationsListItemContext">
        {{ reaction | itemContextReaction(false) }}
    </div>        
    <div class="publicationsListItemActions">
        <a href="{{ path('ReactionDraftEdit'~profileSuffix, { 'id': reaction.id }) }}"><i class="iconEdit"></i>Éditer</a>
    </div>
</div>


