<!-- @todo html/css renommer postSummaryGotoFil > postSummaryGotoParent -->
<div class="postSummaryGotoParent">
    <a href="{{ url }}">
        <i class="iconTimeline"></i>
        {{ parent.title }}
    </a>
</div>
