{# beta #}
<div class="postAnswersList">
    <h5 class="postAnswersListTitle">Réponses</h5>

    {% for reaction in reactions %}
        {% include 'PolitizrFrontBundle:Document:_card.html.twig' with { 'document': reaction, 'withContext': false, 'mini': true, 'summary': true } only %}
    {% endfor %}
</div>