<div id="reactionsToPost">
    <h1>les réactions à cette publication</h1>
    {% for reaction in document.childrenReactions(true, true) %}
        {% include 'PolitizrFrontBundle:Document:_summary.html.twig' with { 'document': reaction, 'withSubscribe': false } only %}        
    {% endfor %}
</div>
