{# beta #}
<div class="postAnswersList">
    <center>
        <div class="answerCounter">
            <i class="icon-reaction"></i>
            {{ document | nbReactions(descendants = false) }}
        </div>
    </center>

    {% for reaction in reactions %}
        {% include 'PolitizrFrontBundle:Document:_card.html.twig' with { 'document': reaction, 'withContext': false, 'mini': true, 'summary': true } only %}
    {% endfor %}
</div>