{# beta #}
{% if nbDescendantsElected > 0 or nbDescendantsNotElected > 0 or nbDescendantsTotal > 0 %}
    {% if document.type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_DEBATE') %}
        {% set detailPath = path('DebateDetail', { 'slug': document.slug }) %}
    {% elseif document.type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_REACTION') %}
        {% set detailPath = path('ReactionDetail', { 'slug': document.slug }) %}
    {% endif %}

    <a href="{{ detailPath }}" class="answerCounter">
        {% if nbDescendantsElected > 0 %}
            <span><i class="icon-profil-elu"></i>{{ labelDescendantsElected }}</span>
        {% endif %}
        {% if nbDescendantsNotElected > 0 %}
            <span><i class="icon-profil-citoyen"></i>{{ labelDescendantsNotElected }}</span>
        {% endif %}
        {% if nbDescendantsTotal > 0 %}
            <span><i class="icon-arbo"></i>{{ labelDescendantsTotal }}</span>
        {% endif %}
    </a>
{% endif %}
