{# beta #}
{% if document.type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_DEBATE') %}
    {% set detailPath = path('DebateDetail', { 'slug': document.slug }) %}
{% elseif document.type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_REACTION') %}
    {% set detailPath = path('ReactionDetail', { 'slug': document.slug }) %}
{% endif %}

<a href="{{ detailPath }}" class="answerCounter">
    <i class="icon-reaction"></i>{{ document | nbReactions(descendants = false, onlyElected = true) }}
</a>
