<div class="sidebarSubject">
    <div class="sidebarAction">
        {% if app.user and app.user.id != debate.getPUserId or not app.user %}
            <div class="sidebarFollow">
                {% include 'PolitizrFrontBundle:Follow:_actionFollow.html.twig' with { 'subject': debate } only %}
            </div>
        {% endif %}
        <div class="actionsBox">
            <div class="miniActions">
                {% include 'PolitizrFrontBundle:Reaction:_actionNew.html.twig' with { 'document': reaction, 'checkIfAuthorized': true } only %}
            </div>  
            <div class="notation withLoaderInside">
                {% include 'PolitizrFrontBundle:Reputation:_noteAction.html.twig' with { 'subject': reaction } only %}
            </div>
        </div>
        {{ reaction | share(app.request.uri) }}
    </div>

    {% include 'PolitizrFrontBundle:Document:_bookmarkBox.html.twig' with { 'document': reaction } only %}

    {% if app.user and app.user.id != reaction.pUserId %}
        {% include 'PolitizrFrontBundle:Monitoring:_sidebarAbuse.html.twig' with { 'subject': reaction } only %}
    {% endif %}

    {{ reaction | updateDocument }}
</div>
