<div class="modal" id="modalBox" style="display: none;">
    <div class="modalBg"></div>
    <div class="wrapper">
        <div class="modalHeader">
            <div class="modalHeaderFixed">
                <div class="headerLogo"><i class="iconPltzrLogo"></i></div>
                <div class="modalClose" action="modalClose">fermer<i class="iconCross"></i></div>
            </div>
        </div>
        <div id="modalBoxContent">
        </div>
    </div>
</div>