<tr style="background-color: #FFFFFF; width: 100%;">
    <td colspan="2" style="padding: 0 40px 40px 40px;  line-height: 180%;">
        Vos propos sont diffamants et ont été modérés. Vous perdez {{ userModerated.scoreEvolution }} de réputation.
    </td>
</tr>
{% include 'PolitizrAdminBundle:Fragment\\Moderation\\MessageEmail:_notificationDocumentContent.html.twig' %}
