<tr style="background-color: #FFFFFF; width: 100%; padding-bottom: 20px;">
    <td style="padding: 0 40px 0 0; line-height: 140%;" valign="top">
        Vous avez été banni de Politizr pour {{ user.BannedNbDaysLeft }} jours et votre réputation a été remise à 0.
    </td>
</tr>