<tr style="background-color: #FFFFFF; width: 100%;">
    <td colspan="2" style="padding: 0 40px 40px 40px;  line-height: 180%;">
        Vous avez été banni de Politizr pour {{ user.BannedNbDaysLeft }} jours et votre réputation a été remise à 0.
    </td>
</tr>
