{% extends 'PolitizrFrontBundle:Fragment\\Debate:Detail.html.twig' %}

{# Bloc en-tête d'un débat dans le fil du débat #}
{% block linkDetailFeed %}
	{# Lien détail #}
	<div class="row text-center">
		<div class="col-sm-12">
			<a class="btn btn-primary" href="{{ path('DebateDetail', { 'id': debate.id, 'slug': debate.slug }) }}">Détail</a>
		</div>
	</div>		
{% endblock linkDetailFeed %}

{% block description %}
{% endblock description %}

{% block globalComments %}		
{% endblock globalComments %}
