<div class="scroll">
    {% for debate in debates %}
        {% include 'PolitizrFrontBundle:Fragment\\Debate:ListRow.html.twig' with { 'debate': debate } only %}
        <hr>
    {% endfor %}
</div>
{% include 'PolitizrFrontBundle:Fragment\\Global:ScrollNav.html.twig' with { 'results': debates, 'offset': offset } %}
