{% extends 'PolitizrFrontBundle:Fragment\\Debate:ListRow.html.twig' %}

{% block listHeader %}
    <div class="img-responsive">
            {{ debate | image('debate_list') }}
    </div>
{% endblock listHeader %}

{% block listDebate %}
    <h4><a href="{{ path('DebateDetail', { 'slug': debate.slug }) }}">{{ debate.title }}</a></h4>
    <div class="date">
        {% include 'PolitizrFrontBundle:Fragment\\Global:DateTimeAt.html.twig' with { 'dateTimeAt': debate.publishedAt, 'format': 'short' } only %}
    </div>
    <div class="following text-center">
        <div class="subscribe pull-right">
            {{ debate | linkSubscribeDebate }}
        </div>
    </div>
{% endblock listDebate %}

{% block listAuthor %}
{% endblock listAuthor %}
