{# beta #}
<div class="publicSidebarCreateAccount">
    <h1>Vous aussi<br>participez aux<br> débats !</h1>
    <a href="{{ path('Inscription') }}">Créez un compte</a>
    <span>L'inscription<br>est gratuite !</span>
</div>
