{% if ownersCircles | length > 0 %}
    <div class="footerColumn">
        <div class="footerColumnTitle">Nos consultations</div>
        {% for ownerCircles in ownersCircles %}
            {% for circle in ownerCircles[1] %}
                <a href="{{ path('CircleDetail', { 'slug': circle.slug }) }}">{{ circle.title }}</a>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}