{% if ownersCircles | length > 0 %}
    <div class="footerColumn">
        <div class="footerColumnTitle">{{ group.label }}</div>
        {% for ownerCircles in ownersCircles %}
            {% for circle in ownerCircles[1] %}
                <a href="{{ path('CircleDetail', { 'slug': circle.slug }) }}">{{ circle.title }}</a>
            {% endfor %}
        {% endfor %}
        {#
        <br/><br/>
        <div class="footerColumnTitle">Mentions légales</div>
        <a href="#" action="openCgu">Conditions Générales d'Utilisation</a>
        <a href="#" action="openPolicies">Politique de confidentialité</a>
        #}
    </div>
{% endif %}