<h2>mes préférences<i class="iconPrefs"></i></h2>
<a href="{{ path('EditNotifications'~profileSuffix) }}">Notifications</a>
<a href="{{ path('EditPerso'~profileSuffix) }}">Paramètres</a>
<a class="disconnect" href="{{ path('Logout') }}">déconnexion<i class="iconCrossInSquare"></i></a>
