<div class="openSearch">recherchez<i class="iconSearch"></i></div>
<a class="linkMyPolitizr" href="{{ path('Timeline'~profileSuffix) }}"><i class="iconTimeline"></i>mon politizr</a>
<a href="{{ path('DebateDraftNew'~profileSuffix) }}"><i class="iconQuote"></i>nouveau débat</a>
<a href="{{ path('Drafts'~profileSuffix) }}"><i class="iconDraft"></i>brouillons</a>
<a class="miniLink" href="{{ path('Contribution'~profileSuffix) }}">mes contributions</a>
<a class="miniLink" action="modalSubscriptions">mes abonnements</a>
