<h2>mes préférences<i class="iconPrefs"></i></h2>
<a href="{{ path('EditNotifications'~profileSuffix) }}">Réglages des notifications</a>
<a href="{{ path('EditPerso'~profileSuffix) }}">Paramètres de connexion</a>
<a class="disconnect" href="{{ path('Logout') }}">déconnexion<i class="iconCrossInsquare"></i></a>
