<div id="logo"><a href="{{ path('CircleDetail', { 'slug': circle.slug }) }}"><i class="icon-pltzr-logo"></i><span>politizr</span></a></div>
<div id="headerMenu">
    <a href="{{ path('Homepage'~profileSuffix()) }}">retour à l'accueil principal</a>
</div>
