<div class="headerGrp" action="toggleGrpMenuGroup">
    <i class="icon-grp"></i><span>Consultations</span><i class="icon-arrow-down"></i>
    <div class="headerGrpMenu circleMenu" style="display:none">
        <div class="headerGrpMenuArrow"><i class="icon-arrow-up"></i></div>
        <div class="innerMenu">
            <div class="primaryMenu">
                {% for ownerCircles in ownersCircles %}
                    <span>{{ ownerCircles[0].title }}</span>
                    {% for circle in ownerCircles[1] %}
                        <a href="{{ path('CircleDetail', { 'slug': circle.slug }) }}">{{ circle.title }}</a>
                    {% endfor %}
                {% endfor %}
            </div>
            {#
            {% if manageGroup %}
                <div class="secondaryMenu">
                    <a href="{{ path('MenuCircle') }}">Gérer mes consultations</a>
                </div>
            {% endif %}
            #}
        </div>
    </div>
</div>
