<div id="moderationNew">
    <form id="moderationAlertNew" method="post">
        {{ form_row(form.p_m_moderation_type_id) }}
        {{ form_rest(form) }}
        <a action="moderationAlertNew">Valider</a>
    </form>
</div>