{# beta #}
<h5>Auteur</h5>
<form id="profileFilter">
    <input type="radio" class="profileFilter" name="profileFilter[]" value="{{ constant('Politizr\\Constant\\ListingConstants::FILTER_KEYWORD_ALL_USERS') }}" id="profileFilterAll" checked/>
    <label for="profileFilterAll"><i class="icon-check"></i>Tous les profils</label>
    <input type="radio" class="profileFilter" name="profileFilter[]" value="{{ constant('Politizr\\Constant\\ListingConstants::FILTER_KEYWORD_QUALIFIED') }}" id="profileFilterQualified"/>
    <label for="profileFilterQualified"><i class="icon-check"></i>Élu-e-s uniquement</label>
    <input type="radio" class="profileFilter" name="profileFilter[]" value="{{ constant('Politizr\\Constant\\ListingConstants::FILTER_KEYWORD_CITIZEN') }}" id="profileFilterCitizen"/>
    <label for="profileFilterCitizen"><i class="icon-check"></i>Citoyen-ne-s uniquement</label>
</form>
