@import "../_global/colors";

////// footer

#footer {
	width: 100%;
	float: left;
	clear: both;
	padding: 80px 0 140px 0;
	background-color: $darkGrey;
	color: #525252;
}

#footer .wrapper {text-align: center;}

#footerLinks a { 
	color: #fff;
	font-family: 'Merriweather Italic';
	font-style: italic;
	font-size: 12px;
	margin: 0 20px; 
	color: $semiGrey;
}

#footerSocial {
	margin: 20px 0 50px 0;
}

#footerSocial a {
	color: #fff;
	margin: 0 5px;
	font-size: 16px;
	color: $semiGrey;
}

#footerLinks a:hover, #footerSocial a:hover { color: $darkHighlight;}

#footerMentions {
    font-family: 'nerislight_italic';
    font-size: 12px;
    line-height: 180%;
    margin-bottom: 10px;
}

#footerMentions img {margin-left: 7px;}

#footerMentions span { font-size: 10px;}

#footerFbShare {
	-moz-opacity: 0.50;
	opacity: 0.50;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	filter:alpha(opacity=50);
}

////// end footer