{% extends_admingenerated "PolitizrAdminBundle:POSubscriptionList:row.html.twig" %}

{% block object_action_moveUp %}
    {% spaceless %}
        {% if not POSubscription.isFirst() %}
            <a class="btn btn-default btn-xs" href="{{ path("Politizr_AdminBundle_POSubscription_object", { 'pk': POSubscription.Id, action: 'moveUp' }) }}" 
                data-original-title="{% trans from "Admin" %}+Haut{% endtrans %}" rel="tooltip"><img src="/bundles/politizradmin/images/pos-up.png" /></a>
        {% endif %}
    {% endspaceless %}
{% endblock object_action_moveUp %}

{% block object_action_moveDown %}
    {% spaceless %}
        {% if not POSubscription.isLast() %}
            <a  class="btn btn-default btn-xs " href="{{ path("Politizr_AdminBundle_POSubscription_object", { 'pk': POSubscription.Id, action: 'moveDown' }) }}" 
                data-original-title="{% trans from "Admin" %}+Bas{% endtrans %}" rel="tooltip"><img src="/bundles/politizradmin/images/pos-down.png" /></a>
        {% endif %}
    {% endspaceless %}
{% endblock object_action_moveDown %}