<div id="displayCommentsZone">
    <a href="{{ path('Politizr_AdminBundle_PDDComment_list') }}filter?p_d_debate_id={{ debate.id }}">
        {% if comments | length > 0 %}
            <b>{{ comments | length }} commentaire(s)</b>
        {% else %}
            <b>Aucun commentaire</b>
        {% endif %}
    </a>
    {#
    <hr>
    {% for comment in comments %}
        {% include 'PolitizrAdminBundle:Fragment\\Comment:_comment.html.twig' with { 'comment': comment, 'withDocContext': false } %}
    {% endfor %}
    #}
</div>
