<div id="displayDebatesZone">
    {% if debates | length > 0 %}
        <b>{{ debates | length }} débats ont été taggés avec {{ tag }}</b>
    {% else %}
        <b>Aucun débat taggé avec {{ tag }}</b>
    {% endif %}
    <hr>
    {% for debate in debates %}
        {% include 'PolitizrAdminBundle:Fragment\\Debate:_debate.html.twig' with { 'debate': debate } %}
    {% endfor %}
</div>
