{% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}

{% for type, geo in geoTypeObjects %}
    <span action="map" class="active{% if loop.last %} current{% endif %}" type="{{ type }}" uuid="{{ geo.uuid }}">{{ geo.title }}</span>
{% endfor %}