<div class="outreMerGroup">
    <div class="outreMerItem{% if current == 'guadeloupe' %} selected{% endif %}">
        {% include 'PolitizrFrontBundle:Search\\Map\\OM:_guadeloupe.svg.twig' with { 'current': current } %}
        <span>Guadeloupe</span>
    </div>
    <div class="outreMerItem{% if current == 'guyane' %} selected{% endif %}">
        {% include 'PolitizrFrontBundle:Search\\Map\\OM:_guyane.svg.twig' with { 'current': current } %}
        <span>Guyane</span>
    </div>
    <div class="outreMerItem{% if current == 'martinique' %} selected{% endif %}">
        {% include 'PolitizrFrontBundle:Search\\Map\\OM:_martinique.svg.twig' with { 'current': current } %}
        <span>Martinique</span>
    </div>
    <div class="outreMerItem{% if current == 'laReunion' %} selected{% endif %}">
        {% include 'PolitizrFrontBundle:Search\\Map\\OM:_laReunion.svg.twig' with { 'current': current } %}
        <span>La Réunion</span>
    </div>
    <div class="outreMerItem{% if current == 'mayotte' %} selected{% endif %}">
        {% include 'PolitizrFrontBundle:Search\\Map\\OM:_mayotte.svg.twig' with { 'current': current } %}
        <span>Mayotte</span>
    </div>
</div>
<div class="outreMerGroup">
    <div class="outreMerItem{% if current == 'polynesieFrancaise' %} selected{% endif %}">
        {% include 'PolitizrFrontBundle:Search\\Map\\OM:_polynesieFrancaise.svg.twig' with { 'current': current } %}
        <span>Polynésie française</span>
    </div>
    <div class="outreMerItem{% if current == 'saintBarthelemy' %} selected{% endif %}">
        {% include 'PolitizrFrontBundle:Search\\Map\\OM:_saintBarthelemy.svg.twig' with { 'current': current } %}
        <span>Saint-Barthélémy</span>
    </div>
    <div class="outreMerItem{% if current == 'saintMartin' %} selected{% endif %}">
        {% include 'PolitizrFrontBundle:Search\\Map\\OM:_saintMartin.svg.twig' with { 'current': current } %}
        <span>Saint-Martin</span>
    </div>
    <div class="outreMerItem{% if current == 'saintPierreEtMiquelon' %} selected{% endif %}">
        {% include 'PolitizrFrontBundle:Search\\Map\\OM:_saintPierreEtMiquelon.svg.twig' with { 'current': current } %}
        <span>Saint-Pierre-et-Miquelon</span>
    </div>
    <div class="outreMerItem{% if current == 'wallisEtFutuna' %} selected{% endif %}">
        {% include 'PolitizrFrontBundle:Search\\Map\\OM:_wallisEtFutuna.svg.twig' with { 'current': current } %}
        <span>Wallis-et-Futuna</span>
    </div>
</div>
<div class="outreMerGroup">
    <div class="outreMerItem{% if current == 'nouvelleCaledonie' %} selected{% endif %}">
        {% include 'PolitizrFrontBundle:Search\\Map\\OM:_nouvelleCaledonie.svg.twig' with { 'current': current } %}
        <span>Nouvelle-Calédonie</span>
    </div>
</div>
