<div class="worldItemRow">
    <div class="worldItem{% if current == 'circonscription1' %} selected{% endif %}">
        {% include 'PolitizrFrontBundle:Search\\Map\\World:_circonscription1.html.twig' with { 'current': current } %}
        <span>États-Unis et Canada</span>
    </div>
    <div class="worldItem{% if current == 'circonscription2' %} selected{% endif %}">
        {% include 'PolitizrFrontBundle:Search\\Map\\World:_circonscription2.html.twig' with { 'current': current } %}
        <span>Amérique du Sud, Amérique Centrale, Mexique et Antilles</span>
    </div>
</div>
<div class="worldItemRow">
    <div class="worldItem{% if current == 'circonscription3' %} selected{% endif %}">
        {% include 'PolitizrFrontBundle:Search\\Map\\World:_circonscription3.html.twig' with { 'current': current } %}
        <span>Europe du Nord</span>
    </div>
    <div class="worldItem{% if current == 'circonscription4' %} selected{% endif %}">
        {% include 'PolitizrFrontBundle:Search\\Map\\World:_circonscription4.html.twig' with { 'current': current } %}
        <span>Benelux</span>
    </div>
</div>
<div class="worldItemRow">
    <div class="worldItem{% if current == 'circonscription5' %} selected{% endif %}">
        {% include 'PolitizrFrontBundle:Search\\Map\\World:_circonscription5.html.twig' with { 'current': current } %}
        <span>Péninsule ibérique et Monaco</span>
    </div>
    <div class="worldItem{% if current == 'circonscription6' %} selected{% endif %}">
        {% include 'PolitizrFrontBundle:Search\\Map\\World:_circonscription6.html.twig' with { 'current': current } %}
        <span>Suisse et Liechtenstein</span>
    </div>
</div>
<div class="worldItemRow">
    <div class="worldItem{% if current == 'circonscription7' %} selected{% endif %}">
        {% include 'PolitizrFrontBundle:Search\\Map\\World:_circonscription7.html.twig' with { 'current': current } %}
        <span>Europe de l'Est (hors Russie), Europe centrale et Balkans</span>
    </div>
    <div class="worldItem{% if current == 'circonscription8' %} selected{% endif %}">
        {% include 'PolitizrFrontBundle:Search\\Map\\World:_circonscription8.html.twig' with { 'current': current } %}
        <span>Chypre, Grèce, Israël, Italie, Malte, et Turquie</span>
    </div>
</div>
<div class="worldItemRow">
    <div class="worldItem{% if current == 'circonscription9' %} selected{% endif %}">
        {% include 'PolitizrFrontBundle:Search\\Map\\World:_circonscription9.html.twig' with { 'current': current } %}
        <span>Maghreb, Afrique de l'Ouest</span>
    </div>
    <div class="worldItem{% if current == 'circonscription10' %} selected{% endif %}">
        {% include 'PolitizrFrontBundle:Search\\Map\\World:_circonscription10.html.twig' with { 'current': current } %}
        <span>Partie du Moyen-Orient et de l'Afrique</span>
    </div>
</div>
<div class="worldItemRow">
    <div class="worldItem{% if current == 'circonscription11' %} selected{% endif %}">
        {% include 'PolitizrFrontBundle:Search\\Map\\World:_circonscription11.html.twig' with { 'current': current } %}
        <span>Asie (incl. Russie) et Océanie</span>
    </div>
</div>
