<div class="worldItem{% if current == 'circonscription1' %} selected{% endif %}">
    {% include 'PolitizrFrontBundle:Search\\Map\\World:_circonscription1.svg.twig' with { 'current': current } %}
    <span>Circonscription 1</span>
</div>
<div class="worldItem{% if current == 'circonscription2' %} selected{% endif %}">
    {% include 'PolitizrFrontBundle:Search\\Map\\World:_circonscription2.svg.twig' with { 'current': current } %}
    <span>Circonscription 2</span>
</div>
<div class="worldItem{% if current == 'circonscription3' %} selected{% endif %}">
    {% include 'PolitizrFrontBundle:Search\\Map\\World:_circonscription3.svg.twig' with { 'current': current } %}
    <span>Circonscription 3</span>
</div>
<div class="worldItem{% if current == 'circonscription4' %} selected{% endif %}">
    {% include 'PolitizrFrontBundle:Search\\Map\\World:_circonscription4.svg.twig' with { 'current': current } %}
    <span>Circonscription 4</span>
</div>
<div class="worldItem{% if current == 'circonscription5' %} selected{% endif %}">
    {% include 'PolitizrFrontBundle:Search\\Map\\World:_circonscription5.svg.twig' with { 'current': current } %}
    <span>Circonscription 5</span>
</div>
<div class="worldItem{% if current == 'circonscription6' %} selected{% endif %}">
    {% include 'PolitizrFrontBundle:Search\\Map\\World:_circonscription6.svg.twig' with { 'current': current } %}
    <span>Circonscription 6</span>
</div>
<div class="worldItem{% if current == 'circonscription7' %} selected{% endif %}">
    {% include 'PolitizrFrontBundle:Search\\Map\\World:_circonscription7.svg.twig' with { 'current': current } %}
    <span>Circonscription 7</span>
</div>
<div class="worldItem{% if current == 'circonscription8' %} selected{% endif %}">
    {% include 'PolitizrFrontBundle:Search\\Map\\World:_circonscription8.svg.twig' with { 'current': current } %}
    <span>Circonscription 8</span>
</div>
<div class="worldItem{% if current == 'circonscription9' %} selected{% endif %}">
    {% include 'PolitizrFrontBundle:Search\\Map\\World:_circonscription9.svg.twig' with { 'current': current } %}
    <span>Circonscription 9</span>
</div>
<div class="worldItem{% if current == 'circonscription10' %} selected{% endif %}">
    {% include 'PolitizrFrontBundle:Search\\Map\\World:_circonscription10.svg.twig' with { 'current': current } %}
    <span>Circonscription 10</span>
</div>
<div class="worldItem{% if current == 'circonscription11' %} selected{% endif %}">
    {% include 'PolitizrFrontBundle:Search\\Map\\World:_circonscription11.svg.twig' with { 'current': current } %}
    <span>Circonscription 11</span>
</div>
