<h2>mes préférences<i class="iconPrefs"></i></h2>
<a href="{{ path('MyNotificationsC') }}">Réglages des notifications</a>
<a href="{{ path('MyPersoC') }}">Paramètres de connexion</a>
<a href="{{ path('MyPersoC') }}">Modifier ma formule</a>
<a class="disconnect" href="{{ path('Logout') }}">déconnexion<i class="iconCrossInsquare"></i></a>
