<div id="header">
    <div class="headerLogo">
        <a href="{{ path('HomepageC') }}">
            <i class="icon-pltzr-logo"></i>
        </a>
    </div>
    <div id="headerCenter">
        <div id="linkRanking"><i class="icon-ranking"></i>classement</div>
        <div id="linkNotifications" class="notifYes"><i class="icon-notif-yes"></i><span id="notif-counter">-</span></div>
        <div id="linkSuggestions" class="notifNo"><i class="icon-notif-no"></i>suggestions</div>
    </div>
    <div id="headerRight">
        <div id="linkMenuPreferences">
            <div id="openMenuPreferences"><i class="icon-gear"></i><i class="icon-arrow-down"></i></div>
            <div id="hideMenuPreferences" style="display: none;"><i class="icon-gear"></i><i class="icon-arrow-up"></i></div>
        </div>              
        <div id="menuPreferences" style="display: none;">
            <div class="pad40">
                {% include 'PolitizrFrontBundle:Navigation:menuSettingsC.html.twig' %}
            </div>
        </div>
    </div>
    <div id="menu">
        <div class="pad40">
            {% include 'PolitizrFrontBundle:Navigation:menuC.html.twig' %}
        </div>
    </div>
    
    <div id="social">
        <div class="pad40">
            <a href=""><i class="icon-social-fb"></i></a>
            <a href=""><i class="icon-social-tw"></i></a>
            <a href=""><i class="icon-social-gg"></i></a>
            <div class="signalAbuse"><i class="icon-alert"></i></div>
        </div>
    </div>
</div>
