<div id="header">
	{% if is_granted('ROLE_USER') %}
		{% include 'PolitizrFrontBundle:Navigation:menuInscription.html.twig' %}
	{% else %}
		{% include 'PolitizrFrontBundle:Navigation:menuPublic.html.twig' %}
	{% endif %}
	<hr>
</div>