<h2>mes préférences<i class="icon-prefs"></i></h2>
<a href="{{ path('MyNotificationsC') }}">Réglages des notifications</a>
<a href="{{ path('MyPersoE') }}">Paramètres de connexion</a>
<a class="disconnect" href="{{ path('Logout') }}">déconnexion<i class="icon-cross-insquare"></i></a>
