<a href="{{ path('Presentation') }}">Présentation</a>
<a href="{{ path('Inscription') }}">S'inscrire</a>
<button action="connect-me">Connexion</button>
{{ render(controller('PolitizrFrontBundle:Security:login')) }}