<div id="menu">
	<a href="{{ path('Homepage') }}">Accueil</a>
	<a href="{{ path('Presentation') }}">Présentation</a>
	<hr>
	<a href="#">Mon espace</a>
	<hr>
	<a href="{{ path('Logout') }}" class="deconnectMe">Me déconnecter</a>
</div>
