<div id="menu">
	<a href="{{ path('Homepage') }}">Accueil</a>
	<a href="{{ path('Presentation') }}">Présentation</a>
	<a href="{{ path('Inscription') }}">S'inscrire</a>
	<hr>
	<a class="connectMe">Connexion</a>
</div>
