<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="navbar-left">
		<span class="label label-default">Inscription élu</span>
	</ul>
	<ul class="navbar-right">
		<a class=" btn btn-primary btn-xs" href="{{ path('Logout') }}" class="deconnectMe">Déconnexion</a>
	</ul>
</div><!-- /.navbar-collapse -->
