{% set results = pager.CurrentPageResults %}

{% for result in results %}
	<!-- TODO > gestion des highlights à debugguer > http://stackoverflow.com/questions/28768323/elasticsearch-highlights-results-repeats-snippets
	{# for highlight in result.highlights #}
		<p>{# dump(highlight) #}</p>
	{# endfor #}
	-->
	{% if result.className == constant('Politizr\\Model\\PDocument::TYPE_DEBATE') %}
		{% include 'PolitizrFrontBundle:Fragment\\Debate:ListRow.html.twig' with { 'debate': result } %}
	{% elseif result.className == constant('Politizr\\Model\\PDocument::TYPE_REACTION') %}
		{% include 'PolitizrFrontBundle:Fragment\\Reaction:ListRow.html.twig' with { 'reaction': result } %}
	{% elseif result.className == constant('Politizr\\Model\\PDocument::TYPE_USER') %}
		{% include 'PolitizrFrontBundle:Fragment\\User:ListRow.html.twig' with { 'user': result } %}
	{% endif %}
	<hr>
{% endfor %}

{% if pager.haveToPaginate %}
    <div id="boxPagination">
        {{ pagerfanta(pager, 'default_translated', { 'routeName': routeName, 'routeParams': { 'query': query } }) }}
    </div>
{% endif %}