<a action="share-fb" url="{{ uri }}"><i class="iconSocialFb"></i></a>
<a action="share-tw" url="{{ uri }}" tweetText="#Politizr..."></a><i class="iconSocialTw"></i></a>
<a action="share-gg" url="{{ uri }}"><i class="iconSocialGg"></i></a>
<div class="signalAbuse"><i class="iconAlert"></i></div>
