<div id="share-box">
    <a id="fb" action="share-fb" url="{{ uri }}"></a>
    <a id="tw" action="share-tw" url="{{ uri }}" tweetText="{{ tweetText }}"></a>
    <a id="gg" action="share-gg" url="{{ uri }}"></a>
</div>
