<tr>
    <td colspan="2" style="text-align: center; padding: 0 0 40px 0; color:#9d9d9d; font-size: 10px;">
        <a href="{{ url('Homepage') }}" target="_blank" style="color:#9d9d9d; text-decoration: none;">
            <img src="imagesMail/logoPolitizrFooter.jpg" alt="Rendez-vous sur politizr.com" style="padding-bottom: 5px;"/><br>
            <span style="color:#9d9d9d;">Changerez-vous d'opinion ?</span></a>
    </td>
</tr>
