@import "../_global/_colors";

body.css760 #modalBoxContent .subscribe .actionFollow a, body.css760 #modalBoxContent .subscribe .actionUnfollow a, body.css760 #dashboard .subscribe .actionFollow, body.css760 #dashboard .subscribe .actionUnfollow, body.css760 #dashboard .subscribe .actionFollow, body.css760 #dashboard .subscribe .actionUnfollow {
	width: 140px;
}

body.css760 .postSummaryCard .subscribe .actionFollow a, body.css760 .postSummaryCard .subscribe .actionUnfollow a {
	width: 140px;
}

body.css760 .actionFollow, body.css760 .actionUnfollow {
	margin-right: 0;
	width: 140px;
}

//////actions

body.css760 #fixedActions {	
	display: none; 
	left: 40px;
	bottom: 0;
	width: calc(100% - 40px);
	padding: 0;
	z-index: 9000;
	-moz-box-shadow: -10px 5px 20px #000000;
	-webkit-box-shadow: -10px 5px 20px #000000;
	-o-box-shadow: -10px 5px 20px #000000;
	box-shadow: -10px 5px 20px #000000;
}


body.css760 #fixedActions a, 
body.css760 #fixedActions .actionFollow a, 
body.css760 #fixedActions .actionUnfollow a, 
body.css760 #fixedActions .actionCosign {
	width: 50%;
	margin: 0;
	padding: 17px 0;
	cursor: pointer;
	font-size: 11px;
	float: left;
	clear: none;
}

body.css760  #fixedActions a.actionReact, 
body.css760  #fixedActions .actionCosign  {	
	width: 100%; margin-bottom: 0;
}

body.css760 .subscribe {
	float: right;
	margin-top: 20px;
}