@import "../_global/_colors";

//////dashboard

body.css1000 .dbMapBox .svg {
	width: 100%;
	overflow: hidden;
}

body.css1000 .dbMapHeaderRight {
	float: left;
	clear: both;
	width: 100%;
	text-align: left;
	margin-top: 10px;
}

body.css1000 .dbMapHeaderRight span:first-child {margin-left: 0;}

body.css1000 .dbMapFilters {
	width: 35%;
	padding: 10px;
}

body.css1000 .dbMapFilters .listCriteria {margin-top: 0;}

body.css1000 .dbMapFilters .listCriteria.listCriteriaTabs label {
	width: 33%;
	margin-right: 0;
}

body.css1000 #dashboard h1 { padding:40px 10px 10px 10px; }
body.css1000 #dashboard .dbBox h1 {	padding:40px 0 10px 0;	}

body.css1000 .dbMapHeader {
	margin: 5px 10px 10px 10px;
	width: calc(100% - 20px);
}

body.css1000 .dbBox {
	margin: 0 10px;
	width: calc(100% - 20px);	
	float: right;
}

body.css1000 .dbPopularTagList {
	width: 100%;
	margin: 20px 0 0 0;
}

body.css1000 .dbItemHalfWidth {
	width: 100%;
	margin: 20px 0;
}

body.css1000 .dbBox .profileHeader, body.css1000 .dbBox .profileHeaderIllustration, body.css1000 .dbItemHalfWidth .profileHeader, body.css1000 .dbItemHalfWidth .profileHeaderIllustration, body.css1000 .dbItemHalfWidth .illustrationShadow { height: 165px;}

body.css1000 .dbBox .profileHeader .pad40, body.css1000 .dbItemHalfWidth .profileHeader .pad40 {
	height: 125px;
	padding: 20px;
}

body.css1000 .dbBox .profileHeader .profileSummaryFooter, body.css1000 .dbItemHalfWidth .profileHeader .profileSummaryFooter {bottom: 20px;}
body.css1000 .dbItemFullWidth {width: 100%; }

body.css1000 #dashboard .dbGeo h1, body.css1000 #dashboard .dbSuggestions h1 {
	padding: 20px 10px 10px 40px
}

body.css1000 .dbGeo h1:before, body.css1000 .dbSuggestions h1:before {
	left: 20px;
	top: 21px;
}

body.css1000 .dbCloseToYou { width: 100%;}
body.css1000 .dbSuggestions, body.css1000 .dbCloseToYou .dbGeo {
	padding: 0 10px;
	width: calc(100% - 20px);
	float: right;
}

body.css1000 .dbItemFullWidth a.dbItemShow { margin: 20px 0 0 20px;}

body.css1000 #dashboard .dbItemFullWidth .subscribe {	right: 20px;}