@import "../_global/_colors";

//////form

//form abuse
body.css760 .formAbuse.modal h1,
body.css760 .formIntro,
body.css760 .formAbuse form { 
	width: calc(100% - 40px); 
	padding: 0 20px;	
}

body.css760 .formAbuse form textarea {width: calc(100% - 40px);}

body.css760 .formAbuse .listProfile {
	width: calc(100% - 40px);
	margin: 50px 20px 50px 20px;
}

//search form

body.css760 .search form.searchForm {
	width: 60%;
	padding: 0 20%;
	margin: 40px 0 40px 0;
	float: left;
}


body.css760 .search form.searchForm input {	font-size: 22px;}

body.css760 .search form.searchForm input[type=submit] { font-size: 13px;}


