@import "../_global/_colors";

//////modal
body.css1000 .modalHeader {
	width: calc(100% - 40px); 
	left: 0;
	padding: 15px 20px 20px 20px;
	margin-left: 0;
}
body.css1000 .modalList {	width: 100%;}

body.css1000 .listContainer {
	width: 100%;
}

body.css1000 #modalBoxContent {
	width: calc(100% - 40px); 
	padding: 0 20px;
	margin: 0;
	float: left;
}

body.css1000 #listContent {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}
body.css1000 .modalList.withSidebar { 
	float: none;
	padding-top: 40px;
}

body.css1000 .modalSidebar {
	position: static;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	left: 0;
}

body.css1000 .modal .modalSidebar h1 {
	margin-top: 55px;
}

body.css1000 .listCriteria {
	width: 100%;
	margin: 20px 0 0 0;
}

body.css1000 .listCriteria label {clear: none; margin-right: 20px;}
body.css1000 .listCriteria form, body.css1000 .listCriteriaFormSubLevel { margin-bottom: 10px; }