@import "../_global/_colors";

/// modal

body.css760 .modalHeader {	
	width: calc(100% - 50px); 
	left: 0; 
	padding: 0 38px 0 12px;
	margin: 0;
}
body.css760 .modalHeader .headerLogo {background-color: #fff;}
body.css760 .modalHeader .headerLogo a { margin : 0; background-color: #fff; padding-bottom: 12px}
body.css760 .modalClose {margin-top : 15px;}

body.css760 .listCriteria input { display: none; }

body.css760 .modalList {	width: 100%; float: left; margin: 0 0 40px 0; padding: 0;}
body.css760 .modal h1 { margin: 50px 0 0 0;}

body.css760 .listPost {	
	width: calc(100% - 40px);
	padding: 0 20px;
	margin-bottom: 50px;
}

body.css760 .listProfileRight {	width: calc(100% - 50px);}
body.css760 .modalItem.listProfile {margin-bottom: 50px;}

body.css760 .listPostFollow {margin-left: 20px;}

body.css760 .wikiSample {	width: calc(100% - 40px); padding: 0 20px;}
body.css760 .wikiSampleMask {	width: calc(100% - 40px); padding: 0 20px;}

//////list

body.css760 .listContainer {width: calc(100% - 40px); padding: 0 20px;}

//////list with filters in sidebar

body.css760 .modalList.withSidebar { float: left; width: 100%;}

body.css760 .listCriteria.criteriaSidebar {
	clear: none;
	width: 100%;
	padding: 0;
	margin: 0 0 40px 0;
	float: left;
	text-align: center;
}

body.css760 .listCriteria.criteriaSidebar form, body.css760 .listCriteriaFormSubLevel {
	padding-bottom: 20px;
	margin-bottom: 30px;
}

body.css760 .listCriteria.criteriaSidebar form:last-child , body.css760 .listCriteriaFormSubLevel:last-child {margin-bottom: 0;}

body.css760 .listCriteria.criteriaSidebar form label {
	clear: none;
	float: none;
	display: inline-block;
	margin: 0 10px 10px 10px;
}

body.css760 .modalList.withSidebar .listTab, body.css760 .modalList.withSidebar .modalItem {
	width: 100%;
	float: none;
	padding: 0;
}

body.css760 .modalList.withSidebar .modalItem.listProfile {
	margin: 0 0 50px 0;
	width: calc(100% - 40px);
}

// actions box error, succes, alert

body.css760 #infoBoxHolder {
	right: 0;
	left: auto;
}

body.css760 .boxSuccess, body.css760 .boxError, body.css760 .boxAlert {
	width: 190px;
	right: 20px;
	left:  auto;
}

body.css760 .notifBoxText {	
	width: 160px;
	-webkit-text-size-adjust: 100%;
}

////// modal charts on profile pages 
body.css760 #modalMyFollowersChart, body.css760 #modalReputationChart { width: 100%;}

body.css760 #statsCounters {
	padding: 20px 0 40px 0;
	margin: 0 20% 20px 20%;
	border: none;
	border-bottom: solid 1px $semiGrey;
	width: 60%;
}

body.css760 #visitsGender {
	float: left;
	clear: both;
	width: 90%;
	margin: 20px 5%;
	padding: 0;
}

body.css760 canvas#myFollowersGender {
	width: 100%;
	height: 140px;
}
body.css760 #visitsAge {
	float: left;
	clear: both;
	width: 90%;
	margin: 20px 5%;
	padding: 0;
}
body.css760 canvas#myFollowersAge {
	width: 100%;
	height: 200px;	
}

body.css760 #myFollowersStats {
	float: left;
	clear: both;
	width: calc(90% - 40px);
	margin: 20px 5%;
	padding: 20px;
}
body.css760 canvas#myFollowersLine {
	width: 100%;
	height: 240px;	
}

// reputation

body.css760 #reputationPoints { width: 100%; padding: 0; margin: 20px 0;}
body.css760 .chartReputationLine { 	width: 100%; padding: 0; margin: 0;	}

body.css760 #modalReputationChart {
	float: left;
	clear: both;
	width: calc(90% - 40px);
	margin: 20px 5%;
	padding: 20px;
}
body.css760 canvas#reputationLine {
	width: 100%;
	height: 240px;		
}
body.css760 #modalReputationChart .chartNavPrev {left: 0;}
body.css760 #modalReputationChart .chartNavNext {right: 0;}
body.css760 #modalReputationChart .modalChartLegend {padding: 0;}

body.css760 .modal .myfollowers h1 { margin: 50px 0 20px 0;}

body.css760 #modalBadges {
	padding: 20px;
	width: calc(100% - 60px);
	margin: 0 10px;
}

body.css760 .modalBadgeItem {
	padding: 20px;
	width: calc(100% - 40px);
	margin: 0 0 20px 0;
}

body.css760 .badgeAcquired.badgeStepThree {	width: calc(33% - 10px);}

body.css760 .badgeDescription {font-size: 12px;}