@import "../_global/_colors";

//////post

body.css760 #postText {		padding: 20px 0;}

body.css760 .postSummary { 		height: 480px; width: 100%;}

body.css760 .postSummary .pad40 { 
	height: 400px;
	width: calc(100% - 40px);
	padding: 20px;
}

body.css760 .postSummary, body.css760 .illustrationShadow {	height: 440px;}
body.css760 .postSummaryTitle {	font-size: 34px; max-height: 5.2em; }

body.css760 .postSummary .illustrationShadow {	height: 440px; width: 100%;}
body.css760 .postSummaryFooter { width: calc(100% - 60px); bottom: 20px;}
body.css760 .postSummaryGotoParent {	font-size: 11px;}

body.css760 #lateralHolder {
	position: relative;
	z-index: auto;
	padding: 20px;
	float: left;
	clear: both;
	width: calc(100% - 40px);
	background-color: $semilightGrey;
}

body.css760 #postAuthor, body.css760 #postInfos {	
	position: static;
	width: 100%;
	text-align: left;
	float: left;
	clear: both;
}

body.css760 #postAuthor .avatar60 { float: left;}

body.css760 #postAuthor .authorName {
	float: right;
	width: calc(100% - 70px);	
	clear: none;
	margin: 0;
}

body.css760 #postAuthor .authorInAFewWords {
	float: right;
	width: calc(100% - 70px);
	clear: none;
}

body.css760 #postInfos { padding-top: 20px;}

body.css760 .paragraph {	
	padding: 10px 20px 10px 40px;
	width: calc(100% - 60px);	
	-webkit-text-size-adjust: 80%;
	font-size: 13px;
}

body.css760 .paragraph p, body.css760 .paragraph ul, body.css760 .paragraph h2,  body.css760 .paragraph blockquote {
	font-size: 13px;
}

body.css760 .paragraph h1 {
	font-size: 18px;
	padding: 0;
	width: 100%;
}

body.css760 .paragraph h2 {
	border-left-width: 3px;
	padding: 0 0 0 10px;
	width: calc(100% - 10px);
}

body.css760 #reactionsToPost {
	padding: 40px 40px 20px 40px;
	width: calc(100% - 80px);
}

body.css760 .reactionsToPostItemIllustration { 	height: 160px;	width: 100%;}

body.css760 .postSummaryActivity .reactionsCounter, body.css760 .postSummaryActivity .commentsCounter, body.css760 .postSummaryActivity .readingTime {
	clear: both;
	float: left;
	margin-right: 0;
}

body.css760 .postSummaryActivity .reactionsCounter, body.css760 .postSummaryActivity .commentsCounter { margin-bottom: 8px;}

body.css760 .reactionsToPostItemContent { 
	border-left-width: 3px;
	-webkit-text-size-adjust: 70%; 
	width: calc(100% - 17px);
	padding-left: 10px;
}

body.css760 .reactionsToPostItemContent .avatar40 {display: none;}

body.css760 .reactionsToPostItemContent .reactionsToPostItemPostTitle {
	width: 100%;
	-webkit-text-size-adjust: 90%; 
	font-size: 13px;
	line-height: 180%;
}

body.css760 .reactionsToPostItemContent .reactionsToPostItemPostTitle a span {
	font-size: 20px;	
	line-height: 140%;
}

body.css760 .reactionsToPostItemFooter {
	width: 100%;
	padding-left: 0;
}

body.css760 .paragraph .commentsCounter {
    padding: 0 12px 0 0;
    top: 16px;
    width: 20px;
   	font-size: 9px;
    -webkit-text-size-adjust: 100%;
}

body.css760 .paragraph .commentsCounter i {	font-size: 9px;}

body.css760 .comments {
	width: 100%;
	padding: 20px 20px 50px 40px;
	margin: 20px -20px 0 0;
	float: right;
    -webkit-text-size-adjust: 90%;
}

body.css760 .comments .avatar40 {display: none;}

body.css760 .commentsEditNew {
	padding: 20px 0;
	width: 100%;
}

body.css760 .comments form {	width: 100%;}

body.css760 .commentsContent {
	padding: 0;
	width: 100%;
}

body.css760 .commentsItem {	
	padding: 15px; 
	width: calc(100% - 30px);
}

body.css760 .commentsItem .signalAbuse {
	left: -25px;
	margin-top: 10px;
}

body.css760 .commentLevel2 {	width: calc(100% - 55px);}

body.css760 .commentsSlideFormNew.commentLevel2 {
	padding-left: 20px;
	margin-left: 38px;
	float: left;
	width: auto;
}

body.css760 .commentsEditNew {	padding: 10px 20px 20px 0;}

body.css760 .commentsEditNew.commentLevel2 {
	padding: 10px 0 20px 0;
	width: calc(100% - 40px);
}