@import "../_global/_colors";

////// debate timeline

body.css760 #timelineHeader {
	width: calc(100% - 40px);
	padding: 23px 20px;
	height: auto;
}

body.css760 .timelinePickADate { margin-left: 0;}
body.css760 .timelineMarkAllAsRead { margin: 0; }

body.css760 #timelineHeaderRight {
	float: left;
	clear: both;
	margin-top: 19px;
}

body.css760 .timelineItem {
	width: calc(100% - 40px);
	margin: 0 20px;
}

body.css760 .timelineDay { 
	top:0 !important; 
	padding: 16px 0 0 0;
}

body.css760 .timelineDay h4 { 
	font-size: 16px;
	padding: 0 0 15px 45px;
	width: calc(100% - 45px);
	margin: 0;
}

body.css760 .timelineDay i {	left: 15px;}
body.css760 .timelineItemObject i {	left: 20px;}

body.css760 .timelineItemIllustration {	width: 100%;}

body.css760 .timelineItemContent.timelineItemOfficial, 
body.css760 .timelineItemContent.timelineItemAuthor {
	padding: 10px 40px;
	margin: 10px 0 10px -40px;
}

body.css760 .timelineItem .pad40 {
	padding: 20px 40px;
	width: calc(100% - 100px);
}
body.css760 .timelineItem .postSummary {
	margin: 20px 0 10px -20px;
	width: calc(100% + 40px);
}

body.css760 .timelineItemHighlight { -webkit-text-size-adjust: 70%;	}

.timelineItemContentFooter {
	width: calc(100% + 20px);
	margin-left: -20px;
}

body.css760 .timelineItemContentFooter .reactionsCounter, 
body.css760 .timelineItemContentFooter .commentsCounter,
body.css760 .timelineItemContentFooter .readingTime {
	clear: both;
	float: left;
}

body.css760 .timelineItemContentFooter .reactionsCounter, 
body.css760 .timelineItemContentFooter .commentsCounter {
	margin-bottom: 5px;
}

body.css760 .timelineActions {
	float: left;
	clear: both;
	text-align: left;
}

body.css760 .timelineActions i {top: 1px;}
body.css760 .actionFollow, body.css760 .actionUnfollow {	margin-top: 5px; }