@import "../_global/_colors";

////// debate timeline

body.css1000 .timelineItemIllustration {	width: 100%;}

body.css1000 .timelineItemContentFooter .reactionsCounter, 
body.css1000 .timelineItemContentFooter .commentsCounter,
body.css1000 .timelineItemContentFooter .readingTime {
	clear: both;
	float: left;
}

body.css1000 .timelineItemContentFooter .reactionsCounter, 
body.css1000 .timelineItemContentFooter .commentsCounter {
	margin-bottom: 5px;
}

body.css1000 .timelineMarkAllAsRead {	clear: both; float: left; margin: 0;}

body.css1000 #timelineHeader {	height: auto;}
body.css1000 .timelineMarkAllAsRead{margin-left: 40px;}
body.css1000 #timelineHeaderRight {
	position: absolute;
	right: 40px;
}