{# beta #}
<div class="sidebarSearch">
    <div class="sidebarSearchMap">
        <h5>Zone Géographique</h5>
        <div class="mapMenu withLoaderInside" id="mapMenu">
            {% include 'PolitizrFrontBundle:Search\\Map:_menu.html.twig' with { 'isFom': false } %}
        </div>
        <div class="mapBreadcrumbs withLoaderInside" id="mapBreadcrumb">
            {% include 'PolitizrFrontBundle:Search\\Map:_breadcrumb.html.twig' with { 'geoTypeObjects': null } %}
        </div>
        
        <div id="mapHolder" class="withLoaderInside">
            {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
            {% include 'PolitizrFrontBundle:Search\\Map:_routing.html.twig' with { 'type': constant('Politizr\\Constant\\LocalizationConstants::TYPE_COUNTRY'),'geoId': constant('Politizr\\Constant\\LocalizationConstants::FRANCE_ID') } %}
        </div>
    </div>
    <div class="sidebarSearchFilters withLoaderInside">
        {% include 'PolitizrFrontBundle:Search\\Filters:_usersCategory.html.twig' %}
    </div>
</div>