{# beta #}
<div class="sidebarSearch">
    <div class="sidebarSearchMap">
        <h5>Zone Géographique</h5>
        <div class="mapMenu">
            <span action="map" uuid="{{ franceTag.uuid }}" class="active">France</span>
            <span action="map" uuid="{{ fomTag.uuid }}">France d'Outre-Mer</span>
        </div>
        <div class="mapBreadcrumbs withLoaderInside" id="mapBreadcrumb">
            {% include 'PolitizrFrontBundle:Search\\Map:_breadcrumb.html.twig' %}
        </div>
        
        <div id="mapHolder" class="withLoaderInside">
            {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
            {% include 'PolitizrFrontBundle:Search\\Map:_routing.html.twig' with { 'tagId': constant('Politizr\\Constant\\TagConstants::TAG_GEO_FRANCE_ID') } %}
        </div>
    </div>
    <div class="sidebarSearchFilters withLoaderInside">
        {% include 'PolitizrFrontBundle:Search\\Filters:_usersCategory.html.twig' %}
    </div>
</div>