{# beta #}
<div class="sidebarSearch">
    {#
    <div class="sidebarSearchMap">
        <h5>Zone Géographique</h5>
        <div class="mapMenu">
            <span action="map" uuid="{{ franceTag.uuid }}">France</span>
            <span action="map" uuid="{{ fomTag.uuid }}">France d'Outre-Mer</span>
            <span action="map" uuid="{{ europeTag.uuid }}">Europe</span>
            <span action="map" uuid="{{ worldTag.uuid }}">Monde</span>
        </div>
        <div class="mapBreadcrumbs">
            <span class="active">Languedoc-Roussillon Midi-Pyrénées</span>
            <span class="active current">Ariège</span>
        </div>
        
        <!-- france -->
        {% include 'PolitizrFrontBundle:Search\\Map:_routing.html.twig' %}
    </div>
    #}
    <div class="sidebarSearchFilters">
        {% include 'PolitizrFrontBundle:Search\\Filters:_publication.html.twig' %}
        {% include 'PolitizrFrontBundle:Search\\Filters:_profile.html.twig' %}
        {% include 'PolitizrFrontBundle:Search\\Filters:_activity.html.twig' %}
        {% include 'PolitizrFrontBundle:Search\\Filters:_date.html.twig' %}
    </div>
</div>