<div class="ajaxLoader" style="display: none;">
    <div class="ajaxLoaderSpinner"></div><div class="ajaxLoaderBg"></div><div class="ajaxLoaderBlockClick"></div>
</div> 
<h1>Débats populaires</h1>
<div class="listCriteria listCriteriaTabs">
    <form id="debateFilter">
        {% include 'PolitizrFrontBundle:Dashboard\\formFilters:_debateFormFilters.html.twig' with { 'filters': filters } %}
    </form>
</div>

{% set topDebate = debates.shift() %}
{% if topDebate %}
    {% include 'PolitizrFrontBundle:Debate:_dashboardHalfItemRow.html.twig' with {'debate': topDebate} only %}
{% else %}
    {% include 'PolitizrFrontBundle:PaginatedList:_noResult.html.twig' with {'type': constant('Politizr\\Constant\\ListingConstants::DASHBOARD_TYPE_TOP_DEBATES')} only %}
{% endif %}

<div class="dbItemHalfWidth">
    <div class="debateList">
        {% for debate in debates %}
            <a href="{{ path('DebateDetail', { 'slug': debate.slug }) }}">
                {{ debate.title }}
            </a>
        {% endfor %}
    </div>
</div>
