<form id="listType">
    <input type="radio" class="filter" name="filtersDate[]" value="lastDay" id="lastDay"/>
    <label for="lastDay"><i class="iconNotifYes"></i>aujourd'hui</label>
    <input type="radio" class="filter" name="filtersDate[]" value="lastWeek" id="lastWeek"/>
    <label for="lastWeek"><i class="iconNotifYes"></i>cette semaine</label>
    <input type="radio" class="filter" name="filtersDate[]" value="lastMonth" id="lastMonth"/>
    <label for="lastMonth"><i class="iconNotifYes"></i>30 derniers jours</label>
</form>