<form id="listType">
    <input type="radio" class="{{ radioClassName }}" name="filterDate[]" value="allDate" id="allDate" {% if filters == null or 'allDate' in filters%}checked{% endif %}/>
    <label for="allDate">tous</label>
    <input type="radio" class="{{ radioClassName }}" name="filterDate[]" value="lastMonth" id="lastMonth" {% if 'lastMonth' in filters%}checked{% endif %}/>
    <label for="lastMonth">depuis 1 mois</label>
    <input type="radio" class="{{ radioClassName }}" name="filterDate[]" value="lastWeek" id="lastWeek" {% if 'lastWeek' in filters %}checked{% endif %}/>
    <label for="lastWeek">depuis 1 semaine</label>
</form>