<div class="dbGeo">
    <h1>À la une en {{ tag.title }}</h1>
    {% set debate = debates.shift() %}
    {% if not debate %}
        {% include 'PolitizrFrontBundle:PaginatedList:_noResult.html.twig' with {'type': constant('Politizr\\Constant\\ListingConstants::DASHBOARD_TYPE_GEO_DEBATES')} only %}
    {% else %}
        {% include 'PolitizrFrontBundle:Debate:_dashboardFullRow.html.twig' with {'debate': debate} only %}
    {% endif %}

    {% set debate = debates.shift() %}
    {% if debate %}
        {% include 'PolitizrFrontBundle:Debate:_dashboardHalfItemRow.html.twig' with {'debate': debate} only %}
    {% endif %}

    <div class="dbItemHalfWidth">
        {% for user in users %}
            <div class="miniProfiles">
                {% include 'PolitizrFrontBundle:User:_dashboardHalfListRow.html.twig' with {'user': user, 'miniProfile': true} only %}
            </div>
        {% else %}
            {% include 'PolitizrFrontBundle:PaginatedList:_noResult.html.twig' with {'type': constant('Politizr\\Constant\\ListingConstants::DASHBOARD_TYPE_GEO_USERS')} only %}
        {% endfor %}
    </div>
</div>