<h1>À la carte</h1>
<div class="dbMapHeader">
    <div class="dbMapHeaderLeft">
        {{ geoTagBreadcrumb(tag.uuid) }}
    </div>
    <div class="dbMapHeaderRight">
        <span class="dbWorld" action="modalTagged" model="PTag" uuid="{{ worldTag.uuid }}"><i class="iconGoTo"></i>monde</span>
        <span class="dbEurope" action="modalTagged" model="PTag" uuid="{{ europeTag.uuid }}"><i class="iconGoTo"></i>europe</span>                        
    </div>
</div>
<div class="dbMapBox withLoaderInside">
    <div class="ajaxLoader" style="display: none;">
        <div class="ajaxLoaderSpinner"></div><div class="ajaxLoaderBg"></div><div class="ajaxLoaderBlockClick"></div>
    </div> 
    <div class="dbMapFilters withLoaderInside">
        <div class="ajaxLoader" style="display: none;">
            <div class="ajaxLoaderSpinner"></div><div class="ajaxLoaderBg"></div><div class="ajaxLoaderBlockClick"></div>
        </div> 
        <div class="listCriteria listCriteriaTabs">
            <form id="listFilter" uuid="{{ tag.uuid }}">
                {% include 'PolitizrFrontBundle:Dashboard:_formFilters.html.twig' with { 'filters': filters } %}
            </form>
        </div>
        <div class="debatePodium">
            {% include 'PolitizrFrontBundle:Dashboard:_mapDebates.html.twig' with { 'debates': debates, 'geoTagUuid': tag.uuid } %}
        </div>
        <div class="profilePodium">
            {% include 'PolitizrFrontBundle:Dashboard:_mapUsers.html.twig' with { 'users': users, 'geoTagUuid': tag.uuid } %}
        </div>
    </div>

    <!-- FRANCE / REGIONS / DEPARTEMENTS-->
    {% include 'PolitizrFrontBundle:Dashboard\\mapZones:_mapRouting.html.twig' %}
</div>
