{% if debates | length > 0 %}
    {% for debate in debates %}
        {% include 'PolitizrFrontBundle:Debate:_dashboardMapRow.html.twig' with { 'debate': debate } %}
    {% endfor %}
    <div class="podiumShowMore" >
        <a id="modalMoreDebates" action="modalTagged" model="PTag" defaultType="debate" defaultOrder="bestNote" defaultFilterDate="allDate" defaultFilterUser="allUsers" uuid="{{ geoTagUuid }}">suite</a>
    </div>
{% else %}
    {% include 'PolitizrFrontBundle:PaginatedList:_noResult.html.twig' with {'type': constant('Politizr\\Constant\\ListingConstants::DASHBOARD_TYPE_MAP'), 'context': constant('Politizr\\Constant\\ListingConstants::DASHBOARD_DEBATES')} only %}
{% endif %}
