<div class="ajaxLoader" style="display: none;">
    <div class="ajaxLoaderSpinner"></div><div class="ajaxLoaderBg"></div><div class="ajaxLoaderBlockClick"></div>
</div> 
<h1>Thématiques populaires</h1>
<div class="listCriteria listCriteriaTabs">
    <form id="tagFilter">
        {% include 'PolitizrFrontBundle:Dashboard\\formFilters:_tagFormFilters.html.twig' with { 'filters': filters } %}
    </form>
</div>

<div class="dbPopularTagList">
    {% for tag in tags %}
        {% include 'PolitizrFrontBundle:Tag:_detail.html.twig' with { 'tag': tag, 'modalDefaultType': 'debate' } %}
    {% endfor %}
</div>
