<div class="ajaxLoader" style="display: none;">
    <div class="ajaxLoaderSpinner"></div><div class="ajaxLoaderBg"></div><div class="ajaxLoaderBlockClick"></div>
</div> 
<h1>Profils populaires</h1>
<div class="listCriteria listCriteriaTabs">
    <form id="userFilter">
        {% include 'PolitizrFrontBundle:Dashboard\\formFilters:_userFormFilters.html.twig' with { 'filters': filters } %}
    </form>
</div>

<div class="dbItemHalfWidth">
    {% set topUser = users.shift() %}
    {% if topUser %}
        {% include 'PolitizrFrontBundle:User:_dashboardHalfRow.html.twig' with {'user': topUser} only %}
    {% else %}
        {% include 'PolitizrFrontBundle:PaginatedList:_noResult.html.twig' with {'type': constant('Politizr\\Constant\\ListingConstants::DASHBOARD_TYPE_TOP_USERS')} only %}
    {% endif %}
</div>

<div class="dbItemHalfWidth">
    {% for user in users %}
        {% include 'PolitizrFrontBundle:User:_dashboardHalfListRow.html.twig' with {'user': user} only %}
    {% endfor %}
</div>
