{% extends 'PolitizrFrontBundle::layoutE.html.twig' %}

{% block main %}
	<div id="main" class="container">
		<h3>Mon compte</h3>
		<p>
			Vous disposez actuellement d'un compte débatteur.
		</p>
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
{% endblock javascriptFooter %}
