{% extends 'PolitizrFrontBundle::layoutE.html.twig' %}


{% block main %}
    <div id="content">
        <div id="paginated-list">
            <ul class="nav nav-tabs">
                <li role="list" class="active"><a class="order" order="last">Derniers</a></li>
                <li role="list"><a class="order" order="bestNote">Mieux notés</a></li>
                <li role="list"><a class="order" order="mostFollowed">Plus suivis</a></li>
            </ul>
            <hr>
            <form id="list-filter" class="text-center">
                <input type="checkbox" class="filter" name="filters[]" value="newest"/>&nbsp;Les plus récents
                <input type="checkbox" class="filter" name="filters[]" value="qualified" />&nbsp;Débatteurs uniquement
            </form>
            <hr>
            <div id="list-content">
            </div>
        </div>
    </div>
{% endblock main %}


{% block javascriptFooter %}
    {{ parent() }}

    {% include 'PolitizrFrontBundle:JS:followDebate.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:listingPaginated.js.twig' with { 'RouteName': 'FollowedDebateList' } %}

    {% include 'PolitizrFrontBundle:JS:notifDebateContextSubscribe.js.twig' %}
{% endblock javascriptFooter %}
