{% extends 'PolitizrFrontBundle::layoutE.html.twig' %}


{% block main %}
    <div id="main" class="container">
        <ul class="nav nav-tabs">
            <li role="list" class="active"><a action="last" order="last">Derniers</a></li>
            <li role="list"><a action="most-followed" order="mostFollowed">Plus suivis</a></li>
        </ul>
        <div id="user-tab-content">
        </div>

    </div>
{% endblock main %}


{% block javascriptFooter %}
    {{ parent() }}

    {% include 'PolitizrFrontBundle:JS:followUser.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:listingUsers.js.twig' with { 'RouteName': 'FollowedUserList' } %}

    {% include 'PolitizrFrontBundle:JS:notifUserContextSubscribe.js.twig' %}
{% endblock javascriptFooter %}
