{% extends 'PolitizrFrontBundle::layoutE.html.twig' %}

{% block main %}
	<div id="main" class="container">
		<h3>Mes réactions</h3>
        {% for reaction in reactions %}
			{% include 'PolitizrFrontBundle:Fragment:DocumentMiniBlock.html.twig' with { 'document': reaction, 'objectType': constant('Politizr\\Model\\PDocument::TYPE_REACTION'), 'withAuthor': false, 'withMoreInfos': true } %}
		{% else %}
			<div class="no-results">
				<a class="btn btn-primary" href="{{ path('MyDraftsE') }}">Vous n'avez aucune réaction en ligne pour le moment</a>
			</div>
		{% endfor %}
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
{% endblock javascriptFooter %}
