{% extends 'PolitizrFrontBundle::layoutE.html.twig' %}

{% block main %}
	<div id="main" class="container">
		<h1>Ma réputation</h1>
		<span class="badge alert-success">{{ reputationScore }}</span>
		<h1>Mes badges</h1>

		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
			        <tr>
			            <th>Badges</th>
			            <th>&nbsp;</th>
			        </tr>
		      	</thead>				
				{% include 'PolitizrFrontBundle:Fragment\\Reputation:BadgeTableRow.html.twig' with { 'badgeTypes': badgeTypes, 'badgeIds': badgeIds } %}
			</table>
		</div>
</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
{% endblock javascriptFooter %}
