{% extends 'PolitizrFrontBundle::layoutE.html.twig' %}

{% block main %}
    <div id="main">
        <h1>Ma réputation <span class="badge alert-success">{{ reputationScore }}</span></h1>
        <div id="paginated-list">
            <form id="list-filter" class="text-center"></form>
            <hr>
            <div class="row text-center">
                <div class="col-sm-1 text-center"><strong>Évolution</strong></div>
                <div class="col-sm-2"><strong>Date</strong></div>
                <div class="col-sm-4"><strong>Action</strong></div>
                <div class="col-sm-5"><strong>Lien</strong></div>
            </div>
            <hr>
            <div id="list-content">
            </div>
        </div>
        <hr>
        <h1>Mes badges</h1>
        <ul class="nav nav-tabs">
            <li role="list" class="active"><a action="bronze">Bronze</a></li>
            <li role="list"><a action="silver">Argent</a></li>
            <li role="list"><a action="gold">Or</a></li>
        </ul>
        <div id="bronze-tab-content" class="table-responsive">
            <table class="table table-hover">
                {% include 'PolitizrFrontBundle:Fragment\\Reputation:BadgeTableRow.html.twig' with { 'badges': badgesBronze, 'badgeIds': badgeIds } %}
            </table>
        </div>
        <div id="silver-tab-content" class="table-responsive">
            <table class="table table-hover">
                {% include 'PolitizrFrontBundle:Fragment\\Reputation:BadgeTableRow.html.twig' with { 'badges': badgesSilver, 'badgeIds': badgeIds } %}
            </table>
        </div>
        <div id="gold-tab-content" class="table-responsive">
            <table class="table table-hover">
                {% include 'PolitizrFrontBundle:Fragment\\Reputation:BadgeTableRow.html.twig' with { 'badges': badgesGold, 'badgeIds': badgeIds } %}
            </table>
        </div>

    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {% include 'PolitizrFrontBundle:JS:listingPaginated.js.twig' with { 'RouteName': 'HistoryActionsList' } %}
    {% include 'PolitizrFrontBundle:JS:badges.js.twig' %}
{% endblock javascriptFooter %}
