{% extends 'PolitizrFrontBundle::layoutE.html.twig' %}

{% block main %}
    <div id="content">
        <div id="paginated-list">
            <form id="list-filter" class="text-center">
            </form>
            <hr>
            <div id="list-content">
            </div>
        </div>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}
    
    {% include 'PolitizrFrontBundle:JS:timeline.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:listingPaginated.js.twig' with { 'RouteName': 'TimelinePaginated' } %}
{% endblock javascriptFooter %}
