{% extends 'PolitizrFrontBundle::layoutE.html.twig' %}

{% block main %}
	<div id="main" class="container">
		<h1>Mon forum</h1>
        {% for timelineRow in timeline %}
			{{ timelineRow(timelineRow) }}
			<hr>
		{% else %}
			<div class="no-results">
				<a class="btn btn-primary" href="{{ path('SuggestionsE') }}">Suivez plus de débat ou d'utilisateurs!</a>
			</div>
		{% endfor %}
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
    
    {% include 'PolitizrFrontBundle:JS:follow.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:followers.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:notation.js.twig' %}
{% endblock javascriptFooter %}
