{% extends 'PolitizrFrontBundle::layoutE.html.twig' %}

{% block main %}
    <div id="timeline">
        <div id="timelineHeader" class="stickyTimelineHeader">
            <div class="timelineMore">
                Abonnez-vous à des <span action="modalSuggestions">débats</span> et des <span action="modalSuggestions">profils</span> et <span action="reloadPage">rechargez</span> votre politizr!
            </div>
        </div>
        <div id="listContent"></div>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}
    
    {% include 'PolitizrFrontBundle:JS:timeline.js.twig' %}
{% endblock javascriptFooter %}
