{% extends 'PolitizrFrontBundle::layoutE.html.twig' %}

{% block main %}
    <div id="main" class="container">
        <div id="timeline">
        </div>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}
    
    {% include 'PolitizrFrontBundle:JS:timeline.js.twig' %}
{% endblock javascriptFooter %}
