<span class="badgesCounter">
    {% set nbGold = user.countBadges(null, constant('Politizr\\Constant\\ReputationConstants::METAL_TYPE_GOLD')) %}
    {% set nbSilver = user.countBadges(null, constant('Politizr\\Constant\\ReputationConstants::METAL_TYPE_SILVER')) %}
    {% set nbBronze = user.countBadges(null, constant('Politizr\\Constant\\ReputationConstants::METAL_TYPE_BRONZE')) %}
    {% if nbGold %}
        <span class="badgesCounterGold">{{ nbGold }}</span>
    {% endif %}
    {% if nbSilver %}
        <span class="badgesCounterSilver">{{ nbSilver }}</span>
    {% endif %}
    {% if nbBronze %}
        <span class="badgesCounterBronze">{{ nbBronze }}</span>
    {% endif %}
</span>
