{# beta #}
<div class="cannotComment">
{#     Votre <a href="http://politizr.help/article/reputation/" target="_blank">réputation</a> est de "{{ score }}".<br/> #}
    Elle doit être de "{{ constant('Politizr\\Constant\\ReputationConstants::ACTION_COMMENT_WRITE') }}" au moins pour pouvoir commenter.
</div>
