<div class="noteBubble cannotNotatePos" style="display: none;">
    {% if isOwnDocument %}
        Vous ne pouvez pas noter votre propre publication.
    {% elseif hasAlreadyNotePos %}
        Vous avez déjà attribué une note <i class="iconNotePlus"></i> à cette publication.
    {% elseif hasAlreadyNoteNeg %}
        Vous avez déjà attribué une note <i class="iconNoteMinus"></i> à cette publication.
    {% elseif not isAuthorizedToNotateNeg %}
        Votre <a href="{{ path('Help') }}#p-reputation">réputation</a> est de "{{ score }}". Elle doit être de "{{ minScore }}" au moins pour pouvoir attribuer une note négative.
    {% endif %}
    <i class="iconArrowDown"></i>
</div>
