{# beta #}
<div class="cannotPublishDebate">
    Vous avez {{ score }} point(s) de <a href="http://politizr.help/article/reputation/" target="_blank">réputation</a>. Vous devez en avoir au moins {{ constant('Politizr\\Constant\\ReputationConstants::ACTION_DEBATE_WRITE') }} pour publier un débat.
</div>
