<!-- @todo html/css à styler -->
<div class="cannotPublishDebate">
    Votre <a href="#">réputation</a> est de "{{ score }}".<br/>
    Elle doit être de "{{ constant('Politizr\\Constant\\ReputationConstants::ACTION_DEBATE_WRITE') }}" au moins pour pouvoir publier un débat.
</div>