<!-- @todo html/css à styler -->
<div class="cannotPublishReaction">
    Votre <a href="#">réputation</a> est de "{{ score }}".<br/>
    Elle doit être de "{{ constant('Politizr\\Constant\\ReputationConstants::ACTION_REACTION_WRITE') }}" au moins pour pouvoir publier une réaction.
</div>