<!-- @todo html/css à styler -->
<div class="cannotNotateNeg">
    Votre <a href="#">réputation</a> est de "{{ score }}". Elle doit être de "{{ minScore }}" au moins pour pouvoir attribuer une note négative.
</div>