<!-- @todo html/css à styler -->
<div class="noteBubble cannotNotatePos" style="display: none;">
    {% if isOwnDocument %}
        Vous ne pouvez pas noter votre propre publication.
    {% elseif hasAlreadyNotePos %}
        Vous avez déjà attribué une note <i class="iconNotePlus"></i> à cette publication.
    {% endif %}
    <i class="iconArrowDown"></i>
</div>