{# beta #}
<div class="cannotPublishDebate">
    Vous avez {{ score }} point(s) de <a href="#">réputation</a>. Vous devez en avoir au moins {{ constant('Politizr\\Constant\\ReputationConstants::ACTION_DEBATE_WRITE') }} pour publier un débat.
</div>
