<div class="card myactivity">
    {% include 'PolitizrFrontBundle:User:_summaryAuthor.html.twig' with { 'user': user } only %}
    <div class="coloredBg">
        {% if (way == 'up') %}
            <div class="activity cardLike">Vous aimez ce commentaire.</div>
        {% else %}
            <div class="activity cardDislike">Vous n'aimez pas ce commentaire.</div>
        {% endif %}
        <h5>{% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'subject': timelineRow } only %}</h5>

        {% include 'PolitizrFrontBundle:User:_summaryAuthor.html.twig' with { 'user': author } only %}
        <div class="commentInCard">
            {{ comment | linkParentDocument }}
        </div>
        <h5>{% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'subject': comment } only %}</h5>
        {{ comment | itemContextComment }}
    </div>
</div>
