{# beta #}
<div class="card">
    {% if way == 'up' %}
        {% include 'PolitizrFrontBundle:User:_summaryAuthor.html.twig' with { 'user': noteUser } only %}
    {% endif %}
    <div class="coloredBg">
        {% if way == 'up' %}
            <div class="activity cardLike">Félicitations, {{ noteUser }} aime votre publication!</div>
        {% else %}
            <div class="activity cardDislike">Un utilisateur n'a pas aimé votre publication...</div>
        {% endif %}
        <h5>{% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'subject': timelineRow } only %}</h5>
        <div class="miniPost">
            {% include 'PolitizrFrontBundle:User:_summaryAuthor.html.twig' with { 'user': document.user } only %}
            {% include 'PolitizrFrontBundle:Document:_header.html.twig' with { 'document': document, 'mini': true } only %}
            <h5>{% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'subject': document } only %}</h5>
        </div>
    </div>
</div>
