{# beta #}
<div class="card">
    {% include 'PolitizrFrontBundle:User:_summary.html.twig' with { 'user': user, 'withSocialLinks': false, 'withMandates': false } only %}
    <div class="coloredBg">
        <div class="activity cardBadge">Félicitations! Vous avez obtenu le badge "{{ badge }}".</div>
        <h5>{% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'subject': timelineRow } only %}</h5>
        {# 
        <div class="cardInfo">
            Découvrez comment fonctionnent <a href="http://politizr.help/article/badges/" target="_blank">les badges</a> et <a href="http://politizr.help/article/reputation/" target="_blank">la réputation</a> sur Politizr</a>.
        </div>
        #}
    </div>
</div>
