<div class="card">
    {% if way == 'up' %}
        <div class="miniProfile">
            {% include 'PolitizrFrontBundle:User:_summaryAuthor.html.twig' with { 'user': noteUser } only %}
        </div>
    {% endif %}
    <div class="coloredBg">
        {% if way == 'up' %}
            <div class="activity cardLike">Félicitations, {{ noteUser }} aime votre commentaire!</div>
        {% else %}
            <div class="activity cardDislike">Un utilisateur n'a pas aimé votre commentaire...</div>
        {% endif %}
        <h5>{% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'subject': timelineRow } only %}</h5>
        <div class="commentInCard">
            {{ comment | linkParentDocument }}
        </div>
        <h5>{% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'subject': comment } only %}</h5>
        {{ comment | itemContextComment }}
    </div>
</div>
