{# beta #}
<div class="card myactivity">
    {% include 'PolitizrFrontBundle:User:_summary.html.twig' with { 'user': user, 'withSocialLinks': false, 'withMandates': false } only %}
    <div class="coloredBg">
        {% if (way == 'up') %}
            <div class="activity cardLike">{% if app.user.id == user.id %}Vous aimez cette publication.{% else %}{{ user }} aime cette publication.{% endif %}</div>
        {% else %}
            <div class="activity cardDislike">Vous n'aimez pas cette publication.</div>
        {% endif %}
        <h5>{% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'subject': timelineRow } only %}</h5>

        <div class="miniPost">
            {% include 'PolitizrFrontBundle:User:_summary.html.twig' with { 'user': author, 'withSocialLinks': false, 'withMandates': false } only %}
            {% include 'PolitizrFrontBundle:Document:_cardContent.html.twig' with { 'document': document, 'withImg': true, 'mini': true, 'summary': false } only %}
            <h5>{% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'subject': document } only %}</h5>
        </div>
    </div>
</div>
