<div id="searchModal" style="display: none">
    <div id="searchModalResults">
        <div class="center">
            <div id="algoliaResults">
                <div id="categories"></div>
                <div id="hits"></div>
            </div>
        </div>
        <div id="closeModal" action="closeModal">Fermer</div>
    </div>  
    <div id="searchModalBg"></div>
</div>
