{# beta #}
<tr>
    <td colspan="2" style="text-align: center; padding: 30px 0 20px 0; color:#9d9d9d; font-weight: 100;">
        Vous pouvez régler vos paramètres de notifications depuis <a href="{% if (user.qualified) %}{{ url('EditNotificationsE') }}{% else %}{{ url('EditNotificationsC') }}{% endif %}" style="color:#9d9d9d; text-decoration: underline;"><span style="color:#9d9d9d;">votre compte POLITIZR</span></a>.
    </td>
</tr>
<tr>
    <td colspan="2" style="text-align: center; padding: 0 0 40px 0; color:#9d9d9d; font-weight: 100">
        <a href="http://www.politizr.com" target="_blank" style="color:#9d9d9d; text-decoration: none;">
            <img src="{{ absolute_url(asset('bundles/politizrfront/imagesMail/logoPolitizrFooter.jpg')) }}" alt="Rendez-vous sur politizr.com"/><br>
            <span style="color:#9d9d9d;">POLITIZR : Changerez-vous d'opinion ?</span>
        </a>
    </td>
</tr>