<tr>
    <td colspan="2" style="text-align: center; padding: 0 0 40px 0; color:#9d9d9d; font-size: 10px;">
        <a href="http://www.politizr.com" target="_blank" style="color:#9d9d9d; text-decoration: none;">
            <img src="{{ asset('bundles/politizrfront/imagesMail/logoPolitizrFooter', absolute=true) }}.jpg" alt="Rendez-vous sur politizr.com" style="padding-bottom: 5px;"/><br>
            <span style="color:#9d9d9d;">Êtes vous prêts à débattre ?</span></a>
    </td>
</tr>