<p>Un utilisateur vient d'envoyer un message via un formulaire</p>
<ul>
    <li>Nom: {{ directMessage.name }}</li>
    <li>Lieu: {{ directMessage.city }}</li>
    <li>Email: {{ directMessage.email }}</li>
</ul>
<p>
    {{ directMessage.description }}
</p>