{# beta #}
<p>
    Suite à votre demande, nous avons généré un nouveau mot de passe de connexion pour votre espace sur Politizr.
</p>
<ul>
    <li>Identifiant: {{ username }}</li>
    <li>Mot de passe: {{ password }}</li>
</ul>
<p>
    Vous pouvez vous connecter en utilisant ces informations.
</p>
