<p>
    Suite à votre demande, votre mot de passe de connexion pour votre espace sur Politizr a été mis à jour.
</p>
<ul>
    <li>Identifiant: {{ username }}</li>
    <li>Mot de passe: {{ password }}</li>
</ul>
<p>
    Vous pouvez vous connecter en utilisant ces informations.
</p>