Bonjour {{ user }},

Merci de votre inscription ! Je suis {% if user.qualified %}Lionel{% else %}Thomas{% endif %} de Politizr et je voulais vous souhaiter la bienvenue. Notre équipe est présente si vous avez besoin d'aide dans la découverte de nos fonctionnalités.

En quelques mots, Politizr c'est :

- Un lieu d'échange privilégié entre les citoyens et les élus.
- Retrouvez l'intégralité des sujets qui font l'actualité au niveau local et national.
- Un espace indépendant où vous avez la possibilité de vous exprimer afin de faire entendre votre voix sur les sujets qui vous préocuppent.

Retrouvez plus de détail sur cette <a href="{{ url('Concept') }}">page</a>.

Faites entendre votre voix avec Politizr!

{% if user.qualified %}
Lionel Bouzonville
Co Fondateur @ Politizr
Ex-Conseiller Municipal de Foix (2007-2014)
{% else %}
Thomas Champion
Co Fondateur @ Politizr
{% endif %} 

{% include 'PolitizrFrontBundle:Email:_signature.txt.twig' %}
