Bonjour {{ user }},

Je suis {% if user.qualified %}Lionel Bouzonville{% else %}Thomas Champion{% endif %}, co-fondateur de Politizr.
Chez Politizr, nous pensons que citoyens et élus doivent échanger pour oeuvrer à l’intérêt général: nous voulons faire évoluer les pratiques politiques pour favoriser des échanges constructifs, basés sur la transparence, le respect et la bienveillance.

{% if user.qualified %}
Un des points fort de Politizr est de permettre de générer des discussions de fond sur des problématiques précises, pour permettre d’échanger sur des points de vue et avoir des retours sur des bonnes pratiques de la part d'élus de toute la France.

En complément de cette version globale, nous proposons désormais aux collectivités “Politizr Territoires”, un ensemble de services intégrés à POLITIZR et favorisant l’expression citoyenne, pour leur permettre d’avoir des retours de leurs habitants autour de questions ou de projets précis: répondez simplement à ce mail pour nous demander une documentation complète!

{% else %}

Grâce à Politizr, vous pourrez exprimer votre opinion sur les sujets qui vous semblent important sur votre ville, votre département, etc. et obtenir des retours d'élus de votre territoire mais aussi d'ailleurs en France et qui vous apporteront un éclairage sur les actions qu'ils ont menées de leur côté.

{% endif %} 

Commencez dès aujourd'hui à faire <a href="{{ url('DebateDraftNew') }}">connaître votre opinion</a>!

{% if user.qualified %}
Lionel Bouzonville
Co Fondateur @ Politizr
Ex-Conseiller Municipal de Foix (2007-2014)
{% else %}
Thomas Champion
Co Fondateur @ Politizr
{% endif %} 

{% include 'PolitizrFrontBundle:Email:_signature.txt.twig' %}
