Bonjour {{ user }},

Je suis {% if user.qualified %}Lionel Bouzonville{% else %}Thomas Champion{% endif %}, co-fondateur de Politizr.
Chez Politizr, nous pensons que citoyens et élus doivent échanger pour oeuvrer à l’intérêt général: nous voulons faire évoluer les pratiques politiques pour favoriser des échanges constructifs, basés sur la transparence, le respect et la bienveillance.

Pour y parvenir, nous avons développé un espace de dialogue en ligne conçu autour de la légitimité, de la transparence et de discussions de fond qui s'inscrivent dans la durée.

Un des points fort de Politizr est de permettre de générer ces discussions sur des problématiques précises, pour permettre d’échanger sur des points de vue et des bonnes pratiques de manière décloisonnée géographiquement.

{% if user.qualified %}
En complément de cette version globale, nous proposons désormais aux collectivités “Politizr Territoires”, un ensemble de services intégrés à POLITIZR et favorisant l’expression citoyenne, pour leur permettre d’avoir des retours de leurs habitants autour de questions ou de projets précis: répondez simplement à ce mail pour nous demander une documentation complète!
{% endif %} 

Commencez dès aujourd'hui à faire <a href="{{ url('DebateDraftNew') }}">connaître votre opinion</a>!

{% if user.qualified %}
Lionel Bouzonville
Co Fondateur @ Politizr
Ex-Conseiller Municipal de Foix (2007-2014)
{% else %}
Thomas Champion
Co Fondateur @ Politizr
{% endif %} 

{% include 'PolitizrFrontBundle:Email:_signature.txt.twig' %}
