Bonjour {{ user }},

Merci pour votre inscription sur notre site.

Commencez dès aujourd'hui à vous <a href="{{ url('Homepage') }}" target="_blank">exprimer</a>!

{{ client.name }}

{% include 'PolitizrFrontBundle:Email:_signature.txt.twig' %}
