<!doctype html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <link rel="icon" type="image/jpg" href="{{ asset('bundles/politizrfront/images/favicon.gif') }}" />

    {% block metaopengraph %}
    {% endblock %}

    {% block stylesheets %}
    {% endblock %}

    {% block javascriptHeader %}
    {% endblock %}
</head>
{% block body %}
    {% block bodyId %}
        <body>
    {% endblock bodyId %}
        {% include 'PolitizrFrontBundle:Navigation:analytics.html.twig' %}
        <noscript>
            <div id="no-js-box">
                Désolé, vous devez activer Javascript pour naviguer sur ce site.
            </div>
        </noscript>

        {% block genericBoxes %}
        {% endblock %}

        {% block connexionBox %}
        {% endblock %}

        {% block header %}
        {% endblock %}

        {% block main %}
        {% endblock main %}

        {% block footer %}
        {% endblock %}

        {% block javascriptFooter %}
        {% endblock %}
    </body>
{% endblock body %}
</html>