{% extends 'PolitizrFrontBundle::baseFront.html.twig' %}

{% block title %}PolitizR - Espace Débatteur{% endblock title %}
{% block description %}PolitizR Espace Débatteur{% endblock description %}

{% block metaopengraph %}
    {% block ogImage %}{% render controller("PolitizrFrontBundle:SocialNetworks:ogImage") %}{% endblock ogImage %}
    <meta property="og:site_name" content="PolitizR" /> 
    <meta property="og:title" content="{% block ogTitle %}PolitizR{% endblock ogTitle %}" /> 
    <meta property="og:url" content="{% block ogUrl %}{{ app.request.uri }}{% endblock ogUrl %}" /> 
    <meta property="og:description" content="{% block ogDescription %}PolitizR{% endblock ogDescription %}" />
{% endblock metaopengraph %}

{% block wrapper %}
    <div class="wrapper">
        {% block header %}
            {% include 'PolitizrFrontBundle:Navigation:headerE.html.twig' %}
        {% endblock %}

        {% block content %}
             <div id="fixedActions">
               {% block fixedActions %}
                <div id="goUpHolder">
                    <div id="goUp" action="goUp"><i class="iconArrowUp"></i></div>
                </div>
                {% endblock fixedActions %}
            </div>
            <div id="content">
                {% block notifications %}
                    {% include 'PolitizrFrontBundle:Notification:list.html.twig' %}
                {% endblock notifications %}

                {% block main %}
                {% endblock main %}

                {% block footer %}
                    {% include 'PolitizrFrontBundle:Navigation:footer.html.twig' %}
                {% endblock %}
            </div>
        {% endblock content %}
    </div>
{% endblock wrapper %}

{% block javascriptFooter %}
    {{ parent() }}

    {% include 'PolitizrFrontBundle:JS:global.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:globalConnected.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:globalConnectedModalOpening.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:globalImgLiquid.js.twig' %}

    {% include 'PolitizrFrontBundle:JS:onSuccessImgLiquid.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:onSuccessSticky.js.twig' %}
    
    {% include 'PolitizrFrontBundle:JS:share.js.twig' %}
    
    {% include 'PolitizrFrontBundle:JS:notifications.js.twig' %}

    {% include 'PolitizrFrontBundle:JS:followDebate.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:followUser.js.twig' %}

    {% include 'PolitizrFrontBundle:JS:onSuccessImgLiquid.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:listingPaginated.js.twig' %}
{% endblock javascriptFooter %}
