{% extends 'PolitizrFrontBundle::baseFront.html.twig' %}

{% block title %}Politizr{% endblock title %}
{% block description %}Politizr{% endblock description %}

{% block metaopengraph %}
    {% block ogImage %}{% render controller("PolitizrFrontBundle:SocialNetworks:ogImage") %}{% endblock ogImage %}
    <meta property="og:site_name" content="Politizr" /> 
    <meta property="og:title" content="{% block ogTitle %}Politizr{% endblock ogTitle %}" /> 
    <meta property="og:url" content="{% block ogUrl %}{{ app.request.uri }}{% endblock ogUrl %}" /> 
    <meta property="og:description" content="{% block ogDescription %}Politizr{% endblock ogDescription %}" />
{% endblock metaopengraph %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block wrapper %}
    <div class="wrapper">
        {% block header %}
            {% include 'PolitizrFrontBundle:Navigation:header.html.twig' %}
        {% endblock %}

        {% block inscriptionSteps %}
        {% endblock inscriptionSteps %}

        {% block content %}
             <div id="fixedActions">
               {% block fixedActions %}
                <div id="goUpHolder">
                    <div id="goUp" action="goUp"><i class="iconArrowUp"></i></div>
                </div>
                {% endblock fixedActions %}
            </div>
            <div id="content">
                {% block main %}
                {% endblock main %}

                {% block footer %}
                    {% include 'PolitizrFrontBundle:Navigation:footer.html.twig' %}
                {% endblock %}
            </div>
        {% endblock content %}
    </div>
{% endblock wrapper %}

{% block javascriptFooter %}
    {{ parent() }}
    {% include 'PolitizrFrontBundle:JS:global.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:globalImgLiquid.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:share.js.twig' %}

    {% include 'PolitizrFrontBundle:JS:onSuccessImgLiquid.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:onSuccessSticky.js.twig' %}
    
    {% include 'PolitizrFrontBundle:JS:followDebate.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:followUser.js.twig' %}

    {% include 'PolitizrFrontBundle:JS:onSuccessImgLiquid.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:listingPaginated.js.twig' %}
{% endblock javascriptFooter %}
