{# common "connected" layout #}
{% extends 'PolitizrFrontBundle::baseFront.html.twig' %}

{% block title %}
    {% if (isGrantedE()) %}
        Politizr - Espace Débatteur
    {% elseif (isGrantedC()) %}
        Politizr - Espace Citoyen
    {% endif %}
{% endblock title %}

{% block description %}
    {% if (isGrantedE()) %}
        Politizr Espace Débatteur
    {% elseif (isGrantedC()) %}
        Politizr Espace Citoyen
    {% endif %}
{% endblock description %}

{% block metaopengraph %}
    {% block ogImage %}{% render controller("PolitizrFrontBundle:Social:ogImage") %}{% endblock ogImage %}
    <meta property="og:site_name" content="Politizr" /> 
    <meta property="og:title" content="{% block ogTitle %}Politizr{% endblock ogTitle %}" /> 
    <meta property="og:url" content="{% block ogUrl %}{{ app.request.uri }}{% endblock ogUrl %}" /> 
    <meta property="og:description" content="{% block ogDescription %}Politizr{% endblock ogDescription %}" />
{% endblock metaopengraph %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/politizrfront/css/styleUser.css') }}">
{% endblock %}

{% block wrapper %}
    <div class="wrapper">
        {% block header %}
            {% include 'PolitizrFrontBundle:Navigation\\Header:_headerConnected.html.twig' %}
        {% endblock %}

        {% block content %}
            {% block fixedActions %}
                <div id="fixedActions">
                </div>
            {% endblock fixedActions %}
            {% block goUp %}
                <div id="goUpHolder">
                    <div id="goUp" action="goUp"><i class="iconArrowUp"></i></div>
                </div>
            {% endblock goUp %}
            <div id="content">
                {% block notifications %}
                    {% include 'PolitizrFrontBundle:Notification:_notifications.html.twig' %}
                {% endblock notifications %}

                {% block main %}
                {% endblock main %}

                {% block footer %}
                    {% include 'PolitizrFrontBundle:Navigation\\Footer:_footer.html.twig' %}
                {% endblock %}
            </div>
        {% endblock content %}
    </div>
{% endblock wrapper %}

{% block javascriptFooter %}
    {{ parent() }}

    {% include 'PolitizrFrontBundle:JS:global.js.twig' %}
    
    {% include 'PolitizrFrontBundle:JS\\Notification:display.js.twig' %}
    {% include 'PolitizrFrontBundle:JS\\Follow:subscribe.js.twig' %}
    {% include 'PolitizrFrontBundle:JS\\PaginatedList:opening.js.twig' %}
    {% include 'PolitizrFrontBundle:JS\\PaginatedList:loading.js.twig' %}
    {% include 'PolitizrFrontBundle:JS\\Monitoring:abuse.js.twig' %}

{% endblock javascriptFooter %}
