{% extends 'PolitizrFrontBundle::baseFront.html.twig' %}

{% block title %}{{ meta.title }}{% endblock title %}
{% block description %}{{ meta.description }}{% endblock description %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/politizrfront/css/styleUser.css') }}">
{% endblock %}

{% block bodyClass %} class="user"{% endblock %}

{% block main %}
    <div id="main">
        {% block content %}
            <div id="unplugged"></div>
        {% endblock content %}
    </div>
    <div id="bg"></div>
{% endblock main %}
