{% extends_admingenerated "PolitizrAdminBundle:PCOwnerList:row.html.twig" %}

{% block object_action_moveup %}
    {% spaceless %}
        {% if not PCOwner.isFirst() %}
            <a class="btn btn-default btn-xs" href="{{ path("Politizr_AdminBundle_PCOwner_object", { 'pk': PCOwner.Id, action: 'moveUp' }) }}" 
                data-original-title="{% trans from "Admin" %}+Bas{% endtrans %}" rel="tooltip">
                <i class="fa fa-fw fa-arrow-down"></i>
            </a>
        {% endif %}
    {% endspaceless %}
{% endblock object_action_moveup %}

{% block object_action_movedown %}
    {% spaceless %}
        {% if not PCOwner.isLast() %}
            <a class="btn btn-default btn-xs" href="{{ path("Politizr_AdminBundle_PCOwner_object", { 'pk': PCOwner.Id, action: 'moveDown' }) }}" 
                data-original-title="{% trans from "Admin" %}+Haut{% endtrans %}" rel="tooltip">
                <i class="fa fa-fw fa-arrow-up"></i>
            </a>
        {% endif %}
    {% endspaceless %}
{% endblock object_action_movedown %}