@import "../_global/colors";

#fixedActions {
	z-index: 12000;
	position: fixed;
	bottom: 20px;
	width: 180px;
	background-color: #fff;
	padding: 2px 0 5px 0;
	text-transform: uppercase;
	text-align: center;
    font-family: 'nerissemibold';
}

.actionFollow, .actionUnfollow {
	float: right;
	margin-top: 20px;
	margin-right: 40px;
	color: $highlight;
	font-family: nerissemibold;
	position: relative;
	cursor: pointer;
}
#fixedActions .actionFollow, #fixedActions .actionUnfollow {	padding-left: 0;}

.actionFollow:hover, .actionUnfollow:hover {color: $darkGrey;}
.actionFollow i, .actionUnfollow i {position: absolute; left: 0; font-size: 9px;}

#fixedActions .subscribe a, #fixedActions .editProfile a {
	background-color: $highlight;
	color: #fff;
}

#fixedActions .subscribe a:hover, #fixedActions .editProfile a:hover {
	background-color: $darkGrey;	
	color: #fff;
}

#fixedActions .cannotPublishDebate, #fixedActions .cannotPublishReaction {
	color: $alert;
	font-family: 'nerissemibold';
	font-size: 12px;
	line-height: 140%;
	text-transform: none;
	text-align: left;
	margin-top: 5px;
	float: left;
	clear: both;
	width: 100%;
}

#fixedActions .cannotPublishDebate a, #fixedActions .cannotPublishReaction a {
	width: auto;
	float: none;
	padding: 0;
	color: inherit;
}
#fixedActions .cannotPublishDebate a:hover, #fixedActions .cannotPublishReaction a:hover {color: $highlight;}

#fixedActions .actionAskForUpdate a {
	text-transform: none;
	text-align: left;
	width: auto;
	padding: 0;
	margin: 13px 0;
}
.actionAskForUpdate a:hover {color: $highlight;}


/// auto save

#fixedActions .actionSave.saved i {display: none;}
#fixedActions .actionSave.saved a {
	cursor: default;
	color: $semiDarkGrey;
}
#fixedActions .actionSave.saved a:hover {	color: $darkGrey; background-color: $semilightGrey;}
#fixedActions .actionSave.saved a:before {
	font-family: 'fontello';
	content: "\e82c";
	padding-right: 4px;
}

#fixedActions .actionSave.saved .ajaxLoaderBg { background-color: $semilightGrey; }

/// got to update under

#fixedActions .actionSave,
#fixedActions .actionPublish,
#fixedActions .actionFollow,
#fixedActions .actionEdit,
#fixedActions .actionUnfollow,
#fixedActions .actionPublish,
#fixedActions .actionCosign {
	width: 100%;
	float: left;
	margin-top: 3px;
}

#fixedActions a, 
#fixedActions .actionFollow a, 
#fixedActions .actionUnfollow a,
#fixedActions .actionPublish a {
	width: 100%;
	float: left;
	padding: 13px 0;
	cursor: pointer;
	font-size: 12px;
    font-family: 'nerissemibold';
}

#fixedActions i {
	padding-right: 5px;
	font-size: 11px;
	top:-1px;
	position: relative;
}

#fixedActions .actionSave i, #fixedActions .actionPublish i {font-size: 12px; }
#fixedActions .actionSave i {padding-right: 3px;}
#fixedActions a.actionReact i {font-size: 13px;}
#fixedActions .actionCosign i {font-size: 14px;}

#fixedActions .actionFollow a,
#fixedActions .actionEdit a, 
#fixedActions .actionPublish a,
#fixedActions .actionCosign {
	background-color: $highlight;
	color: #fff;
}

#fixedActions .actionUnfollow a {
	background-color: $anotherGrey;
	color: #fff;
}


#fixedActions .actionGotoDebate, 
#fixedActions .actionSave a {
	color: $darkGrey;
	background-color: $semilightGrey;
}

#fixedActions .actionFollow a:hover, 
#fixedActions .actionEdit a:hover, 
#fixedActions .actionUnfollow a:hover, 
#fixedActions .actionGotoDebate:hover, 
#fixedActions .actionPublish a:hover, 
#fixedActions .actionSave a:hover {
	background-color: $darkGrey;	
	color: #fff;
}

#fixedActions .actionReact {
	background-color: $darkGrey;	
	color: #fff;
	margin-bottom: 15px;
}

#fixedActions a.actionReact:hover {background-color: $highlight;}

#fixedActions .actionDelete {
	text-transform: none;
	text-align: right;
	padding: 0;
}
#fixedActions .actionDelete a {
	width: auto;
	float: right;
	padding: 0;
	margin-top: 10px;
    font-family: 'nerissemibold';
    color: $highlight;
}
#fixedActions .actionDelete a i {
	font-size: 8px;
	padding-right: 2px;
}
#fixedActions .actionDelete a:hover {color: $darkGrey;}