@import "../_global/colors";

#fixedActions {
	z-index: 12000;
	position: fixed;
	bottom: 20px;
	width: 180px;
	background-color: #fff;
	padding: 2px 0 5px 0;
	text-transform: uppercase;
	text-align: center;
    font-family: 'nerissemibold';
}

#fixedActions a, 
#fixedActions .actionFollow a, 
#fixedActions .actionUnfollow a,
#fixedActions .actionPublish a, 
#fixedActions .actionCosign, 
#fixedActions .actionSave  {
	width: 100%;
	float: left;
	margin-top: 3px;
	padding: 13px 0;
	cursor: pointer;
	font-size: 12px;
    font-family: 'nerissemibold';
}

#fixedActions i {
	padding-right: 5px;
	font-size: 11px;
	top:-1px;
	position: relative;
}

#fixedActions .actionSave i, #fixedActions .actionPublish i {font-size: 12px; }
#fixedActions .actionSave i {padding-right: 3px;}
#fixedActions a.actionReact i {font-size: 13px;}
#fixedActions .actionCosign i {font-size: 14px;}

#fixedActions .actionFollow a, 
#fixedActions .actionPublish a,
#fixedActions .actionCosign {
	background-color: $highlight;
	color: #fff;
}

#fixedActions .actionUnfollow a {
	background-color: $anotherGrey;
	color: #fff;
}

#fixedActions .actionGotoDebate, 
#fixedActions .actionSave {
	color: $darkGrey;
	background-color: $semilightGrey;
}

#fixedActions .actionFollow:hover, 
#fixedActions .actionFollow a:hover, 
#fixedActions .actionUnfollow:hover, 
#fixedActions .actionUnfollow a:hover, 
#fixedActions .actionCosign:hover, 
#fixedActions .actionGotoDebate:hover, 
#fixedActions .actionPublish a:hover, 
#fixedActions .actionSave:hover {
	background-color: $darkGrey;	
	color: #fff;
}

#fixedActions .actionReact {
	background-color: $darkGrey;	
	color: #fff;
	margin-bottom: 15px;
}

#fixedActions a.actionReact:hover {background-color: $highlight;}

