@import "../_global/colors";

#dashboard { font-family: 'nerissemibold';}
#dashboard h1 {
    font-family: 'nerislight';
    font-weight: normal;
	font-size: 22px;
	padding: 40px 0 10px 40px;
	width: calc(100% - 40px);
	display: inline-block;
	margin: 0;
	color: $darkGrey;
}

.dbMap {
	margin: 0 0 20px 0;
	float: left;
	width: 100%;
}

.dbGeo {
	float: left;
	width: 100%;
	margin-bottom: 40px;
}
#dashboard .dbGeo h1 {
	position: relative;
	padding-left: 60px;
	width: calc(100% - 60px);	
}
.dbGeo h1:before {
	font-family: 'fontello';
	content: "\e83a";
	font-size: 18px;
	position: absolute;
	left: 40px;
	top:41px;
}

.dbMapHeader {
	margin: 10px 40px 20px 40px;
	width: calc(100% - 80px);
	font-size: 10px;
	text-transform: uppercase;
	display: inline-block;
}

.dbMapHeaderLeft {
	float: left;
	width: 75%;
	line-height: 100%;
	line-height: 140%;
}
.dbMapHeaderLeft i {	
	float: left;
	margin-right: 4px;
	font-size: 6px;
	color: $highlight;
}
.dbMapHeaderLeft span {
	float: left;
	margin-right: 5px;
	color: $highlight;
	cursor: pointer;
}
.dbMapHeaderLeft span:hover {color: $darkGrey;}

.dbMapHeaderRight {
	float: right;
	width: 25%;
	text-align: right;
}
.dbMapHeaderRight i {padding-right: 1px;}
.dbMapHeaderRight span {
	margin-left: 10px;
	cursor: pointer;
}
.dbMapHeaderRight span:hover {color: $highlight;}

.dbMapBox {
	background: $formGrey;
	width: 100%;
	float: left;
	height: 670px;
	position: relative;
}

.dbMapBox iframe, .dbMapBox .svg {
	position: absolute;
	top: 0;
	left: 0;
	border: none;
	width: 700px;
	height: 670px;
}

.dbMapFilters {
	float: right;
	margin: 20px 20px 20px 0;
	background-color: #fff;
	padding: 20px;
	width: 290px;
	position: relative;
	z-index: 1;
	height: 590px;
	overflow: auto;
}

.dbMapFilters .listCriteria {
	width: 100%;
	margin-top: 0;
	margin-bottom: 20px;
}

.dbMapFilters .listCriteria.listCriteriaTabs label:hover, .dbMapFilters .listCriteria.listCriteriaTabs input:checked+label { margin-top: -17px;}

.dbMapFilters .listCriteria label { margin: 0 15px 0 0;}
.dbMapFilters .listCriteria label:last-child {margin-right: 0;}

.linkOnMap {
	position: absolute;
	bottom: 20px;
	left: 20px;
	z-index: 1;
	text-transform: uppercase;
	font-size: 10px;
}
.linkOnMap i { padding-right: 2px; }
.linkOnMap:hover { color: $highlight; cursor: pointer; }

// menu on map (dom/tom)

.menuOnMap {
	display: none;
	position: absolute;
	left: 20px;
	bottom:45px;
	z-index: 1;
	padding: 5px 10px;
	background: $darkGrey;
	color: #fff;
	font-size: 12px;
    font-family: 'nerislight';
    -moz-box-shadow: 0px 0px 10px 0px $darkGrey;
	-webkit-box-shadow: 0px 0px 10px 0px $darkGrey;
	-o-box-shadow: 0px 0px 10px 0px $darkGrey;
	box-shadow: 0px 0px 10px 0px $darkGrey;
}

.menuOnMapGroup {
	padding: 5px 0;
	float: left;
	clear: both;
}

.menuOnMapItem {
	margin-bottom: 3px;
	cursor: pointer;
	float: left;
	clear: both;
}
.menuOnMapItem i {font-size: 11px; margin-right: 2px;}
.menuOnMapItem:hover { color: $highlight;}

.menuOnMap i.iconArrowDown {
	position: absolute;
	bottom: -8px;
	left: 5px;
	color: $darkGrey;
}

// end menu on map

// map podium

.podiumRank {
	float: left;
	width: 20px;
	margin-right: 10px;
	text-align: center;
	font-size: 30px; 
	color: $highlight;
    font-family: 'nerislight';
    line-height: 100%;
} 

.podiumItem {
	float: left;
	width: 100%;
	margin: 10px 0;
}

.debatePodium {
	float: left;
	width: 100%;
	border-bottom: solid 1px $semiGrey;
	margin-bottom: 20px;
	padding-bottom: 30px;
}

.debatePodium .podiumItem a {
	float: right;
	width: calc(100% - 30px);
	color: $darkGrey;
	font-size: 18px;
	line-height: 120%;
}
.debatePodium .podiumItem a:hover {color: $highlight;}

.profilePodium .avatar40 { float: left;}

.profilePodium .profileSummary {
	float: right;
	width: calc(100% - 80px);
}

.profilePodium .profileName {
	margin: 0;
	font-size: 16px;
}
.profilePodium .profileName a {
	color: $darkGrey;
	line-height: 100%;
	height: 1.1em;
	overflow: hidden;
}
.profilePodium .profileName a:hover {color: $highlight;}

.profilePodium .organization {
	vertical-align: top;
	margin-top: 2px;
}

.profilePodium .profileSubtitle {
	height: 2.6em;
	overflow: hidden;
	margin-top: 3px;
}

.podiumShowMore {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 15px;
}

.podiumShowMore a {
	display: inline-block;
	cursor: pointer;
	padding: 5px 20px;
	font-size: 10px; 
	text-transform: uppercase;
	background-color: $semiGrey;
	color: #fff;
}
.podiumShowMore a:hover {background-color: $darkGrey;}
// end map podium

// popular tags

.dbPopularTagList .tag {
	font-size: 12px;
	font-family: 'nerisblack';
	float: left;
	margin: 0 10px 10px 0;
	padding: 10px;
	border: solid 1px $AltHighlight;
	color: $highlight;	
	background-color: #fff;
	position: relative;
}
.dbPopularTagList .tag:hover {color: $darkGrey; border-color: $semiDarkGrey;}
.dbPopularTagList .tag.geo {
	padding: 10px 10px 10px 22px;	
}
.dbPopularTagList .tag.geo:before {
	font-family: 'fontello';
	content: "\e83a";
	padding-right: 2px;
	position: absolute;
	left: 10px;
	top:10px;
	font-size: 14px;
}

// popular debates

.dbBox.dbPopularDebates .listCriteria.listCriteriaTabs, .dbBox.dbPopularProfiles .listCriteria.listCriteriaTabs {margin-bottom: 10px;}
 
.dbPopularDebates .debateList a {
	color: $darkGrey;
	font-size: 18px;
	line-height: 120%;
	display: inline-block;
	width: 100%;
	clear: both;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: solid 1px $semiGrey;
}
.dbPopularDebates .debateList a:hover { color: $highlight;}
.dbPopularDebates .debateList a:last-child {border-bottom: none; margin-bottom: 0; padding-bottom: 0;}

// popular profiles

.profileInList {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: solid 1px $semiGrey;
}
.dbItemHalfWidth .profileInList:last-child { border-bottom: none; margin-bottom: 0; padding-bottom: 0;}

.profileInList .avatar40 { float: left;}

.profileInList .profileSummary {
	float: right;
	width: calc(100% - 50px);
}

.dbItemHalfWidth .profileInList .profileName {
	margin: 0;
	font-size: 16px;
}
.profileInList .profileName a {
	color: $darkGrey;
	line-height: 100%;
	height: 1.1em;
	overflow: hidden;
}
.profileInList .profileName a:hover {color: $highlight;}
.dbItemHalfWidth .profileInList .organization {margin-top: 5px;}

.dbItemHalfWidth .profileInList .profileSubtitle {
	margin-top: 3px;
	line-height: 140%;
}

// a la une en ***

.dbCloseToYou {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 10px;
}

.dbCloseToYou .dbGeo {
	background-color: $lightGrey;	
}

.dbSuggestions {
	//background-color: $lightGrey;
	position: relative;
	float: left;
	width: 100%;
}
#dashboard .dbSuggestions h1 { padding-top: 20px;}
#dashboard .dbSuggestions h1 {
	position: relative;
	padding-left: 60px;
	width: calc(100% - 60px);	
}
.dbSuggestions h1:before {
	font-family: 'fontello';
	content: "\e82f";
	font-size: 14px;
	position: absolute;
	left: 40px;
	top:22px;
}

.dbSuggestions .dbItemHalfWidth .postSummaryAuthor .organization { color: $lightGrey !important;}
.dbSuggestions .dbItemHalfWidth .tag { color: $lightGrey; }

a.dbItemShow {
	float: left;
	margin: 20px 0 0 40px;
	color: $highlight;
	font-family: nerissemibold;
	position: relative;
	padding-left: 17px;
}
a.dbItemShow i {	position: absolute;	left: -2px; }
a.dbItemShow:hover {color: $darkGrey;}

// mini profiles 

.miniProfiles {
	float: left;
	width: 100%;
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: solid 1px $semiGrey;
}
.miniProfiles:last-child {border-bottom: none; margin-bottom: 0; padding-bottom: 0;}

.miniProfiles .profileInList {
	background-color: $altSemiGrey;
	width: calc(100% - 40px);
	padding: 20px;
	margin-bottom: 0;
	border-bottom: none;
}
.dbCloseToYou .miniProfiles .profileInList { background-color: $altSemiGrey;}

#dashboard .dbItemHalfWidth .miniProfiles a.dbItemShow {
	margin-left: 20px;
	margin-top: 15px;
}

#dashboard .dbItemHalfWidth .miniProfiles .subscribe {
	margin-top: -10px;
	margin-right: 20px;
}

.dbItemHalfWidth .miniProfiles .profileInList .profileSubtitle {
	height: auto;
	overflow: auto;
}

// commun structure

.dbBox {
	float: left;
	width: 100%;
	padding-bottom: 40px;
}
.dbPopularTag, .dbPopularDebates {
	border-bottom: solid 4px $darkGrey;
}
.dbBox .dbItemHalfWidth {
	margin-bottom: 0;
}

.dbBox .listCriteria {
	width: calc(100% - 80px);
	margin: 20px 40px 30px 40px;
}

.dbPopularTagList {
	width: calc(100% - 80px);
	margin: 0 40px;
	float: left;
}

#dashboard .subscribe {
	position: absolute;
	z-index: 4;
	right: 40px;
	bottom:0;
	text-transform: uppercase;
	color: #fff;
}

#dashboard .dbItemHalfWidth .subscribe {
	position: static;
	float: right;
	right: 0;
	margin-top: 15px;
	text-transform: uppercase;
	color: #fff;
}

#dashboard .subscribe .actionFollow, #dashboard .subscribe .actionUnfollow, #dashboard .subscribe .actionFollow, #dashboard .subscribe .actionUnfollow { font-size: 12px; }

#dashboard .dbItemHalfWidth .subscribe .actionFollow, #dashboard .dbItemHalfWidth .subscribe .actionUnfollow,  {
	width: 140px;
	margin-top: 0;
	margin-right: 0;
	float: right;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
#dashboard .dbItemHalfWidth .subscribe .actionFollow a, #dashboard .dbItemHalfWidth .subscribe .actionUnfollow a {
	padding: 12px 0;
	width: 140px;
}

#dashboard .subscribe .actionFollow, #dashboard .subscribe .actionUnfollow, #dashboard .subscribe .actionFollow, #dashboard .subscribe .actionUnfollow {
	text-align: center;
	color: #fff;
	-moz-box-shadow: 0px 0px 20px 0px $darkGrey;
	-webkit-box-shadow: 0px 0px 20px 0px $darkGrey;
	-o-box-shadow: 0px 0px 20px 0px $darkGrey;
	box-shadow: 0px 0px 20px 0px $darkGrey;
}
#dashboard .subscribe .actionFollow a, #dashboard .subscribe .actionUnfollow a {
	width: 180px;
	padding: 20px 0;
	margin: 0;
	float: left;	
}

#modalBoxContent .subscribe i, #dashboard .subscribe i {
	position: relative;
	left: auto;
	font-size: 12px;
	padding-right: 3px;
	font-size: 11px;
	top: -1px;
}
#dashboard .subscribe .actionUnfollow i {
	font-size: 10px;
	padding-right: 3px;
}

.dbItemFullWidth {
	width: 700px;
	display: inline-block;
	text-align: left;
	margin: 20px 0 40px 0;
	position: relative;
}

.dbItemFullWidth a.modalItemShow {margin-left: 40px;}

.dbItemHalfWidth {
	width: 290px;
	float: left;
	text-align: left;
	margin: 20px 0 40px 40px;
	position: relative;	
}

.dbItemHalfWidth .tag { color: #fff; }
.dbItemHalfWidth .tag:hover {background-color: $darkGrey;}

.dbItemHalfWidth .postSummaryTagList {
	max-height: 14px;
	overflow: hidden;
}

.halfWidthThumb {
	float: left;
	width: 100%;
	margin: 10px 0;
	height: 165px;
}

.dbItemHalfWidth .postSummaryAuthor { margin: 0 0 7px 0; }

.dbItemHalfWidth .postSummaryTitle {
	font-size: 22px;
	line-height: 130%;
	height: auto;
	max-height: none;
}
.dbItemHalfWidth .postSummaryTitle a { color: $darkGrey;}
.dbItemHalfWidth .postSummaryTitle a:hover { color: $highlight;}

.dbItemHalfWidth .postSummaryAuthor .organization {
	background-color: $highlight;
	color: #fff !important;
	margin-top: 3px;
}
.dbItemHalfWidth .postSummaryAuthor a:hover { color: $darkGrey; }
.dbItemHalfWidth .postSummaryAuthor .organization:hover { background-color: $darkGrey !important; }

.dbItemHalfWidth a.dbItemShow {
	margin: 40px 0 0 0;
	clear: both;
}

#dashboard .profilePublicTagList {
	padding: 10px 0 0 0;
	float: left;
	width: 100%;
}

.dbItemHalfWidth .profileHeader, .dbItemHalfWidth .profileHeader .illustrationShadow, .dbItemHalfWidth .profileHeaderIllustration {
	width: 100%;
	height: 165px;
}

.dbItemHalfWidth .profileHeader .pad40 {
	padding: 20px;
	width: calc(100% - 40px);
	height: calc(100% - 40px);
}

.dbItemHalfWidth .profileSummaryFooter { bottom: 20px;}

.dbItemHalfWidth .profileName {
	float: left;
	font-size: 18px;
	position: static;
	margin:10px 0 0 0;
}
.dbItemHalfWidth .profileName a { color: $darkGrey;}
.dbItemHalfWidth .organization {margin-top: 7px;}

.dbItemHalfWidth .profileSubtitle { margin: 10px 0 0 0; }