@import "../_global/colors";

/// before debug waypoint 
/*
#publicationsList {
	width: 100%;
    font-family: 'nerissemibold';
}

.publicationsListItem {
	width: calc(100% - 80px);
	padding: 40px;
	float: left;
	clear: both;
	margin: 30px 0;
	background-color: $lightGrey;
}
*/


/// drafts 
#publicationsList {
	padding-bottom: 20px; 
	float: left;
	clear: both; 
	width: 100%;
    font-family: 'nerissemibold';
}

#publicationsList h1 {
	text-align: center;
	line-height: 100%;
	padding: 0;
	margin: 35px 0 0 0;
	font-family: 'nerislight';
	font-size: 40px;
	font-weight: normal;
	width: 100%;
	float: left;
	clear: both;
}

#noPublications {
	width: 100%;
	float: left;
	clear: both;
	padding: 60px 0;
	font-family: 'nerislight';
	text-align: center;
}

.publicationsListItem {
	width: calc(100% - 80px);
	padding: 40px;
	display: inline-block;
	clear: both;
	margin: 30px 0;
	background-color: $lightGrey;
}
.publicationsListItem:last-child {border: none;}

.publicationsListItemHeader {
	font-style: italic;
	font-family: 'Merriweather Italic';	
	font-size: 12px;
}
.publicationsListItemHeader span {
	font-family: 'nerisblack';
	font-size: 8px;
	font-style: normal;
	text-transform: uppercase;
	background: $darkGrey;
	color: #fff;
	padding: 3px 4px;
	margin: -3px 8px 0 0;
	float: left;
}

.publicationsListItemHeader a  {
	font-family: 'nerisblack';
	font-style: normal;
	color: $darkGrey;	
}
.publicationsListItemHeader .organization { font-style: normal;	}
.publicationsListItemHeader a:hover, .publicationsListItemHeader .organization:hover {color: $highlight;}

.publicationsListItemTitle {
	font-size: 36px;
	width: 100%;
	clear: both;
	display: inline-block;
	line-height: 110%;
    font-family: 'nerissemibold';
	padding: 10px 0;
}
.publicationsListItemTitle a {color: $highlight;}
.publicationsListItemTitle a:hover {color: $darkGrey;}

.publicationsListItemContext {
	display: inline-block;
	width: 100%;
	padding: 10px 0;
	line-height: 160%;
	font-family: 'Merriweather';
}
.publicationsListItemContext a {color: $darkGrey;}
.publicationsListItemContext a:hover {color: $highlight;}

span.timelineItemContextHighlight {
	clear: both;
	display: inline-block;
	font-family: nerisblack;
}

.publicationsListItemActions {
	display: inline-block;
	width: 100%;
	padding: 10px 0 0 0;
    font-family: 'nerissemibold';
}

.publicationsListItemActions a {
	color: $highlight;
	padding-left: 20px;
	position: relative;
}

.publicationsListItemDuplicate, .publicationsListItemDelete {
	display: inline-block;
	margin-left: 40px;	
	color: $semiDarkGrey;
	position: relative;
	padding-left: 15px;
	cursor: pointer;
}
.publicationsListItemActions a i, .publicationsListItemDuplicate i, .publicationsListItemDelete i {
	position: absolute;
	left: -2px;
	font-size: 10px;
	top: 1px;
}
.publicationsListItemActions a i {font-size: 13px;}
.publicationsListItemActions a:hover, .publicationsListItemDuplicate:hover, .publicationsListItemDelete:hover {color: $darkGrey;}


/// my reactions
.publicationsListItemStats {
	float: left;
	clear: both;
	width: 100%;
	padding: 10px 0;
	color: $anotherGrey;		
}

.publicationsListItemStatsLeft {	float: left; 	width: 49%;}
.publicationsListItemStatsLeft .postSummaryActivity {	margin-top: 0;}
.publicationsListItemStatsLeft .postSummaryActivity .commentsCounter {margin-right: 0;}
.publicationsListItemStatsRight {
	float: right;
	width: 49%;
	text-align: right;
}

.publicationsListItemStatsRight .postCosigners {
	position: static;
	width: auto;
	bottom: auto;
	right: auto;
	font-size: 10px;
	display: inline-block;
	float: none;
	line-height: 100%;
}

.publicationsListItemStatsRight .postNote {
	display: inline-block;	
	clear: none;
	margin: 0 0 0 20px;
	float: none;
	line-height: 100%;
}

.publicationsListItemActions .inviteCosigners {
	display: inline-block;
	margin-left: 40px;
	color: $highlight;
	cursor: pointer;
}
.publicationsListItemActions .inviteCosigners:hover {color: $darkGrey;}

.publicationStats {
	margin-top: 20px;
	padding: 8px 10px 8px 28px;
	color: #fff;
	background-color: $highlight;
    font-family: 'nerissemibold';
    float: left;
    clear: both;
    line-height: 100%;
    cursor: pointer;
	position: relative;
	
}
.publicationStats i {font-size: 12px; position: absolute; left: 8px;}
.publicationStats:hover {background-color: $darkGrey;}
.publicationStats.noPublicationStatsYet, .publicationStats.noPublicationStatsYet:hover {background-color: $semiGrey; cursor: default;}