@import "../_global/colors";

///// /!\ need _edit_post

// big camera
#profileHeader #bigCamera {
	position: absolute;
	top: 70px;
	width: 60px;
	left: 50%;
	margin-left: -30px;
	z-index: 1000;
	cursor: pointer;
}
#profileHeader #bigCamera i.iconCamera {
	font-size: 58px;
	color: $highlight;
	left: -11px;
	position: relative;
}
#profileHeader #bigCamera i.iconCamera:hover {color: $semiGrey;}

#profileHeader #bigCamera i.iconNotifYes {
	font-size: 50px;
	color: #fff;
	position: absolute;
	z-index: -1;
	left: -8px;
	top: 4px;
}

// small camera
#profileHeader .avatar60 {
	position: relative;
	overflow: visible !important; // debug ie
}

#profileHeader #smallCamera {
	position: absolute;
	top: -15px;
	width: 30px;
	left: -15px;
	z-index: 1000;
	cursor: pointer;
}

#profileHeader #smallCamera i.iconCamera {
	font-size: 28px;
	color: $highlight;
	position: relative;
	top: 0;
	left: -5px;
}
#profileHeader #smallCamera i.iconCamera:hover {color: $semiGrey;}

#profileHeader #smallCamera i.iconNotifYes {
	font-size: 25px;
	color: #fff;
	position: absolute;
	z-index: -1;
	top: 2px;
	left: -3px;
}

/// edition my profile
.profileFieldset { margin-bottom: 60px;}
#postText.profileFieldset .paragraph {padding: 20px 40px; width: 620px;}
#postText.profileFieldset {padding: 20px 0;}

#editMyPrivateTags .tagLabel {color: lighten( $darkGrey, 10% ); border-color: $semilightGrey;}

#editMyPrivateTags.tagBox .fieldsetHeader { border-top: 1px solid $semilightGrey;}

#editMyPrivateTags .tagLabel a:hover {color: $highlight;}
.editableTagList .noTag {
	text-transform: none;
	color: $semiDarkGrey;
	font-size: 14px;
	font-family: 'nerislight';
	line-height: 140%;
	margin-bottom: 20px;
}

.profileFieldset .jcf-select { margin-left: 40px; }

.editable.subtitle {
	margin-bottom: 40px;
	padding: 40px;
	border: solid 1px $formGrey;
	width: calc(100% - 82px);
	font-size: 13px;
	font-family: 'Merriweather Italic';
	font-style: italic;
	color: $highlight;
	line-height: 160%;
	text-transform: none;
}
.editable.subtitle:focus {    outline: 0;}
.editable.subtitle a {color: $highlight;}
.editable.subtitle.medium-editor-placeholder:after {
	color: lighten( $highlight, 20% );
	left: 40px;
    top: 40px;
    font-size: 13px;
    text-transform: none;
} 

// edit social links

#socialLinks .fieldsetHeader {
	margin: 0 0 20px 0;
	width: 100%;
}

#socialLinks {
	float: left;
	clear: both;
	width: calc(100% - 80px);
	margin: 0 0 0 40px; 
	padding-bottom: 60px;
}
#socialLinks .profileTwitter, #socialLinks .profileFacebook, #socialLinks .profileGooglePlus, #socialLinks .profileWebsite {
	margin : 0 0 20px 0;
	float: left;
	width: 100%;
	position: relative;
}
#socialLinks .profileWebsite {margin-bottom: 0;}
#socialLinks i {
	position: absolute;
	left: -2px;
	top: 12px;
}
#socialLinks input {
	margin-left: 30px;
	padding: 10px;
	width: calc(100% - 52px);
	font-size: 12px;
	font-family: 'nerissemibold';
	padding: 10px;
	color: $darkGrey;
	border: solid 1px $semilightGrey;
	background-color: #fff;
}


// edit mandates

#newMandate.editMandateItem {
	margin: 0 40px 40px 40px;
	padding: 0;
	width: calc(100% - 80px);
	background-color: transparent;
}

.editMandateItem {
	display: inline-block;
	width: calc(100% - 80px);
	padding: 40px;
	margin-bottom: 40px;
	font-size: 10px;
    font-family: 'nerisblack';
    text-transform: uppercase;
    background-color: $lightGrey;
    position: relative;
}

.editMandateItem span.dea {
	float: left;
	width: 40px;
	text-align: center;
	margin-top: 20px;
}

.editMandateItem .jcf-select .jcf-select-text {	font-size: 12px;}
.editMandateItem  .jcf-select .jcf-select-opener:before {
	font-size: 8px;
	margin: 19px 0 0 0;
}

.profileFieldset .editMandateItem .jcf-select {
	margin-left: 0;
	float: left;
}

.editMandateWhatAndWhere input, .editMandatePeriod input {
	float: left;
	clear: both;
	width: 324px;
	margin-top: 8px;
	border: solid 1px $semilightGrey;
	font-size: 12px;
    font-family: 'nerisblack';
    text-transform: uppercase;
    padding: 15px 20px;
    color: $darkGrey;
}
input.editMandateWhatAndWhere::-webkit-input-placeholder, input.editMandatePeriod::-webkit-input-placeholder { color:$semiDarkGrey; }
input.editMandateWhatAndWhere::-moz-placeholder, input.editMandatePeriod::-moz-placeholder { color:$semiDarkGrey; } /* firefox 19+ */
input.editMandateWhatAndWhere:-ms-input-placeholder, input.editMandatePeriod:-ms-input-placeholder  { color:$semiDarkGrey; } /* ie */
input.editMandateWhatAndWhere input:-moz-placeholder, input.editMandatePeriod input:-moz-placeholder { color:$semiDarkGrey; } 

.editMandatePeriod input {
	width: 45px;
	clear: none;
	margin-top: 0;
	text-align: center;
	color: $highlight;
}

.editMandateWhatAndWhere {
	float: left;
	width: 366px;
}
.editMandateWhatAndWhere .jcf-select {
	min-width: 294px;
	max-width: 294px;
	float: left;
}

.editMandateWhatAndWhere .jcf-list .jcf-option { padding: 5px 20px; font-size: 12px;}
.editMandateWhatAndWhere .jcf-list .jcf-optgroup-caption { font-size: 10px; padding: 10px 20px 0 20px;}
.editMandateWhatAndWhere .jcf-list .jcf-optgroup-caption:before {
	display: inline-block;
	content: '\e835';
	font-family: 'fontello';
	font-size: 10px;
	margin: 0 4px 0 0;	
}

.editMandatePeriod {
	float: right;
	width: 214px;
	position: relative;
	margin-bottom: 8px;
}

.editMandatePeriod .jcf-select {
	min-width: 20px;
	max-width: 20px;
	float: left;
	padding: 15px 45px 15px 20px;
}

.editMandatePeriod .jcf-select .jcf-select-text {
	text-overflow: ellipsis;
	white-space:  normal;
	overflow:  auto;
	display: block;
	font-size: 12px;
	line-height: 20px;
	width: 35px;
}

.mandateActions {
	float: right;
	width: 100%;
	margin-top: 15px;
}
.mandateActions i {font-size: 11px;}

.editMandateCreate {
	color: $highlight;
	font-size: 12px;
	text-transform: none;
    font-family: 'nerissemibold';
    cursor: pointer;
	float: right;
}

.editMandateDeleteItem {
	color: $semiGrey;	
	font-size: 12px;
	text-transform: none;
    font-family: 'nerissemibold';
    cursor: pointer;
   	float: left;
}


.editMandateAddMandate {color: $highlight;}
.editMandateDeleteItem:hover, .editMandateCreate:hover {color: $darkGrey;}