@import "../_global/colors";

//menu sidebar
#menu {
	position: absolute;
	top: 60px;
	width: 200px;
	min-height: 360px;
	background-color: #fff;
	font-family: nerissemibold;
	text-transform: uppercase;
}

#menu .pad40 {	
	padding: 40px 20px; 
	width: 160px;
	display: inline-block;
}

.openSearch {
	float: left;
	font-size: 10px;
	color: $semiGrey;
	position: relative;
	padding-right: 16px;
	margin-bottom: 13px;
	cursor: pointer;
}

.openSearch i {
	position: absolute;
	right: 0;
}

.openSearch:hover {color: $darkGrey;}

#menu .pad40 a {
	color: $darkGrey;
	float: left;
	clear: both;
	margin-bottom: 15px;
	position: relative;
	padding-left: 16px;
}

#menu .pad40 a i {
	position: absolute;
	left: -2px;
	font-size: 12px;
}

#menu .pad40 a.miniLink {
	font-size: 10px;
	margin-bottom: 5px;
	padding-left: 0;
}

#menu .pad40 a.miniLink, #menu a.linkMyPolitizr {	color: $highlight;}
#menu .pad40 a:hover {	color: $highlight;}
#menu .pad40 a.miniLink:hover, #menu a.linkMyPolitizr:hover {	color: $darkGrey;}

//menu préférences

#menuPreferences {
	position: absolute;
	background-color: $darkGrey;
	color: #fff;
	height: 360px;
	width: 220px;
	top : 60px;
	right: 0;
	z-index: 1000;
	text-align: right;
}

#menuPreferences .pad40 {	padding: 40px 20px;}

#menuPreferences a {
	color: $highlight;
	margin: 5px 0;
	display: inline-block;
	width: 100%;
	font-size: 12px;
	font-family: 'Merriweather Bold';
}

#menuPreferences h2 {
	padding: 0 20px 0 0;
	margin: 0 0 10px 0;
	font-family: nerissemibold;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: normal;
	position: relative;
}

#menuPreferences h2 i { position: absolute;	right: -2px;}

#menuPreferences a.disconnect {
	font-family: nerissemibold;
	text-transform: uppercase;
	position: relative;
	padding-right: 15px;
	margin-top: 40px;
	float: right;	
}

#menuPreferences a.disconnect i {
	font-size: 9px;
	position: absolute;
	right: -2px;
}

#menuPreferences a:hover {color: #fff;}

//menu social 
#social {	color: $semiGrey; text-align: center;}
#social .pad40 {	padding: 40px 20px;}

#social a {
	display: inline-block;
	clear: both;
	margin-bottom: 20px;
	color: $semiGrey;
	font-size: 14px;
}

#social a i.icon-social-tw {
	font-size: 17px;
}

.signalAbuse {
	display: inline-block;
	clear: both;
	margin-top: 20px;
	font-size: 18px;
	cursor: pointer;
}

#social a:hover, .signalAbuse:hover {color: $darkGrey;}