@import "../_global/colors";

// post

#postText {
	padding: 40px 0 60px 0;
	background-color: $lightGrey;
	float: left;
	width: 100%;
	margin: -3px 0 0 0;
}

.paragraph {
	padding: 20px 80px;
	float: left;
	width: 540px;
	position: relative;
}
.paragraph:last-child {padding-bottom: 0; margin-bottom: 0;}

//trick for anchor on paragraph (: fixed header hide top of paragraph)
#postText div[id^="p-"]  { //especially for id starting with p- because of an edition related bug
	border-top: 80px solid transparent;
	margin-top: -80px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
//end trick	

.paragraph p {
	font-size: 15px;
	line-height: 200%;
	z-index: 1;
	position: relative;
}

.paragraph a, .paragraph.summary p, .paragraph p a, .paragraph.summary a:hover { color: $darkHighlight;}
.paragraph a:hover, .paragraph p a:hover, .paragraph.summary a {color: $darkGrey;}

/*
.paragraph.summary p::before, .paragraph.summary .editable.summary p:first-child::before {
	content: "—";
	display: inline-block;
	line-height: 200%;
	margin-top: 2px;
	margin-right: 5px;
	color: $darkHighlight;
}
.paragraph.summary .editable.summary p::before  {display: none;}
*/
.paragraph.summary .editable.summary { border: none;}

.paragraph h1 {
	padding: 0;
	margin: 0;
	font-size: 20px;
    line-height: 140%;
    width: 100%;
}
.paragraph h1, .paragraph h1 b, .paragraph h1 i {
    font-family: 'nerisblack';
    font-style: normal;
    font-weight: normal;
}
.paragraph .editable h1 {margin: 0 0 40px 0; float: left; clear: both;}

.paragraph h2 {
	line-height: 200%;
	font-size: 15px;
	font-weight: normal;
	font-style: italic;
	margin: 0;
	padding: 0 0 0 16px;
	border-left: solid 4px $highlight;
    width: calc(100% - 20px);
}
.paragraph .editable h2 {margin: 0 0 40px 0; float: left; clear: both;}

.paragraph blockquote {
	font-family: 'Merriweather Bold';
	font-weight: normal;	
	line-height: 200%;
	margin: 0 0 0 0;
	padding: 0;
	font-size: 15px;
	clear: both;
	width: 100%;
	display: inline-block;
}
.paragraph.summary blockquote { color: $darkHighlight;}
.paragraph.summary ul { color: $darkHighlight;}

.paragraph blockquote:before {
	font-family: 'fontello';
	content: "\e810";
	float: left;
	width: 100%;
	color: $highlight;
	font-size: 18px;
}

.paragraph ul, .paragraph ol {
	margin: 0 0 0 0;
	padding: 0 0 0 18px;
	font-size: 15px;
	line-height: 200%;
	width: calc(100% - 18px);
}

.paragraph blockquote ul, .paragraph blockquote ol {
	list-style-type: none;
	width: 100%;
	padding: 0;
}

// give note

#giveNote {
	background-color: $highlight;
	float: left;
	width: calc(100% - 80px);
	padding: 20px 40px;	
	color: #fff;
}

#giveNote span {
	float: left;
	font-size: 10px;
    font-family: 'nerissemibold';
    text-transform: uppercase;
}

#giveNote .postNote {
	clear: none;
	margin: 0 0 0 10px;
}
#giveNote .notePlus, #giveNote .noteMinus {
	font-size: 12px;
	cursor: pointer;
}
#giveNote .notePlus {margin-right: 20px; }
#giveNote .notePlus:hover, #giveNote .noteMinus:hover {color: $darkGrey; }

// reaction to post

#reactionsToPost {
	padding: 40px 0 20px 0;
	float: left;
	width: 100%;
	clear: both;
}

#reactionsToPost h1 {
	font-weight: normal;
	font-size: 12px;
	padding: 20px 0 20px 40px;
	margin: 0;
    font-family: 'nerisblack';
    text-transform: uppercase;
    color: $darkGrey;
}

#reactionsToPost .postSummaryCard {
	float: left;
	width: 100%;
	margin: 20px 0 60px 0;
}

#reactionsToPost .postSummaryCardAuthor { 
	padding: 40px 40px 0 40px;
	width: calc(100% - 80px);
}

#reactionsToPost .postSummaryCardContent { padding: 40px; }

// comments

.comments {
	background-color: #fff;
	width: 540px;
	padding: 20px 80px 60px 80px;
	margin: 20px 0 0 -80px;
	clear: both;
	display: inline-block;
}

.paragraph .commentsCounter {
	margin-right: 0;
	position: absolute;
    font-family: 'nerisblack';
    font-size: 10px;
    color: $anotherGrey;
    padding: 0 16px 0 0;
    left: 0;
    top: 26px;
    width: 38px;
    text-align: right;
    cursor: pointer;
    z-index: 10;
}

.paragraph .commentsCounter i {
	font-size: 12px;
	right: -2px;
	left: auto;
}

.paragraph .commentsCounter:hover, .commentsClose:hover {color: $darkGrey;}

.commentsClose {
	color: $semiGrey;
    font-family: 'nerissemibold';
    font-size: 10px;
    text-transform: uppercase;
    float: right;
    position: relative;
   	padding: 0 11px 0 0;
   	margin: 20px 0 20px 0;
   	cursor: pointer;
}

.commentsClose i {
	font-size: 9px;
	position: absolute;
	right: -2px;
}

.commentsEditNew {
	width: calc(100% - 40px);
	display: inline-block;
	padding: 20px;
}

.commentsList {
	display: inline-block;
	clear: both;
	width: 100%;
}

.commentsItem {
	position: relative;
	padding: 20px;
	margin-bottom: 20px;
	width: calc(100% - 40px);
	display: inline-block;
}

.commentsItem.commentLevel1 { margin-top: 20px; }

.commentsItem .signalAbuse {
	position: absolute;
	left: -38px;
	top: 3px;
	font-size: 16px;
	color: $semilightGrey;
}

.commentsItem .signalAbuse:hover {color: $darkGrey;}

.commentsOfficial {background-color: $lightGrey; }
.commentsUser {background-color: #fff; padding-bottom: 0; }
.commentsPostAuthor {background-color: $anotherLightHighlight; }

.commentsContent {
	width: calc(100% - 80px);
	float: right;
	padding: 0 20px;
	line-height: 180%;
}

.cannotComment {
	width: calc(100% - 60px);
	float: right;
	padding: 0;
	line-height: 140%;
	font-family: 'nerissemibold';
	font-size: 12px;
	color: $alert;
}
.cannotComment a {color: inherit;}

.commentsContentHeader {
	font-size: 12px;
	font-family: 'Merriweather Italic';
    font-style: italic;
	margin-top: -5px;
	float: left;
	width: 100%;
}

.commentsContentHeader a {
	font-family: 'nerisblack';
	font-size: 13px;
	color: $darkGrey;
	font-style: normal;
}
.commentsContentHeader a:hover {color: $highlight;}

.commentsContentHeader .organization {
	font-size: 9px;
	color: #fff;
	background-color: $anotherGrey;
	font-style: normal;
	margin: 0px 1px 0px 3px;
}
.commentsContentHeader .organization:hover {background-color: $highlight; cursor: pointer;}

.commentsInfos {float: left;}

.commentsNote {
	float: left;
	clear: both;
	margin: 0 0 5px 0;
	color: $highlight;
	font-family: 'Merriweather Heavy Italic';
    font-style: italic;
}

.commentsNote .notePlus, .commentsNote  .noteMinus { cursor: pointer;}
.commentsNote .notePlus:hover, .commentsNote  .noteMinus:hover { color: $darkGrey;}

.commentLevel2 {
	width: calc(100% - 100px);
	float: right;
}

.commentsSlideFormNew {
	font-family: 'nerissemibold';
	color: $highlight;
	margin: 0 20px 20px 20px; 
	padding-left: 20px;
	cursor: pointer;
	position: relative;
}
.commentsSlideFormNew:hover {color: $darkGrey;}
.commentsSlideFormNew i {position: absolute; left: -2px;}

.commentsSlideFormNew.commentLevel2 {
	width: calc(100% - 120px);	
	width: auto;
	float: left;
	margin-left: 78px;
}

// post author on post

#lateralHolder {
	position:fixed;
	z-index: 10000;
}

#postAuthor {
	position:absolute;
	bottom: -4px;
	left: -180px;
	width: 160px;
	text-align: right;
	text-transform: none;
	color: $darkGrey;
}

#postAuthor .authorName { 
	display: inline-block;
	clear: both;
	width: 100%;
	margin-top: 5px;
}

.authorName {
	float: left;
	width: 100%;
	font-family: 'nerisblack';
	margin-top: -3px;
}
.authorName a {color: $darkGrey;}
.authorName a:hover {color: $highlight;}
.authorName .organization:hover {background-color: $highlight; cursor: pointer;}

.authorSubtitle {
	float: left;
	width: 100%;
	clear: both;
	margin-top: 5px;
	font-size: 12px;
	font-family: 'Merriweather Italic';
    font-style: italic;
	line-height: 150%;
}
.authorSubtitle a { color: $darkGrey;}
.authorSubtitle a:hover { color: $highlight;}

#postAuthor span {
	display: inline-block;
	font-size: 12px;
	font-family: 'Merriweather Italic';
    font-style: italic;
}

#postInfos {
	position:absolute;
	top : 20px;
	left: -180px;
	width: 160px;
	color: $darkGrey;
	text-transform: none;
	text-align: right;
	font-size: 12px;
	font-family: 'Merriweather Bold Italic';
}

.postCosigners {
	position: absolute;
	bottom: -16px;
	right: 0;
	max-width: 160px;
	font-size: 12px;
    font-family: 'nerisblack';
    cursor: pointer;
}

.postCosigners:hover { color: $highlight;}
.withCosigners #postInfos {	top: 40px;}

#postInfos span {
	display: inline-block;
	clear: both;
	margin-bottom: 4px;
}

// resume of post

.postSummary {
	width: 700px;
	height: 360px;
	display: inline-block;
	position: relative;
	color: #fff;
	font-family: 'nerisblack';
	font-size: 10px;
	text-transform: uppercase;
	background-color: $lightGrey;
}

.postSummary .illustrationShadow {	
	width: 700px; 
	left: 0; 
	top: 0;
}

.postSummary .pad40 {
	position: absolute;
	z-index: 1;
	width: calc(100% - 80px);
	height: 280px;
}

.postSummaryFooter {
	position: absolute;
	bottom: 40px;
	width: calc(100% - 80px);
}

.postSummaryGotoParent {
	float: left;
	width: calc(100% - 20px);
	line-height: 150%;
	margin-bottom: 10px;
	font-family: nerissemibold;
	font-size: 13px;
}

.postSummaryGotoParent a {color: $highlight; position: relative; padding-left: 20px;}
.postSummaryGotoParent a i {position: absolute; left: 0;}
.postSummaryGotoParent a:hover {color: #fff;}

.postSummaryTitle {
	float: left;
	width: 100%;
	text-transform: none;
	font-size: 40px;
	font-family: 'nerissemibold';
	line-height: 110%;
	color: $highlight;
	max-height: 3.2em;
	overflow: hidden;
	padding-bottom: 6px;
}

.postSummaryTitle a {	color: $highlight;}
.postSummaryTitle a:hover {	color: #fff;}

.postSummaryPublishedAt {
	float: left;
	margin-top: 10px;
	color: $highlight;
	text-transform: none;
	font-size: 12px;
	font-family: 'Merriweather Italic';
    font-style: italic;
	margin-right: 4px;
}

.postSummaryAuthor {
	float: left;
	margin-top: 10px;
	color: $highlight;
	text-transform: none;
}

.postSummaryAuthor span {
	font-size: 12px;
	font-family: 'Merriweather Italic';
    font-style: italic;
	display: inline-block;
	margin-right: 3px;
}

.postSummaryAuthor a {
	font-size: 13px;
	color: $highlight;
	width: auto !important;
	display: inline-block !important;
	font-family: 'nerisblack';	
}

.postSummaryAuthor a:hover {color: #fff;}

.postSummaryAuthor .organization {
	font-size: 9px;
	color: $highlight !important;
	background-color: $darkGrey;	
	margin-top: 0;
}

.postSummaryAuthor .organization:hover {
	color: #fff !important;
	cursor: pointer;
}

.postSummaryTagList {
	float: left;
	width: 100%;
	clear: both;
}

.postSummaryActivity {
	margin-top: 10px;
	float: left;
	clear: both;
}

// post summary card

.postSummaryCard {
	float: left;
	width: calc(100% + 120px);
	margin: 20px 0 10px -60px;
	position: relative;
}

.postSummaryCardHolder {
	float: left;
	width: 100%;
	background: $lightGrey;
}

.postSummaryCardAuthor {
	padding: 40px 60px 0 60px;
	float: left;
	width: 100%;
}

.postSummaryCardAuthor .profileSummary {
	width: calc(100% - 50px);
	float: right;
}

.postSummaryCardAuthor .profileName {
	margin: 2px 0 0 0;
	font-size: 16px;
}
.postSummaryCardAuthor .profileName a {color: $darkGrey;}
.postSummaryCardAuthor .profileName .organization { vertical-align: top; margin-top: 2px;}

.postSummaryCardAuthor .profileSubtitle { margin-top: 7px;}

.postSummaryCardIllustration {
	overflow: hidden;
	width: 100%;
	height: 360px;
	margin-top: 40px;
	float: left;
}

.postSummaryCardContent {
	padding: 40px 60px;
	display: inline-block;
}

.postSummaryCardContent .postSummaryTagList { margin-bottom: 5px; }
.postSummaryCardContent .postSummaryTagList .tag {color: $lightGrey;}
.postSummaryCardContent .postSummaryTagList .tag:hover {background-color: $darkGrey;}

.postSummaryCardGotoParent {
	float: left;
	width: 100%;
	margin: 10px 0 5px 0;
	font-family: nerissemibold;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 150%;
}
.postSummaryCardGotoParent a {color: $highlight;}
.postSummaryCardGotoParent a:hover {color: $darkGrey;}

.postSummaryCardTitle {
	float: left;
	width: 100%;
}
.postSummaryCardTitle a { color: $highlight; }
.postSummaryCardTitle a span:hover {color: $darkGrey;}
.postSummaryCardTitle span, .postSummaryCardTitle span.title {
	font-family: nerissemibold;
	font-size: 40px;
	float: left;
	width: 100%;
	line-height: 120%;
	margin-bottom: 5px;
}
.postSummaryCardTitle p {
	float: left;
	width: 100%;
	font-size: 15px;
	line-height: 200%;
	color: $darkGrey;
	margin-bottom: 15px;
}

.postSummaryCardFooter {
	float: left;
	width: 100%;
	color: $anotherGrey;
	margin: 10px 0 0 0;
}

.postSummaryCardFooterLeft {
	float: left;
	width: 85%;
}

.postSummaryCardFooter .readingTime { display: inline-block;}

.postSummaryCardFooter .postNote, .postSummaryCardtFooter .commentsNote {
	float: right;
	width: 15%;
	margin: 0;
	text-align: right;
	clear: none;
    font-family: 'nerisblack';
    font-style: normal;
	font-size: 10px;
}
.postSummaryCardFooter .commentsNote {color: $anotherGrey;}

.postSummaryCardFooter .postNote .noteMinus, .postSummaryCardFooter .postNote .notePlus, .postSummaryCardFooter .commentsNote .noteMinus, .postSummaryCardFooter .commentsNote .notePlus {
	display: inline-block;
	float: none;
}

.postSummaryCardFooter .commentsNote .notePlus, .postSummaryCardFooter .commentsNote .noteMinus { cursor: default ;}
.postSummaryCardFooter .commentsNote .notePlus:hover, .postSummaryCardFooter .commentsNote .noteMinus:hover { color: inherit;}

.postSummaryCardPublishInfos {
	float: left;
	clear: both;
	margin-top: 20px;
	font-style: italic;
	font-family: 'Merriweather Italic';
	color: $anotherGrey;
	font-size: 12px;
}
.postSummaryCardPublishInfos span {margin-right: 5px;}

.postSummaryCard .subscribe {
	position: absolute;
	z-index: 4;
	right: 20px;
	bottom:0;
	text-transform: uppercase;
	color: #fff;
}

.postSummaryCard .subscribe .actionFollow a, .postSummaryCard .subscribe .actionUnfollow a {
	width: 180px;
	padding: 20px 0;
	margin: 0;
	float: left;
	text-align: center;
	color: #fff;
	-moz-box-shadow: 0px 0px 20px 0px $darkGrey;
	-webkit-box-shadow: 0px 0px 20px 0px $darkGrey;
	-o-box-shadow: 0px 0px 20px 0px $darkGrey;
	box-shadow: 0px 0px 20px 0px $darkGrey;
}

.postSummaryCard .subscribe .actionFollow{ background-color: $highlight;}
.postSummaryCard .subscribe .actionFollow:hover { background-color: $darkGrey;}

.postSummaryCard .subscribe .actionUnfollow { background-color: $darkGrey;}
.postSummaryCard .subscribe .actionUnfollow:hover{ background-color: $highlight;}

.postSummaryCard .subscribe i {
	position: relative;
	left: auto;
	font-size: 12px;
	padding-right: 5px;
	font-size: 11px;
	top: -1px;
}

.postSummaryCard a.modalItemShow {margin-left: 60px;}

