@import "../_global/colors";

// post

#postText {
	padding: 60px 0;
	background-color: $lightGrey;
	float: left;
}

.paragraph {
	padding: 20px 80px;
	float: left;
	width: 540px;
	position: relative;
}

.paragraph p {
	font-size: 15px;
	line-height: 200%;
}

.paragraph.summary p, .paragraph p a, .paragraph.summary a:hover { color: $darkHighlight;}
.paragraph p a:hover, .paragraph.summary a {color: $darkGrey;}

.paragraph.summary::before {
	content: "—";
	float: left;
	line-height: 200%;
	margin-top: 2px;
	margin-right: 5px;
	color: $darkHighlight;
}

.paragraph h1 {
	padding: 0;
	margin: 0;
	font-size: 20px;
    font-family: 'nerisblack';
    font-weight: normal;
    line-height: 140%;
}

.paragraph h2 {
	font-family: 'fontello', 'Merriweather Italic';	
	line-height: 200%;
	font-size: 15px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 0 16px;
	border-left: solid 4px $highlight;
}

.paragraph h3 {
	font-family: 'Merriweather Bold';
	font-weight: normal;	
	line-height: 200%;
	margin: 0;
	padding: 0;
	font-size: 15px;
}

.paragraph h3::before {
	font-family: 'fontello';
	content: "\e810";
	float: left;
	width: 100%;
	color: $highlight;
	font-size: 18px;
}

.paragraph ul {
	margin: 0;
	padding: 0 0 0 18px;
	font-size: 15px;
	line-height: 200%;
}

// give note

#giveNote {
	background-color: $semiDarkGrey;
	float: left;
	width: calc(100% - 80px);
	padding: 20px 40px;	
}

#giveNote span {
	float: left;
	font-size: 10px;
    font-family: 'nerissemibold';
    text-transform: uppercase;
}

#giveNote .postNote {
	clear: none;
	margin: 0 0 0 20px;
}
#giveNote .notePlus, #giveNote .noteMinus {
	font-size: 12px;
	font-family: 'Merriweather Heavy Italic';	
}
#giveNote .notePlus:hover, #giveNote .noteMinus:hover {color: #fff; }

// reaction to post

#reactionsToPost {
	padding: 40px 40px 20px 40px;
	float: left;
	width: calc(100% - 80px);
	clear: both;
}

#reactionsToPost h1 {
	font-weight: normal;
	font-size: 13px;
	padding: 0 0 20px 0;
	margin: 0;
    font-family: 'nerisblack';
    text-transform: uppercase;
    color: $highlight;
}

.reactionsToPostItem {
	float: left;
	width: 100%;
	clear: both;
	padding: 20px 0;
	border-bottom: solid 1px $semiDarkGrey;
}

.reactionsToPostItem:last-child {border: none;}

.reactionsToPostItemHeader {
	float: left;
	width: 100%;
	padding: 0 0 5px 20px;
	font-size: 12px;
	font-family: 'Merriweather Italic';
}

.reactionsToPostItemSummary {
	float: left;
	width: 100%;
	clear: both;
	position: relative;
	line-height: 200%;
	font-size: 13px;
    font-family: 'nerisblack';
}

.reactionsToPostItemSummary i {
	font-size: 8px;
	position: absolute;
	left: -20px;
}

.reactionsToPostItemSummary a, .reactionsToPostItemPostTitle a {color: $darkGrey;}
.reactionsToPostItemSummary a:hover, .reactionsToPostItemPostTitle a:hover {color: $highlight;}
.reactionsToPostItemSummary .organization:hover {background-color: $highlight; cursor: pointer;}

.reactionsToPostItemContent {
	float: right;
	width: calc(100% - 20px);
	border-left: solid 4px $highlight;
	padding-left: 14px;
}

.reactionsToPostItemContent span {
	display: block;
	width: 100%;
	font-size: 30px;
	line-height: 120%;
	margin-bottom: 10px;
	margin-top: -3px;
	font-family: 'nerissemibold';
}

.reactionsToPostItemContent p::before {
	content: "—";
	display: inline-block;
	margin-right: 5px;
	font-size: 13px;
}

.reactionsToPostItemIllustration {
	float: right;
	width: 600px;
	height: 200px;
	margin-bottom: 20px;
}

.reactionsToPostItemPostTitle {
	float: right;
	width: calc(100% - 50px);
	font-size: 15px;
	line-height: 200%;
	margin-top: -6px;
}

.reactionsToPostItemPostTitle a {display: block;}

.reactionsToPostItemFooter {
	float: left;
	width: calc(100% - 20px);
	padding: 20px 0 0 20px;
    font-family: 'nerisblack';
	font-size: 10px;
	text-transform: uppercase;
	color: $anotherGrey;
	cursor: default;
}

.reactionsToPostItemFooter .postSummaryActivity {
	float: left;
	width: 69%;
	margin: 0;
}

.reactionsToPostItemFooter .postSummaryActivity .readingTime {
	width: auto;
	float: none;
	clear: none;
	display: inline-block;
}

.reactionsToPostItemFooter .postNote {
	float: right;
	clear: none;
	margin: 0;
}

.reactionsToPostItemFooter .postNote .notePlus, .reactionsToPostItemFooter .postNote .noteMinus { cursor: default;}
.reactionsToPostItemFooter .postNote .notePlus:hover, .reactionsToPostItemFooter .postNote .noteMinus:hover { color: $anotherGrey;}
	
a.linkToPost {
	float: left;
	clear: both;
	margin: 20px 0 0 0;
	color: $highlight;
	font-family: nerissemibold;
	position: relative;
	padding-left: 17px;
	text-transform: none;
	font-size: 13px;
}

a.linkToPost i {	position: absolute;	left: -2px; }
a.linkToPost:hover {color: $darkGrey;}

// comments

.comments {
	background-color: #fff;
	width: 540px;
	padding: 20px 80px 60px 80px;
	margin: 20px 0 0 -80px;
	clear: both;
	display: inline-block;
}

.paragraph .commentsCounter {
	margin-right: 0;
	position: absolute;
    font-family: 'nerisblack';
    font-size: 10px;
    color: $anotherGrey;
    padding: 0 16px 0 0;
    left: 0;
    top: 26px;
    width: 38px;
    text-align: right;
    cursor: pointer;
}

.paragraph .commentsCounter i {
	font-size: 12px;
	right: -2px;
	left: auto;
}

.paragraph .commentsCounter:hover, .commentsClose:hover {color: $darkGrey;}

.commentsClose {
	color: $semiGrey;
    font-family: 'nerissemibold';
    font-size: 10px;
    text-transform: uppercase;
    float: right;
    position: relative;
   	padding: 0 11px 0 0;
   	margin: 20px 0 20px 0;
   	cursor: pointer;
}

.commentsClose i {
	font-size: 9px;
	position: absolute;
	right: -2px;
}

.commentsEditNew {
	width: calc(100% - 40px);
	display: inline-block;
	padding: 20px;
}

.commentsList {
	display: inline-block;
	clear: both;
	width: 100%;
}

.commentsItem {
	position: relative;
	padding: 20px;
	margin-bottom: 20px;
	width: calc(100% - 40px);
	display: inline-block;
}

.commentsItem.commentLevel1 { margin-top: 20px; }

.commentsItem .signalAbuse {
	position: absolute;
	left: -38px;
	top: 3px;
	font-size: 16px;
	color: $semilightGrey;
}

.commentsItem .signalAbuse:hover {color: $darkGrey;}

.commentsOfficial {background-color: $lightGrey; }
.commentsUser {background-color: #fff; padding-bottom: 0; }
.commentsPostAuthor {background-color: $anotherLightHighlight; }

.commentsContent {
	width: calc(100% - 80px);
	float: right;
	padding: 0 20px;
	line-height: 180%;
}

.commentsContentHeader {
	font-size: 12px;
	font-family: 'Merriweather Italic';
	margin-top: -5px;
	float: left;
	width: 100%;
}

.commentsContentHeader a {
	font-family: 'nerisblack';
	font-size: 13px;
	color: $darkGrey;
}
.commentsContentHeader a:hover {color: $highlight;}

.commentsContentHeader .organization {
	font-size: 9px;
	color: #fff;
	background-color: $anotherGrey;
}
.commentsContentHeader .organization:hover {background-color: $highlight; cursor: pointer;}

.commentsInfos {float: left;}

.commentsNote {
	float: left;
	clear: both;
	margin: 0 0 5px 0;
	color: $highlight;
	font-family: 'Merriweather Heavy Italic';
}

.commentsNote .notePlus, .commentsNote  .noteMinus { cursor: pointer;}
.commentsNote .notePlus:hover, .commentsNote  .noteMinus:hover { color: $darkGrey;}

.commentLevel2 {
	width: calc(100% - 100px);
	float: right;
}

.commentsSlideFormNew {
	font-family: 'nerissemibold';
	color: $highlight;
	margin: 0 20px 20px 20px; 
	padding-left: 20px;
	cursor: pointer;
	position: relative;
}
.commentsSlideFormNew:hover {color: $darkGrey;}
.commentsSlideFormNew i {position: absolute; left: -2px;}

.commentsSlideFormNew.commentLevel2 {
	width: calc(100% - 120px);	
	width: auto;
	float: left;
	margin-left: 78px;
}

// post author on post

#postAuthorHolder {
	position:fixed;
	z-index: 10000;
}

#postAuthor {
	position:absolute;
	bottom: -4px;
	left: -180px;
	width: 160px;
	text-align: right;
	text-transform: none;
	color: $darkGrey;
}

#postAuthor .authorName { 
	display: inline-block;
	clear: both;
	width: 100%;
	margin-top: 5px;
}

#postAuthor span {
	display: inline-block;
	font-size: 12px;
	font-family: 'Merriweather Italic';
}

#postInfos {
	position:absolute;
	top : 20px;
	left: -180px;
	width: 160px;
	color: $darkGrey;
	text-transform: none;
	text-align: right;
	font-size: 12px;
	font-family: 'Merriweather Bold Italic';
}

.postCosigners {
	position: absolute;
	bottom: -16px;
	right: 0;
	max-width: 160px;
	font-size: 12px;
    font-family: 'nerisblack';
    cursor: pointer;
}

.postCosigners:hover { color: $highlight;}
.withCosigners #postInfos {	top: 40px;}

#postInfos span {
	display: inline-block;
	clear: both;
	margin-bottom: 4px;
}

// resume of post

.postSummary {
	width: 700px;
	height: 360px;
	display: inline-block;
	position: relative;
	color: #fff;
	font-family: nerisblack;
	font-size: 10px;
	text-transform: uppercase;
	background-color: $lightGrey;
}

.postSummary .illustrationShadow {	
	width: 700px; 
	left: 0; 
	top: 0;
}

.postSummary .pad40 {
	position: relative;
	z-index: 1;
	width: calc(100% - 80px);
	height: 280px;
}

.postSummaryFooter {
	position: absolute;
	bottom: 40px;
	width: calc(100% - 80px);
}

.postSummaryGotoParent {
	float: left;
	width: calc(100% - 20px);
	line-height: 150%;
	margin-bottom: 10px;
	font-family: nerissemibold;
	font-size: 13px;
}

.postSummaryGotoParent a {color: $highlight; position: relative; padding-left: 20px;}
.postSummaryGotoParent a i {position: absolute; left: 0;}
.postSummaryGotoParent a:hover {color: #fff;}

.postSummaryTitle {
	float: left;
	width: 100%;
	text-transform: none;
	font-size: 40px;
	font-family: nerissemibold;
	line-height: 100%;
	color: $highlight;
	max-height: 3em;
	overflow: hidden;
}

.postSummaryTitle a {	color: $highlight;}
.postSummaryTitle a:hover {	color: #fff;}

.postSummaryPublishedAt {
	float: left;
	margin-top: 10px;
	color: $highlight;
	text-transform: none;
	font-size: 12px;
	font-family: 'Merriweather Italic';
	margin-right: 4px;
}

.postSummaryAuthor {
	float: left;
	margin-top: 10px;
	color: $highlight;
	text-transform: none;
}

.postSummaryAuthor span {
	font-size: 12px;
	font-family: 'Merriweather Italic';
	display: inline-block;
	margin-right: 4px;
}

.postSummaryAuthor a {
	font-size: 13px;
	color: $highlight;
	width: auto !important;
	display: inline-block !important;
}

.postSummaryAuthor a:hover {color: #fff;}

.postSummaryAuthor .organization {
	font-size: 9px;
	color: $highlight !important;
	background-color: $darkGrey;	
}

.postSummaryAuthor .organization:hover {
	color: #fff !important;
	cursor: pointer;
}

.postSummaryTagList {
	float: left;
	width: 100%;
	clear: both;
	margin-bottom: 5px;
	line-height: 150%;
}

.openListByTag {	cursor: pointer;}
.openListByTag:hover {color: $highlight;}

.postSummaryActivity {
	margin-top: 15px;
	float: left;
	clear: both;
}

.listPostFollow, .listPostUnfollow, .listDebateUnfollow {
	float: right;
	margin-top: 20px;
	margin-right: 40px;
	color: $highlight;
	font-family: nerissemibold;
	position: relative;
	padding-left: 14px;
	cursor: pointer;
}

.listPostFollow:hover, .listPostUnfollow:hover, .listDebateUnfollow:hover {color: $darkGrey;}
.listPostFollow i, .listPostUnfollow i, .listDebateUnfollow i {position: absolute; left: 0; font-size: 9px;}
