@import "../_global/colors";

.profileHeader {
	width: 700px;
	height: 360px;
	display: inline-block;
	position: relative;
	color: #fff;
	font-family: nerisblack;
	font-size: 10px;
	background-color: $lightGrey;	
}

.profileHeader .illustrationShadow {	
	width: 700px; 
	left: 0; 
	top: 0;
	z-index: 2;
}

.profileHeaderIllustration {
	width: 700px;
	height: 360px;
	position: absolute;
	top: 0;
	z-index: 1;
}

.profileHeader .pad40 {
	position: relative;
	z-index: 3;
	width: calc(100% - 80px);
	height: 280px;
}

.profileSummaryHeader {text-transform: uppercase; line-height: 100%;}

.profileReputationCounter { font-family: 'nerissemibold'; margin-bottom: 5px; position: relative; padding-left: 20px; float: left;}
.profileReputationCounter i {font-size: 13px; position: absolute; left: -2px; top: -4px; }

.confidentialInfo {
	font-family: 'nerissemibold_italic';
	float: left;
	text-transform: none;
	line-height: 100%;
	margin-left: 3px;
	margin-top: -4px;
	color: $alert;
}

.profileSummaryHeader i.iconInfo {
	font-size: 10px;
	float: left;
	margin : -5px 0 0 3px;
	cursor: pointer;
}
.profileSummaryHeader i.iconInfo:hover {color: $alert;}

.profileFollowersCounter, #profileMyFollowersCounter {float: left; clear: both;}

.profileReputationCounter:hover, .profileFollowersCounter:hover, #profileMyFollowersCounter:hover {color: $highlight; cursor: pointer;}

.profileSummaryFooter {
	position: absolute;
	bottom: 40px;
	width: calc(100% - 80px);
}

.profileSummaryFooter .avatar60 {
	border: solid 1px $darkGrey;
	background-color: $darkGrey;
	float: left;
	margin-right: 20px;
}

.profileSummaryFooter input[type="file"] { display: none;}
#uploadFileContainer .iconCamera {	cursor: pointer;}

.profileSummaryFooter .avatar60 .photoDelete {
	position: absolute;
	left: 42px;
	top: 16px;
}

.profileSummaryFooter .avatar60 .photoDelete i { color: $highlight;}
.profileSummaryFooter .avatar60 .photoDelete i:hover {color: #fff;}

.profileNameHolder {
	position: relative;
	width: calc(100% - 80px);
	float: right;	
}

.profileNameBottom {
	position: absolute;
	bottom: 0;
}

.profileName {
	font-size: 50px;
	line-height: 100%;
	font-family: 'nerissemibold';
	margin-top: -6px;
	position: relative;
}
.profileName a { color: #fff;}
.profileName a:hover { color: $highlight;}

.profileSummaryFooter .organization { background-color: $darkGrey; position: absolute; bottom: 4px;}
.profileSummaryFooter .organization:hover {background-color: $highlight; }

.profileSocialLinks {
	font-size: 13px;
	margin: 5px 0 0 0;	
}
.profileSocialLinks a {margin: 0 5px 0 -2px; color: #fff;}
.profileSocialLinks a:hover { color: $highlight; }
.profileSocialLinks i.iconLink {font-size: 11px;}

.profileSubtitle {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 20px;
	font-size: 12px;
	font-family: 'Merriweather Bold Italic';
	color: $highlight;
	line-height: 140%;
}
.profileSubtitle a { color: $highlight; }
.profileSubtitle a:hover { color: #fff; }

.profilePublicTagList {
	padding: 40px;
	float: left;
	width: calc(100% - 80px);
}
.modal .profilePublicTagList {
	padding: 10px 0 0 0;
	width: 100%;
	max-height: 75px;
	overflow: hidden;
}
.modal .profilePublicTagList .tag {color: $darkGrey;}
.modal .profilePublicTagList .tag:hover {background-color: $highlight; color: #fff;}

.profilePublicTagList .tag { color: #fff;}
.profilePublicTagList .tag:hover {background-color: $darkGrey;}

#profileBio {
	padding: 40px 40px 0 40px;
	width: calc(100% - 80px);
	background-color: $lightGrey;
	float: left;
	position: relative;
}

#profileBio p {
	padding: 0;
	margin: 0 0 40px 0;
	width: 100%;
	font-size: 15px;
	line-height: 200%;
	display: inline-block;
}

#profileBio p a { color: $darkHighlight;}
#profileBio p a:hover {color: $darkGrey;}

#profileBio h1 {
	padding: 0;
	margin: 0 0 40px 0;
	font-size: 20px;
    line-height: 140%;
    width: 100%;
}
#profileBio h1, #profileBio h1 b, #profileBio h1 i {
    font-family: 'nerisblack';
    font-style: normal;
    font-weight: normal;
}
#profileBio h2 {
	line-height: 200%;
	font-size: 15px;
	font-weight: normal;
	font-style: italic;
	margin: 0 0 40px 0;
	padding: 0 0 0 16px;
	border-left: solid 4px $highlight;
	float: left;
	width: calc(100% - 16px);
}

#profileBio blockquote {
	font-family: 'Merriweather Bold';
	font-weight: normal;	
	line-height: 200%;
	margin: 0 0 40px 0;
	padding: 0;
	font-size: 15px;
	clear: both;
	width: 100%;
	display: inline-block;
}

#profileBio blockquote:before {
	font-family: 'fontello';
	content: "\e810";
	float: left;
	width: 100%;
	color: $highlight;
	font-size: 18px;
}

#profileBio ul, #profileBio ol {
	margin: 0;
	padding: 0 0 0 18px;
	font-size: 15px;
	line-height: 200%;
	width: calc(100% - 18px);
}

#showCompleteBio {
	display: none;
}

#hideCompleteBio {
	display: none;
}

#recentActivity {
	float: left;
	clear: both;
	line-height: 100%;
	padding: 60px 0 20px 0;
	width: calc(100% - 80px);
	margin: 0 40px;
	color: $semiDarkGrey;
	border-bottom: solid 4px $semiDarkGrey;
	text-transform: uppercase;
	font-size: 10px;
	font-family: 'nerisblack';
}

#profileMandate {
	background-color: $semiGrey;
	padding: 40px;
	float: left;
	clear: both;
	width: calc(100% - 80px);
	text-transform: uppercase;
}
#profileMandate span {
	font-size: 10px;
	font-family: 'nerisblack';
	font-weight: normal;
	padding: 0;
	margin: 0 0 20px 0;	
	display: inline-block;
}

.mandateItem {
	width: calc(100% - 40px);
	padding: 20px 20px 0 20px;
	background: #fff;
	float: left;
	margin-bottom: 10px;
}
.mandateItem:last-child {margin-bottom: 0;}

.mandatePeriod {
	width: 80px;
	float: left;
	font-family: 'nerissemibold';
	font-size: 10px;
}

.mandateDetail {
	width: calc(100% - 109px);
	float: right;
	font-family: 'nerisblack';
	font-size: 10px;
	border-left: solid 1px $semiGrey;
	padding-bottom: 20px;
	padding-left: 20px;
}

.mandateLocalization {
	display: inline-block;
	text-transform: none;
	font-size: 12px;
	font-style: italic;
	font-family: 'Merriweather Italic';
	margin-left: 10px;
	line-height: 140%;
}