@import "../_global/colors";

#profileHeader {
	width: 700px;
	height: 360px;
	display: inline-block;
	position: relative;
	color: #fff;
	font-family: nerisblack;
	font-size: 10px;
	background-color: $lightGrey;	
}

#profileHeader .illustrationShadow {	
	width: 700px; 
	left: 0; 
	top: 0;
	z-index: 2;
}

#profileHeaderIllustration {
	width: 700px;
	height: 360px;
	position: absolute;
	top: 0;
	z-index: 1;
}

#profileHeader .pad40 {
	position: relative;
	z-index: 3;
	width: calc(100% - 80px);
	height: 280px;
}

#profileSummaryHeader {text-transform: uppercase; line-height: 100%;}

#profileReputationCounter { font-family: 'nerissemibold'; margin-bottom: 5px; position: relative; padding-left: 20px; float: left;}
#profileReputationCounter i {font-size: 13px; position: absolute; left: -2px; top: -4px; }

.confidentialInfo {
	font-family: 'nerissemibold_italic';
	float: left;
	text-transform: none;
	line-height: 100%;
	margin-left: 3px;
	margin-top: -4px;
	color: $alert;
}

#profileSummaryHeader i.iconInfo {
	font-size: 10px;
	float: left;
	margin : -5px 0 0 3px;
	cursor: pointer;
}
#profileSummaryHeader i.iconInfo:hover {color: $alert;}

#profileFollowersCounter, #profileMyFollowersCounter {float: left; clear: both;}

#profileReputationCounter:hover, #profileFollowersCounter:hover, #profileMyFollowersCounter:hover {color: $highlight; cursor: pointer;}

#profileSummaryFooter {
	position: absolute;
	bottom: 40px;
	width: calc(100% - 80px);
}

#profileSummaryFooter .avatar60 {
	border: solid 1px $darkGrey;
	background-color: $darkGrey;
	float: left;
	margin-right: 20px;
}

#profileNameHolder {
	position: relative;
	width: calc(100% - 80px);
	float: right;	
}

#profileNameBottom {
	position: absolute;
	bottom: 0;
}

#profileName {
	font-size: 50px;
	line-height: 100%;
	font-family: 'nerissemibold';
	margin-top: -6px;
}

#profileSummaryFooter .organization { background-color: $darkGrey;}
#profileSummaryFooter .organization:hover {background-color: $highlight; }

#profileAge {
	font-size: 12px;
	margin: 5px 0 0 0;
}

#profileInAFewWords {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 20px;
	font-size: 12px;
	font-family: 'Merriweather Bold Italic';
	color: $highlight;
}

#profilePublicTagList {
	padding: 40px;
	float: left;
	width: calc(100% - 80px);
	font-size: 10px;
	font-family: 'nerisblack';
	text-transform: uppercase;
	color: $highlight;
	line-height: 160%;
}

#profilePublicTagList span:hover {color: $darkGrey;}

#profilePrivateTagList {
	padding: 0 40px 40px 40px;
	float: left;
	width: calc(100% - 80px);
	font-size: 10px;
	font-family: 'nerisblack';
	text-transform: uppercase;
	color: $darkGrey;
	line-height: 160%;
}

#profilePrivateTagList span:hover {color: $highlight;}

#privateTagTitle {
	float: left;
	width: 100%;
	color: $darkGrey;
	font-family: 'nerissemibold';
}

#privateTagTitle span, #privateTagTitle span:hover {
	float: left;
	color: $darkGrey;
}

#privateTagTitle i.iconInfo {
	font-size: 10px;
	float: left;
	margin : -3px 0 0 2px;
	cursor: pointer;
}
#privateTagTitle i.iconInfo:hover {color: $alert;}
#privateTagTitle .confidentialInfo {
	margin-top: 0;
	margin-left: 2px;
}

#profileBio {
	padding: 40px 40px 20px 40px;
	width: calc(100% - 80px);
	background-color: $lightGrey;
	float: left;
	position: relative;
	overflow: hidden;
	height: 360px;
}

#profileBio p {
	padding: 0;
	margin: 0 0 40px 0;
	width: 100%;
	font-size: 15px;
	line-height: 200%;
	display: inline-block;
}

#profileBio p a { color: $darkHighlight;}
#profileBio p a:hover {color: $darkGrey;}

#profileBio h1 {
	padding: 0;
	margin: 0 0 40px 0;
	font-size: 20px;
    line-height: 140%;
    width: 100%;
}
#profileBio h1, #profileBio h1 b, #profileBio h1 i {
    font-family: 'nerisblack';
    font-style: normal;
    font-weight: normal;
}
#profileBio h2 {
	line-height: 200%;
	font-size: 15px;
	font-weight: normal;
	font-style: italic;
	margin: 0 0 40px 0;
	padding: 0 0 0 16px;
	border-left: solid 4px $highlight;
	float: left;
	width: calc(100% - 16px);
}

#profileBio blockquote {
	font-family: 'Merriweather Bold';
	font-weight: normal;	
	line-height: 200%;
	margin: 0 0 40px 0;
	padding: 0;
	font-size: 15px;
	clear: both;
	width: 100%;
	display: inline-block;
}

#profileBio blockquote:before {
	font-family: 'fontello';
	content: "\e810";
	float: left;
	width: 100%;
	color: $highlight;
	font-size: 18px;
}

#profileBio ul {
	margin: 0;
	padding: 0 0 0 18px;
	font-size: 15px;
	line-height: 200%;
	width: calc(100% - 18px);
}

#showCompleteBio {
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: calc(100% - 80px);
	padding: 140px 0 40px 0;
	text-align: center;
	font-size: 10px;
	font-family: 'nerisblack';
	text-transform: uppercase;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(240,240,240,1) 65%, rgba(240,240,240,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(65%,rgba(240,240,240,1)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(240,240,240,1) 65%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(240,240,240,1) 65%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(240,240,240,1) 65%,rgba(240,240,240,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(240,240,240,1) 65%,rgba(240,240,240,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
}

#showCompleteBio span:hover, #hideCompleteBio span:hover {color: $highlight; cursor: pointer;}

#hideCompleteBio {
	display: none;
	width: 100%;
	float:left;
	padding: 20px 0;
	text-align: center;
	font-size: 10px;
	font-family: 'nerisblack';	
	text-transform: uppercase;
}

#recentActivity {
	float: left;
	clear: both;
	line-height: 100%;
	padding: 60px 0 20px 0;
	width: calc(100% - 80px);
	margin: 0 40px;
	color: $semiDarkGrey;
	border-bottom: solid 4px $semiDarkGrey;
	text-transform: uppercase;
	font-size: 10px;
	font-family: 'nerisblack';
}

#profileMandate {
	background-color: $semiGrey;
	padding: 40px;
	float: left;
	clear: both;
	width: calc(100% - 80px);
	text-transform: uppercase;
}
#profileMandate span {
	font-size: 10px;
	font-family: 'nerisblack';
	font-weight: normal;
	padding: 0;
	margin: 0 0 20px 0;	
	display: inline-block;
}

.mandateItem {
	width: calc(100% - 40px);
	padding: 20px 20px 0 20px;
	background: #fff;
	float: left;
	margin-bottom: 10px;
}
.mandateItem:last-child {margin-bottom: 0;}

.mandatePeriod {
	width: 80px;
	float: left;
	font-family: 'nerissemibold';
	font-size: 10px;
}

.mandateDetail {
	width: calc(100% - 109px);
	float: right;
	font-family: 'nerisblack';
	font-size: 10px;
	border-left: solid 1px $semiGrey;
	padding-bottom: 20px;
	padding-left: 20px;
}

.mandateLocalization {
	display: inline-block;
	text-transform: none;
	font-size: 12px;
	font-style: italic;
	font-family: 'Merriweather Italic';
	margin-left: 10px;
	line-height: 140%;
}

//////in listing

.listProfile {	
	float: none; 
	width: 660px;
}

.listProfile .avatar40 {
	float: left;
}

.listProfile .listProfileRight {	
	float: right;
	width: 610px;
	line-height: 140%;
}

.listProfileOfficial {
	float: left;
	width: 100%;
	background-color: $lightGrey;
	padding: 20px;
	margin-left: -20px;
}

.listProfileDefault {
	float: left;
	width: 100%;
}

.authorName {
	float: left;
	width: 100%;
	font-family: 'nerisblack';
	margin-top: -3px;
}
.authorName a {color: $darkGrey;}
.authorName a:hover {color: $highlight;}
.authorName .organization:hover {background-color: $highlight; cursor: pointer;}

.authorInAFewWords {
	float: left;
	width: 100%;
	clear: both;
	margin-top: 5px;
	font-size: 12px;
	font-family: 'Merriweather Italic';
    font-style: italic;
	line-height: 150%;
}

.listProfileFollow, .listProfileUnfollow {
	float: right;
	clear: both;
	margin-top: 20px;
	margin-right: 0;
	color: $highlight;
	font-family: nerissemibold;
	position: relative;
	padding-left: 14px;
	cursor: pointer;
}

.listProfileFollow:hover, .listProfileUnfollow:hover {color: $darkGrey;}
.listProfileFollow i, .listProfileUnfollow i {position: absolute; left: 0; font-size: 9px;}