@import "../_global/colors";

.listProfile {
	float: left;
	width: 100%;
}

.listProfile .avatar40 {
	float: left;
}

.listProfile .listProfileRight {
	float: right;
	width: 170px;
	line-height: 140%;
}

.listProfileOfficial {
	float: left;
	width: 100%;
	background-color: $lightGrey;
	padding: 20px;
	margin-left: -20px;
}

.authorName {
	float: left;
	width: 100%;
	font-family: nerisblack;
	margin-top: -3px;
}

.authorName a {color: $darkGrey;}
.authorName a:hover {color: $highlight;}
.authorName .parti:hover {background-color: $highlight; cursor: pointer;}

.authorBio {
	float: left;
	width: 100%;
	clear: both;
	margin-top: 5px;
	font-size: 12px;
	font-family: 'Merriweather Italic';
	line-height: 150%;
}

.listProfileFollow {
	float: left;
	clear: both;
	margin-top: 20px;
	color: $highlight;
	font-family: nerissemibold;
	position: relative;
	padding-left: 14px;
	cursor: pointer;
}

.listProfileFollow:hover {color: $darkGrey;}
.listProfileFollow i {position: absolute; left: 0; font-size: 9px;}


// in search results

#search .listProfile {	float: none; width: 620px;}
#search .listProfileRight {	width: 570px;}

// in fiche parti

#partiSheet .listProfile {	float: none; width: 620px;}
#partiSheet .listProfileRight {	width: 570px;}
