@import "../_global/colors";

#timelineHeader {
	padding: 20px 0;
	height: 10px;
	width: 100%;
	display: inline-block;
	background-color: $semiDarkGrey;
	font-size: 10px;
    font-family: 'nerissemibold';
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

#timelineHeader .timelineMore {
	margin-left: 40px;
	text-transform: none;
    font-family: 'Merriweather Italic';
    font-style: italic;
	font-size: 12px;
    color: #fff;
} 
#timelineHeader .timelineMore span { font-family: 'Merriweather Bold Italic'; font-style: normal; cursor: pointer;}
#timelineHeader .timelineMore span:hover {color: $darkGrey;}

.timelinePickADate {
	float: left;
	margin-left: 40px;
}

.timelinePickADate select {
	padding: 0;
	margin: 0;
	border: none;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: 'fontello', 'nerissemibold';
    text-transform: uppercase;
    font-size: 10px;
    color: $darkGrey;
    cursor: pointer;
}

.timelinePickADate option {
	font-family: 'fontello', 'nerissemibold';	
}

#timelineHeaderRight {
	float: right;
	text-align: right;
}

.timelineMarkAllAsRead { 
	position: relative; 
	padding-left: 15px;
	cursor: pointer;
	display: inline-block;
	margin-right: 40px;
}
.timelineMarkAllAsRead i {font-size: 9px; position: absolute; left: 0;}
.timelineMarkAllAsRead:hover {color: #fff;}

#timeline {	padding-bottom: 20px; }

#emptyTimeline {
	background-color: $lightGrey;
	min-height: 280px;
	padding: 40px;
	text-align: center;
	font-family: 'Merriweather Italic';
    font-style: italic;
}
#emptyTimeline span { font-family: 'Merriweather Bold Italic'; font-style: normal; cursor: pointer;}
#emptyTimeline span:hover {color: $highlight;}

.timelineDayContainer {
	width: calc(100% - 80px);
	margin: 0 40px;
	border-bottom: solid 4px $highlight;
	display: inline-block;
}

.timelineDayContainer:last-child { border: none; }

.timelineDay {
	background-color: #fff;
	width: calc(100% + 40px);
	margin-left: -40px;
	padding: 35px 0 0 40px;	
	z-index: 1;
}
 
.timelineDay h4 {
    position: relative;
	padding: 0 0 20px 28px;
	width: 592px;
	margin: 0;
    font-family: 'nerisblack';
    font-size: 18px;
    color: $highlight;
    font-weight: normal;	
    border-bottom: solid 1px $semiDarkGrey; 
}

.timelineDay i {
	position: absolute;
	left: -5px;
	top: -3px;
	font-size: 1.1em;
}

.timelineItem {
	padding: 20px 0;
	border-bottom: solid 1px $semiDarkGrey;
}
.timelineItem:last-child {	border: none;}

.timelineItem a {	color: $darkGrey;}
.timelineItem a:hover {	color: $highlight;}

.timelineItemHeader {
	padding: 0 20px 0 20px;
	font-size: 12px;
	font-family: 'Merriweather Italic';	
	font-style: italic;
}

.timelineItemHolder {
	padding: 0 20px 10px 20px;
}

.timelineItemContext {
	padding: 10px 0;
	line-height: 160%;
}

span.timelineItemContextHighlight {
	clear: both;
	display: inline-block;
	font-family: nerisblack;
}

.timelineItemContent {
	float: left;
	clear: both;
	width: 100%;
}

.timelineItemContent.timelineItemOfficial, .timelineItemContent.timelineItemAuthor {
	padding: 10px 60px;
	margin: 10px 0 10px -60px;
	width: 100%;	
}

.timelineItemContent.timelineItemOfficial {	background-color: $lightGrey;}
.timelineItemContent.timelineItemAuthor {	background-color: $anotherLightHighlight;}

.timelineItemObject {
	padding: 10px 0 0 0;
	font-family: nerisblack;
	line-height: 140%;
}

#timeline .organization:hover {background-color: $highlight;}

.timelineItemObject i {
	position: absolute;
	left: 40px;
	font-size: 8px;
}

.timelineItemHighlight {
	border-left: solid 4px $highlight;
	padding-left: 12px;
	margin:  10px 0 10px -16px;
	font-size: 15px;
	line-height: 200%;
	width: calc(100% + 20px);
	float: left;
	clear: both;
}

.timelineItemHighlight span {
	display: block;
	width: 100%;
	font-size: 30px;
	line-height: 120%;
	margin-bottom: 10px;
	margin-top: -3px;
	font-family: 'nerissemibold';
}

.timelineItemHighlight p::before {
	content: "—";
	display: inline-block;
	margin-right: 5px;
	font-size: 13px;
}

.timelineItemIllustration {
	float: right;
	width: 600px;
	height: 200px;
	margin-bottom: 10px;
}

.timelineItemHighlight .avatar40 {float: left; margin-top: 5px;}

.timelineItemHighlight p, .timelineItemHighlight a {
	display: inline-block;
	float: right;
	width: calc(100% - 50px);
}

.timelineItemHighlight a p {
	float: left;
	width: 100%;
}

.timelineItemContentFooter {
	float: left;
	width: calc(100% + 20px);
	color: $anotherGrey;
	margin: 10px 0;
}

.timelineItemContentFooterLeft {
	float: left;
	width: calc(70% - 20px);
	padding-left: 20px;
}

.timelineItemContentFooter .readingTime { display: inline-block;}

.timelineItemContentFooter .postNote, .timelineItemContentFooter .commentsNote {
	float: right;
	width: 29%;
	margin: 0;
	text-align: right;
	clear: none;
    font-family: 'nerisblack';
	font-size: 10px;
}

.timelineItemContentFooter .postNote .noteMinus, .timelineItemContentFooter .postNote .notePlus, .timelineItemContentFooter .commentsNote .noteMinus, .timelineItemContentFooter .commentsNote .notePlus {
	display: inline-block;
	float: none;
}

.postSummaryActivity {
	margin-top: 15px;
	float: left;
	clear: both;
}

.timelineItemFooter {
	display: inline-block;
	margin-top :10px;
	width: calc(100% - 20px);
}

.timelineItemFooter a {
	color: $highlight;
	padding-left: 17px;
	margin-left: 20px;
    font-family: 'nerissemibold';
    position: relative;
    z-index: 0;
}

.timelineItemFooter a i {
	position: absolute;
	left: 0;
	font-size: 12px;
}

.timelineItemFooter a:hover {color: $darkGrey;}

.timelineActions {
	float: right;
	width: 80%;
	text-align: right;
	line-height: 100%;
}

.timelineActions .actionUnfollow {	display: inline-block;}
.timelineActions a {	padding-left: 14px;	display: inline-block;}
.timelineActions a i {	font-size: 8px; bottom:0;}

.timelineItem .postSummary {
	margin: 20px 0 10px -40px;
	z-index: 0;
}

.timelineItem .postSummary .pad40 {
	padding: 40px 60px;
	width: calc(100% - 120px);
}