{% if (tag.ptTagTypeId == constant('\\Politizr\\Constant\\TagConstants::TAG_TYPE_THEME'))%}
    {% set twbLabel = "primary" %}
{% elseif (tag.ptTagTypeId == constant('\\Politizr\\Constant\\TagConstants::TAG_TYPE_FAMILY'))%}
    {% set twbLabel = "success" %}
{% elseif (tag.ptTagTypeId == constant('\\Politizr\\Constant\\TagConstants::TAG_TYPE_PRIVATE'))%}
    {% set twbLabel = "warning" %}
{% else %}
    {% set twbLabel = "default" %}
{% endif %}
<span class="btn btn-{{ twbLabel }}" action="modalTagged" model="PTag" uuid="{{ tag.uuid }}"><i class="fa fa-tag"></i>&nbsp;{{ tag.title }}</span>&nbsp;&nbsp;