{% if (tag.ptTagTypeId == constant('\\Politizr\\Constant\\TagConstants::TAG_TYPE_GEO')) %}
    {% set twbLabel = "success" %}
{% elseif (tag.ptTagTypeId == constant('\\Politizr\\Constant\\TagConstants::TAG_TYPE_THEME'))%}
    {% set twbLabel = "primary" %}
{% else %}
    {% set twbLabel = "default" %}
{% endif %}

<div class="tagLabel {{ twbLabel }}">
    {{ tag.title }}<a action="deleteSearchTag" path="{{ path }}" tagId="{{ tag.id }}"><i class="iconCrossInSquare"></i></a>
</div>