<div id="grpBrief">
    <div id="grpBriefHeader">
        <div class="center">
            <h1>{{ topic.summary | raw }}</h1>
            <div class="showBriefLink" action="showBrief">Afficher le dossier de présentation</div>
            <div class="hideBriefLink" action="hideBrief">Masquer le dossier de présentation</div>
        </div>
        <div id="grpBriefHeaderImg">
            <div id="grpBriefHeaderImgShadow"></div>
            
            {% if topic.fileName %}
                <img src="{{ asset(constant('Politizr\\Constant\\PathConstants::CIRCLE_UPLOAD_WEB_PATH') ~ topic.fileName) }}">
            {% else %}
                <img src="{{ asset('bundles/politizrfront/images/generic-grpHeader.jpg') }}">
            {% endif %}
        </div>
    </div>
    
    <div class="center">            
        <div id="grpBriefCard">
            {{ topic.description | raw }}
        </div>
        <div id="grpBriefFooter">
            <div class="hideBriefLink" action="hideBrief">Masquer le dossier de présentation</div>
        </div>
    </div>
</div>
