<div class="grpIHaveAQuestion">
    <h2>Question, avis, remarque, ou opinion...</h2>
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.  Integer posuere erat a ante.</p>
    <a href="{{ path('DebateDraftNew'~profileSuffix(), { topic: topic.uuid }) }}">J'ai une question!</a>
</div>