{% if not circle.readOnly %}
    <div class="grpIHaveAQuestion">
        <h2>Question, avis, remarque, ou opinion...</h2>
        <p>Engagez la discussion en vous exprimant, que ce soit pour poser une question ou donner votre avis.</p>
        <a href="{{ path('DebateDraftNew', { topic: topic.uuid }) }}">Je m'exprime!</a>
    </div>
{% endif %}
