<div class="dz-preview dz-file-preview">
    <div class="dz-details">
        <img data-dz-thumbnail />
        <div class="dz-size" data-dz-size></div>
        <div class="dz-filename"><span data-dz-name></span></div>

        <div class="dz-progress progress"><span class="dz-upload progress-bar" data-dz-uploadprogress></span></div>
        <div class="dz-error-message"><span data-dz-errormessage></span></div>
        <div class="dz-message" data-dz-remove><span class="btn btn-danger">Supprimer</span></div>
    </div>
</div>
