{# TODO largeur du tableau à maj 100% #}
{# branchement d'un JS nested set http://johnny.github.io/jquery-sortable/ #}
<table id="table-list-PDReaction" class="table table-sortable table-striped table-hover table-condensed object-actions-PDReaction">
    <thead>
        <tr class="list_thead">
            <th class="list_thead_column">ID</th>
            <th class="list_thead_column">Niveau</th>
            <th class="list_thead_column">En réaction à</th>
            <th class="list_thead_column">Auteur</th>
            <th class="list_thead_column">Titre</th>
            <th class="list_thead_column">Note +</th>
            <th class="list_thead_column">Note -</th>
            <th class="list_thead_column">En ligne</th>
            <th class="list_thead_column">Publié</th>
            <th class="list_thead_column">Publié le</th>
            <th class="list_thead_column">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if PDReactions|length > 0 %}
            {% for PDReaction in PDReactions %}
                {% include "PolitizrAdminBundle:PDReactionList:row.html.twig" with {  } %}
            {% endfor %}
        {% else %}
            <tr class="list_trow no_results_row">
                <td colspan="12">{% trans from "Admingenerator" %}list.no.results{% endtrans %}</td>
            </tr>
        {% endif %}
    </tbody>
</table>
<div id="generic_actions" class="pull-left btn-toolbar" role="toolbar">
    <a class="btn btn-primary" href="{{ path("Politizr_AdminBundle_PDReaction_new", {}) }}">
        <i class="fa fa-plus"></i> {% trans from "Admingenerator" %}action.generic.new{% endtrans %}
    </a>
</div>