<div id="displayReactionsZone">
    {% if PDReactions | length > 0 %}
        <b>{{ PDReactions | length }} réactions ont été rédigés pour ce débat.</b>
    {% else %}
        <b>Aucune réaction pour ce débat.</b>
    {% endif %}
    <hr>
    {% for pdReaction in PDReactions %}
        {% include 'PolitizrAdminBundle:Fragment:Reaction.html.twig' with { 'pdReaction': pdReaction } %}
    {% endfor %}
</div>