<div id="displayCommentsZone">
    {% if pdComments | length > 0 %}
        <b>{{ pdComments | length }} commentaires ont été rédigés par {{ pUser }}</b>
    {% else %}
        <b>Aucun commentaire rédigé par {{ pUser }}</b>
    {% endif %}
    <hr>
    {% for pdComment in pdComments %}
        {% include 'PolitizrAdminBundle:Fragment:UserComment.html.twig' with { 'pdComment': pdComment } %}
    {% endfor %}
</div>