<div id="displayAffinitiesZone">
	{% for politicalParty in politicalParties %}
		<div class="row">
			{% if (politicalParty.fileName) %}
	            <img class="img-rounded" src="{{ asset('uploads/political/'~politicalParty.fileName) | imagine_filter('admin_political_party_thumb') }}" alt="{{ politicalParty.initials }}">
	        {% else %}
	            <span class="label label-info">{{ politicalParty.initials }}</span>
	    	{% endif %}
		</div>
	{% else %}
		Aucune affinité avec un parti politique
	{% endfor %}
</div>
