<div id="displayCommentsZone">
	{% if pddComments | length > 0 %}
		<b>{{ pddComments | length }} commentaires de débat ont été rédigés par {{ pUser }}</b>
	{% else %}
		<b>Aucun commentaire de débat rédigé par {{ pUser }}</b>
	{% endif %}
	<hr>
	{% for pddComment in pddComments %}
		{% include 'PolitizrAdminBundle:Fragment:UserCommentD.html.twig' with { 'pddComment': pddComment } %}
	{% endfor %}
</div>