<div id="displayAffinitiesZone">
	{% for organization in organizations %}
		<div class="row">
			{% if (organization.fileName) %}
	            <img class="img-rounded" src="{{ asset('uploads/organizations/'~organization.fileName) | imagine_filter('admin_organization') }}" alt="{{ organization.initials }}">
	        {% else %}
	            <span class="label label-info">{{ organization.initials }}</span>
	    	{% endif %}
		</div>
	{% else %}
		Aucune affinité avec une organisation
	{% endfor %}
</div>
