// grey
$lightGrey: #f0f0f0;
$semilightGrey: #dfdfdf;
$semiGrey: #b3b4b7;
$anotherGrey: #a9a9a9;
$grey: #b8b9bc;

// black
$darkGrey: #2d2d2d;

// orange
$highlight: #e56c40;
$lightHighlight: #fbe9e3;
$darkHighlight: #d44a16;

$success: #03b169; // green
$error: #ed4c42; // red
$alert: #079db5; // blue