{# beta #}
{% if total > 0 %}
    <h5>Sujet de discussion suivi par {{ total }} membres</h5>
    <div class="followersList">
        {% for user in users %}
            <div class="followersListItem">
                {% include 'PolitizrFrontBundle:User:_summaryMini.html.twig' with { 'user': user } only %}
            </div>
        {% endfor %}
    </div>
    {% if total > constant('Politizr\\Constant\\ListingConstants::LISTING_LAST_DEBATE_FOLLOWERS') %}
        <div class="linkListFollowers">
            <a href="{{ path('ListingDebateFollowers', {'slug': debate.slug}) }}">Voir toute la liste</a>
        </div>
    {% endif %}
{% else %}
    <h5>Personne ne suit ce sujet de discussion</h5>
    <div class="followersList">
        &nbsp;
    </div>
{% endif %}
        