{# beta #}
<div class="actionPublish">
    {% if reason == constant('Politizr\\Constant\\DocumentConstants::REASON_CIRCLE_READ_ONLY') %}
        <div class="cannotPublishReaction">
            Les contributions pour ce groupe sont désormais closes.
        </div>
    {% elseif reason == constant('Politizr\\Constant\\DocumentConstants::REASON_NO_REPUTATION') %}
        <div class="cannotPublishReaction">
            Vous devez avoir au moins {{ constant('Politizr\\Constant\\ReputationConstants::ACTION_DEBATE_WRITE') }} de réputation pour publier un nouveau sujet.
        </div>
    {% else %}
        <a action="debatePublish" uuid="{{ document.uuid }}"><i class="icon-publish"></i>Publier</a>
        <div class="notice">Note: vous pourrez modifier votre publication jusqu'à ce qu'une réponse, un commentaire ou une note soit effectué.</div>
    {% endif %}
</div>
