{# beta #}
<div class="actionPublish">
    <a action="debatePublish" uuid="{{ uuid }}"><i class="icon-publish"></i>Publier</a>
    <div class="notice">Attention, une fois publiée, vous ne pourrez plus modifier votre publication.</div>
</div>
