{# beta #}
<div class="sidebarPostEdition">    
    <div class="sidebarPostAction">
        <div class="actionPublish">
            <a action="openModalPublish"><i class="icon-publish"></i>Publier</a>
        </div>

        <div class="actionSave withLoaderInside saved">
            {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
            <a action="debateSave" uuid="{{ debate.uuid }}"><i class="icon-draft"></i>Enregistrer</a>
        </div>

        <div class="secondaryActions">
            <!--<a href="#">Prévisualiser la publication</a>-->
            <a action="debateDelete" uuid="{{ debate.uuid }}">Supprimer mon brouillon</a>
            <a href="{{ path('Drafts'~profileSuffix()) }}">Liste de mes brouillons</a>
        </div>
    </div>
</div>