{% extends 'PolitizrFrontBundle::layoutConnected.html.twig' %}

{% block title %}
    {{ parent() }} - Mes débats
{% endblock title %}

{% block main %}
    <div id="publicationsList">
        <h1>Mes débats</h1>

        {% if nbDebates == 0 %}
            <div id="noPublications">Vous n'avez publié aucun débat.</div>
        {% else %}
            <div id="listContent">
            </div>
        {% endif %}
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {% if nbDebates > 0 %}
        <script>
            var xhrRoute = ROUTE_DEBATE_MY_DEBATES;
            var xhrMethod = 'myDebatesPaginated';
        </script>
        {% javascripts
            '@PolitizrFrontBundle/Resources/public/js/politizr/document/myContributions.js'
            filter='uglifyjs2' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock javascriptFooter %}
