<div class="card">
    <h1>élu</h1>
    <h2>100% gratuit</h2>
    <h2>réservé aux <b>élu-e-s</b> ou <b>ancien-ne-s élu-e-s*</b></h2>
    <ul class="checkList">
        <li>Expliquez vos actions à vos concitoyen-ne-s.</li>
        <li>Répondez aux questions et aux opinions de vos concitoyen-ne-s.</li>
        <li>Faîtes profiter d'autres élus de vos retours d'expérience.</li>
        <li>Participez à des échanges suivant vos centres d'intérêt.</li>
        <li>Mesurez l'impact Facebook de vos publications sur votre territoire.</li>
        <li>Accédez à l'ensemble des publications au niveau local et national.</li>
    </ul>
    <a href="{{ path('InscriptionElected') }}" class="submit nextStepOrange">Créer un compte</a>
</div>
<div class="cardFooter">
    <span>*Toute personne physique majeure élue de la République Française ou ancienne élue au suffrage universel direct ou indirect. </span>
    {#<span class="securePaiement"><i class="icon-secure-paiement"></i>Paiement 100% sécurisé</span>#}
</div>
