<div class="card">
    <h1>élu</h1>
    <h2>100% gratuit</h2>
    <h2>réservé aux <b>élu-e-s</b> ou <b>ancien-ne-s élu-e-s*</b></h2>
    <ul class="checkList">
        <li>Expliquez <b>vos actions</b> à vos concitoyen-ne-s.</li>
        <li>Répondez aux <b>questions</b> et aux <b>opinions</b> de vos concitoyen-ne-s.</li>
        <li>Faîtes profiter d'autres élu-e-s de vos <b>retours d'expérience</b>.</li>
        <li>Participez à des échanges suivant vos <b>centres d'intérêt</b>.</li>
        <li>Accédez à l'ensemble des publications aux niveaux <b>local et national</b>.</li>
        <li><i class="icon-social-fb"></i>&nbsp;Visualisez <b>l'impact Facebook</b> de vos publications sur <b>votre territoire</b>.</li>
    </ul>
    <a href="{{ path('InscriptionElected') }}" class="submit nextStepOrange">Inscription</a>
</div>
<div class="cardFooter">
    <span>*Toute personne physique majeure élue de la République Française ou ancienne élue au suffrage universel direct ou indirect. </span>
    {#<span class="securePaiement"><i class="icon-secure-paiement"></i>Paiement 100% sécurisé</span>#}
</div>
