<div class="card">
    <h1>citoyen</h1>
    <h2>100% gratuit<br/><br/></h2>
    <ul class="checkList">
        <li>Discutez <b>directement</b> avec vos <b>élu.e.s</b>.</li>
        <li><b>Commentez et notez</b> toutes les discussions ouvertes.</li>
        <li>Partagez <b>votre opinion</b> auprès de vos <b>concitoyen.ne.s et élu.e.s</b>.</li>
        <li>Participez à des échanges suivant vos <b>centres d'intérêt</b>.</li>
        <li>Accédez à l'ensemble des publications aux niveaux <b>local et national</b>.</li>
        <li><i class="icon-social-fb"></i>&nbsp;Visualisez <b>l'impact Facebook</b> de vos publications sur <b>votre territoire</b>.</li>
    </ul>
    <a href="{{ path('Inscription') }}" class="submit nextStepOrange">Inscription</a>
</div>
