<div class="card">
    <h1>citoyen</h1>
    <h2>ouvert et gratuit</h2>
    <ul class="checkList">
        <li>Lancez des sujets de discussion.</li>
        <li>Suivez des discussions, des élus, et d’autres utilisateurs par affinités.</li>
        <li>Commentez les réponses des élus et des autres utilisateurs.</li>
    </ul>
    <a href="{{ path('Inscription') }}" class="submit nextStepOrange">Créer un compte</a>
</div>
