<div class="card">
    <h1>citoyen</h1>
    <h2>100% gratuit<br/><br/></h2>
    <ul class="checkList">
        <li>Dialoguez directement avec vos élu-e-s.</li>
        <li>Abonnez-vous à des discussions, des élu-e-s ou d'autres citoyen-ne-s suivant vos centres d'intérêt et vos affinités.</li>
        <li>Notez et commentez toutes les publications.</li>
    </ul>
    <a href="{{ path('Inscription') }}" class="submit nextStepOrange">Créer un compte</a>
</div>
