<div class="card">
    <h1>citoyen</h1>
    <h2>100% gratuit<br/><br/></h2>
    <ul class="checkList">
        <li>Discutez directement avec vos élu-e-s.</li>
        <li>Commentez et notez toutes les discussions ouvertes.</li>
        <li>Partagez votre opinion auprès de vos concitoyen-ne-s et élu-e-s.</li>
        <li>Participez à des échanges suivant vos centres d'intérêt.</li>
        <li>Mesurez l'impact Facebook de vos publications sur votre territoire.</li>
        <li>Accédez à l'ensemble des publications au niveau local et national.</li>
    </ul>
    <a href="{{ path('Inscription') }}" class="submit nextStepOrange">Créer un compte</a>
</div>
