<div id="homePlans">
    <div class="wrapper">
        <div class="pltzrHeader"><i class="iconPltzrLogoAlt"></i></div>
        <div id="plans">
            <div class="userPlan">
                <h1>citoyen</h1>
                <h3>Gratuit</h3>
                <!-- <a href="{# path('Inscription') #}">s'inscrire</a> -->
                <ul>
                    <li><i class="iconCheck"></i>Lancez des débats.</li>
                    <li><i class="iconCheck"></i>Suivez des débats, des élus et des membres par affinités.</li>
                    <li><i class="iconCheck"></i>Commentez les réactions des élus et des débatteurs.</li>
                </ul>
            </div>
            <div class="officialPlan">
                <h1>débatteur</h1>
                <h2>Réservé aux élus et anciens élus</h2>
                <h3>5 € par mois ou 50 € par an</h3>
                <!-- <a href="{# path('InscriptionElected') #}">s'inscrire</a> -->
                <ul>
                    <li><i class="iconCheck"></i>Lancez des débats.</li>
                    <li><i class="iconCheck"></i>Suivez des débats, des élus et des membres par affinités.</li>
                    <li><i class="iconCheck"></i>Commentez les réactions des élus et des citoyens.</li>
                    <li><i class="iconCheck"></i><b>Réagissez aux débats et aux réactions des autres élus.</b></li>
                </ul>
            </div>
        </div>
    </div>
</div>
