<div class="dataCarefull" id="dataCarefull">
    <div class="dataCarefullCnil">
        <img src="{{ asset('bundles/politizrfront/images/label-cnil.jpg') }}" alt="">
        <br/>
        <h3>Politique de traitement des données personnelles</h3>
        <p>
        Les informations recueillies sur cette plateforme font l’objet d’un traitement informatique destiné uniquement au fonctionnement de la plateforme et à leur exploitation dans le cadre de rapports statistiques anonymisés. Le destinataire des données personnelles est uniquement {{ client.name }}.
        <br/><br/>
        En particulier, {{ client.name }} stocke le contenu que vous créez et votre activité sur la plateforme, tels que vos publications et votes, afin de pouvoir les faire apparaître pour les autres utilisateurs et favoriser l'interaction.
        <br/><br/>
        Votre email ne sera jamais partagé et vos données sont sauvegardées en toute sécurité.
        <br/><br/>
        Conformément à la règlementation, vous disposez d'un droit d'opposition et d'un droit à la limitation du traitement de données vous concernant, ainsi que d'un droit d'accès, de rectification, de portabilité et d'effacement de vos données en contactant notre <a href="mailto: {{ support.email }}">support</a>.
        <br/><br/>
        Consultez nos <a action="openCgu" href="#">Conditions Générales d'Utilisation</a> pour plus d'informations.
    </div>
</div>
