{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    Conditions Générales d'Utilisation - {{ parent() }}
{% endblock title %}

{% block content %}
    <div id="content">
        {{ legal.description | purify }}
    </div>
{% endblock content %}
