{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    Charte - {{ parent() }}
{% endblock title %}

{% block content %}
    <div id="content">
        {{ charte.description | purify }}
    </div>
{% endblock content %}
