{% extends 'PolitizrFrontBundle::layoutHomepage.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock title %}

{% block content %}
    <div id="homeClaim">
        <div class="wrapper">
            <div class="homeText">
                <h1><i>politizr</i> est le premier véritable<br>espace de débat politique en ligne<br><i>pour</i> les élus, <i>par</i> les citoyens.</h1><br>                
                <a href="{{ path('Login') }}">identification</a>
            </div>
        </div>
        <div class="highlightOverlay"></div>
        <img src="{{ asset('bundles/politizrfront/images/f_concil.jpg') }}" alt="f_concil" width="1800" height="1200">
    </div>
    <!--
    <div id="homeSearch">
        <div class="wrapper">
            <div class="openSearch" action="modalOpen">
                <div class="pseudoInput"><b>trouvez un débat</b> par sujet, nom ou lieu</div><div class="pseudoSubmit">rechercher</div>
            </div>
        </div>
    </div>
    -->
    
    <div id="homeFollow">
        <div class="wrapper homeWrapper">
            <div class="homeText">
                <h1>trouvez et suivez les débats qui vous concernent<br><i>et créez ceux qui n’existent pas encore...</i></h1>
                <p>Recherchez un débat <b>par zone géographique</b> (locale, régionale ou nationale) <b>par thématique</b> ou <b>par participant</b>.<p>
                <p>Consultez le détail des publications, suivez toute nouvelle intervention et constituez <b>votre fil des débats personnel</b>.</p>
                <p><b>Rédigez les termes d'un débat</b> pour susciter les réactions des élus et les commentaires des autres membres.</p>
            </div>
            <div class="homeTextImgHolder"></div>
        </div>
    </div>
    
    <div id="homeContribute">
        <div class="wrapper homeWrapper">
            <div class="homeText">
                <h1>participez aux débats</h1>
                <p>Apportez votre contribution — en publiant une réaction, un commentaire, ou simplement, en attribuant une note — <b>et faites progresser les débats !</b><p>
                <p>Élu(e) et ex-élu(e) : <b>réagissez à toutes les publications</b> quel que soit ou quel que fût votre mandat électoral.</p>
            </div>
            <div class="homeTextImgHolder"></div>               
        </div>
        <div class="homeTextImgHolderBg"></div>
    </div>
    
    <div id="homeMyPolitizr">
        <div class="wrapper homeWrapper">
            <div class="homeText">
                <h1>suivez l’activité de vos élu(e)s et des autres utilisateurs</h1>
                <p>Ne perdez pas le fil de vos débats : suivez <b>toutes les nouvelles publications minute par minute</b> sur votre Potilizr : réactions, commentaires, activité de vos publications, évolution des réputations, ... Rien ne vous échappera.<p>
            </div>
            <div class="homeTextImgHolder"></div>           
        </div>
    </div>
    
    <div id="homeStats">
        <div class="wrapper ">
            <div class="homeText">
                <h1>améliorez votre réputation</h1>
                <p>En prenant part aux débats, en partageant des publications sur les réseaux sociaux, en obtenant de nouveaux badges, ... vous améliorerez votre réputation et <b>votre visibilité sur le site</b>.<p>
            </div>
        </div>
    </div>
    
    {# include 'PolitizrFrontBundle:Public:_homePlans.html.twig' #}
    
    <div id="homeOfficial">
        <div class="wrapper">
            <div class="homeText">
                <h1>êtes vous prêt à débattre ?</h1>
                <p>Elu(e) ou ex-élu(e), Politizr est fait pour vous :<br>
                Abordez librement les sujets de fond ou d’actualité. Argumentez entre élus.<br>
                Prenez le temps de la réflexion. Développez vos idées. <br>
                <b>Débattez et redonnez du sens à la parole politique : (re)mobilisez les électeurs !</b></p>
                <!-- <a href="{# path('InscriptionElected') #}">inscrivez-vous</a> -->
            </div>
        </div>
        <img src="{{ asset('bundles/politizrfront/images/f_official.jpg') }}">
    </div>
    
    {# include 'PolitizrFrontBundle:Public:_homeLive.html.twig' #}

{% endblock content %}
