{# beta #}
{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    {{ parent() }} - Changerez-vous d'opinion ?
{% endblock title %}

{% block main %}
    <div id="public">
        {% include 'PolitizrFrontBundle:Public:_about.html.twig' %}
        {% include 'PolitizrFrontBundle:Public:_plansChoice.html.twig' with { 'mode': 'guy' } %}
        {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
    </div>
{% endblock main %}
