{# beta #}
{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block javascriptHeader %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/home.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block bodyClass %} class="public visitor"{% endblock %}

{% block main %}
    <div id="homePresentation">
        {{ content.description | raw }}
    </div>
{% endblock main %}

{% block postMain %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
{% endblock postMain %}
