{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock title %}

{% block content %}
    <div id="content">
        <div class="homeText">
            <h1>politizr est une plateforme d'échanges<br>entre élu-e-s et citoyen-ne-s.<br>Changerez-vous d'opinion?</h1>
            <a href="{{ path('Login') }}">identification</a>
        </div>
    </div>
{% endblock content %}
