{# beta #}
{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}Politizr, changerez-vous d'opinion ?{% endblock title %}

{% block ogVideo %}<meta property='og:video' content='https://www.youtube.com/v/7WHZpebc9q4' />{% endblock ogVideo %}
{% block tcPlayer %}<meta name="twitter:player" content="https://www.youtube.com/embed/7WHZpebc9q4" />{% endblock tcPlayer %}

{% block main %}
    <div id="public">
        {% include 'PolitizrFrontBundle:Public:_about.html.twig' %}
        {% include 'PolitizrFrontBundle:Public:_plansChoice.html.twig' with { 'mode': 'guy' } %}
        {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
    </div>
{% endblock main %}
