{% extends 'PolitizrFrontBundle::layout.html.twig' %}

{% block connexionBox %}
    {{ render(controller('PolitizrFrontBundle:Security:login')) }}
{% endblock %}

{% block main %}
	<div id="main" class="container">
		<!--
		<div id="home-slide" class="carousel slide" data-ride="carousel">
		  <!-- Indicators --
		  <ol class="carousel-indicators">
		    <li data-target="#home-slide" data-slide-to="0" class="active"></li>
		    <li data-target="#home-slide" data-slide-to="1"></li>
		    <li data-target="#home-slide" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides --
		  <div class="carousel-inner">
		    <div class="item active">
		      <img src="{# asset('bundles/politizrfront/images/p-slide1.jpg') #}" alt="Politizr" width="100%">
		      <div class="carousel-caption">
		        Politizr, des débats politiques
		      </div>
		    </div>
		    <div class="item">
		      <img src="{# asset('bundles/politizrfront/images/p-slide2.jpg') #}" alt="Politizr" width="100%">
		      <div class="carousel-caption">
		        Suivez vos notifications dans votre espace personnel Politizr
		      </div>
		    </div>
		    <div class="item">
		      <img src="{# asset('bundles/politizrfront/images/p-slide3.jpg') #}" alt="Politizr" width="100%">
		      <div class="carousel-caption">
		        Commentez les débats et les réactions des élus sur Politizr
		      </div>
		    </div>
		  </div>

		  <!-- Controls --
		  <a class="left carousel-control" href="#home-slide" role="button" data-slide="prev">
		    {# icon('camera') #}
		  </a>
		  <a class="right carousel-control" href="#home-slide" role="button" data-slide="next">
		    {# icon('camera') #}
		  </a>
		</div>
		-->

		<div id="debates">
			<h2>Débats les plus suivis</h2>
			<div>
				{% for debate in debates %}
					{% include 'PolitizrFrontBundle:Fragment:DocumentMiniBlock.html.twig' with { 'document': debate, 'objectType': constant('Politizr\\Model\\PDocument::TYPE_DEBATE'), 'withAuthor': true, 'withMoreInfos': true } %}
					<div class="border-row">&nbsp;</div>
				{% endfor %}
			</div>
		</div>
		<hr>
		<div id="users">
			<h2>Élus les plus suivis</h2>
			<div>
				{% for user in users %}
					{% include 'PolitizrFrontBundle:Fragment:UserBlock.html.twig' with { 'pUser': user, 'full': false } %}
					<div class="border-row">&nbsp;</div>
				{% endfor %}
			</div>
		</div>
		<hr>
		<div id="comments">
			<h2>Les derniers commentaires</h2>
			<div>
				{% for comment in comments %}
					{% include 'PolitizrFrontBundle:Fragment:Comment.html.twig' with { 'comment': comment, 'docLink': true } %}
					<hr>
				{% endfor %}
			</div>
		</div>

		<!--
		<div id="homeLocalDebates">
			<h2>Les débats de votre région</h2>
			<div>
			</div>
		</div>
		-->

	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
	{% include 'PolitizrFrontBundle:JS:followers.js.twig' %}
    
    {% include 'PolitizrFrontBundle:JS:homepage.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:login.js.twig' %}
{% endblock javascriptFooter %}
