{# beta #}
{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    Inscription élu-e - {{ parent() }}
{% endblock title %}

{% block main %}
    <div id="public">
        <div class="center">
            <div id="boxLogin">
                <div id="registerIntro">
                    <h1>élu-e</h1>
                    <b>Créez un compte pour pouvoir participer!</b><br>
                    <b>Un problème?</b> <a href="mailto:support@politizr.com">Écrivez-nous</a>
                </div><br>                  
                
                <div id="createAccount">
                    <form action="http://newsletter.politizr.com/t/i/s/khiiq/" method="post" id="subForm">
                        <p>
                            <label for="fieldName">Vos prénom et nom*</label><br />
                            <input id="fieldName" name="cm-name" type="text" class="required" />
                        </p>
                        <p>
                            <label for="fieldEmail">Votre e-mail*</label><br />
                            <input id="fieldEmail" name="cm-khiiq-khiiq" type="email" class="required email" />
                        </p>
                        <p>
                            <label for="fieldkjirg">Choisissez votre région*</label><br />
                            <select id="fielduiirtu" name="cm-fo-uiirtu" class="required">
                                <option value=""></option>
                                <option value="622050">Alsace Champagne-Ardenne Lorraine</option>
                                <option value="622051">Aquitaine Limousin Poitou-Charentes</option>
                                <option value="627154">Auvergne Rhône-Alpes</option>
                                <option value="627155">Bourgogne Franche-Comté</option>
                                <option value="627156">Bretagne</option>
                                <option value="627157">Centre-Val de Loire</option>
                                <option value="627158">Corse</option>
                                <option value="627159">Île-de-France</option>
                                <option value="627160">Languedoc-Roussillon Midi-Pyrénées</option>
                                <option value="627161">Hauts-de-France</option>
                                <option value="627162">Normandie</option>
                                <option value="627163">Pays de la Loire</option>
                                <option value="627164">Provence - Alpes - Côte d&#x27;Azur</option>
                                <option value="627165">Outre-mer</option>
                                <option value="627166">Français de l&#x27;étranger</option>
                            </select>
                        </p>
                        <p id="jesuiselu">
                           <input id="listkhiiyh" name="cm-ol-khiiyh" type="checkbox" class="required"/> <label for="listkhiiyh" class="elected"><b>Je certifie exercer - ou avoir exercé - un mandat électif*:</b> conseil municipal, conseil départemental, conseil régional, conseil consulaire, Assemblée Nationale, Sénat</label>
                        </p>
                        <p>
                            <span class="obligatory">*champ obligatoire</span><button type="submit">Valider</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>

        {% include 'PolitizrFrontBundle:Public:_plansChoice.html.twig' with { 'mode': 'guy' } %}
        {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
    </div>
{% endblock main %}
