{# beta #}
{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    {{ parent() }} - Inscription
{% endblock title %}

{% block main %}
    <div id="public">
        <div class="center">
            <div id="boxLogin">
                <div id="registerIntro">
                    <b>Merci pour votre inscription !</b><br>
                    Nous allons procéder à la création de votre compte dans les plus brefs délais.<br>
                    Vous recevrez votre invitation par e-mail très prochainement.<br><br>

                    Rendez-vous sur <a href="https://facebook.com/Politizr">Facebook</a> et <a href="https://twitter.com/Politizr">Twitter</a> pour suivre notre actu et sur <a href="https://medium.com/politizr-team">Medium</a> pour lire nos analyses.
                </div>
            </div>
        </div>
        {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
    </div>
{% endblock main %}
