{# beta #}
{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    Inscription - {{ parent() }}
{% endblock title %}

{% block bodyClass %} class="process"{% endblock %}

{% block header %}
    {% include 'PolitizrFrontBundle:Navigation\\Header:_headerInscription.html.twig' with { 'type': 'choice' } %}
    <div id="headerTrigger"></div>
{% endblock header %}

{% block main %}
    <div id="main">
        <center>
            <div class="column column360">
                {% include 'PolitizrFrontBundle:Public:_cardAdvantagesCitizen.html.twig' %}
            </div><!-- keep comment mark this way : they prevent unwanted space between cols
            --><div class="column column360">
                {% include 'PolitizrFrontBundle:Public:_cardAdvantagesElected.html.twig' %}
            </div>
            <div class="footerXcolumns footer2columns">Déjà inscrit-e? <a href="{{ path('Login') }}">Identifiez-vous</a></div>
        </center>
    </div>
{% endblock main %}
