{% extends 'PolitizrFrontBundle::layout.html.twig' %}

{% block connexionBox %}
    {{ render(controller('PolitizrFrontBundle:Security:login')) }}
{% endblock %}

{% block main %}
    <div id="main" class="container">
        <div class="jumbotron">
              <h2>Politizr, êtes-vous prêt à débattre?</h2>
              <p>
                  La crise démocratique implique de nouveaux outils de réappropriation du débat par les citoyens!
                Notre objectif est de vous proposer un outil permettant la publication et le suivi de débats d’idées.
              </p>
              <p>
                Les individus exerçant ou ayant exercé un mandat d'élu, appellés débatteurs, disposent de la possibilité de réagir à toutes les publications. Les citoyens ont la possibilité de suivre, noter et commenter les débats et réaction. Ils peuvent proposer de nouveaux débats et réagir aux débats qu'ils ont rédigés.
              </p>
              <p>
                Chaque utilisateur disposera d’un niveau de popularité relatif à son implication sur le site: chacune de ses actions (commenter, noter, etc.) déclenchera une évolution positive ou négative de sa réputation.
              </p>
              <p>
                Les contenus des débats pourront être de tout type et seront associés à des “tags” et à des zones géographiques permettant de les retrouver facilement.
              </p>
              <p><a class="btn btn-primary btn-lg" role="button" href="{{ path('Inscription') }}">Je m'inscris</a></p>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                  <h3 class="panel-title">Une communication centralisée</h3>
            </div>
            <div class="panel-body">
                  Politizr offre un canal de communication centralisé pour dialoguer avec des personnalités exerçant ou ayant exercé un mandat d'élu.
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                  <h3 class="panel-title">Un canal moderne pour la démocratie</h3>
            </div>
            <div class="panel-body">
                  Politizr est un canal de communication moderne permettant d'exercer une forme de démocratie participative.
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                 <h3 class="panel-title">Un outil moderne pour la communication des élus</h3>
            </div>
            <div class="panel-body">
                 Politizr offre aux élus la possibilité d'exprimer leurs idées et convictions en plus de 140 caractères!
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Décloisonnement des idées</h3>
            </div>
            <div class="panel-body">
                 Politizr n'est pas le porte-voix d'un parti politique mais un outil permettant le débat et la confrontation des idées.
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Des débats sans journalistes</h3>
            </div>
            <div class="panel-body">
                Politizr est un outil indépendant qui ne cherche pas à orienter le débat.
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Les citoyens peuvent jouer leur rôle</h3>
            </div>
            <div class="panel-body">
                En suivant et en commentant les débats, les citoyens exercent leur rôle démocratique de contrôle et peuvent soumettre des idées.
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                  <h3 class="panel-title">Un échange direct entre citoyen et élu</h3>
            </div>
            <div class="panel-body">
                Les citoyens lancent des débats et les élus apportent leurs réponses, sans intermédiaire et sans confiscation possible du débat par un tiers journalistique par exemple.
            </div>
        </div>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}
    {% include 'PolitizrFrontBundle:JS:login.js.twig' %}
{% endblock javascriptFooter %}